<style>
  body {
    margin-top: 100px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h1>Update Vendor Profile</h1>
      </div>
      
      <div class="col-lg-12">
        <form name="vendorForm" class="form-horizontal" ng-submit="vendorProfileEditCtrl.submitForm(vendorForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group label-floating">
              <div class="col-lg-12">
                <label for="address" class="control-label">Address</label>
                <textarea ng-model="vendorUpdate.address" class="form-control" rows="3" id="address" type="text"></textarea>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': vendorForm.contactPerson.$invalid && vendorForm.contactPerson.$dirty }">
              <div class="col-lg-12">
                <label for="contactPerson" class="control-label">Contact Person*</label>
                <input name="contactPerson" ng-model="vendorUpdate.contact_name" class="form-control" id="contactPerson" type="text" required>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': vendorForm.secondaryMobile.$invalid && vendorForm.secondaryMobile.$dirty }">
              <div class="col-lg-12">
                <label for="secondaryMobileNumber" class="control-label">Contact Mobile Number*</label>
                <input name="secondaryMoblie" ng-model="vendorUpdate.mobile_number" class="form-control" id="secondaryMobileNumber" type="tel" required>
                  <p class="help-block">This number will be public and will be displayed as contact phone number.</p>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': vendorForm.secondaryEmail.$invalid && vendorForm.secondaryEmail.$dirty }">
              <div class="col-lg-12">
                <label for="secondary-email" class="control-label">Contact Email*</label>
                <input name="secondaryEmail" ng-model="vendorUpdate.email_address" class="form-control" id="secondary-email" type="email" required>
                <p class="text-info">This email will be public and will be displayed as the contact email.</p>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': vendorForm.cities.$invalid && vendorForm.cities.$dirty }">
              <div class="col-lg-12">
                <label for="cities" class="control-label">Cities*</label>
                <input name="cities" ng-model="vendorUpdate.cities" class="form-control" id="cities" type="text" required>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': vendorForm.website.$invalid && vendorForm.website.$dirty }">
              <div class="col-lg-12">
                <label for="website" class="control-label">Website</label>
                <input name="website" ng-model="vendorUpdate.website" class="form-control" id="website" type="text" required>
              </div>
            </div>
            <div class="form-group">
                <label class="text-info">{{message}}</label>  
            </div>
            <div class="form-group">
              <div class="col-lg-3 col-lg-offset-6">
                <a class="btn btn-default btn-raised btn-block" ui-sref="{{STATE_VENDOR_PROFILE}}">Cancel</a>
              </div>
              <div class="col-lg-3">
                <button ng-disabled="vendorForm.$invalid" type="submit" class="btn btn-primary btn-raised btn-block">Update</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>