<div ng-include src="'common/headers/public-header.tmpl.html'"></div>

<!-- Login Sheet -->
<div class="container">
  <div class="vertical-center">
    <div class="col-lg-8 col-lg-offset-2 panel panel-primary">
      <div class="panel-body">
        <div class="page-header">
          <h2>Login</h2>
        </div>
        <form name="userForm" class="form-horizontal" ng-submit="login(userForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group label-floating" ng-class="{ 'has-error': userForm.email.$invalid && userForm.email.$dirty}">
              <div class="col-lg-12">
                <label for="inputEmail" class="control-label">Email</label>
                <input name="email" ng-model="username" class="form-control" id="inputEmail" type="email" required autofocus>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': userForm.password.$invalid && userForm.password.$dirty}">
              <div class="col-lg-12">
                <label for="password" class="control-label">Password</label>
                <input name="password" ng-model="password" class="form-control" id="password" type="password" required ng-pattern="/(?=^.{8,30}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;&quot;:;'?/&gt;.&lt;,]).*$/" >
                <p class="help-block" ng-show="userForm.password.$invalid && userForm.password.$dirty">The password should contain at least 8 characters and should include at least one upper-case letter, one digit and one special character</p>
              </div>
            </div>
            <label class="col-lg-12 text-info">{{error}}</label>
            <div class="form-group">
              <div class="col-lg-12">
                <a href="">Forgot password?</a><br />
                <div class="checkbox">
                  <label><input type="checkbox"> Remember Me</label>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <div class="col-lg-3 col-lg-offset-6">
                <a href="#" ng-click="signup()" class="btn btn-default btn-raised btn-block">Register</a>
              </div>
              <div class="col-lg-3">
                  <button ng-disabled="userForm.$invalid" type="submit" class="btn btn-primary btn-raised btn-block">Login</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div> <!-- End vertical-center -->
</div>