<div class="container" th:fragment="content">

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1 th:inline="text">About [[${brandName}]]</h1>
			</div>
			<p class="text-justify" th:inline="text">The Indian tourism and hospitality industry contributes 7.5%
				to the national GDP and USD 47 billion in dollar value and is
				expected to be a USD 280 billion industry by 2026. The hotel
				industry which is part of the tourism and hospitality industry is
				highly fragmented in India, with large number of small and
				un-organized hotels accounting for the lion's share. The Indian
				hotel industry is going through a lot of challenges. Manpower and
				competition are the top two. The hotel industry needs to look at
				lowering the costs to stay competitive. This can be achieved by
				intelligent sourcing, getting the best services and products at low
				costs by leveraging technology. [[${brandName}]] is trying to bridge the
				technology gap in the sourcing cycle of the hotel industry by
				bringing the buyer and sellers on a single platform. It is a market
				place which helps sellers to be discovered by the buyers at no cost.
				It also helps sellers find new buyers for their products and
				services by registering with [[${brandName}]]. It helps Hoteliers and
				Restaurateurs minimize their cost of procurement by discovering new
				sellers at better prices. [[${brandName}]] provides this market place option
				on the fly to both the buyers and sellers by means of its mobile
				app.</p>
			<strong>Features:</strong>
			<ul>
				<li>Discover new sellers</li>
				<li>Discover new products</li>
				<li>Compare prices</li>
				<li>List businesses</li>
				<li>Automate procurement</li>
				<li>Discover new buyers</li>
				<li>List products and services</li>
				<li>Manage new enquiries, sales and deliveries</li>
			</ul>
		</div>
	</div>
</div>