<div class="modal fade" id="reportAbuseModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-flag fa-fw text-danger"></i> Report Abuse <small><a href="javascript:void(0);"  data-toggle="collapse" data-target="#helpDiv" title="Click to display help"><i class="fa fa-question-circle"></i></a></small></h4>
			</div>
			<form id="reportAbuseForm" th:action="@{/abuse-reports}" method="post">
				<div class="modal-body">
					<div id="helpDiv" class="alert alert-info collapse">
						<h4>Report Abuse</h4>
						<p th:inline="text">This is a facility where you are allowed to report about an item, record or entity which you think should not be on [[${brandName}]].
						We will review the report and take appropriate measures. With this facility, you are helping us to keep [[${brandName}]] clean and safe for everyone.
						</p>
						
					</div>
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<p>When you submit this report, it will be reviewed by the administrator.</p>
					</div>
					
					<div id="loadingDiv" class="top-buffer-10 invisible">
						<i class="fa fa-refresh fa-spin"></i> Submitting report...
					</div>
					
					<div id="submitReportFailedDiv"
						class="hide-me alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div id="submitReportFailedReason"></div>
					</div>

					<div id="formContent">
						<input type="hidden" id="entityId" name="entityId"/>
						<div class="form-group required">
							<label class="control-label" for="title">Title</label>
							<input type="text" id="title" name="title" class="form-control" placeholder="One line about this item" required="required" autofocus="autofocus"/>
						</div>
						<div class="form-group required">
							<label class="control-label" for="title">Description</label>
							<textarea class="form-control" id="description" name="description" rows="4"
							          placeholder="Brief description about the problem. This will help us understand your concern."
							          required="required"></textarea>
						</div>
					</div>
				</div>
				<div id="reportAbuseModalFooter" class="modal-footer">
					<button id="btnSubmitReport" type="submit" class="btn-submit" >Submit Report</button>
					<button type="button" class="btn-close" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div th:replace="processing-request-modal-view"></div>

<script type='text/javascript'>

	function createAbuseReportAnchorElement(entityId) {
		var reportAbuseAnchorElement = $('<a/>', {'title': 'Report this item','class': 'report-abuse', 'data-entity-id': entityId});
		initAbuseAnchorElement(reportAbuseAnchorElement);
		return reportAbuseAnchorElement;
	}
	
	function initAbuseAnchorElement(element) {
		element.addClass('pull-right btn show-hand text-muted').prepend('<i class="fa fa-flag fa-fw"></i>').attr('title', 'Report this item').hover(function() {
	    	$(this).toggleClass('text-danger');
		});
	}
	
	$(document).ready(function() {
		initAbuseAnchorElement($('a.report-abuse'));
	});
	
	$(document).on('click', 'a.report-abuse', function() {
		var entityId = $(this).data('entity-id');
		$('#entityId').val(entityId);
		$("#formContent").show();
		$("#reportAbuseModalFooter").show();
		$("#submitReportFailedDiv").hide();
		$('#btnSubmitReport').prop('disabled', false);
		$('#reportAbuseModal').modal('show');
	});
	
	$("#reportAbuseForm").submit(function(e) {
		e.preventDefault();
		var options = {
    		errorElement: 'div',
    		errorClass: 'text-danger small',
    		highlight: function(element) {
	    		$(element).parent("div").addClass('has-error');
	    	},
	    	unhighlight: function(element) {
	    		$(element).parent('div').removeClass('has-error');
	    	}
    	}
		
		var validator = $(this).validate(options);
		$(this).find('input:text, textarea').each(function() {
			var inputVal = $(this).val();
			$(this).val($.trim(inputVal));
	    });
		if(validator.form()) {
		    var formData = new FormData($(this)[0]);
		    $.ajax({
		    	context: this,
		    	url: $(this).attr('action'),
		        type: 'POST',
		        data: formData,
		        async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	$('#loadingModal').modal('show');
		        	$('#reportAbuseModal').modal('hide');
		        },
		        success: function (data) {
		        	
		        	notifySuccess('Thank you submitting the report. We will review it and address your concern.');
		        	$("#submitReportFailedDiv").hide();
		        	$('#title').val('');
		    		$('#description').val('');
		    		$('#entityId').val('');
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$("#submitReportFailedReason").text('Oops! Failed to submit report.\nReason: ' + xhr.responseText);
		        	$("#submitReportFailedDiv").show();
		        	$('#reportAbuseModal').modal('show');
		        },
		        complete: function() {
		        	$('#loadingModal').modal('hide');
		        }
		    });
		}
	    return false;
	});
	
</script>