<div class="container" th:fragment="content">

	<style scoped="scoped">
		.plan-title {
			color: inherit;
		}
		.plan-description {
		    overflow:  hidden;
		    height:  150px;
		    display:  block;
		    text-align: justify;
		    font-size: 13px;
		}
		
		.plan-hr {
			margin-top: 20px;
	    	margin-bottom: 20px;
	    	border: 0;
	    	border-top: 1px solid #d6e9c6;
    	}
		
		.plan-description:hover {
			overflow-y: auto;
		}
		
		/* width */
		.plan-description-scroll-bar::-webkit-scrollbar {
		    width: 9px;
		}
		
		/* Track */
		.plan-description-scroll-bar::-webkit-scrollbar-track {
		    background: #f1f1f1; 
		}
		 
		/* Handle */
		.plan-description-scroll-bar::-webkit-scrollbar-thumb {
		    background: #ccc; 
		}
		
		/* Handle on hover */
		.plan-description-scroll-bar::-webkit-scrollbar-thumb:hover {
		    background: #bbb; 
		}
		
		.plan-ribbon {
		   position: absolute;
		   right: -5px; top: -5px;
		   z-index: 1;
		   overflow: hidden;
		   width: 75px; height: 75px; 
		   text-align: right;
		}
		.plan-ribbon span {
		   font-size: 10px;
		   color: #fff; 
		   text-transform: uppercase; 
		   text-align: center;
		   font-weight: bold; line-height: 20px;
		   transform: rotate(45deg);
		   width: 100px; display: block;
		   background: #79A70A;
		   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
		   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		   position: absolute;
		   top: 19px; right: -21px;
		}
		.plan-ribbon span::before {
		   content: '';
		   position: absolute; 
		   left: 0px; top: 100%;
		   z-index: -1;
		   border-left: 3px solid #79A70A;
		   border-right: 3px solid transparent;
		   border-bottom: 3px solid transparent;
		   border-top: 3px solid #79A70A;
		}
		.plan-ribbon span::after {
		   content: '';
		   position: absolute; 
		   right: 0%; top: 100%;
		   z-index: -1;
		   border-right: 3px solid #79A70A;
		   border-left: 3px solid transparent;
		   border-bottom: 3px solid transparent;
		   border-top: 3px solid #79A70A;
		}
		
		.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
		.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
		.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}
		
	</style>

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li class="active">Bidding Subscription Plans</li>
		</ol>
		
		<div class="alert alert-dismissible alert-info">
			<div th:inline="text">
				<p><strong>Note:</strong></p>
				<ul>
					<li>You can subscribe to any of the plans below when you do not have any subscriptions or when your existing subscription has EXPIRED.</li>
					<li>Once the plan is subscribed, premium amount needs to be paid for the subscription to be activated.</li>
					<li>About Free Plans: You can subscribe to a free plan only if you do not have a subscription history.</li>
				</ul>
			</div>
		</div>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>
		
		<div id="errorMessageDiv"
			class="alert alert-dismissible alert-danger top-buffer hide-me">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span id="errorMessageDivText"></span></div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Bidding Subscription Plans</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Bidding Subscription Plans
					</h2>
				</div>
				<div th:if="${listResponse == null or #lists.isEmpty(listResponse.getList())}" class="top-buffer-10">
					No Subscription Plans to display.
				</div>
				<div th:if="${listResponse != null and not #lists.isEmpty(listResponse.getList())}">
					<div class="row">
						<div class="col-md-4" th:each="subscriptionPlan,iter : ${listResponse.getList()}">
							<div class="panel panel-default hvr-glow wow bounceInRight" th:attr="data-wow-delay=${#strings.append(iter.index * 0.2,'s')}" th:inline="text">
								<div th:if="${subscriptionPlan.defaultPlan}" class="plan-ribbon blue"><span>Free</span></div>
								<div class="panel-heading" style="color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6;">
									<h4 class="text-center plan-title"><strong>[[${subscriptionPlan.title}]]</strong></h4>
									<p class="text-center"><em>Code: [[${subscriptionPlan.name}]]</em></p>
								</div>
								<div class="panel-body text-center">
									<p class="h3">&#8377;[[${#numbers.formatDecimal(subscriptionPlan.premiumAmount,0,0)}]]</p>
									<p>
										<strong>
											<span th:if="${subscriptionPlan.type == 'DURATION'}">for [[${subscriptionPlan.durationValue}]] [[${subscriptionPlan.durationType}]]</span>
											<span th:if="${subscriptionPlan.type == 'QUOTA'}">
												<span sec:authorize="hasAuthority('VENDOR')">for accessing [[${subscriptionPlan.numberOfTendersAllowedToAccess}]] tenders</span>
												<span sec:authorize="hasAuthority('BUYER')">for posting [[${subscriptionPlan.numberOfTendersAllowedToCreate}]] tenders</span>
											</span>
										</strong>
									</p>
									<hr class="plan-hr"/>
									<p class="plan-description plan-description-scroll-bar">[[${subscriptionPlan.description}]]</p>
								</div>
								
								<div class="panel-footer">
									<form sec:authorize="hasAuthority('BUYER')" th:action="@{/buyers/bidding-subscriptions/create}" method="post">
										  
										<input type="hidden" name="biddingSubscriptionPlanId" th:value="${subscriptionPlan.id}"/>
										
										<button th:if="${subscriptionPlan.defaultPlan == true}" type="button" class="btn-submit btn-success btn-block confirmation btn-subscribe-default-plan"
											    th:attr="data-check-subscription-url=@{/buyers/bidding-subscriptions/check-for-subscription-history}, data-subscribe-to-default-plan-url=@{/buyers/bidding-subscriptions/create-subscription-with-default-plan}">Subscribe</button>
											    
										<button th:if="${subscriptionPlan.defaultPlan == false}" type="button" class="btn-submit btn-success btn-block confirmation btn-subscribe"
											    th:attr="data-check-subscription-url=@{/buyers/bidding-subscriptions/check-for-existing-subscription}, data-base-request-path=@{/buyers/bidding-subscriptions}, data-subscription-plan-id=${subscriptionPlan.id}">Subscribe</button>
									</form>
									
									<form sec:authorize="hasAuthority('VENDOR')" th:action="@{/vendors/bidding-subscriptions/create}" method="post">
										<input type="hidden" name="biddingSubscriptionPlanId" th:value="${subscriptionPlan.id}"/>
										
										<button th:if="${subscriptionPlan.defaultPlan == true}" type="button" class="btn-submit btn-success btn-block confirmation btn-subscribe-default-plan"
											    th:attr="data-check-subscription-url=@{/vendors/bidding-subscriptions/check-for-subscription-history}, data-subscribe-to-default-plan-url=@{/vendors/bidding-subscriptions/create-subscription-with-default-plan}">Subscribe</button>

										<button  th:if="${subscriptionPlan.defaultPlan == false}"  type="button" class="btn-submit btn-success btn-block confirmation btn-subscribe"
											    th:attr="data-check-subscription-url=@{/vendors/bidding-subscriptions/check-for-existing-subscription}, data-base-request-path=@{/vendors/bidding-subscriptions}, data-subscription-plan-id=${subscriptionPlan.id}">Subscribe</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form sec:authorize="hasAuthority('BUYER')" th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/buyers/bidding-subscription-plans/list}" method="get">
						    <input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    <button class="btn-next button-action" type="submit" title="Click Next to browse more plans">Next</button>
					    </form>
					    
					    <form sec:authorize="hasAuthority('VENDOR')" th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/vendors/bidding-subscription-plans/list}" method="get">
						    <input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    <button class="btn-next button-action" type="submit" title="Click Next to browse more plans">Next</button>
					    </form>
					    
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="updateBiddingSubscriptionModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle fa-fw text-warning"></i> Update Subscription?</h4>
				</div>
				<form id="updateBiddingSubscriptionForm" action="#" method="post">
					<div class="modal-body">
						Your subscription already has a plan subscribed with it. Do you wish to update your subscription with this plan?
						<input type="hidden" id="newSubscriptionPlanId" name="newSubscriptionPlanId"/>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					</div>
					<div class="modal-footer">
						<button id="btnSubmitReport" type="submit" class="btn-submit btn-success" >Yes, proceed</button>
						<button type="button" class="btn-close" data-dismiss="modal">No, cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div th:replace="processing-request-modal-view"></div>
	
	<script type="text/javascript">
		
		$("button.btn-subscribe").on("confirmed.bs.confirmation", function(e) {
			e.preventDefault();
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: $(this).data("check-subscription-url"),
		        beforeSend: function() {
		        	if(!$('#errorMessageDiv').hasClass('hide-me')) {
		        		$('#errorMessageDiv').addClass('hide-me');
		        	}
		        	showLoadingModal();
		        },	        
		        success: function(data) {
		        	var response = $.parseJSON(data);
		        	
		        	switch(response.result) {
		        	case 'NO_SUBSCRIPTION_EXISTS':
		        		var form = $(this).parents('form:first');
		        		form.submit();
		        		break;
		        	case 'ACTIVATION_PENDING':
		        		//show modal asking for update subscription
		        		$('#updateBiddingSubscriptionForm').attr('action', $(this).data("base-request-path") + '/' + response.existingSubscriptionId + '/update');
		        		$('#updateBiddingSubscriptionForm #newSubscriptionPlanId').val($(this).data("subscription-plan-id"));
		        		$('#updateBiddingSubscriptionModal').modal('show');
		        		break;
		        	case 'ACTIVATION_IN_PROGRESS':
		        		$('#errorMessageDivText').text('Cannot update your current subscription. Its activation is in progress. Please complete the activation by making the payment: Your Account > Subscriptions > Bidding Subscriptions');
		        		$('#errorMessageDiv').removeClass('hide-me');
		        		window.scrollTo(0, 0);
		        		break;
		        	case 'ACTIVE':
		        		$('#errorMessageDivText').text('Cannot update your current subscription. It is already active.');
		        		$('#errorMessageDiv').removeClass('hide-me');
		        		window.scrollTo(0, 0);
		        		break;
		        	}
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
		});
		
		$("button.btn-subscribe-default-plan").on("confirmed.bs.confirmation", function(e) {
			e.preventDefault();
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: $(this).data("check-subscription-url"),
		        beforeSend: function() {
		        	if(!$('#errorMessageDiv').hasClass('hide-me')) {
		        		$('#errorMessageDiv').addClass('hide-me');
		        	}
		        	showLoadingModal();
		        },	        
		        success: function(data) {
		        	var response = $.parseJSON(data);
		        	
		        	switch(response.result) {
		        	case 'NO_SUBSCRIPTION_EXISTS':
		        		var form = $(this).parents('form:first');
		        		form.attr('action', $(this).data('subscribe-to-default-plan-url'));
		        		form.submit();
		        		break;
		        	case 'SUBSCRIPTION_EXISTS':
		        		$('#errorMessageDivText').text('You cannot subscribe to this free plan because you are having a history of subscriptions. Free plans are only for those who are subscribing for the first time.');
		        		$('#errorMessageDiv').removeClass('hide-me');
		        		window.scrollTo(0, 0);
		        		break;
		        	}
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
		});
	</script>
</div>