
<div class="container" th:fragment="content">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li sec:authorize="hasAuthority('BUYER')"><a
				th:href="@{/buyers/bidding-subscriptions/list}">Bidding Subscriptions</a></li>
			<li sec:authorize="hasAuthority('VENDOR')"><a
				th:href="@{/vendors/bidding-subscriptions/list}">Bidding Subscriptions</a></li>
			<li class="active">Subscription</li>
		</ol>


		<div th:if="${errorMessage}" id="errorMessage"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:text="${errorMessage}"></div>
		</div>
		
		<div th:if="${param.createSuccess}"
			class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>Subscription created successfully. Please activate your subscription for managing tenders.</div>
		</div>
		
		<div th:if="${param.updateSuccess}"
			class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>Subscription updated successfully. Please activate your subscription for managing tenders.</div>
		</div>
		
		<div th:if="${param.activated}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>Subscription has been activated successfully. You will now be able to manage tenders. You can view your payment transactions here: <strong>Account > Your Payments</strong></div>
		</div>
		
		<div th:if="${param.createDefaultSubscriptionSuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>Subscription has been activated successfully with the free plan. You will now be able to manage tenders.</div>
		</div>
		
		<div th:if="${param.paymentCancelled}"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>The payment transaction for the subscription was cancelled. If your subscription is not activated, then try making the payment again.</div>
		</div>
		
		<div th:if="${param.paymentFailed}"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>The payment for the subscription has failed. If your subscription is not activated, then try making the payment again.</div>
		</div>
		
		<div th:if="${param.forbidPaymentTransaction}"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>The payment transaction for the subscription is forbidden.</div>
		</div>
		
		<div th:if="${param.refundPayment}"
			class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>The payment transaction for the subscription was captured in the payment gateway but not with us. So, we have initiated refund for your payment and it will be returned to you in a week. Please make the payment again to activate the subscription.</div>
		</div>
		
		<div th:if="${param.failedToInitiateActivation}"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${param.failedToInitiateActivation[0]}]]</div>
		</div>
		
		
		<div th:if="${biddingSubscriptionInfo}" class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Your Subscription Details</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Subscription Details
					</h2>
				</div>
				<div class="col-md-12">
					
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Status</strong>
						</div>
						<div class="col-sm-8" th:inline="text" th:switch="${biddingSubscriptionInfo.subscriptionState}">
							<span th:case="'ACTIVATION_PENDING'" class="label label-warning"><i class="fa fa-exclamation-triangle"></i> [[${biddingSubscriptionInfo.subscriptionState}]]</span>
							<span th:case="'ACTIVATION_IN_PROGRESS'" class="label label-warning"><i class="fa fa-exclamation-triangle"></i> [[${biddingSubscriptionInfo.subscriptionState}]]</span>
							<span th:case="'ACTIVE'" class="label label-success"><i class="fa fa-check"></i> [[${biddingSubscriptionInfo.subscriptionState}]]</span>
							<span th:case="'EXPIRED'" class="label label-danger"><i class="fa fa-times"></i> [[${biddingSubscriptionInfo.subscriptionState}]]</span>
						</div>
					</div>
					
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Plan</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionInfo.subscriptionPlan.name}]]</div>
					</div>
					
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Created Timestamp</strong>
						</div>
						<div class="col-sm-8"
							th:inline="text">[[${biddingSubscriptionInfo.createdTimestamp}]]</div>
					</div>
					
					
					<div th:if="${biddingSubscriptionInfo.subscriptionType == 'DURATION'}">
						<div class="row top-buffer">
							<div class="col-sm-4">
								<strong>Activation Timestamp</strong>
							</div>
							<div class="col-sm-8"
								 th:text="${biddingSubscriptionInfo.activationTimestamp} ? ${biddingSubscriptionInfo.activationTimestamp} : 'N/A'"></div>
						</div>
						<div class="row top-buffer">
							<div class="col-sm-4">
								<strong>Expiry Timestamp</strong>
							</div>
							<div class="col-sm-8"
								 th:text="${biddingSubscriptionInfo.expiryTimestamp} ? ${biddingSubscriptionInfo.expiryTimestamp} : 'N/A'"></div>
						</div>
					</div>
					
					<div th:if="${biddingSubscriptionInfo.subscriptionType == 'QUOTA'}">
						<div class="row top-buffer">
							<div class="col-sm-4">
								<strong  sec:authorize="hasAuthority('BUYER')">Number of tenders allowed to create</strong>
								<strong  sec:authorize="hasAuthority('VENDOR')">Number of tenders allowed to access</strong>
							</div>
							<div class="col-sm-8"
								 th:inline="text">[[${biddingSubscriptionInfo.quota.subscribed}]]</div>
						</div>
						<div class="row top-buffer">
							<div class="col-sm-4">
								<strong  sec:authorize="hasAuthority('BUYER')">Number of tenders created</strong>
								<strong  sec:authorize="hasAuthority('VENDOR')">Number of tenders accessed</strong>
							</div>
							<div class="col-sm-8"
								 th:text="${biddingSubscriptionInfo.quota.used >= 0} ? ${biddingSubscriptionInfo.quota.used} : 'N/A'"></div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-sm-4">
								<strong  sec:authorize="hasAuthority('BUYER')">Remaining number of tenders that can be created </strong>
								<strong  sec:authorize="hasAuthority('VENDOR')">Remaining number of tenders that can be accessed</strong>
							</div>
							<div class="col-sm-8"
								 th:text="${biddingSubscriptionInfo.quota.remaining >= 0} ? ${biddingSubscriptionInfo.quota.remaining} : 'N/A'"></div>
						</div>
					</div>
					
				</div>

				<div class="clearfix"></div>
				<hr />

				<div class="form-inline col-md-8" >
					<div th:if="${biddingSubscriptionInfo.subscriptionState == 'ACTIVATION_PENDING'}"  class="form-group">
						<form action="#" method="post">
							<button sec:authorize="hasAuthority('BUYER')" id="activateSubscriptionBtn" class="btn btn-success" type="button" 
								th:formaction="@{/buyers/bidding-subscriptions/{subscriptionId}/initiate-activation(subscriptionId=${biddingSubscriptionInfo.id})}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Initiate Activation</button>
							<button sec:authorize="hasAuthority('VENDOR')" id="activateSubscriptionBtn" class="btn btn-success" type="button" 
								th:formaction="@{/vendors/bidding-subscriptions/{subscriptionId}/initiate-activation(subscriptionId=${biddingSubscriptionInfo.id})}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Initiate Activation</button>

							<a  sec:authorize="hasAuthority('BUYER')" class="btn-update" th:href="@{/buyers/bidding-subscription-plans/list}">Choose a Different Plan</a>
							<a  sec:authorize="hasAuthority('VENDOR')" class="btn-update" th:href="@{/vendors/bidding-subscription-plans/list}">Choose a Different Plan</a>
						</form>
					</div>
					<div th:if="${biddingSubscriptionInfo.subscriptionState == 'ACTIVATION_PENDING'}"  class="form-group">
						<form id="deleteSubscriptionForm" action="#" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							<button sec:authorize="hasAuthority('BUYER')" id="deleteSubscriptionBtn" class="btn-delete btn-action confirmation" type="button" th:formaction="@{/buyers/bidding-subscriptions/{subscriptionId}/delete(subscriptionId=${biddingSubscriptionInfo.id})}">Delete Subscription</button>
							<button sec:authorize="hasAuthority('VENDOR')" id="deleteSubscriptionBtn"  class="btn-delete btn-action confirmation" type="button" th:formaction="@{/vendors/bidding-subscriptions/{subscriptionId}/delete(subscriptionId=${biddingSubscriptionInfo.id})}">Delete Subscription</button>
						</form>
					</div>
					
					<div th:if="${biddingSubscriptionInfo.subscriptionState == 'ACTIVATION_IN_PROGRESS'}"  class="form-group">
						<a sec:authorize="hasAuthority('BUYER')" class="btn-submit btn-success btn-action" th:href="@{/buyers/bidding-subscriptions/{subscriptionId}/payment-form(subscriptionId=${biddingSubscriptionInfo.id})}">Make Payment</a>
						<a sec:authorize="hasAuthority('VENDOR')" class="btn-submit btn-success btn-action" th:href="@{/vendors/bidding-subscriptions/{subscriptionId}/payment-form(subscriptionId=${biddingSubscriptionInfo.id})}">Make Payment</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div th:if="${biddingSubscriptionInfo != null and biddingSubscriptionInfo.subscriptionState == 'ACTIVATION_PENDING'}" 
		class="modal fade" id="activateBiddingSubscriptionModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle fa-fw text-warning"></i> Subscription Activation</h4>
				</div>
				<form id="activateSubscriptionForm" action="#" method="post">
					<div class="modal-body">
						<p><strong>Please read these guidelines before you proceed</strong></p>
						<ol  class="list-group">
							<li class="list-group-item">Please do not hit the <kbd><i class="fa fa-repeat" aria-hidden="true"></i> Refresh</kbd> or the <kbd><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</kbd> button of the browser during the activation.</li>
							<li class="list-group-item">If you wish choose a different plan, you may do it now. <span class="label label-default"><i class="fa fa-times fa-fw"></i> Close</span> this dialog box and click <span class="label label-primary">Choose a Different Plan</span>.</li> 
							<li class="list-group-item"><strong>You cannot change the plan when the subscription status is <span class="label label-warning">ACTIVATION_IN_PROGRESS</span> or <span class="label label-success">ACTIVE</span>.</strong></li>
							<li class="list-group-item">Once you proceed with activation, the subscription is marked as <span class="label label-warning">ACTIVATION_IN_PROGRESS</span> and you will be directed to the payment gateway. It will become <span class="label label-success">ACTIVE</span> once the payment of preminum amount is successful.</li>
							<li class="list-group-item">If you are not able to complete the payment, the subscription will remain as <span class="label label-warning">ACTIVATION_IN_PROGRESS</span> for one day and you can complete the payment by going to: Your Account > Your Subscriptions > Bidding Subscriptions.</li>
							<li  class="list-group-item">Activation should be completed within a day. Otherwise, the subscription status will be reset to <span class="label label-warning">ACTIVATION_PENDING</span>.</li>
							<li class="list-group-item">Once your subscription is activated successfully, you cannot cancel the subscription. So there will be no refunds.</li>
							<li th:if="${biddingSubscriptionInfo.subscriptionType == 'DURATION'}"  class="list-group-item">The subscription will expire naturally when the expiry time occurs. The expiry time is calculated when the subscription is activated.</li>
							<li th:if="${biddingSubscriptionInfo.subscriptionType == 'QUOTA'}"  class="list-group-item">The subscription will expire naturally when the quota is fully utilized.</li>
						</ol>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn-submit btn-success btn-action" >OK, proceed</button>
						<button type="button" class="btn-close" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script th:if="${biddingSubscriptionInfo != null and biddingSubscriptionInfo.subscriptionState == 'ACTIVATION_PENDING'}" type="text/javascript">
		$("#deleteSubscriptionBtn").on("confirmed.bs.confirmation", function(e) {
			e.preventDefault();
			$("#deleteSubscriptionForm").attr('action', $(this).attr('formaction'));
			$("#deleteSubscriptionForm").submit();
		});
		
		$("#activateSubscriptionBtn").click(function(e) {
			e.preventDefault();
			$("#activateSubscriptionForm").attr('action', $(this).attr('formaction'));
			$("#activateBiddingSubscriptionModal").modal('show');
		});
	</script>

</div>
