<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Bidding Subscriptions</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		
		<div id="errorMessageDiv"
			class="alert alert-dismissible alert-danger top-buffer hide-me">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span id="errorMessageDivText"></span></div>
		</div>
		
		<div th:if="${param.deleteSuccess}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Subscription deleted successfully.</div>
		</div>
		

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Your Bidding Subscriptions</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Bidding Subscriptions
						<span th:if="${((listResponse == null or #lists.isEmpty(listResponse.getList())) and #strings.isEmpty(param.nextOffset)) and (!#strings.isEmpty(param.nextOffset) and listResponse == null or #lists.isEmpty(listResponse.getList()))}">
							<a sec:authorize="hasAuthority('VENDOR')" id="freeSubscriptionBtn" class="btn btn-add pull-right"
								th:attr="data-check-for-default-plan-url=@{/vendors/bidding-subscription-plans/is-default-plan-available}, data-subscribe-to-default-plan-url=@{/vendors/bidding-subscriptions/create-subscription-with-default-plan}">
								Get a free subscription</a>
							<a sec:authorize="hasAuthority('BUYER')"  id="freeSubscriptionBtn" class="btn btn-add pull-right"
								th:attr="data-check-for-default-plan-url=@{/buyers/bidding-subscription-plans/is-default-plan-available}, data-subscribe-to-default-plan-url=@{/buyers/bidding-subscriptions/create-subscription-with-default-plan}">
								Get a free subscription</a>
						</span>
					</h2>
				</div>
				<div th:if="${listResponse == null or #lists.isEmpty(listResponse.getList())}" class="top-buffer-10">No
					Subscriptions to display.
				</div>
				<div th:if="${listResponse != null}">
					<table
						th:if="${listResponse != null and not #lists.isEmpty(listResponse.getList())}"
						id="subscriptionTable"
						class="table table-hover responsive nowrap">
						<thead class="thead-default">
							<tr>
								<th>Plan</th>
								<th>Type</th>
								<th>Status</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr
								th:each="subscription : ${listResponse.getList()}">
								<td th:inline="text">[[${subscription.subscriptionPlan.name}]]</td>
								<td th:inline="text">[[${subscription.subscriptionType}]]</td>
								<td th:inline="text" th:switch="${subscription.subscriptionState}">
									<span th:case="'ACTIVATION_PENDING'" class="label label-warning"><i class="fa fa-exclamation-triangle"></i> [[${subscription.subscriptionState}]]</span>
									<span th:case="'ACTIVATION_IN_PROGRESS'" class="label label-warning"><i class="fa fa-exclamation-triangle"></i> [[${subscription.subscriptionState}]]</span>
									<span th:case="'ACTIVE'" class="label label-success"><i class="fa fa-check"></i> [[${subscription.subscriptionState}]]</span>
									<span th:case="'EXPIRED'" class="label label-danger"><i class="fa fa-times"></i> [[${subscription.subscriptionState}]]</span>
								</td>
								<td><a sec:authorize="hasAuthority('BUYER')"
									th:href="@{/buyers/bidding-subscriptions/{subscriptionId}/details(subscriptionId=${subscription.id})}">View</a>
									<a sec:authorize="hasAuthority('VENDOR')"
									th:href="@{/vendors/bidding-subscriptions/{subscriptionId}/details(subscriptionId=${subscription.id})}">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form sec:authorize="hasAuthority('BUYER')" th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/buyers/bidding-subscriptions/list}" method="get">
						    	<input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    	<button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					    <form sec:authorize="hasAuthority('VENDOR')" th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/vendors/bidding-subscriptions/list}" method="get">
						    	<input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    	<button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="freeBiddingSubscriptionModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"><i class="fa fa-check fa-fw text-success"></i> Subscribe to this free plan?</h4>
				</div>
				<form id="freeBiddingSubscriptionForm" action="#" method="post">
					<div class="modal-body">
					
						<div class="alert alert-info justify" th:inline="text">
							<i class="fa fa-exclamation-triangle"></i> This plan is a free offering from [[${brandName}]]. You could always opt for other other plans listed in: Master Entities > Subscription Plans > Bidding Subscription Plans
						</div>
						<p><strong>Free Subscription Details</strong></p>
					
						<dl class="dl-horizontal">
						  <dt>Title:</dt>
						  <dd id="modalFreePlanTitle"></dd>
						  
						  <dt>Description:</dt>
						  <dd id="modalFreePlanDescription" class="text-justify"></dd>
						  
						  <dt>Allows you to:</dt>
						  <dd id="modalFreePlanQuotaText" class="text-justify"></dd>
						  
						  <dt>Worth:</dt>
						  <dd>&#8377;<span id="modalFreePlanPremiumAmount"></span></dd>
						</dl>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					</div>
					<div class="modal-footer">
						<button id="btnSubmitReport" type="submit" class="btn-submit btn-success" >Yes, proceed</button>
						<button type="button" class="btn-close" data-dismiss="modal">No, cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div th:replace="processing-request-modal-view"></div>
	
	<script>
		$(document).ready(function() {
			$('#subscriptionTable').DataTable();
		});
		
		$('#freeSubscriptionBtn').click(function(e) {
			e.preventDefault();
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: $(this).data("check-for-default-plan-url"),
		        beforeSend: function() {
		        	if(!$('#errorMessageDiv').hasClass('hide-me')) {
		        		$('#errorMessageDiv').addClass('hide-me');
		        	}
		        	showLoadingModal();
		        },	        
		        success: function(data) {
		        	var response = $.parseJSON(data);
		        	switch(response.result) {
		        	case 'DEFAULT_PLAN_AVAILABLE':
		        		$('#freeBiddingSubscriptionForm').attr('action', $(this).data("subscribe-to-default-plan-url"));
		        		loadFreeSubscriptionModal(response);
		        		break;
		        	case 'DEFAULT_PLAN_NOT_AVAILABLE':
		        		$('#errorMessageDivText').text('We are sorry. There are no free plans available right now.');
		        		$('#errorMessageDiv').removeClass('hide-me');
		        		window.scrollTo(0, 0);
		        		break;
		        	}
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
		});
			
		function loadFreeSubscriptionModal(response) {
			var planInfo = response.planInfo;
    		$('#modalFreePlanTitle').text(planInfo.title);
    		$('#modalFreePlanDescription').text(planInfo.description);
    		$('#modalFreePlanPremiumAmount').text(planInfo.premiumAmount);
    		$('#modalFreePlanQuotaText').text(response.quotaText);
    		$('#freeBiddingSubscriptionModal').modal('show');
		}
	</script>
</div>