<div id="browserIEIncompatible" 
	class="col-lg-6 col-lg-offset-3 alert alert-dismissible alert-warning hide-me">
	<div class="text-center" th:inline="text">Internet explorer is not a compatible browser.
		Please use <a href="https://www.google.co.in/chrome/browser/desktop/">Google Chrome</a> or 
		<a href="https://www.mozilla.org/en-US/firefox/new">Mozilla Firefox</a> to experience the best of [[${brandName}]].</div>
</div>

<!-- jQuery Browser check -->
<script th:src="@{/bower_components/jquery.browser/dist/jquery.browser.min.js}"></script>
<script type="text/javascript">
/* Check browser compatibility */	
if ($.browser.msie) {
   	$('#browserIEIncompatible').show();
}
</script>
