<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li th:if="${selectedDealer}"><a th:href="@{/vendors/list}">Vendors</a></li>
			<li th:if="${selectedDealer}" th:inline="text"><a
				th:href="@{/vendors/{vendorId}/details(vendorId=${#strings.arraySplit(selectedDealer, '|')[1]})}">[[${#strings.arraySplit(selectedDealer,
					'|')[0]}]]</a></li>
			<li class="active">Product Enquiries</li>
		</ol>
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Product enquiries posted by you</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Product Enquiries</h2>
				</div>

				<p th:inline="text"
					th:if="${(param.vendor != null and not #strings.arrayIsEmpty(param.vendor)) or (param.requestDate != null and not #strings.arrayIsEmpty(param.requestDate))}">
					Showing enquiries made <span
						th:if="${param.vendor != null and not #strings.arrayIsEmpty(param.vendor)}">
						to vendor: <strong>[[${#strings.arraySplit(param.vendor[0],
							'|')[0]}]]</strong>
					</span> <span
						th:if="${param.enquiryDate != null and not #strings.arrayIsEmpty(param.enquiryDate)}">
						on: <strong>[[${param.enquiryDate[0]}]]</strong>
					</span>
				</p>

				<div id="loadingDiv" class="top-buffer-5 invisible">
					<i class="fa fa-refresh fa-spin"></i> Loading, please wait...
				</div>
				<form id="searchForm" class="form-inline top-buffer-5" role="form"
					th:object="${enquiryListRequestForm}" method="get"
					th:action="@{/buyers/product-enquiries}">

					<div th:if="${errorMessage}"
						class="alert alert-dismissible alert-danger top-buffer">
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>

					<div id="errorDiv"
						class="alert alert-dismissible alert-danger top-buffer hide-me">
						<div id="errorText"></div>
					</div>

					<div class="row top-buffer-10">
						<div class="col-md-5">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('enquiryDate')}? 'has-error'">
								<label class="control-label" for="enquiryDate">Enquiry
									Date</label>
								<div class="input-group date col-lg-12">
									<input th:field="*{enquiryDate}"
										class="datepicker form-control" type="text"
										readonly="readonly" placeholder="Select enquiry date" /> <label
										class="input-group-addon btn" for="enquiryDate"> <i
										class="fa fa-calendar" aria-hidden="true"></i>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('enquiryDateRange')}? 'has-error'">
								<label class="control-label" for="enquiryDateRange">Or
									Date Range</label>
								<div class="input-group date col-lg-12">
									<input th:field="*{enquiryDateRange}" type="text"
										class="form-control date-range-selector" readonly="readonly"
										placeholder="Select date range" /> <label
										class="input-group-addon btn" for="enquiryDateRange">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row top-buffer-10">
						<div class="col-md-5">
							<label class="control-label" for="vendor">Vendor</label>
							<div class="clearfix"></div>
							<div class="form-group label-floating">
								<select th:field="*{vendor}" class="selectpicker"
									title="Select a Vendor"></select>
							</div>
						</div>
					</div>

					<div class="form-group top-buffer-10">
						<button id="applyFilterBtn" class="btn-filter btn-action btn-md"
							type="submit" disabled="disabled">Apply Filter</button>
					</div>
				</form>

				<div
					th:if="${buyerEnquiryListResponse == null or #lists.isEmpty(buyerEnquiryListResponse.enquiryList)}"
					class="top-buffer">
					<p>No enquiries list to display.</p>
				</div>
				<form id="searchForm" role="form" method="get"
					th:action="@{/buyers/product-enquiries}"
					class="col-lg-12 top-buffer-10">
					<div class="form-horizontal">
						<div class="form-group"
							th:if="${buyerEnquiryListResponse != null and not #lists.isEmpty(buyerEnquiryListResponse.enquiryList)}">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
								<input id="searchText" class="form-control" type="search"
									autofocus="autofocus" placeholder="Search..." />
							</div>
						</div>
						<div
							th:if="${param.enquiryDate != null and not #strings.arrayIsEmpty(param.enquiryDate)}">
							<input th:id="enquiryDate" th:name="enquiryDate" type="hidden"
								th:value="${param.enquiryDate[0]}" />
						</div>

						<div
							th:if="${param.enquiryDateRange != null and not #strings.arrayIsEmpty(param.enquiryDateRange)}">
							<input th:id="enquiryDateRange" th:name="enquiryDateRange"
								type="hidden" th:value="${param.enquiryDateRange[0]}" />
						</div>

						<div
							th:if="${param.vendor != null and not #strings.arrayIsEmpty(param.vendor)}">
							<input th:id="vendor" th:name="vendor" type="hidden"
								th:value="${param.vendor[0]}" />
						</div>

						<div
							th:if="${buyerEnquiryListResponse != null and not #lists.isEmpty(buyerEnquiryListResponse.enquiryList)}"
							id="searchList" class="list-group">
							<div
								th:each="item,iter : ${buyerEnquiryListResponse.enquiryList}">

								<div
									class="list-group-item row hvr-glow top-buffer-5 wow slideInLeft"
									th:attr="id='row-' + ${iter.index}">
									<div class="col-md-3">
										<!-- Product image container -->
										<a class="thumbnail" role="button"> <img id="image"
											th:src="@{/public/loading-gif}" class="lazy img-rounded"
											th:attr="data-src=@{/products/{productId}/image(productId=${item.product.id})}" />
										</a>
									</div>
									<div class="col-md-9">
										<h3 class="list-group-item-heading" th:inline="text">
											<a class="show-product no-underline" title="Quick View"
												data-th-attr="data-product-id=${item.product.id}"
												href="javascript:void(0);"
												th:attr="id=${'row-' + iter.index + '-productName'}">[[${item.product.name}]]</a>
											<small> <span
												th:if="${item.entityStatus == 'APPROVED'}"
												title="Approved by Administrator" class="text-success">
													<i class="fa fa-check-square"></i>
											</span> <span th:if="${item.entityStatus == 'DIAPPROVED'}"
												title="Diapproved by Administrator" class="text-warning">
													<i class="fa fa-exclamation-triangle"></i>
											</span>
											</small>
										</h3>

										<h4 class="list-group-item-heading top-buffer"
											th:inline="text">
											Posted to: <a title="Click to view contact information"
												class="show-vendor no-underline"
												data-th-attr="data-vendor-id=${item.vendor.id}"
												href="javascript:void(0);">[[${item.vendor.name}]]</a>
										</h4>
										<blockquote
											th:attr="id=${'row-' + iter.index + '-description'}"
											class="blockquote small text-justify"
											th:if="${item.description}" th:inline="text">[[${item.description}]]</blockquote>

										<table class="table table-condensed pull-right">
											<thead>
												<tr>
													<th>Posted On</th>
													<th>Required Quantity</th>
													<th>Likely to buy in</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td th:inline="text">[[${item.requestDate}]]</td>
													<td th:inline="text"
														th:attr="id=${'row-' + iter.index + '-requiredQuantity'}">[[${item.requiredQuantity}]]</td>
													<td th:inline="text"><span
														th:attr="id=${'row-' + iter.index + '-likelyToBuyIn'}">[[${item.likelyToBuyIn.value}]]</span>
														<span th:attr="id=${'row-' + iter.index + '-timeUnit'}">[[${item.likelyToBuyIn.timeUnit}]]</span></td>
												</tr>
											</tbody>
										</table>
										<div class="form-inline">
											<div class="form-group">
												<button class="btn-update btn-sm update-enquiry"
													type="button"
													data-th-attr="data-enquiry-id=${item.id}, data-row-id=${'row-' + iter.index}">Update</button>
												<button
													class="btn-delete btn-sm delete-enquiry confirmation"
													data-title="Delete this enquiry?" type="button"
													data-th-attr="data-enquiry-id=${item.id}, data-row-id=${'row-' + iter.index}">Delete</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-inline">
						<div th:if="${buyerEnquiryListResponse != null}"
							class="form-group">
							<input type="hidden" name="nextOffset"
								th:value="${buyerEnquiryListResponse.nextOffset}" />
						</div>

						<div th:if="${buyerEnquiryListResponse != null}"
							class="form-group pull-right">
							<button class="btn-next form-control" type="submit">Next</button>
						</div>
						<div th:if="${param.nextOffset}" class="form-group pull-right">
							<button class="btn-previous go-back form-control" type="button">Previous</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal views -->
	<div id="vendorModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" id="modalVendorName"></h4>
				</div>
				<div class="modal-body">
					<div class="text-info col-md-offset-3">
						<p>
							<i title="Address" class="fa fa-map-marker fa-fw"
								aria-hidden="true"></i> <span id="modalVendorAddress"></span>
						</p>
						<p>
							<i title="Contact Person" class="fa fa-user fa-fw"
								aria-hidden="true"></i> <span id="modalVendorContactPerson"></span>
						</p>
						<p>
							<i title="Email Address" class="fa fa-envelope fa-fw"
								aria-hidden="true"></i> <a id="modalVendorEmailAddress"></a>
						</p>
						<p>
							<i title="Mobile Number" class="fa fa-phone-square fa-fw"
								aria-hidden="true"></i> <a id="modalVendorMobileNumber"></a>
						</p>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn-more-info btn-action" id="modalVendorDetailLink">More
						Info</a>
					<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="productModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">
						<i class="fa fa-shopping-cart fa-lg text-warning"></i> <span
							id="modalProductName"></span> <small><span
							id="modalProductModelId"></span></small>
					</h4>
				</div>
				<div class="modal-body">
					<table class="table table-condensed table-borderless text-info">
						<tbody>
							<tr>
								<td><strong>Type:</strong></td>
								<td><span id="modalProductType"></span></td>
							</tr>
							<tr>
								<td><strong>Category:</strong></td>
								<td><span id="modalProductCategory"></span></td>
							</tr>
							<tr>
								<td><strong>Cost Price:</strong></td>
								<td>&#8377;<span id="modalProductCostPrice"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a class="btn-more-info btn-success btn-action"
						id="modalProductDetailLink">More Info</a>
					<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div sec:authorize="hasAuthority('BUYER')"
		id="enquiryOperationFailedModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">
						<i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
						<span id="enquiryOperationFailedModalTitle"></span>
					</h4>
				</div>
				<div id="enquiryOperationFailedModalReason"
					class="modal-body text-danger text-center h4"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
	<form sec:authorize="hasAuthority('BUYER')" id="deleteEnquiryForm"
		th:action="@{/buyers/product-enquiries/delete}" method="post">
		<input type="hidden" id="enquiryId" name="enquiryId" />
	</form>

	<div sec:authorize="hasAuthority('BUYER')" class="modal fade"
		id="updateProductEnquiryModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">
						<i class="fa fa-question fa-lg text-info"></i> Update Enquiry: <span
							id="updateEnquiryModalTitleProductName"></span>
					</h4>

				</div>
				<form id="updateEnquiryForm"
					th:action="@{/buyers/product-enquiries/update}" method="post">
					<!-- Modal Body -->
					<div class="modal-body">

						<div id="updateEnquiryFailedDiv"
							class="hide-me alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<div id="updateEnquiryFailedReason"></div>
						</div>

						<div id="formContent">
							<input type="hidden" id="enquiryId" name="enquiryId" />
							<div class="form-group required">
								<label class="control-label" for="requiredQuantity">Required
									Quantity</label> <input type="text" id="requiredQuantity"
									name="requiredQuantity" class="form-control"
									placeholder="Example: 50 Kilograms" required="required"
									autofocus="autofocus" />
							</div>

							<div class="form-group required">
								<label class="control-label" for="likelyToBuyIn">Likely
									to buy in</label>
								<div class="input-group">
									<input type="number" id="likelyToBuyIn" name="likelyToBuyIn"
										class="form-control" placeholder="Example: 10"
										required="required" /> <span class="input-group-addon"></span>
									<select id="timeUnit" name="timeUnit" class="form-control">
										<option value="days">days</option>
										<option value="weeks">weeks</option>
										<option value="months">months</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label" for="description">Description</label>
								<textarea class="form-control" id="description"
									name="description" rows="3"
									placeholder="(Optional) You can describe your requirement; the specific details that you are interested in."></textarea>
							</div>
						</div>
						<div id="updateEnquiryModalFooter" class="modal-footer">
							<div class="row">
								<button type="submit" class="btn-submit confirmation">Submit
									Update</button>
								<button type="button" class="btn-close" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="processing-request-modal-view"></div>
	<script
		th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	    
	   $(document).ready(function(){
		   
	    	var enquiryDateRange = $('#enquiryDateRange');
	    	var enquiryDate = $('#enquiryDate');
	    	
	    	if(enquiryDate.val().trim().length > 0) {
	    		enquiryDate.trigger('change');
	    	} else if(enquiryDateRange.val().trim().length > 0) {
	    		enquiryDateRange.trigger('change');
	    	}
	    });
	   
		$('#searchList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
			
		});
		
		$('.show-vendor').click(function(e) {
			e.preventDefault();
			var vendorId = $(this).data('vendor-id');
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: [[@{/vendors/}]] + vendorId + '/detail-as-text',
		        beforeSend: function() {
		        	showLoadingModal();
		        },
		        success: function(data) {
		        	var info = $.parseJSON(data);
		        	
		        	$('#modalVendorName').text(info.name);
					$('#modalVendorAddress').text(info.address);
					$('#modalVendorContactPerson').text(info.contact_name);
					$('#modalVendorEmailAddress').attr('href','mailto:' + info.email_address);
					$('#modalVendorEmailAddress').text(info.email_address);
					$('#modalVendorMobileNumber').attr('href','tel:' + info.mobile_number);
					$('#modalVendorMobileNumber').text(info.mobile_number);
					$('#modalVendorDetailLink').attr('href', [[@{/vendors/}]] + vendorId + '/details');
					$('#vendorModal').modal('show');
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$('#vendorModal').modal('hide');
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
		});
		
		$('.show-product').click(function(e) {
			e.preventDefault();
			var productId = $(this).data('product-id');
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: [[@{/products/}]] + productId + '/detail-as-text',
		        beforeSend: function() {
		        	showLoadingModal();
		        },
		        success: function(data) {
		        	var info = $.parseJSON(data);
		        	
		        	$('#modalProductName').text(info.product_name.name);
					var modelId = info.model_id;
					if(modelId != null && modelId.length > 0 && modelId != 'null') {
						$('#modalProductModelId').text(modelId);
					}
					$('#modalProductType').text(info.product_type.name);
					$('#modalProductCategory').text(info.product_category.name);
					$('#modalProductCostPrice').text(info.cost_price);
					$('#modalProductDetailLink').attr('href', [[@{/products/}]] + productId + '/details');
					$('#productModal').modal('show');
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$('#productModal').modal('hide');
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
			
		});
		
		$('#enquiryDate').change(function(e) {
			e.preventDefault();
			
			$('#enquiryDateRange').val('');
		    
		    var enquiryDate = $(this).val();
		    var loadingDiv = $('#loadingDiv');
		    if(enquiryDate.length > 0) {
		    	setTimeout(function() {
				    $.ajax({
				    	context: this,
				    	async: true,
				    	beforeSend: function(xhr) {
				    		loadingDiv.removeClass('invisible');
				    		$('#vendor').empty();
				    	},
				    	type: "GET",
				        url: [[@{/buyers/product-enquiries/vendors?enquiryDate=}]] + enquiryDate,
				        
				        success: function(data) {
				        	var response = $.parseJSON(data);
				        	var vendorSelectElement = $('#vendor');
				            $.each(response.vendor, function(i, d) {
				            	vendorSelectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
				            });
				            vendorSelectElement.selectpicker('refresh');
				            $("#errorDiv").addClass('hide-me');
				            $('#applyFilterBtn').prop('disabled', false);
				        },
				        error: function (xhr, ajaxOptions, thrownError) {
				        	if(401 == xhr.status) {
				        		logout();
				        	}
				        	$("#errorText").text('Error: ' + xhr.responseText);
				        	$("#errorDiv").removeClass('hide-me');
				        	$('#applyFilterBtn').prop('disabled', true);
				        },
				        complete: function() {
				        	loadingDiv.addClass('invisible');
				        }
				    });
		    	}, 300);
			}
		 });
		
		$('#enquiryDateRange').change(function(e) {
			e.preventDefault();
		    
			$('#enquiryDate').val('');
			
		    var enquiryDateRange = $(this).val();
		    var loadingDiv = $('#loadingDiv');
		    if(enquiryDateRange.length > 0) {
		    	setTimeout(function() {
				    $.ajax({
				    	context: this,
				    	async: true,
				    	beforeSend: function(xhr) {
				    		loadingDiv.removeClass('invisible');
				    		$('#vendor').empty();
				    	},
				    	type: "GET",
				        url: [[@{/buyers/product-enquiries/vendors?enquiryDateRange=}]] + enquiryDateRange,
				        
				        success: function(data) {
				        	var response = $.parseJSON(data);
				        	var vendorSelectElement = $('#vendor');
				            $.each(response.vendor, function(i, d) {
				            	vendorSelectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
				            });
				            vendorSelectElement.selectpicker('refresh');
				            $("#errorDiv").addClass('hide-me');
				            $('#applyFilterBtn').prop('disabled', false);
				        },
				        error: function (xhr, ajaxOptions, thrownError) {
				        	if(401 == xhr.status) {
				        		logout();
				        	}
				        	$("#errorText").text('Error: ' + xhr.responseText);
				        	$("#errorDiv").removeClass('hide-me');
				        	$('#applyFilterBtn').prop('disabled', true);
				        },
				        complete: function() {
				        	loadingDiv.addClass('invisible');
				        }
				    });
		    	}, 300);
			}
		 });
		
		$('button.delete-enquiry').on("confirmed.bs.confirmation", function(e) {
			e.preventDefault();
			
			var enquiryId = $(this).data("enquiry-id");
			var rowId = $(this).data("row-id");
			var form = $('#deleteEnquiryForm');
			$('form#deleteEnquiryForm input[id="enquiryId"]').val(enquiryId);
			var formData = new FormData(form[0]);
		
			$.ajax({
		    	context: this,
		    	async: true,
		    	beforeSend: function(xhr) {
		    		$('#loadingModal').modal('show');
		    	},
		    	type: "POST",
		    	data: formData,
		    	processData: false,
		    	contentType: false,
		    	cache: false,
		    	dataType: 'text',
		        url: form.attr('action'),
		        
		        success: function(data) {
		        	$('#' + rowId).fadeOut("fast", function(){
		        		$(this).remove();	
		        	});
		        	notifySuccess('Product enquiry deleted successfully.');
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	console.log(xhr);
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$('#enquiryOperationFailedModalTitle').text('Delete Enquiry Failed');
		        	$('#enquiryOperationFailedModalReason').text(xhr.responseText);
		        	$('#enquiryOperationFailedModal').modal('show');
		        },
		        complete: function() {
		        	$('#loadingModal').modal('hide');
		        }
		    });
		});
		
		$('button.update-enquiry').click(function(e) {
			e.preventDefault();
			var enquiryId = $(this).data("enquiry-id");
			var rowId = $(this).data('row-id');
			
			var productNameElement = $('#' + rowId + '-productName');
			var requiredQuantityElement = $('#' + rowId + '-requiredQuantity');
			var likelyToBuyInElement = $('#' + rowId + '-likelyToBuyIn');
			var timeUnitElement = $('#' + rowId + '-timeUnit');
			var descriptionElement = $('#' + rowId + '-description');
			
			var formName = 'form#updateEnquiryForm';
			var formInput = formName + ' input';
			var descriptionTextarea = formName + ' textarea[id="description"]';
			var timeUnitSelect = formName + ' select[id="timeUnit"]';
			$('#updateEnquiryModalTitleProductName').text(productNameElement.text());
			$(formInput + '[id="enquiryId"]').val(enquiryId);
			$(formInput + '[id="requiredQuantity"]').val(requiredQuantityElement.text());
			$(formInput + '[id="likelyToBuyIn"]').val(likelyToBuyInElement.text());
			$(timeUnitSelect).val(timeUnitElement.text());
			$(descriptionTextarea).val(descriptionElement.text());
			$(formName).data('row-id', rowId);
			$('#updateProductEnquiryModal').modal('show');
		});
		
		$('#updateEnquiryForm').submit(function(e) {
			e.preventDefault();
			
			var options = {
		    	errorElement: 'div',
		    	errorClass: 'text-danger small',
		   		highlight: function(element) {
		    		$(element).parent("div").addClass('has-error');
		    	},
		    	unhighlight: function(element) {
			   		$(element).parent('div').removeClass('has-error');
		    	}
	    	}
				
			var validator = $(this).validate(options);
			$(this).find('input:text, textarea').each(function() {
				var inputVal = $(this).val();
				$(this).val($.trim(inputVal));
		    });
				
			if(validator.form()) {
				var formData = new FormData($(this)[0]);
				$.ajax({
			    	context: this,
			    	async: true,
			    	beforeSend: function(xhr) {
			    		$('#updateProductEnquiryModal').modal('hide');
			    		$('#loadingModal').modal('show');
			    	},
			    	type: "POST",
			    	data: formData,
			    	processData: false,
			    	contentType: false,
			    	cache: false,
			    	dataType: 'text',
			        url: $(this).attr('action'),
			        
			        success: function(data) {
			        	var rowId = $(this).data('row-id');
			        	
						var productNameElement = $('#' + rowId + '-productName');
						var requiredQuantityElement = $('#' + rowId + '-requiredQuantity');
						var likelyToBuyInElement = $('#' + rowId + '-likelyToBuyIn');
						var timeUnitElement = $('#' + rowId + '-timeUnit');
						var descriptionElement = $('#' + rowId + '-description');
						
						var formName = 'form#updateEnquiryForm';
						var formInput = formName + ' input';
						var descriptionTextarea = formName + ' textarea[id="description"]';
						var timeUnitSelect = formName + ' select[id="timeUnit"]';
						
						requiredQuantityElement.text($(formInput + '[id="requiredQuantity"]').val());
						likelyToBuyInElement.text($(formInput + '[id="likelyToBuyIn"]').val());
						timeUnitElement.text($(timeUnitSelect).val());
						descriptionElement.text($(descriptionTextarea).val());
			        	// ----------------
			        	notifySuccess('Product enquiry updated successfully.');
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	console.log(xhr);
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$('#enquiryOperationFailedModalTitle').text('Update Enquiry Failed');
			        	$('#enquiryOperationFailedModalReason').text(xhr.responseText);
			        	$('#enquiryOperationFailedModal').modal('show');
			        },
			        complete: function() {
			        	$('#loadingModal').modal('hide');
			        }
			    });
			}
		});
		
		//]]>
	</script>
</div>
