<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li th:if="${selectedDealer}"><a th:href="@{/vendors/list}">Vendors</a></li>
			<li th:if="${selectedDealer}" th:inline="text"><a
				th:href="@{/vendors/{vendorId}/details(vendorId=${#strings.arraySplit(selectedDealer, '|')[1]})}">[[${#strings.arraySplit(selectedDealer,
					'|')[0]}]]</a></li>
			<li class="active">Purchase List</li>
		</ol>
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h4 class="panel-title">Purchase List posted to Vendors</h4>
			</div>

			<div class="panel-body">
				<div th:replace="purchase-list-delete-warning-fragment-view"></div>


				<div class="page-header container-fluid">
					<h2>
						Purchase List <span class="form-inline pull-right"> <span
							class="form-group"> <a
								th:if="${purchaseListResponse != null and not #lists.isEmpty(purchaseListResponse.purchaseItems)}"
								class="btn btn-success btn-action"
								th:href="@{/buyers/purchase-items/pdf}"> <i
									class="fa fa-file-pdf-o"></i> View as PDF
							</a>
						</span> <span class="form-group"> <a
								th:href="@{/buyers/purchase-items/aggregated-list-form}"
								class="btn-list btn-primary">Aggregated Purchase List</a>
						</span>
						</span>
					</h2>
				</div>

				<div th:if="${selectedDealer}">
					<p th:inline="text">
						Showing purchase list of vendor: <strong>[[${#strings.arraySplit(selectedDealer,
							'|')[0]}]]</strong>
					</p>
				</div>

				<div th:if="${requestDate}">
					<p th:inline="text">
						Showing purchase list on date: <strong>[[${requestDate}]]</strong>
					</p>
				</div>

				<div
					th:if="${purchaseListResponse == null or #lists.isEmpty(purchaseListResponse.purchaseItems)}">
					No purchase list to display.</div>

				<form
					th:if="${purchaseListResponse != null and not #lists.isEmpty(purchaseListResponse.purchaseItems)}"
					id="searchForm" role="form" method="get" th:action="@{/buyers/purchase-items}">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
							<input id="searchText" class="form-control" type="search"
								autofocus="autofocus" placeholder="Search..." />
						</div>
					</div>
					<div id="searchList" class="list-group">
						<div th:each="item,iter : ${purchaseListResponse.purchaseItems}">
							<div
								class="list-group-item top-buffer-5 hvr-glow wow slideInLeft">
								<h3 class="list-group-item-heading" th:inline="text">
									[[${item.productName.name}]] <small> <span
										th:if="${item.entityStatus == 'APPROVED'}"
										title="Approved by Administrator" class="text-success">
											<i class="fa fa-check-square"></i>
									</span> <span th:if="${item.entityStatus == 'DIAPPROVED'}"
										title="Diapproved by Administrator" class="text-warning">
											<i class="fa fa-exclamation-triangle"></i>
									</span>
									</small>
								</h3>
								<h4 class="list-group-item-heading top-buffer" th:inline="text">
									Posted to: <a href="javascript:void(0);"
										class="show-vendor no-underline" th:id="${item.vendor.id}">[[${item.vendor.name}]]</a>
								</h4>

								<table class="table table-condensed pull-right">
									<thead>
										<tr>
											<th>Requested On</th>
											<th>Required Quantity</th>
											<th>Delivered Quantity</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:inline="text">[[${item.requestDate}]]</td>
											<td th:inline="text">[[${item.quantity.required}]]
												[[${item.quantity.unit}]]</td>
											<td
												th:text="${item.quantity.delivered} ? ${item.quantity.delivered + ' ' + item.quantity.unit} : 'N/A'"></td>
										</tr>
									</tbody>
								</table>

								<p th:if="not ${#strings.isEmpty(item.tags)}">
									<i class="fa fa-tags" aria-hidden="true" title="Tags"></i> <span
										class="label label-default right-buffer-5"
										th:each="tag : ${#strings.arraySplit(item.tags,',')}"
										th:inline="text"> [[${tag}]] </span>
								</p>

								<div
									th:if="${item.statusUpdates != null and not #lists.isEmpty(item.statusUpdates)}">
									<button class="btn-expand btn-success btn-sm" type="button"
										data-toggle="collapse"
										th:attr="data-target='#statusList' + ${iter.index}">Status
										Updates</button>
									<div th:attr="id='statusList' + ${iter.index}"
										class="list-group collapse">
										<a class="list-group-item list-group-item-action"
											th:each="status : ${item.statusUpdates}" th:inline="text">
											<span th:if="${status.state == 'SUBMITTED'}"><span
												class="label label-success">[[${status.state}]]</span>
												[[${#dates.format(status.timestamp, "'on' dd-MMM-yyyy 'at'
												HH:mm:ss")}]] by [[${status.updatedBy}]]. <span
												th:if="${status.comments}">Comment:
													[[${status.comments}]]</span></span> <span
											th:if="${status.state != 'SUBMITTED' and status.state != 'CANNOT_BE_DELIVERED'}"><span
												class="label label-primary">[[${status.state}]]</span>
												[[${#dates.format(status.timestamp, "'on' dd-MMM-yyyy 'at'
												HH:mm:ss")}]] by [[${status.updatedBy}]]. <span
												th:if="${status.comments}">Comment:
													[[${status.comments}]]</span></span> <span
											th:if="${status.state == 'CANNOT_BE_DELIVERED'}"><span
												class="label label-danger">[[${status.state}]]</span>
												[[${#dates.format(status.timestamp, "'on' dd-MMM-yyyy 'at'
												HH:mm:ss")}]] by [[${status.updatedBy}]]. <span
												th:if="${status.comments}">Comment:
													[[${status.comments}]]</span></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<input th:if="${selectedDealer != null}" type="hidden"
						name="vendor" th:value="${selectedDealer}" /> <input
						th:if="${param.requestDate != null}" type="hidden"
						name="requestDate" th:value="${param.requestDate[0]}" />

					<div th:if="${purchaseListResponse.nextOffset != null}">
						<div class="form-group">
							<input type="hidden" name="nextOffset"
								th:value="${purchaseListResponse.nextOffset}" />
						</div>
						<div class="form-group pull-right">
							<button class="btn-next" type="submit">Next</button>
						</div>
					</div>
				</form>
				<div th:if="${param.nextOffset}" class="form-group pull-right">
					<button class="btn-previous go-back" type="button">Previous</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="vendorDetailsDialog" tabindex="-1"
		role="dialog" aria-labelledby="vendorName" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">
						<i class="fa fa-handshake-o fa-fw fa-lg text-success"
							aria-hidden="true"></i> Vendor: <span id="vendorName"></span>
					</h4>
				</div>

				<!-- Modal Body -->
				<div class="modal-body">
					<div class="text-info col-md-offset-3">
						<p>
							<i title="Address" class="fa fa-map-marker fa-fw"
								aria-hidden="true"></i> <span id="vendorAddress"></span>
						</p>
						<p>
							<i title="Contact Person" class="fa fa-user fa-fw"
								aria-hidden="true"></i> <span id="vendorContactPerson"></span>
						</p>
						<p>
							<i title="Email Address" class="fa fa-envelope fa-fw"
								aria-hidden="true"></i> <a id="vendorEmailAddress"></a>
						</p>
						<p>
							<i title="Mobile Number" class="fa fa-phone fa-fw"
								aria-hidden="true"></i> <a id="vendorContactNumber"></a>
						</p>
					</div>
					<div class="modal-footer">
						<a class="btn-more-info" id="vendorDetailLink">More Info</a>
						<button class="btn-close" type="button" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="processing-request-modal-view"></div>
	<script
		th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script th:inline="javascript">
	//<![CDATA[
	$('#searchList').btsListFilter('#searchText', {
		delay : 100,
		initial : false,
		resetOnBlur: false
	});
	
	$('.show-vendor').click(function(e) {
		e.preventDefault();
		var vendorId = $(this).attr('id');
		
		$.ajax({
	    	context: this,
	    	async: true,
	    	type: "GET",
	        url: [[@{/vendors/}]] + vendorId + '/detail-as-text',
	        beforeSend: function() {
	        	showLoadingModal();
	        },	        
	        success: function(data) {
	        	var info = $.parseJSON(data);
	        	
	        	$('#vendorName').text(info.name);
	        	$('#vendorDescription').text(info.description);
	        	$('#vendorAddress').text(info.address);
	        	$('#vendorContactPerson').text(info.contact_name);
	        	$('#vendorEmailAddress').attr('href','mailto:' + info.email_address);
	        	$('#vendorEmailAddress').text(info.email_address);
	        	$('#vendorContactNumber').attr('href','tel:' + info.mobile_number);
	        	$('#vendorContactNumber').text(info.mobile_number);
	        	$('#vendorDetailLink').attr('href', [[@{/vendors/}]] + info.id + '/details');
	        	$('#vendorDetailsDialog').modal('show');
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	$('#vendorDetailsDialog').modal('hide');
	        	$("#errorText").text('Error: ' + xhr.responseText);
	        },
	        complete: function() {
	        	hideLoadingModal();
	        }
	    });
		
	});
	//]]>
	</script>
</div>
