<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a th:href="@{/buyers/purchase-items}">Purchase List</a></li>
			<li class="active">Aggregated Purchase List</li>
		</ol>
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h4 class="panel-title">Purchase List Aggregated By Requested
					Date</h4>
			</div>
			<div class="panel-body">
				<div th:replace="purchase-list-delete-warning-fragment-view"></div>
				<div class="page-header container-fluid">
					<h2>
						Aggregated Purchase List <small><a
							href="javascript:void(0);" data-toggle="collapse"
							data-target="#helpDiv" title="Click to display help"><i
								class="fa fa-question-circle"></i></a></small>
					</h2>
				</div>



				<div id="helpDiv" class="alert alert-info collapse">
					<h4>What is an aggregated purchase list?</h4>
					<p>
						Here you get your list of requested purchase items grouped by
						total quantity for a request date. BNBNeeds will also show you
						which buyers have requested for the items respectively. Select a
						request date and click <span class="label label-primary">Apply
							Filter</span>. You can also select a date range. If you are interested
						in aggregated list filtered by particular product and/or vendor,
						you can choose the same from the respective drop down boxes.
					</p>
					<div>
						<strong>Note:</strong>
						<ul>
							<li>Request date or date range must be selected to get the
								aggregated purchase list.</li>
							<li>The drop down boxes will be filled only when a request
								date is selected.</li>
							<li>The drop down menu lists shown are based on selected
								request date. If there are no purchase items for a request date,
								then drop down menus will be empty.</li>
						</ul>
					</div>
				</div>

				<div id="loadingDiv" class="top-buffer-5 invisible">
					<i class="fa fa-refresh fa-spin"></i> Loading, please wait...
				</div>
				<form id="searchForm" class="form-inline top-buffer-5" role="form"
					th:object="${aggregatedPurchaseListFormBean}" method="get"
					th:action="@{/buyers/purchase-items/aggregated-list}">

					<div th:if="${errorMessage}"
						class="alert alert-dismissible alert-danger top-buffer">
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>

					<div id="errorDiv"
						class="alert alert-dismissible alert-danger top-buffer hide-me">
						<div id="errorText"></div>
					</div>

					<div class="row">
						<div class="col-md-5">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('requestDate')}? 'has-error'">
								<label class="control-label" for="requestDate">Request
									Date</label>
								<div class="input-group date col-lg-12">
									<input th:field="*{requestDate}"
										class="datepicker form-control" type="text"
										readonly="readonly" data-date-format="dd-M-yyyy"
										placeholder="Select request date" /> <label
										class="input-group-addon btn" for="requestDate"> <i
										class="fa fa-calendar" aria-hidden="true"></i>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('requestDateRange')}? 'has-error'">
								<label class="control-label" for="requestDateRange">Or
									Date Range</label>
								<div class="input-group date col-lg-12">
									<input th:field="*{requestDateRange}" type="text"
										class="form-control date-range-selector" readonly="readonly"
										placeholder="Select date range" /> <label
										class="input-group-addon btn" for="requestDateRange">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</label>
								</div>
							</div>

						</div>
					</div>
					<div class="row top-buffer-10">
						<div class="col-md-5">
							<div class="form-group label-floating">
								<label class="control-label" for="productNameId">Product
									Name</label>
								<div class="clearfix"></div>
								<select th:field="*{productNameId}" class="selectpicker"
									title="Select a Product Name"></select>
								<p th:if="${#fields.hasErrors('*{productNameId}')}"
									th:errors="*{productNameId}" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group label-floating">
								<label class="control-label" for="vendorId">Vendor</label>
								<div class="clearfix"></div>
								<select th:field="*{vendorId}" class="selectpicker "
									title="Select a Vendor"></select>
								<p th:if="${#fields.hasErrors('*{vendorId}')}"
									th:errors="*{vendorId}" />
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group label-floating">
								<label class="form-check-label"> <input
									class="form-check-input" th:field="*{pdf}" type="checkbox"
									value="true" /> Generate PDF
								</label>
							</div>
						</div>
					</div>
					<div class="form-group top-buffer-10">
						<button id="applyFilterBtn" class="btn-filter btn-action"
							type="submit" disabled="disabled">Apply Filter</button>
					</div>
				</form>

				<div
					th:if="${aggregatedResponse == null or #lists.isEmpty(aggregatedResponse.itemList)}"
					class="top-buffer">No purchase list to display.</div>
				<div
					th:if="${aggregatedResponse != null and not #lists.isEmpty(aggregatedResponse.itemList)}">
					<form id="searchForm" role="form"
						class="form-horizontal col-lg-12 top-buffer">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
								<input id="searchText" class="form-control" type="search"
									autofocus="autofocus" placeholder="Search..." />
							</div>
						</div>
					</form>
					<strong>Requested Date: </strong><span th:inline="text">[[${aggregatedResponse.requestDate}]]</span>
					<div id="searchList" class="list-group top-buffer">
						<div th:each="item,iter : ${aggregatedResponse.itemList}">

							<div
								class="list-group-item top-buffer-5 hvr-glow wow slideInLeft">
								<h3 class="list-group-item-heading" th:inline="text">[[${item.productName.name}]]</h3>
								<table class="table table-condensed pull-right">
									<thead>
										<tr>
											<th>Total Required Quantity</th>
											<th>Total Delivered Quantity</th>
											<th>Vendors</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:inline="text">[[${item.quantity.required}]]
												[[${item.quantity.unit}]]</td>
											<td
												th:text="${item.quantity.delivered} ? ${item.quantity.delivered + ' ' + item.quantity.unit} : 'N/A'"></td>
											<td>
												<div
													th:if="${item.vendorList != null and not #lists.isEmpty(item.vendorList)}">
													<table th:attr="id='vendorList' + ${iter.index}"
														class="table table-condensed small">
														<thead>
															<tr>
																<th
																	th:if="${param.requestDateRange != null and not #strings.isEmpty(param.requestDateRange[0])}">Request
																	Date</th>
																<th>Name</th>
																<th>Required Quantity</th>
																<th>Delivered Quantity</th>
																<!-- <th>Details</th> -->
															</tr>
														</thead>
														<tbody>
															<tr th:each="vendor : ${item.vendorList}"
																th:inline="text">
																<td
																	th:if="${param.requestDateRange != null and not #strings.isEmpty(param.requestDateRange[0])}"
																	th:inline="text">[[${vendor.requestDate}]]</td>
																<td th:inline="text"><a class="show-vendor"
																	title="Click to view contact details" href="#"
																	data-th-attr="data-vendor-id=${vendor.dealer.id}">[[${vendor.dealer.name}]]</a></td>
																<td th:inline="text">
																	<button th:if="not ${#strings.isEmpty(vendor.tags)}"
																		type="button" class="btn btn-default btn-xs btn-pop"
																		data-container="body" data-toggle="popover"
																		data-placement="top" data-trigger="focus"
																		th:attr="data-content=${vendor.tags}">
																		<i class="fa fa-tags" aria-hidden="true"></i>
																	</button> [[${vendor.quantity.required}]]
																	[[${vendor.quantity.unit}]]
																</td>
																<td th:inline="text">[[${vendor.quantity.delivered}]]
																	[[${vendor.quantity.unit}]]</td>
																<!-- <td th:inline="text"><a
																	th:href="@{/buyers/purchase-items/{itemId}/update-form(itemId=${vendor.purchaseItem.id})}">View</a></td> -->
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="clearfix top-buffer"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="vendorDetailsDialog" tabindex="-1"
		role="dialog" aria-labelledby="vendorName" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">
						<i class="fa fa-handshake-o fa-fw fa-lg text-success"
							aria-hidden="true"></i> Vendor: <span id="vendorName"></span>
					</h4>
				</div>

				<!-- Modal Body -->
				<div class="modal-body">
					<div class="text-info col-md-offset-3">
						<p>
							<i title="Address" class="fa fa-map-marker fa-fw"
								aria-hidden="true"></i> <span id="vendorAddress"></span>
						</p>
						<p>
							<i title="Contact Person" class="fa fa-user fa-fw"
								aria-hidden="true"></i> <span id="vendorContactPerson"></span>
						</p>
						<p>
							<i title="Email Address" class="fa fa-envelope fa-fw"
								aria-hidden="true"></i> <a id="vendorEmailAddress"></a>
						</p>
						<p>
							<i title="Mobile Number" class="fa fa-phone fa-fw"
								aria-hidden="true"></i> <a id="vendorContactNumber"></a>
						</p>
					</div>
					<div class="modal-footer">
						<a class="btn-more-info" id="vendorDetailLink">More Info</a>
						<button class="btn-close" type="button" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="processing-request-modal-view"></div>

	<script
		th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>

	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	    
	    $(document).ready(function() {
	    	var requestDateRange = $('#requestDateRange');
	    	var requestDate = $('#requestDate');
	    	
	    	if(requestDate.val().trim().length > 0) {
	    		requestDate.trigger('change');
	    	} else if(requestDateRange.val().trim().length > 0) {
	    		requestDateRange.trigger('change');
	    	}
	    });
	    
		$('#searchList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
		
		$('.show-vendor').click(function(e) {
			e.preventDefault();
			var vendorId = $(this).data('vendor-id');
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: [[@{/vendors/}]] + vendorId + '/detail-as-text',
		        beforeSend: function() {
		        	showLoadingModal();
		        },
		        success: function(data) {
		        	var info = $.parseJSON(data);
		        	
		        	$('#vendorName').text(info.name);
		        	$('#vendorDescription').text(info.description);
		        	$('#vendorAddress').text(info.address);
		        	$('#vendorContactPerson').text(info.contact_name);
		        	$('#vendorEmailAddress').attr('href','mailto:' + info.email_address);
		        	$('#vendorEmailAddress').text(info.email_address);
		        	$('#vendorContactNumber').attr('href','tel:' + info.mobile_number);
		        	$('#vendorContactNumber').text(info.mobile_number);
		        	$('#vendorDetailLink').attr('href', [[@{/vendors/}]] + info.id + '/details');
		        	$('#vendorDetailsDialog').modal('show');
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$('#vendorDetailsDialog').modal('hide');
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
			
		});
		
		$('#requestDate').change(function(e) {
			e.preventDefault();
			
			$('#requestDateRange').val('');
			
		    var requestDate = $(this).val();
		    var loadingDiv = $('#loadingDiv');
		    if(requestDate.length > 0) {
		    	setTimeout(function() {
				    $.ajax({
				    	context: this,
				    	async: true,
				    	beforeSend: function(xhr) {
				    		$('#productNameId').empty();
				    		loadingDiv.removeClass('invisible');
				    	},
				    	type: "GET",
				        url: [[@{/buyers/purchase-items/product-names?requestDate=}]] + requestDate,
				        
				        success: function(data) {
				        	var response = $.parseJSON(data);
				        	var productNameSelectElement = $('#productNameId');
				            $.each(response.product_name, function(i, d) {
				            	productNameSelectElement.append('<option value="' + d.id + '">' + d.name + '</option>');
				            });
				            productNameSelectElement.selectpicker('refresh');
				            $("#errorDiv").addClass('hide-me');
				            $('#applyFilterBtn').prop('disabled', false);
				            loadAssociatedVendorsByRequestDate(requestDate);
				        },
				        error: function (xhr, ajaxOptions, thrownError) {
				        	if(401 == xhr.status) {
				        		logout();
				        	}
				        	$("#errorText").text('Error: ' + xhr.responseText);
				        	$("#errorDiv").removeClass('hide-me');
				        	$('#applyFilterBtn').prop('disabled', true);
				        }
				    });
		    	}, 300);
			}
		 });
		
		// Ajax call for date range
		
		 $('#requestDateRange').change(function(e) {
			e.preventDefault();
			
			$('#requestDate').val('');
			var requestDateRangeElement = $('#requestDateRange');
			
		    var requestDateRange = requestDateRangeElement.val();
		    
		    var loadingDiv = $('#loadingDiv');
		    if(requestDateRange.length > 0) {
		    	
		    	setTimeout(function() {
				    $.ajax({
				    	context: this,
				    	async: true,
				    	beforeSend: function(xhr) {
				    		$('#productNameId').empty();
				    		loadingDiv.removeClass('invisible');
				    	},
				    	type: "GET",
				        url: [[@{/buyers/purchase-items/product-names?requestDateRange=}]] + requestDateRange,
				        
				        success: function(data) {
				        	var response = $.parseJSON(data);
				        	var productNameSelectElement = $('#productNameId');
				            $.each(response.product_name, function(i, d) {
				            	productNameSelectElement.append('<option value="' + d.id + '">' + d.name + '</option>');
				            });
				            productNameSelectElement.selectpicker('refresh');
				            $("#errorDiv").addClass('hide-me');
				            $('#applyFilterBtn').prop('disabled', false);
				            loadAssociatedVendorsByRequestDateRange(requestDateRange);
				        },
				        error: function (xhr, ajaxOptions, thrownError) {
				        	if(401 == xhr.status) {
				        		logout();
				        	}
				        	$("#errorText").text('Error: ' + xhr.responseText);
				        	$("#errorDiv").removeClass('hide-me');
				        	$('#applyFilterBtn').prop('disabled', true);
				        }
				    });
		    	}, 300);
			}
		 });
		
		
		 function loadAssociatedVendorsByRequestDate(requestDate) {
			 var loadingDiv = $('#loadingDiv');
			    $.ajax({
			    	context: this,
			    	async: true,
			    	beforeSend: function(xhr) {
			    		$('#vendorId').empty();
			    	},
			    	type: "GET",
			        url: [[@{/buyers/purchase-items/vendors?requestDate=}]] + requestDate,
			        
			        success: function(data) {
			        	var response = $.parseJSON(data);
			        	var vendorSelectElement = $('#vendorId');
			            $.each(response.vendor, function(i, d) {
			            	vendorSelectElement.append('<option value="' + d.id + '">' + d.name + '</option>');
			            });
			            vendorSelectElement.selectpicker('refresh');
			            $("#errorDiv").addClass('hide-me');
			            $('#applyFilterBtn').prop('disabled', false);
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$("#errorText").text('Error: ' + xhr.responseText);
			        	$("#errorDiv").removeClass('hide-me');
			        	$('#applyFilterBtn').prop('disabled', true);
			        },
			        complete: function() {
			        	loadingDiv.addClass('invisible');
			        }
			    });
		 }
		 
		 function loadAssociatedVendorsByRequestDateRange(requestDateRange) {
			 var loadingDiv = $('#loadingDiv');
			    $.ajax({
			    	context: this,
			    	async: true,
			    	beforeSend: function(xhr) {
			    		$('#vendorId').empty();
			    	},
			    	type: "GET",
			        url: [[@{/buyers/purchase-items/vendors?requestDateRange=}]] + requestDateRange,
			        
			        success: function(data) {
			        	var response = $.parseJSON(data);
			        	var vendorSelectElement = $('#vendorId');
			            $.each(response.vendor, function(i, d) {
			            	vendorSelectElement.append('<option value="' + d.id + '">' + d.name + '</option>');
			            });
			            vendorSelectElement.selectpicker('refresh');
			            $("#errorDiv").addClass('hide-me');
			            $('#applyFilterBtn').prop('disabled', false);
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$("#errorText").text('Error: ' + xhr.responseText);
			        	$("#errorDiv").removeClass('hide-me');
			        	$('#applyFilterBtn').prop('disabled', true);
			        },
			        complete: function() {
			        	loadingDiv.addClass('invisible');
			        }
			    });
	    	}
		 
		 
		//]]>
	</script>
</div>
