
<div class="container" th:fragment="content">
	<div th:if="${message}" class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div th:inline="text">[[${message}]]</div>
	</div>
	<div class="col-lg-12">
	
		<ol class="breadcrumb">
			<li  class="active">Buyers</li>
		</ol>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Registered Buyers</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Buyers</h2>
				</div>
			<div th:if="${businessTypes != null and not #lists.isEmpty(businessTypes)}">
				<p><strong>Filter by Business</strong></p>
				<form class="form-inline" method="get" th:action="@{/buyers/list}">
					<div class="form-group label-floating">
						<select id="businessType" name="businessType"
							class="selectpicker"
							title="Select a Business">
								<option th:each="item : ${businessTypes}"
									th:value="${item.name + '|' + item.id}" th:text="${item.name}"></option>
						</select>
					</div>
					<div class="form-group">
						<button id="applyFilterBtn" class="btn-filter btn-action btn-md" type="submit" disabled="disabled">Apply Filter</button>
					</div>
				</form>
			</div>
			<div th:if="${selectedBusinessType}">
				<p><strong th:inline="text">Showing results for: [[${selectedBusinessType}]]</strong></p>
			</div>
			<div th:if="${businessTypes == null or #lists.isEmpty(businessTypes)}">
				<div class="form-inline">
					<div class="form-group">
						<a class="btn-reset btn-action btn-md" th:href="@{/buyers/list}">Reset</a>
					</div>
				</div>
			</div>
			<hr/>

			<form th:if="${buyerListResponse != null and not #lists.isEmpty(buyerListResponse.buyerList)}"
				id="searchForm" role="form" method="get" th:action="@{/buyers/list}">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
						<input id="searchText" class="form-control" type="search" autofocus="autofocus"
							placeholder="Search..." />
					</div>
				</div>
				<div id="searchList" class="list-group">
					<div th:each="buyer : ${buyerListResponse.buyerList}">
						<div class="list-group-item top-buffer-5 hvr-glow wow slideInLeft">
							<h4 class="list-group-item-heading" th:inline="text">
								<a title="Click to view more details about this dealer" th:href="@{/buyers/{buyerId}/details(buyerId=${buyer.id})}"
									class="no-underline">[[${buyer.getName()}]]</a>
								<small>
										<span th:if="${buyer.entityStatus == 'APPROVED'}" title="Approved by Administrator" class="text-success">
											<i class="fa fa-check-square"></i>
										</span>
										<span th:if="${buyer.entityStatus == 'DIAPPROVED'}" title="Diapproved by Administrator" class="text-warning"> 
											<i class="fa fa-exclamation-triangle"></i>
										</span>
									</small>
							</h4>
							
							<h5 class="list-group-item-text"><span th:inline="text">[[${buyer.businessType.name}]]</span></h5>
							<h5 class="list-group-item-text" th:inline="text"><a class="map no-underline">[[${buyer.address}]]</a></h5>
							<h5 class="list-group-item-text"><strong><i class="fa fa-user" title="Contact Person"></i> </strong> <span th:inline="text">[[${buyer.contactName}]]</span> <i class="fa fa-envelope" title="Email address" aria-hidden="true"></i> <a th:href="${'mailto:' + buyer.emailAddress}" th:inline="text">[[${buyer.emailAddress}]]</a> <i title="Contact number" class="fa fa-phone-square" aria-hidden="true"></i> <a th:href="${'tel:' + buyer.mobileNumber}" th:inline="text">[[${buyer.mobileNumber}]]</a></h5>
							<div class="form-inline top-buffer">
								<div class="form-group">
									<a class="btn-list btn-sm btn-primary btn-action" th:href="@{/vendors/purchase-items(buyer=${buyer.name} + '|' + ${buyer.id})}">See Purchase List</a>
								</div>
								<div class="form-group">
									<a class="btn btn-sm btn-info btn-action" th:href="@{/vendors/product-enquiries(buyer=${buyer.name} + '|' + ${buyer.id})}"><i class="fa fa-question" aria-hidden="true"></i> See Enquiries</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${selectedBusinessType != null}" class="form-group">
					<input type="hidden" name="businessType" th:value="${selectedBusinessType}"/>
				</div>
				<div th:if="${buyerListResponse.nextOffset != null}" >
					<div class="form-group">
						<input type="hidden" name="nextOffset" th:value="${buyerListResponse.nextOffset}"/>
					</div>
					<div class="form-group pull-right">
						<button class="btn-next" type="submit">Next</button>
					</div>
				</div>
			</form>
			<div th:if="${param.nextOffset}" class="form-group pull-right">
				<button class="btn-previous go-back" type="button">Previous</button>
			</div>
			</div>
		</div>
	</div>
	<!-- <div th:replace="google-map-modal-view"></div> -->
	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script>
	$('#searchList').btsListFilter('#searchText', {
		delay : 100,
		initial : false,
		resetOnBlur: false
	});
	
	$('#businessType').change(function() {
		var $btn = $('#applyFilterBtn');
		if($('#businessType').val() != "") {
			$btn.removeAttr('disabled');
	    } else {
	    	$btn.attr('disabled', 'disabled');
	    }
	});
	
</script>
</div>
