<div class="container" th:fragment="content">

	<ol class="breadcrumb">
		<li><a th:href="@{/buyers/tenders/list}">Tenders</a></li>
		<li class="active" th:inline="text" th:if="${tenderInfo}">[[${tenderInfo.name}]]</li>
	</ol>

	<div th:if="${errorMessage}" id="errorMessage"
		class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:text="${errorMessage}"></div>
	</div>
	
	<div th:if="${param.createSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>Tender specification created successfully. Now you need
					to add the required products for this tender.</div>
	</div>
	
	<div th:if="${param.updateSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>Tender information updated successfully.</div>
	</div>
	
	<div th:if="${param.addBidProductsSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>Required products are added to the tender successfully. If you have finished adding all the required products, you can <span class="label label-success">OPEN</span> the tender for bidding.</div>
	</div>
	
	<div th:if="${param.updateBidProductSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>Product requirement updated successfully.</div>
	</div>
	
	<div th:if="${param.deleteBidProductSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>Product requirement deleted successfully.</div>
	</div>
	
	<div th:if="${param.deleteBidProductFailed}"
		class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:inline="text">[[${param.deleteBidProductFailed[0]}]]</div>
	</div>
	
	<div th:if="${param.cannotUpdateTenderReason}"
		class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:inline="text">[[${param.cannotUpdateTenderReason[0]}]]</div>
	</div>
	
	<div th:if="${param.updateStatusSuccess}"
		class="alert alert-dismissible alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:inline="text">Tender status updated successfully.</div>
	</div>
	
	<div th:if="${param.updateStatusFailed}"
		class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:inline="text">Failed to update tender status: [[${param.updateStatusFailed[0]}]]</div>
	</div>
	
	<div th:if="${tenderInfo != null and not #lists.isEmpty(tenderInfo.remarks) and tenderInfo.status == 'CANCELLED'}"
		 class="alert alert-dismissible  alert-info">
		<div th:inline="text"><i class="fa fa-exclamation-triangle"></i> This tender is cancelled. [[${tenderInfo.remarks[0]}]]</div>
	</div>
	
	<div th:if="${tenderInfo}" class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title">Tender Information</h4>
		</div>
		
		<div class="panel-body">

			<ul class="nav nav-tabs" role="tablist">
				<li id="specTab" class="nav-item"><a
					class="nav-link active hvr-overline-from-center" data-toggle="tab"
					href="#specifications" role="tab"><i
						class="glyphicon glyphicon-copy"></i> Specifications</a></li>
				<li id="productsTab" class="nav-item"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#products" role="tab"><i class="fa fa-th-list"
						aria-hidden="true"></i> Product Requirements</a></li>
				<li id="bidsTab" class="nav-item"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#bids" role="tab"><i class="fa fa-gavel"
						aria-hidden="true"></i> Bids</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade" id="specifications" role="tabpanel">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="wrapper col-lg-12">
								<div class="row">
									<h2 class="text-center" th:inline="text">
										[[${tenderInfo.name}]]</h2>
								</div>

								<div class="clearfix"></div>
								<div th:if="${tenderInfo.description}">
									<h4>Description</h4>
									<div class="product-descriptions">
										<p class="text-justify" th:utext="${tenderInfo.description}"></p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="wrapper">
								<div class="row">
									<div class="col-lg-12">
										<h4>Details</h4>
										<table class="table">
											<tbody>
												<tr>
													<td><strong>Status:</strong></td>
													<td>
														<div class="row">
															<div class="col-md-5">
																<span th:inline="text" th:switch="${tenderInfo.status}">
																	<span th:case="'CREATED'" class="label label-info tool-tip" title="The tender has been created successfully. It is not open for bidding. You can make changes to the details add or update products."><i
																		class="fa fa-check"></i> [[${tenderInfo.status}]]</span> 
																	<span th:case="'OPEN'" class="label label-success tool-tip" title="The tender is open for bidding."><i
																		class="fa fa-info-circle faa-flash animated"></i>
																		[[${tenderInfo.status}]]</span>
																	<span th:case="'CLOSED'" class="label label-danger tool-tip" title="The tender has been closed for bidding as its close time occured."><i class="fa fa-times"></i>
																		[[${tenderInfo.status}]]</span> 
																	<span th:case="'CANCELLED'" class="label label-danger tool-tip" title="The tender has been cancelled by the buyer."><i class="fa fa-times"></i>
																		[[${tenderInfo.status}]]</span>
																	<span th:case="'EDIT_IN_PROGRESS'" class="label label-primary tool-tip" title="The tender is being updated. You can make changes to the details add or update products."><i class="fa fa-pencil"></i>
																		[[${tenderInfo.status}]]</span>
																</span>
															</div>
															<div class="col-md-7" th:if="${tenderInfo.status != 'CANCELLED' and tenderInfo.status != 'CLOSED'}">
																<form th:if="${tenderInfo.status != 'OPEN'}"
																	class="form-inline"
																 	th:action="@{/buyers/tenders/{tenderId}/update-status(tenderId=${tenderInfo.id})}" method="post">
																		<div th:if="${(tenderBidProductList == null or tenderBidProductList.isEmpty())}" class="form-group">
																			<div class="btn-group btn-group-xs" role="group" >
																				<button type="button" class="btn btn-success" disabled="disabled">Open Tender</button>
																				<a class="btn btn-success tool-tip" title="Add product requirements to open the tender for bidding">
																					<i class="fa fa-info-circle"></i></a>
																			</div>
																		</div>
																		<div th:if="${(tenderBidProductList != null and not tenderBidProductList.isEmpty())}" class="form-group">
																			<input type="hidden" name="status" id="status" value="OPEN" required="required"/>
																			<button type="submit" class="btn btn-success btn-xs confirmation" 
																				title="Open the tender for bidding?">Open Tender</button>
																		</div>
																</form>
																<button th:if="${tenderInfo.status != 'CREATED'}" type="button" class="btn btn-danger btn-xs" data-toggle="modal" 
																	data-target="#cancelTenderModal"><i class="fa fa-times"></i> Cancel Tender</button>
															</div>
														</div>
														<!-- <button th:if="${tenderInfo.status != 'CANCELLED' and tenderInfo.status != 'CLOSED'}" 
															type="button" class="btn btn-update btn-xs" data-toggle="modal" 
															data-target="#updateTenderStatusModal">Update Status</button> -->
													</td>
												</tr>

												<tr th:if="${tenderInfo.status == 'OPEN' or tenderInfo.status == 'CLOSED'}">
													<td><strong>Open Timestamp:</strong></td>
													<td th:inline="text">[[${tenderInfo.openTimestamp}]]</td>
												</tr>
												<tr>
													<td>
														<strong th:inline="text" th:switch="${tenderInfo.status}">
															<span th:case="'CREATED'">Closes on:</span>
															<span th:case="'CANCELLED'">Would have closed on:</span>
															<span th:case="'OPEN'">Closes in:</span>
															<span th:case="'CLOSED'">Closed on:</span>
														</strong>
													</td>
													<td th:inline="text">
														<span th:classappend="${tenderInfo.status == 'OPEN'} ? 'countdown-clock text-primary'" th:attr="data-timestamp=${tenderInfo.closeTimestamp}">
															[[${tenderInfo.closeTimestamp}]]
														</span>
													</td>
												</tr>
												<tr>
													<td><strong>Expected Price:</strong></td>
													<td th:inline="text">&#8377;[[${tenderInfo.expectedPrice}]]</td>
												</tr>
												<tr>
													<td><strong>Payment Mode:</strong></td>
													<td th:inline="text">[[${tenderInfo.paymentMode}]]</td>
												</tr>
												<tr>
													<td><strong>Bid Value Type:</strong></td>
													<td th:inline="text">[[${tenderInfo.bidValueType}]]</td>
												</tr>
												<tr>
													<td><strong>Credit Terms:</strong></td>
													<td th:inline="text">[[${tenderInfo.creditTerms}]]</td>
												</tr>
												<tr>
													<td><strong>Delivery Frequency:</strong></td>
													<td th:inline="text">[[${tenderInfo.deliveryFrequency}]]</td>
												</tr>
												<tr>
													<td><strong>Delivery Location:</strong></td>
													<td th:inline="text">[[${tenderInfo.deliveryLocation}]]</td>
												</tr>
												<tr>
													<td><strong>Delivery Terms:</strong></td>
													<td th:utext="${tenderInfo.deliveryTerms} ? ${tenderInfo.deliveryTerms} : 'N/A'"></td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div th:if="${tenderInfo.status != 'CANCELLED' and tenderInfo.status != 'CLOSED'}">
						<hr/>
						<div class="form-inline">
							<div class="form-group">
								<a class="btn-update btn-action" title="Update Tender Information"
									th:href="@{/buyers/tenders/{tenderId}/update-form(tenderId=${tenderInfo.id})}">Update</a>
							</div>
							<!-- <div th:if="${tenderInfo.status != 'OPEN'}" class="form-group">
								<a class="btn-delete" title="Delete Tender" data-toggle="modal"
									data-target="#tenderDeleteDialog">Delete</a>
							</div> -->
						</div>
					</div>
				</div>
			
				<div class="tab-pane fade" id="products" role="tabpanel">
					<span th:if="${tenderBidProductList != null}"
						id="bidProductListNextOffset"
						th:attr="data-next-offset=${tenderBidProductList.nextOffset}"></span>
					<div class="page-header">
						<h3 th:inline="text">
							Product Requirements <a th:if="${tenderInfo.status != 'CANCELLED' and tenderInfo.status != 'CLOSED'}" 
								class="btn-add btn-action pull-right"
								th:href="@{/buyers/tenders/{tenderId}/add-product-form(tenderId=${tenderInfo.id})}">Add	Product</a>
						</h3>
					</div>
					
					<div th:if="${tenderBidProductList == null or tenderBidProductList.isEmpty()}" class="col-md-12">
						No products added for this tender.
					</div>

					<div class="col-md-12"
						th:if="${tenderBidProductList != null and not tenderBidProductList.isEmpty()}">

						<div class="input-group top-buffer-10">
							<span class="input-group-addon"><i
								class="fa fa-search fa-fw" aria-hidden="true"></i></span> <input
								id="bidProductSearchText" class="form-control" type="search" placeholder="Search..." />
						</div>
						<div class="list-group" id="productList">
							<div th:each="item,iter : ${tenderBidProductList.getList()}">
								<div id="productItem"
									class="bid-product-list-item list-group-item top-buffer-5 hvr-glow wow slideInLeft">
									<h3 class="list-group-item-heading" th:inline="text">
										<span id="productName">[[${item.productName.name}]]</span>
									</h3>
									
									<hr/>
									<div class="clearfix"></div>
									
									<dl class="dl-horizontal">
									
									  <dt>Required Quantity:</dt>
									  <dd id="requiredQuantity" th:inline="text">[[${item.quantity.required}]] [[${item.quantity.unit}]]</dd>
									  
									  <dt>Quality Specification:</dt>
									  <dd id="qualitySpecification" th:utext="${item.qualitySpecification} ? ${item.qualitySpecification} : 'N/A'"></dd>
									  
									  <dt>Special Requirements:</dt>
									  <dd id="specialRequirements" th:utext="${item.specialRequirements} ? ${item.specialRequirements} : 'N/A'"></dd>
									</dl>
									<div th:if="${tenderInfo.status != 'CANCELLED' and tenderInfo.status != 'CLOSED' and (bidListResponse == null or bidListResponse.isEmpty())}">
										<hr/>
										<div class="form-inline">
											<div class="form-group">
												<a id="updateBidProductLink" class="btn-update btn-sm" 
													th:href="@{/buyers/tenders/{tenderId}/products/{productId}/update-form(tenderId=${tenderInfo.id},productId=${item.id})}">Update</a>
											</div>
											<div class="form-group">
												<form id="deleteBidProductForm" method="post" th:action="@{/buyers/tenders/{tenderId}/products/{productId}/delete(tenderId=${tenderInfo.id},productId=${item.id})}">
													<button id="deleteBidProductBtn" type="submit" class="btn-delete btn-sm confirmation">Delete</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="bidProductsLoading" class="invisible">
							<div class="media">
								<div class="media-body">
									<p id="notificationLoadingText"
										class="text-center text-info top-buffer-10">
										<i class="fa fa-refresh fa-spin"></i> Loading products...
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="tab-pane fade" id="bids" role="tabpanel">
					<span th:if="${bidListResponse != null}" id="bidListNextOffset" th:attr="data-next-offset=${bidListResponse.nextOffset}"></span>
					<div class="page-header">
						<h3>Bids posted by vendors</h3>
					</div>
					
					<div th:if="${bidListResponse == null or #lists.isEmpty(bidListResponse.getList())}" class="col-md-12">
						No bids posted for this tender.
					</div>
					<div class="col-md-12">
						<!-- <div class="input-group top-buffer-10">
							<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
							<input id="bidSearchText" class="form-control" type="search" placeholder="Search..." />
						</div> -->
						<!-- <ul class="list-group invisible" id="bidList">
							<li id="bidItem" class="list-group-item top-buffer-5 hvr-glow wow slideInLeft hide-me">
								<p th:inline="text">
									&#8377; <strong id="itemValue"></strong> on <span id="itemTimestamp"></span> by <span id="vendorName"></span>
								</p>
							</li>
						</ul> -->
						
						<table id="bidTable" th:if="${bidListResponse != null and not bidListResponse.isEmpty()}" 
							class="table table-hover responsive" style="width: 100%">
							<thead class="thead-default">
								<tr>
									<th>Vendor (Bidder)</th>
									<th>Bid (&#8377;)</th>
									<th>Vendor's Average Rating</th>
									<th>Bid Timestamp</th>
									<th>Comments</th>
								</tr>
							</thead>
							<tbody  id="bidTableBody">
								<tr id="bidTableRow" th:each="item,iter : ${bidListResponse.getList()}" class="wow slideInDown">
									<td><a id="vendorName" th:inline="text" th:href="@{/vendors/{vendorId}/details(vendorId=${item.vendor.id})}">[[${item.vendor.name}]]</a></td>
									<td id="bidValue" th:inline="text">[[${item.value}]]</td>
									<td>
										<span th:if="${item.vendorAverageRating != null}" id="vendorAverageRating" th:inline="text"><span class="label label-success">[[${item.vendorAverageRating.averageRating}]] <i class='fa fa-star' aria-hidden='true'></i></span></span>
										<span th:if="${item.vendorAverageRating == null}" id="vendorAverageRating" th:inline="text">N/A</span>
									</td>
									<td id="bidTimestamp" th:inline="text">[[${item.createTimestamp}]]</td>
									<td id="bidComments" th:text="${item.comments} ? ${item.comments} : 'N/A'"></td>
								</tr>
							</tbody>
						</table>
						
						<div th:if="${bidListResponse != null and not bidListResponse.isEmpty()}" id="bidsLoading" class="invisible">
							<div class="media">
								<div class="media-body">
									<p id="notificationLoadingText" class="text-center text-info top-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading bids...</p>
								</div>
							</div>
						</div>
						
						<div th:if="${bidListResponse != null and not bidListResponse.isEmpty()}" class="media">
							<div class="media-body">
								<p class="text-center top-buffer-10"><a id="showMoreBids" class="btn btn-sm btn-primary" href="#"><i class="fa fa-gavel"></i> Show more bids</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${tenderInfo}" class="modal fade" id="cancelTenderModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h5 class="modal-title" id="myModalLabel" th:inline="text">
						<i class="fa fa-exclamation-triangle fa-lg text-info"></i> Cancel Tender 
					</h5>

				</div>
				<form th:action="@{/buyers/tenders/{tenderId}/update-status(tenderId=${tenderInfo.id})}" method="post">
					<!-- Modal Body -->
					<div class="modal-body">
						
						<div class="alert alert-warning">
							<p><strong>Note:</strong></p>
							<p class="text-justify">If you  <span class="label label-danger"><i class="fa fa-times"></i> CANCEL</span> the tender, then it will make the tender dormant. Neither can it be updated nor bids can be posted by the vendors. Canceling the tender will not compensate your subscription usage. This operation cannot be undone. 
								<strong><span th:if="${tenderInfo.status == 'OPEN' and (bidListResponse != null and not bidListResponse.isEmpty())}">If there are bids posted against the tender, then its a bad idea to cancel it as it may affect the trust the vendors have for your organization. </span>
								Cancel the tender only when there is a genuine reason for it.</strong>
							</p>
						</div>
						<input type="hidden" name="status" id="status" value="CANCEL" required="required"/>
						<div id="reasonForCancellationDiv" class="form-group required">
							<label class="control-label" for="reasonForCancellation">Reason For Cancellation</label>
							<textarea class="form-control" id="reasonForCancellation" name="reasonForCancellation" rows="2" required="required" autofocus="autofocus"></textarea>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn-submit btn-action confirmation btn-md">OK, proceed</button>
							<button type="button" class="btn-close btn-md" data-dismiss="modal">Close</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	
	<script th:src="@{/external/js/jquery.countdown.min.js}"></script>

	<script th:if="${tenderInfo}" type="text/javascript" th:inline="javascript">
	
	//<![CDATA[

	    $('#productList').btsListFilter('#bidProductSearchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
	    
	    function initBidDataTable() {
			$('#bidTable').DataTable({
		        paging: false
		    });
		}
	    
	    function refreshBidDataTable() {
	    	var table = $('#bidTable').DataTable();
	    	table.order([[1, 'asc' ]]).draw(false);
		}
	    
	    function addRowToBidDataTable(row) {
	    	var table = $('#bidTable').DataTable();
	    	table.row.add(row);
		}
	    
		$(document).ready(function() {
			
			var countDownClock = $('.countdown-clock');
			if(countDownClock != null) {
				var timestamp = countDownClock.data('timestamp');
				countDownClock.countdown(timestamp, function(event) {
			   		$(this).html(event.strftime('%D days %H hours %M minutes %S seconds'));
			    });
			}
			
			if(urlContainsQueryParam("addBidProductsSuccess") || urlContainsQueryParam("updateBidProductSuccess") 
					|| urlContainsQueryParam("deleteBidProductSuccess") || urlContainsQueryParam("deleteBidProductFailed")) {
				$('#productsTab a[href="#products"]').tab('show');
			} else if(urlContainsQueryParam("bids")) {
				$('#bidsTab a[href="#bids"]').tab('show');
			} else {
				$('#specTab a[href="#specifications"]').tab('show')
			}
			
			initBidDataTable();
		});
		
		/* 
		$('#status').change(function(e) {
			var reasonForCancellationDiv = $('#reasonForCancellationDiv');
			var reasonForCancellationTextElement = $('#reasonForCancellation');
			var status = $(this).val();
			if(status == 'OPEN') {
				reasonForCancellationTextElement.removeAttr('required');
				if(!reasonForCancellationDiv.hasClass('hide-me')) {
					reasonForCancellationDiv.addClass('hide-me')
				}
			}
			
			if(status == 'CANCEL') {
				reasonForCancellationTextElement.attr('required','required');
				if(reasonForCancellationDiv.hasClass('hide-me')) {
					reasonForCancellationDiv.removeClass('hide-me')
				}
			}
		});
		 */
		
		var bidProductsLoading = $('#bidProductsLoading');
		var bidProductsLastScrollTopPosition = 0;
		var bidProductsListEmpty = false;
		var bidProductsProcessing = false;
		
		var bidsLoading = $('#bidsLoading');
		var bidsListEmpty = false;
		var bidsProcessing = false;
		
		$(window).scroll(function() {
			if(bidProductsProcessing || bidProductsListEmpty) {
				return;
			}
			
			var bidProductsCurrentScrollPosition = $(this).scrollTop();
			if (bidProductsCurrentScrollPosition > bidProductsLastScrollTopPosition) {
			       // downscroll code
				if($(this).scrollTop() >= ($(document).height() - $(this).height()) * 0.85) {
					if($("#productsTab").hasClass('active')) {
						makeAjaxCallToGetBidProducts();
					}
				}
			}
			bidProductsLastScrollTopPosition = bidProductsCurrentScrollPosition;
		});
		
		function makeAjaxCallToGetBidProducts() {
			
			var bidProductListNextOffsetElement = $("#bidProductListNextOffset");
			var bidProductListNextOffset = bidProductListNextOffsetElement.data('next-offset');
		
			$.ajax({
				context: this,
				url :  [[@{/buyers/tenders/{tenderId}/products/list-as-text?nextOffset=(tenderId=${tenderInfo.id})}]] + bidProductListNextOffset,
				method: 'GET',
				async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	bidProductsLoading.removeClass('invisible');
		        	bidProductsProcessing = true;
		        },
				success: function(data) {
					
					var listResponse = $.parseJSON(data);
					bidProductListNextOffsetElement.data('next-offset', listResponse.next_offset);
					
					if(listResponse.tender_product != null && listResponse.tender_product.length > 0) {
						bidProductsListEmpty = false;
													
						$.each(listResponse.tender_product, function(i, d) {
							var bidProductItem = $('#productItem').clone();
							bidProductItem.find("#productName").text(d.product.name);
							bidProductItem.find("#qualitySpecification").text(d.quality_specification);
							bidProductItem.find("#requiredQuantity").text(d.quantity.required + ' ' + d.quantity.unit)
							if(d.special_requirements != null) {
								bidProductItem.find("#specialRequirements").text(d.special_requirements);
							} else {
								bidProductItem.find("#specialRequirements").text('N/A');
							}
							var deleteBidProductForm = bidProductItem.find("#deleteBidProductForm");
							if(deleteBidProductForm != null && deleteBidProductForm.length > 0) {
								deleteBidProductForm.attr('action', '/buyers/tenders/' + d.tender.id + '/products/' + d.id + '/delete');
								var deleteBidProductBtn = deleteBidProductForm.find('#deleteBidProductBtn');
								initConfirmation(deleteBidProductBtn);
							}
							var updateBidProductLink = bidProductItem.find('#updateBidProductLink');
							if(updateBidProductLink != null && updateBidProductLink.length > 0) {
								updateBidProductLink.attr('href', '/buyers/tenders/' + d.tender.id + '/products/' + d.id + '/update-form');
							}
							$('#productList').append(bidProductItem);
						});
					} else {
						bidProductsListEmpty = true;
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					if(401 == xhr.status) {
		        		logout();
		        	}
					console.log(xhr.responseText);
				},
				complete: function() {
					bidProductsProcessing = false;
					bidProductsLoading.addClass('invisible');
				}
			});
			
		}
		
		$("#showMoreBids").click(function(e) {
			e.preventDefault();
			
			if(bidsProcessing || bidsListEmpty) {
				return;
			}
			
			makeAjaxCallToGetBids();
		});
		
		function makeAjaxCallToGetBids() {
			
			var bidListNextOffsetElement = $("#bidListNextOffset");
			var bidListNextOffset = bidListNextOffsetElement.data('next-offset');
		
			$.ajax({
				context: this,
				url :  [[@{/buyers/tenders/{tenderId}/bids/list-as-text?nextOffset=(tenderId=${tenderInfo.id})}]] + bidListNextOffset,
				method: 'GET',
				async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	bidsLoading.removeClass('invisible');
		        	bidsProcessing = true;
		        },
				success: function(data) {
					
					var listResponse = $.parseJSON(data);
					bidListNextOffsetElement.data('next-offset', listResponse.nextOffset);
					
					if(listResponse != null && listResponse.list != null && listResponse.list.length > 0) {
						bidsListEmpty = false;
													
						$.each(listResponse.list, function(i, d) {
							var bidItem = $('#bidTableRow').clone();
							var vendor = bidItem.find("#vendorName")
							vendor.text(d.vendor.name);
							vendor.attr('href', '/vendors/' + d.vendor.id + '/details');
							bidItem.find("#bidValue").text(d.value);
							bidItem.find("#bidTimestamp").text(d.createTimestamp);
							var averageRating = d.vendorAverageRating;
							var averageRatingElement = bidItem.find("#vendorAverageRating");
							if(averageRating != null && averageRating.averageRating > 0) {
								averageRatingElement.html("<span class='label label-success'>" + averageRating.averageRating + " <i class='fa fa-star' aria-hidden='true'></i></span>");
							} else {
								averageRatingElement.text('N/A');
							}
							var bidComments = bidItem.find('#bidComments');
							if(d.comments != null && d.comments.length > 0) {
								bidComments.text(d.comments);
							} else {
								bidComments.text('N/A');
							}
							
							$('#bidTableBody').append(bidItem);
							addRowToBidDataTable(bidItem);
						});
						refreshBidDataTable();
					} else {
						bidsListEmpty = true;
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					if(401 == xhr.status) {
		        		logout();
		        	}
					console.log(xhr.responseText);
				},
				complete: function() {
					bidsProcessing = false;
					bidsLoading.addClass('invisible');
				}
			});
			
		}
		
		function initConfirmation(button) {
			button.confirmation({
				popout: true, 
				placement: 'top',
				singleton: true
			});
		}
	//]]>
	</script>
</div>

