
<div class="container" th:fragment="content">
	<div class="col-lg-12">
		<ol sec:authorize="hasAuthority('VENDOR')" class="breadcrumb">
			<li><a th:href="@{/buyers/list}">Buyers</a></li>
			<li class="active" th:inline="text" th:if="${buyerInfo}">[[${buyerInfo.name}]]</li>
		</ol>

		<div th:if="${errorMessage}" id="errorMessage"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:text="${errorMessage}"></div>
		</div>

		<div th:if="${buyerInfo}" class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Buyer Information</h4>
			</div>
			<div class="panel-body">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li id="profileTab" class="nav-item"><a
						class="nav-link active hvr-overline-from-center" data-toggle="tab"
						href="#profile" role="tab"><i class="fa fa-address-card"
							aria-hidden="true"></i> Profile</a></li>

					<li class="nav-item" id="reviewsTab"><a
						class="nav-link hvr-overline-from-center" data-toggle="tab"
						href="#reviews" role="tab"><i class="fa fa-star"
							aria-hidden="true"></i> Reviews</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade" id="profile" role="tabpanel">
						<div class="page-header">
							<h2 th:inline="text">
								[[${buyerInfo.name}]] <a sec:authorize="hasAuthority('VENDOR')"
									data-th-attr="data-entity-id=${buyerInfo.id}"
									class="report-abuse"></a>
							</h2>
						</div>
						<div class="col-md-12">
							<div th:if="${buyerInfo.website}" class="text-center">
								<a id="buyerWebsite" th:href="${buyerInfo.website}"
									target="_blank"></a>
							</div>
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Type of Business</strong>
								</div>
								<div class="col-sm-8" th:inline="text">[[${buyerInfo.businessType.name}]]</div>
							</div>
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Description</strong>
								</div>
								<div class="col-sm-8"
									th:text="${buyerInfo.description} ? ${buyerInfo.description} : 'N/A'"></div>
							</div>
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Address</strong>
								</div>
								<div class="col-sm-8">
									<a class="map" th:utext="${buyerInfo.address}"></a>
								</div>
							</div>
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Name of the Contact Person</strong>
								</div>
								<div class="col-sm-8" th:inline="text">[[${buyerInfo.contactName}]]</div>
							</div>

							<div class="row top-buffer" sec:authorize="hasAuthority('BUYER')">
								<div class="col-sm-4">
									<strong>PAN</strong>
								</div>
								<div class="col-sm-8" th:inline="text">[[${buyerInfo.pan}]]</div>
							</div>

							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Email Address (for public communication)</strong>
								</div>
								<div class="col-sm-8" th:inline="text">[[${buyerInfo.emailAddress}]]</div>
							</div>
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Mobile Number (for public communication)</strong>
								</div>
								<div class="col-sm-8" th:inline="text">[[${buyerInfo.mobileNumber}]]</div>
							</div>

							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Website</strong>
								</div>
								<div class="col-sm-8"
									th:text="${buyerInfo.website} ? ${buyerInfo.website} : 'N/A'"></div>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<hr/>
						<div th:if="${buyerInfo}" sec:authorize="hasAuthority('VENDOR')"
							class="form-inline col-md-6">
							<div class="form-group">
								<a class="btn btn-sm btn-success"
									th:href="@{/vendors/purchase-items(buyer=${buyerInfo.name} + '|' + ${buyerInfo.id})}"><i
									class="fa fa-bars" aria-hidden="true"></i> See Purchase List</a>
							</div>
							<div class="form-group">
								<a class="btn btn-sm btn-warning"
									th:href="@{/vendors/product-enquiries(buyer=${buyerInfo.name} + '|' + ${buyerInfo.id})}"><i
									class="fa fa-question-circle" aria-hidden="true"></i> See Enquiries</a>
							</div>
						</div>
				
						<div sec:authorize="hasAuthority('BUYER')"
							class="form-inline col-md-6">
							<div class="form-group">
								<a class="btn-update btn-action" th:href="@{/buyers/update-form}">Update
									Information</a>
							</div>
							<div class="form-group">
								<a class="btn-delete" data-toggle="modal"
									data-target="#buyerDeleteDialog">Delete</a>
							</div>
						</div>
					</div>
					
					<!-- Reviews Tab -->
					<div class="tab-pane fade" id="reviews" role="tabpanel">
						<span th:if="${reviewListResponse != null}" id="reviewListNextOffset" th:attr="data-next-offset=${reviewListResponse.nextOffset}"></span>
						<div class="page-header">
							<h3 th:inline="text">What do vendors think? 
								<a sec:authorize="hasAuthority('VENDOR')" class="post-review" 
									th:attr="data-post-review-url=@{/buyers/{buyerId}/reviews(buyerId=${buyerInfo.id})}, data-get-reviews-by-reviewer-url=@{/buyers/{buyerId}/reviews/list-as-text-by-reviewer(buyerId=${buyerInfo.id})}">
								</a>
							</h3>
						</div>
						<div th:if="${param.postReviewSuccess}" class="alert alert-dismissible alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							Review has been posted successfully.
						</div>
						
						<div th:if="${param.deleteReviewSuccess}" class="alert alert-dismissible alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							Review has been deleted successfully.
						</div>
							
						<div th:if="${reviewListResponse == null or #lists.isEmpty(reviewListResponse.reviews)}" class="col-md-12">
							No reviews posted about this buyer.
						</div>
						<div th:if="${reviewListResponse!= null and not #lists.isEmpty(reviewListResponse.reviews)}" class="col-md-12">
							
							<div th:replace="average-rating-fragment-view"></div>
							
							<div class="input-group top-buffer-10">
								<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
								<input id="searchText" class="form-control" type="search" autofocus="autofocus"
									placeholder="Search..." />
							</div>
							<ul class="list-group" id="reviewList">
								<li id="reviewItem" class="list-group-item top-buffer-5 hvr-glow wow slideInLeft"
									th:each="review : ${reviewListResponse.reviews}">
									<a id="reviewIdForReportingAbuse" sec:authorize="hasAuthority('BUYER')" data-th-attr="data-entity-id=${review.id}" class="report-abuse"></a>
									<input id="itemRating" th:value="${review.rating}" class="display-rating rating-loading" />
									<p th:if="${not #strings.isEmpty(review.headline)}" th:inline="text">
										<strong id="itemHeadline">[[${review.headline}]]</strong>
									</p>
									
									<div class="text-justify" th:inline="text">
										<blockquote class="blockquote">
											<p id="itemDescription" class="h5 text-muted" th:if="${not #strings.isEmpty(review.description)}" th:inline="text">[[${review.description}]]</p>
												<footer class="blockquote-footer pull-right">
													<cite sec:authorize="hasAuthority('VENDOR')" title="Vendor"><span id="itemReviewerName">[[${review.reviewedBy.name}]]</span></cite> 
													<cite sec:authorize="hasAuthority('BUYER')" title="Vendor"><a id="reviewerDetailsLink" class="no-underline" th:href="@{/vendors/{vendorId}/details(vendorId=${review.reviewedBy.id})}"><span id="itemReviewerName">[[${review.reviewedBy.name}]]</span></a></cite>
												on <span id="itemTimestamp">[[${review.timestamp}]]</span></footer>
										</blockquote>
									</div>
								</li>
							</ul>
							<div id="reviewLoading" class="invisible">
								<div class="media">
									<div class="media-body">
										<p id="notificationLoadingText" class="text-center text-info top-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading reviews...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
	<script type="text/javascript"
		th:src="@{/external/js/jquery.urlive.min.js}"></script>
	<script type="text/javascript">
		$('#buyerWebsite').urlive();
	</script>

	<div th:if="${buyerInfo}" sec:authorize="hasAuthority('BUYER')"
		class="modal fade" id="buyerDeleteDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">Delete
						[[${buyerInfo.name}]]?</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<ol>
							<li>If you delete your organization, all your purchase items, product enquires, tenders and your subscriptions will be deleted.</li>
							<li>Once deleted, you will be taken to buyer registration
								page.</li>
						</ol>
					</div>

					<div class="modal-footer">
						<div class="row">
							<form class="form-inline" th:action="@{/buyers/delete}"
								method="POST">
								<button type="submit" class="btn-delete btn-action confirmation">Confirm
									Delete</button>
								<button class="btn-close" type="button" data-dismiss="modal">Close</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div sec:authorize="hasAnyAuthority('VENDOR','BUYER')" th:replace="abuse-report-modal-view"></div>
	<div sec:authorize="hasAuthority('BUYER')" th:replace="review-modal-view"></div>
	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	
	<script  th:if="${buyerInfo}" type="text/javascript" th:inline="javascript">
	//<![CDATA[

	    $('#reviewList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
	
	     
		$(document).ready(function() {
			
			if(urlContainsQueryParam("postReviewSuccess") || urlContainsQueryParam("deleteReviewSuccess") || urlContainsQueryParam("reviews")) {
				$('#reviewsTab a[href="#reviews"]').tab('show');
			} else {
				$('#profileTab a[href="#profile"]').tab('show');	
			}
		});
		
		var vendorId = [[${buyerInfo.id}]];
		var reviewLoading = $('#reviewLoading');
		var lastScrollTopPosition = 0;
		
		var reviewListEmpty = false;
		var processing = false;
		$(window).scroll(function() {
			if(processing || reviewListEmpty) {
				return;
			}
			
			var currentScrollPosition = $(this).scrollTop();
			if (currentScrollPosition > lastScrollTopPosition) {
			       // downscroll code
				if($(this).scrollTop() >= ($(document).height() - $(this).height()) * 0.9) {
					if($("#reviewsTab").hasClass('active')) {
						makeAjaxCallToGetReviews();
					}
				}
			}
			lastScrollTopPosition = currentScrollPosition;
		});
		
		function makeAjaxCallToGetReviews() {
			
			var nextOffsetElement = $("#reviewListNextOffset");
			var nextOffset = nextOffsetElement.data('next-offset');
		
			$.ajax({
				context: this,
				url :  [[@{/buyers/{buyerId}/reviews/list-as-text?nextOffset=(buyerId=${buyerInfo.id})}]] + nextOffset,
				method: 'GET',
				async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	
		        	reviewLoading.removeClass('invisible');
		        	processing = true;
		        },
				success: function(data) {
					
					var reviewListResponse = $.parseJSON(data);
					nextOffsetElement.data('next-offset', reviewListResponse.next_offset);
					
					if(reviewListResponse.review != null && reviewListResponse.review.length > 0) {
						reviewListEmpty = false;
													
						$.each(reviewListResponse.review, function(i, d) {
							var reviewItem = $('#reviewItem').clone();
							reviewItem.find('.rating-container').remove();
							
							var reviewRating = $('<input/>', {'id': 'itemRating','class': 'display-rating'});
							reviewRating.val(parseInt(d.rating));
							reviewItem.prepend(reviewRating);
							reviewRating.rating('refresh', ratingOptions);
							
							var reviewIdForReportingAbuse = reviewItem.find("#reviewIdForReportingAbuse");
							if(reviewIdForReportingAbuse.length) {
								reviewIdForReportingAbuse.remove();
								var reportAbuseElement = createAbuseReportAnchorElement(d.id);
								reviewItem.prepend(reportAbuseElement);
								console.log(reportAbuseElement.data('entity-id'));
							}

							if(d.headline != null) {
								reviewItem.find("#itemHeadline").text(d.headline);
							}
							if(d.description != null) {
								reviewItem.find("#itemDescription").text(d.description);
							}
							reviewItem.find("#itemTimestamp").text(d.timestamp);
							reviewItem.find("#itemReviewerName").text(d.reviewed_by.name);
							
							var reviewerDetailsLink = reviewItem.find("#reviewerDetailsLink");
							if(reviewerDetailsLink.length) {
								reviewerDetailsLink.attr('href', "/vendors/" + d.reviewed_by.id + "/details");
							}
							
							$('#reviewList').append(reviewItem);
						});
						
					} else {
						reviewListEmpty = true;
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					if(401 == xhr.status) {
		        		logout();
		        	}
					console.log(xhr.responseText);
				},
				complete: function() {
					processing = false;
					reviewLoading.addClass('invisible');
				}
			});
		}
		//]]>
	</script>
	
</div>
