<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Tenders</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>
		
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		
		<div th:if="${(listResponse == null or listResponse.isEmpty()) and (#strings.isEmpty(param.tenderStatus) and #strings.isEmpty(param.nextOffset))}">
			<div class="alert alert-warning">
			It looks like you are about to post tenders for the first time. This is a premium feature. You will have to subscribe to one of our subscription plans. If you are a first timer, stand a chance to get a free subscription. <a th:href="@{/buyers/bidding-subscription-plans/list}">Click here</a>.  
			</div>
		</div>
		
		<div th:if="${param.noActiveBiddingSubscription}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div>You do not have an active bidding subscription to create the tender. Please subscribe to one of our subscription plans. <a th:href="@{/buyers/bidding-subscription-plans/list}">Click here</a>.</div>
		</div>		

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Tenders</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Tenders
						<a class="btn-add btn-action pull-right"
							data-toggle="tooltip" data-placement="top"
							title="Click to create a new tender"
							th:href="@{/buyers/tenders/create-form}">Create Tender</a>
					</h2>
					
					<form class="form-inline" th:action="@{/buyers/tenders/list}" th:object="${listTenderFormBean}" method="get">
						<div class="form-group label-floating">
							<select th:field="*{tenderStatus}"
								class="selectpicker" title="Select a status">
								<option th:each="item : ${tenderStatuses}"
									th:value="${item.value}" th:text="${item.key}"></option>
							</select>
							<p th:if="${#fields.hasErrors('*{tenderStatus}')}" th:errors="*{tenderStatus}" />
						</div>
						
						<div class="form-group">
							<button class="btn-filter btn-action" type="submit">Apply Filter</button>
						</div>
					</form>
				</div>
				
				<div th:if="${listResponse == null or listResponse.isEmpty()}" class="top-buffer-10">No
					tenders to display.
				</div>
				<div th:if="${listResponse != null}">
					<table
						th:if="${listResponse != null and not listResponse.isEmpty()}"
						id="tenderTable"
						class="table table-hover responsive">
						<thead class="thead-default">
							<tr>
								<th>Name</th>
								<th>Payment Mode</th>
								<th>Expected Price</th>
								<th>Status</th>
								<th>Closes On</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr
								th:each="item : ${listResponse.getList()}">
								<td th:inline="text">[[${item.name}]]</td>
								<td th:inline="text">[[${item.paymentMode}]]</td>
								<td th:inline="text">&#8377;[[${item.expectedPrice}]]</td>
								<td th:inline="text" th:switch="${item.status}">
									<span th:case="'CREATED'" class="label label-info"><i class="fa fa-check"></i> [[${item.status}]]</span>
									<span th:case="'EDIT_IN_PROGRESS'" class="label label-primary"><i class="fa fa-pencil"></i> [[${item.status}]]</span>
									<span th:case="'OPEN'" class="label label-success"><i class="fa fa-info-circle faa-flash animated"></i> [[${item.status}]]</span>
									<span th:case="'CANCELLED'" class="label label-danger"><i class="fa fa-times"></i> [[${item.status}]]</span>
									<span th:case="'CLOSED'" class="label label-danger"><i class="fa fa-times"></i> [[${item.status}]]</span>
								</td>
								<td th:inline="text">[[${item.closeTimestamp}]]</td>
								<td><a
									th:href="@{/buyers/tenders/{tenderId}/details(tenderId=${item.id})}">View</a></td>
								
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/buyers/tenders/list}" method="get">
					    	<input th:if="${listTenderFormBean != null}" type="hidden" name="tenderStatus" id="tenderStatus" th:value="${listTenderFormBean.tenderStatus}"/>
					    	<input th:if="${listTenderFormBean != null}" type="hidden" name="nextOffset" id="nextOffset" th:value="${listTenderFormBean.nextOffset}"/>
						    <button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#tenderTable').DataTable();
		});
		
		$('#tenderStatus').change(function(e) {
			e.preventDefault();
			$('#nextOffset').val();
		});
	</script>
</div>