<div class="container" th:fragment="content">

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1>Contact</h1>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="card text-center">
						<img class="card-img-top thumb"
							th:src="@{/external/images/customer-care1.png}" alt="Support" />
						<div class="card-block">
							<h4 class="card-title">Support</h4>
							<p class="card-text">For technical issues</p>
							<p class="card-text">
								<span class="text-muted"><a class="btn btn-primary"
									href="mailto:support@bnbneeds.com"><i class="fa fa-envelope"></i> support@bnbneeds.com</a></span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card text-center">
						<img class="card-img-top thumb"
							th:src="@{/external/images/correspondence.png}"
							alt="Correspondence" />
						<div class="card-block">
							<h4 class="card-title">General Correspondence</h4>
							<p class="card-text">For general queries or feedback</p>
							<p class="card-text">
								<span class="text-muted"><a class="btn btn-info"
									href="mailto:info@bnbneeds.com"><i class="fa fa-envelope"></i> info@bnbneeds.com</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>