<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="ISO-8859-1" />
		<title th:text="${title}"></title>
		
		<meta name="description"
			content="BNBneeds is an e-marketplace for restaurants and hotels."/>
		<meta name="keywords" content="marketplace, buyer, seller, vendor, restaurants, hotels, hotels vendor, restaurants vendor" />
		
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="utf-8" http-equiv="encoding" />
		
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE; IE=9; IE=8" />
		
		<!-- https://developers.google.com/web/fundamentals/design-and-ux/browser-customization/ -->
		<!-- For Google Chrome -->
		<link rel="icon" th:href="@{/external/images/favicon192x192.png}" sizes="192x192"/>
		<!-- reuse same icon for Safari -->
		<link rel="apple-touch-icon" th:href="@{/external/images/favicon192x192.png}"/>
		<link rel="apple-touch-startup-image" th:href="@{/external/images/favicon192x192.png}"/>
		
		<!-- For Internet Explorer -->
		<meta name="msapplication-square150x150logo" th:content="@{/external/images/favicon150x150.png}"/>
		
		<!-- Bootstrap -->
		
		<link
			th:href="@{/bower_components/bootswatch-dist/css/bootstrap.min.css}"
			rel="stylesheet"></link>
		
		<!-- Date range picker -->
		<link rel="stylesheet"
			th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}" />
		
		<!-- Font Awesome -->
		<link rel="stylesheet"
			th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />
		<link rel="stylesheet"
			th:href="@{/bower_components/font-awesome-animation/dist/font-awesome-animation.min.css}" />
		
		<!-- Bootstrap Star Rating -->
		<link rel="stylesheet"
			th:href="@{/bower_components/bootstrap-star-rating/css/star-rating.min.css}" />
		
		<!-- bootstrap-select CSS -->
		<link rel="stylesheet"
			th:href="@{/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css}" />
		
		<link rel="stylesheet"
			th:href="@{/bower_components/bootstrap-notifications/dist/stylesheets/bootstrap-notifications.min.css}" />
		<link rel="stylesheet"
			th:href="@{/bower_components/bootstrap-dropmenu/dist/stylesheets/bootstrap-dropmenu.min.css}" />
			
		<link rel="stylesheet"
			th:href="@{/bower_components/bootstrap-submenu-2.0.4/dist/css/bootstrap-submenu.min.css}" />
		
		<!-- Data table style settings -->
		<link th:href="@{/external/css/dataTables.bootstrap.min.css}"
			type="text/css" rel="stylesheet" />
		<link th:href="@{/external/css/responsive.dataTables.min.css}"
			type="text/css" rel="stylesheet" />
		
		<link th:href="@{/external/css/wizard.css}" type="text/css"
			rel="stylesheet" />
		
		<link th:href="@{/external/css/jquery.urlive.css}" type="text/css"
			rel="stylesheet" />
		
		
		<link rel="stylesheet" th:href="@{/external/css/animate.css}" />
		
		<!-- Hover effects CSS -->
		<link rel="stylesheet"
			th:href="@{/bower_components/hover/css/hover-min.css}" />
		
		<!-- Custom style settings -->
		<!-- <link rel="stylesheet" th:href="@{/external/css/clock.css}" /> -->
		<link rel="stylesheet" th:href="@{/external/css/slick.min.css}" />
		<link rel="stylesheet" th:href="@{/external/css/slick-theme.min.css}" />
		<link rel="stylesheet" th:href="@{/external/css/custom-style.css}" />
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-117433932-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-117433932-1');
		</script>
	</head>
	<body>

		<!-- jQuery -->
		<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
		<!-- Twitter Bootstrap -->
		<script
			th:src="@{/bower_components/bootswatch-dist/js/bootstrap.min.js}"></script>
		<!-- Bootstrap Datepicker -->
		<script
			th:src="@{/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	
		<!-- Bootstrap Star Rating -->
		<script
			th:src="@{/bower_components/bootstrap-star-rating/js/star-rating.min.js}"></script>
	
		<!-- bootstrap-select JavaScript -->
		<script
			th:src="@{/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
		<!-- jQuery Validate -->
		<script
			th:src="@{/bower_components/jquery-validation/dist/jquery.validate.min.js}"></script>
	
		<!-- jQuery Lazy Load -->
		<script
			th:src="@{/bower_components/jquery-unveil/jquery.unveil.min.js}"></script>
	
		<!-- WOW.js required for animation -->
		<script th:src="@{/external/js/wow.js}"></script>
	
		<script type="text/javascript"
			th:src="@{/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js}"></script>
	
		<script type="text/javascript"
			th:src="@{/bower_components/jquery-idletimer/dist/idle-timer.1.1.0.min.js}"></script>
		
			
		<script th:src="@{/external/js/custom-script.js}"></script>
	
		<div th:replace="menu-navbar"></div>
	
		<div th:replace="browser-check"></div>
	
		<div th:if="${applicationBeans.maintenanceNotice != null}"
			th:replace="maintenance-notice-fragment-view"></div>
	
		<div th:replace="${view} :: content">Content</div>
	
		<button class="back-to-top hidden-xs" type="button"></button>
	
		<div th:replace="image-modal-view"></div>
	
		<div th:replace="footer-view"></div>
		
		
		<div th:replace="idle-time-check"></div>
		<!-- Bootstrap data table -->
		<script th:src="@{/external/js/jquery.dataTables.min.js}" type="text/javascript"></script>
		<script th:src="@{/external/js/dataTables.bootstrap.min.js}" type="text/javascript"></script>
		<script th:src="@{/external/js/dataTables.responsive.min.js}" type="text/javascript"></script>
	
		<!-- jQuery time ago -->
		<script th:src="@{/bower_components/moment/min/moment.min.js}"></script>
		<script th:src="@{/external/js/livestamp.min.js}" type="text/javascript"></script>
		<script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.min.js}"
			type="text/javascript"></script>
		
		<!-- Bootstrap Confirmation -->
		<script th:src="@{/bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js}"></script>	
		<script type="text/javascript" th:inline="javascript">
			//<![CDATA[
				//Initialize bootstrap confirmation
				$('.confirmation').confirmation({
					popout: true, 
					placement: 'top',
					singleton: true
				});
				
				function logout() {
					var url = window.location;
					var baseURL = url.protocol + "//" + url.host;
					window.location = baseURL + [[@{/logout}]];
				}
			//]]>
		</script>
	</body>
</html>