<div class="container" th:fragment="content">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">Master Entities</h4>
				</div>
				<div class="panel-body">

					<div class="page-header">
						<h2 th:inline="text">[[${listViewTitle}]]
							<button class="btn-add pull-right" title="Click to add entities"
						    	data-toggle="modal" data-target="#addEntityForm">Add</button>
						 </h2>
					</div>
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>
					<!-- createSuccess -->
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger top-buffer">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					
					<div th:if="${param.createSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Entities created successfully. Please await administrator approval.</div>
					</div>
					
					<div
					th:if="${listResponse == null or #lists.isEmpty(listResponse.entityInfoList)}">No
					entities to display.</div>

					<table th:if="${listResponse != null and not #lists.isEmpty(listResponse.getEntityInfoList())}"
						id="entityTable" 
						class="table table-hover responsive">
				        <thead class="thead-default">
				            <tr>
				                <th>Name</th>
				                <th>Description</th>
				                <th>Create Timestamp</th>
				                <th>Last Updated Timestamp</th>
				                <th>Status</th>
				                <!-- <th>Remarks</th> -->
				            </tr>
				        </thead>
				        <tbody>
				            <tr th:each="entity : ${listResponse.getEntityInfoList()}">
				                <td th:inline="text">[[${entity.name}]]</td>
				                <td th:text="${entity.description} ? ${entity.description} : 'N/A'"></td>
				                <td th:inline="text">[[${entity.getCreateTimestamp()}]]</td>
				                <td th:text="${entity.getUpdateTimestamp()} ? ${entity.getUpdateTimestamp()} : 'N/A'"></td>
				                <td th:if="${entity.entityStatus == 'DISAPPROVED'}"><span title="Disapproved" class="text-warning"><i class="fa fa-exclamation-triangle"></i></span></td>
				                <td th:if="${entity.entityStatus == 'APPROVED'}"><span title="Approved" class="text-success"><i class="fa fa-check-square"></i></span></td>
				                <!-- <td th:inline="text">
				                	<ol th:if="${entity.getRemarks() != null}">
				                		<li th:each="remark : ${entity.getRemarks()}" th:inline="text">[[${remark}]]</li>
				                	</ol>
				                </td> -->
				            </tr>
				      </tbody>
				    </table>
				   <hr/>
					<div class="form-inline">
					  <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="${listEntityRequestURI}" method="get">
					    <div class="form-group pull-right">
						    <input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						   	<button class="btn-next btn-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
						</div>
					  </form>
					  <div th:if="${param.nextOffset}" class="form-group pull-right">
						<button class="btn-previous go-back" type="button">Previous</button>
					 </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addEntityForm" tabindex="-1" role="dialog" 
		     aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <button type="button" class="close" 
		                   data-dismiss="modal">
		                       <span aria-hidden="true">&times;</span>
		                       <span class="sr-only">Close</span>
		                </button>
		                <h4 class="modal-title" id="myModalLabel">
		                    Add Entity
		                </h4>
		                
		            </div>
		            
		            <!-- Modal Body -->
		            <div class="modal-body">
		            
		            	<div id="note" class="alert alert-info">
		                	<strong>Note: </strong>Newly created entities are subjected to administrator approval.
		                </div>
		                
		                <form class="form-inline" role="form" method="post" 
		                		th:object="${entityListForm}" th:action="${createEntityRequestURI}">
						  
						  <table class="table table-hover" id="entityListFormTable">
							<thead>
								<tr class="tr-header text-center">
									<th>Name</th>
									<th>Description	</th>
									<th><a href="javascript:void(0);" id="addRow" title="Add Row"><span class="glyphicon glyphicon-plus"></span></a></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="option, rowStat : *{entities}">
									
									<td><div class="form-group"><input type="text" th:field="*{entities[__${rowStat.index}__].name}"
											class="form-control" required="required" autofocus="autofocus"/></div></td>
									<td><div class="form-group"><input type="text" th:field="*{entities[__${rowStat.index}__].description}" 
											class="form-control"/></div></td>
									<td><div class="form-group"><span class='glyphicon glyphicon-minus'></span></div></td>
								</tr>
							</tbody>
						 </table>
						 	
						 <div class = "modal-footer">
							<button type="submit" class="btn-submit btn-action">Submit</button>
							<button type="button" class="btn-close" data-dismiss="modal">Close</button>
						 </div>
		                </form>
		            </div>
		            
		        </div>
		    </div>
		</div>
		<script>
			
		$(document).ready(function() {
		    $('#entityTable').DataTable();
		});
			
		</script>
		<script type="text/javascript">
		// <![CDATA[
        
        $(function() {
	        $('#addRow').on('click', function() {
	        	var trIndex = $('#entityListFormTable tr').length - 1;
	        	$('#entityListFormTable tr:last td:last').html("<span class='glyphicon glyphicon-minus'></span>"); 
	        	$('#entityListFormTable > tbody:last-child').append("<tr><td><div class='form-group'><input type='text' class='form-control' autofocus='autofocus' id='entities" + trIndex + ".name' name='entities[" + trIndex + "].name' required='required'/></div></td><td><div class='form-group'><input type='text' class='form-control' id='entities" + trIndex + ".description' name='entities[" + trIndex + "].description' /></div></td> <td><div class='form-group'><a href='javascript:void(0);' id='removeRow' title='Remove this row'><span class='glyphicon glyphicon-minus'></span></a></div></td> </tr>");
	        	
	        });
	        
	        $(document).on('click', '#removeRow', function() {
	        	$('#entityListFormTable tr:last').prev().find('td:last').html("<div class='form-group'><a href='javascript:void(0);' id='removeRow' title='Remove this row'><span class='glyphicon glyphicon-minus'></span></a></div>");
   			    var trIndex = $(this).closest("tr").index();
   			    if (trIndex > 0) {
   			    	$("#entityListFormTable tr:last").remove();
   			    }
   			});
        });
		   
			
			// ]]>
		</script>
</div>
