<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
	<head>
		<meta charset="ISO-8859-1" />
		<title th:text="${title}"></title>
		
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="utf-8" http-equiv="encoding" />
		
		<link rel="shortcut icon" th:href="@{/external/images/favicon.png}"  sizes="32x32" type="image/png"/>
		<link rel="icon" th:href="@{/external/images/favicon.png}" sizes="32x32" type="image/x-icon"/>
		
		<!-- Bootstrap -->
		<link th:href="@{/bower_components/bootswatch-dist/css/cerulean/bootstrap.min.css}" rel="stylesheet"></link>
			
		<link rel="stylesheet"
			th:href="@{/bower_components/bootswatch-dist/css/bootstrap.css}"></link>
			
		<!-- Font Awesome -->
		<link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}"/>
		
		<!-- Custom style settings -->
		<link rel="stylesheet" th:href="@{/external/css/custom-style.css}" />
		
		<!-- jQuery -->
		<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	
		<!-- Twitter Bootstrap -->
		<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
		
		
	</head>
	<body>
		
		<div th:replace="error-view-navbar"></div>
		
		<div th:replace="browser-check"></div>
	
		<div th:replace="${view} :: content">Content</div>
		
		<div th:replace="image-modal-view"></div>
		
		<div th:replace="footer-view"></div>
			
		<script th:src="@{/external/js/custom-script.js}"></script>
		
	</body>
</html>