<div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="100">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target="#navbar-main">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/home-page}" th:inline="text">BNBneeds</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">

			<ul class="nav navbar-nav navbar-right"  th:if="${loggedInUser}">
				<li><a href="#" th:if="${#authentication != null}"
					data-toggle="dropdown" title="Click to display menu"><span th:inline="text">[[${loggedInUser.accountName}]] </span><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/logout}">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>