<div class="container" th:fragment="content">
	<div class="panel panel-default col-lg-12">
		<div class="page-header text-center">
			<h3>Oops! Something's not right</h3>
		</div>
		<h4 th:if="${message}" class="text-center" th:text="${message}"></h4>
		<br />
		<p class="text-center"><a th:href="@{/home-page}">Take me back home.</a></p>
	</div>
</div>