<footer class="footer">
	<hr />
	<div class="container">
		<div class="col-lg-12">
			<div class="text-center small">
				<ul class="list-inline">
					<li class="list-inline-item"><a th:href="@{/public/about}">About Us</a></li>
					<li class="list-inline-item"><a th:href="@{/public/contact}">Contact</a></li>
					<li class="list-inline-item"><a th:href="@{/public/terms-of-service}">Terms and Conditions</a></li>
				</ul>
				<p class="text-info" th:inline="text"><i class="fa fa-copyright" aria-hidden="true"></i> [[${brandName}]] Copyrights All Rights Reserved</p>
				<p class="text-info" th:inline="text">Version [[${version}]]</p>
			</div>
			<div class="row">
				<div class="pull-right">
					<a title="Android Apps" class="btn" href="https://play.google.com/store/apps/developer?id=BNBneeds" target="_blank"><i class="fa fa-android"></i></a>
					<a title="Facebook" class="btn" href="https://www.facebook.com/BNBneeds-200313427133066" target="_blank"><i class="fa fa-facebook"></i></a>
					<a title="Twitter" class="btn" href="https://twitter.com/BNBneeds" target="_blank"><i class="fa fa-twitter"></i></a>
					<a title="Google+" class="btn" href="https://plus.google.com/u/0/109535255238573739544" target="_blank"><i class="fa fa-google-plus"></i></a>
					<a title="Email" class="btn" href="mailto:info@bnbneeds.com"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>