<div class="modal fade" id="googleMapModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Location</h4>
			</div>
			<div class="modal-body">
				<div class="embed-responsive">
					<div class="text-center">
						<a id="mapLocation"></a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/external/js/jquery.urlive.min.js}"></script>
<script type='text/javascript'>
$('a.map').click(function() {
	var src = "https://maps.google.com/?q=" + $(this).text();
	$('#mapLocation').attr('href', src)
	$('#mapLocation').urlive();
	$('#googleMapModal').show();
});
	
</script>