<div sec:authorize="isAuthenticated()" id="logoutWarningModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center">You are idle</h4>
			</div>
			<div class="modal-body">
				<p class="text-info text-center" th:inline="text">
					<i class="fa fa-refresh fa-spin"></i> You are idle for more than 15 minutes. Please continue using [[${brandName}]]. Otherwise you will be logged out automatically in <span id="logoutInSeconds"></span> seconds.
				</p>
				
				<p class="text-info text-center" th:inline="text">
					This action is for your protection against security threats.
				</p>
				
			</div>
		</div>
	</div>
	<script type="text/javascript">
	//<![CDATA[
		var LOGOUT_IDLE_TIMEOUT_IN_MS = 1200000; //logs out in 20 minutes
		var countDownTimeInSeconds = 120;
		var loadLogoutWarningInMs = LOGOUT_IDLE_TIMEOUT_IN_MS - (countDownTimeInSeconds * 1000);
	
		var logoutWarningModal = $('#logoutWarningModal');
		var logoutTimerId;
		var warningTimerId;
		var logoutCountDownIntervalId;
		window.onload = resetTimer;
		document.onkeypress = resetTimer;
		document.onload = resetTimer;
		document.onmousemove = resetTimer;
		document.onmousedown = resetTimer; // touchscreen presses
		document.ontouchstart = resetTimer;
		document.onclick = resetTimer;     // touchpad clicks
		document.onscroll = resetTimer;    // scrolling with arrow keys
		document.onkeypress = resetTimer;
		
		
		function resetTimer() {
			clearTimeout(logoutTimerId);
			logoutTimerId = setTimeout(logout, LOGOUT_IDLE_TIMEOUT_IN_MS);
			
			clearTimeout(warningTimerId);
			hideLogoutWarningModal();
			clearInterval(logoutCountDownIntervalId);
			warningTimerId = setTimeout(showLogoutWarningModal, loadLogoutWarningInMs);
		}
		
		function showLogoutWarningModal() {
			var countDownSpan = $('#logoutInSeconds');
			var countdownLogoutInSeconds = countDownTimeInSeconds;
			countDownSpan.text(countdownLogoutInSeconds);
			
			logoutWarningModal.modal("show");
			logoutCountDownIntervalId = setInterval(function() {
				countDownSpan.text(--countdownLogoutInSeconds);
			}, 1000);
			
		}
		
		function hideLogoutWarningModal() {
			logoutWarningModal.modal("hide");
		}
		//]]>
	</script>
</div>
