<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-wide">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-picture-o fa-fw text-info" aria-hidden="true"></i> Image preview</h4>
			</div>
			<div class="modal-body">
				<img id="imagepreview" class="lazy img-rounded" style="width: 100%; height: 100%;"  th:src="@{/public/loading-gif}"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type='text/javascript' th:inline="javascript">
	
	$(window).load(function() {
		
		$(".pop").on("click", function() {
		   var imgSrc = $(this).children('img').attr('src');
		   $('#imagepreview').attr('data-src', imgSrc);
		   $('#imagemodal').modal('show');
		});
	});
	
	$('#imagemodal').on('shown.bs.modal', function (e) {
		var image = $('#imagepreview');
		image.unveil();
	});
	
	$('#imagemodal').on('hidden.bs.modal', function (e) {
		var image = $('#imagepreview');
		image.attr('src', [[@{/public/loading-gif}]]);
	});
</script>