<div class="container" th:fragment="content">

	<div class="panel panel-default col-lg-12">
		<div class="page-header text-center">
			<h3>BNBNeeds Maintenance</h3>
		</div>
		<div class="panel-body">
			<h4 class="text-center">BNBNeeds Service is under maintenance.</h4>
			<div class="clearfix"></div>
			<h4 class="text-center" th:inline="text">
				BNBNeeds is under maintenance between [[${maintenanceWindow}]]
			</h4>
			
		</div>
		
	</div>
</div>