<div th:if="${applicationBeans.maintenanceNotice != null}" class="col-lg-6 col-lg-offset-3 alert alert-dismissible alert-warning">
	<div th:inline="text">
		<div class="text-center">
			<i class="fa fa-exclamation-triangle faa-flash animated" aria-hidden="true"></i>
			<strong>[[${applicationBeans.maintenanceNotice.subject}]]</strong>
		</div>
		<p class="text-center small">Maintenance Window: [[${applicationBeans.maintenanceNotice.startTime}]] to [[${applicationBeans.maintenanceNotice.endTime}]]</p>
		<p class="text-justify small collapse fade" id="noticeDetail" th:utext="${applicationBeans.maintenanceNotice.message}"></p>
		<div class="text-center small"><a href="#" data-target="#noticeDetail" data-toggle="collapse">Notice Details <i id="showNoticeDetailIcon" class="fa fa-angle-double-down faa-falling animated" aria-hidden="true"></i></a></div>
	</div>
</div>
<script type="text/javascript">

var showNoticeDetailIcon = $('#showNoticeDetailIcon');

$('#noticeDetail').on("hide.bs.collapse", function(e) {
	
	if (showNoticeDetailIcon.hasClass('fa-angle-double-up')) {
		showNoticeDetailIcon.removeClass('fa-angle-double-up').addClass('fa-angle-double-down');
	} else {
		showNoticeDetailIcon.addClass('fa-angle-double-down');
	}
});

$('#noticeDetail').on("show.bs.collapse", function(e) {
	
	if (showNoticeDetailIcon.hasClass('fa-angle-double-down')) {
		showNoticeDetailIcon.removeClass('fa-angle-double-down').addClass('fa-angle-double-up');
	} else {
		showNoticeDetailIcon.addClass('fa-angle-double-up');
	}
});
</script>