<div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="100">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target="#navbar-main">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/home-page}" th:inline="text">[[${brandName}]]</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li sec:authorize="isAnonymous()" class="dropdown dropdown-hover">
					<a th:href="@{/public/what-is}" th:inline="text">What is [[${brandName}]] <i class="fa fa-question-circle" aria-hidden="true"></i></a>
				</li>
				<li th:if="${loggedInUser != null and loggedInUser.relationshipId != null}" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation">
							<a sec:authorize="hasAuthority('BUYER')" role="menuitem" tabindex="-1" th:href="@{/products/search}">Browse Products</a>
							<a sec:authorize="hasAuthority('VENDOR')" role="menuitem" tabindex="-1" th:href="@{/products/list}">My Products</a>
						</li>
						<li role="presentation">
							<a sec:authorize="hasAuthority('VENDOR')" role="menuitem" tabindex="-1"
								th:href="@{/vendors/purchase-items}">Purchase List</a>
							<a sec:authorize="hasAuthority('BUYER')" role="menuitem" tabindex="-1"
								th:href="@{/buyers/purchase-items}">My Purchase List</a>
						</li>
						<li role="presentation">
							<a sec:authorize="hasAuthority('VENDOR')" role="menuitem" tabindex="-1"
								th:href="@{/vendors/product-enquiries/list-request-form}">Product Enquiries</a>
							<a sec:authorize="hasAuthority('BUYER')" role="menuitem" tabindex="-1"
								th:href="@{/buyers/product-enquiries/list-request-form}">My Product Enquiries</a>
						</li>
					</ul>
				</li>

				<li th:if="${loggedInUser != null}" class="dropdown">
					<a href="#" data-toggle="dropdown">Master
						Entities <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li th:if="${loggedInUser.relationshipId != null}" sec:authorize="hasAuthority('VENDOR')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/product-types/list}">Product
								Types</a></li>
						<li th:if="${loggedInUser.relationshipId != null}" sec:authorize="hasAuthority('VENDOR')" role="presentation"><a
							role="menuitem" tabindex="-1"
							th:href="@{/product-categories/list}">Product Categories</a></li>
						<li th:if="${loggedInUser.relationshipId != null}" sec:authorize="hasAuthority('VENDOR')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/product-names/list}">Product
								Names</a></li>
						<li sec:authorize="hasAnyAuthority('BUYER')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/business-types/list}">Business
								Types</a></li>
					</ul>
				</li>
				
				<li th:if="${loggedInUser != null and loggedInUser.relationshipId != null}" class="dropdown">
					<a tabindex="0" data-toggle="dropdown" href="#">Subscription Plans <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li sec:authorize="hasAnyAuthority('BUYER')" role="presentation">
							<a tabindex="0" th:href="@{/buyers/bidding-subscription-plans/list}">Bidding Subscription Plans</a>
						</li>
						<li sec:authorize="hasAnyAuthority('VENDOR')" role="presentation">
							<a tabindex="0" th:href="@{/vendors/bidding-subscription-plans/list}">Bidding Subscription Plans</a>
						</li>
					</ul>
				</li>

				<li th:if="${loggedInUser != null and loggedInUser.relationshipId != null}" class="dropdown open-dropdown dropdown-notifications">
					<audio id="notificationSound" th:src="@{/notifications/bell}" class="hide-me" ></audio>
					<a id="showNotificationLink" href="#" class="dropdown-toggle">
						<i id="notificationIcon" class="fa fa-bell-o fa-lg faa-shake" aria-hidden="true"></i>
					</a>

					<div th:if="${loggedInUser != null and loggedInUser.relationshipId != null}" class="list-group dropdown-container open-dropdown-menu">
						<a class="list-group-item active"><i class="fa fa-lg fa-fw fa-bullhorn" aria-hidden="true"></i> New Notifications <span id="newNotificationCount" class="badge"></span></a>
						<!-- /dropdown-toolbar -->
						<ul id="notificationList" class="dropdown-menu scrollbar style-1">
							<li id="notificationLoading" class="notification hide-me">
								<div class="media">
									<div class="media-body">
										<p id="notificationLoadingText" class="notification-title text-center text-info bottom-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading notifications...</p>
									</div>
								</div>
							</li>
							<li id="notification" class="notification hide-me">
								 <div class="media">
								 	<div class="media-left">
								        <div class="media-object top-buffer-5">
								            <span id="notificationTypeIcon"></span>
								        </div>
								    </div>
									<div class="media-body">
										<p id="notificationText" class="small text-justify"></p>
										<div class="notification-meta">
											<small class="timestamp"><i class="fa fa-history fa-fw" aria-hidden="true"></i> <span id="notificationTimestamp" class="notification-timestamp">Loading...</span></small>
										</div>
									</div>
								</div>
							</li>
						</ul>

						<div id="notificationFooter" class="dropdown-footer">
							<a id="markNotificationsAsRead" href="javascript:void(0);" class="invisible active no-underline"><i class="fa fa-lg fa-fw fa-bell-slash-o" aria-hidden="true"></i> Mark all as read</a>
							<a><span id="markingNotificationsAsRead" class="hide-me"><i class="fa fa-refresh fa-spin"></i></span></a>
							<a th:href="@{/notifications/list}" class="active no-underline pull-right"><i class="fa fa-lg fa-fw fa-tasks" aria-hidden="true"></i> Show all</a>
						</div>
					</div>
				</li>
			</ul>

			<form sec:authorize="isAnonymous()" class="navbar-form navbar-right"
				method="POST" th:action="@{/authenticate}">

				<div class="form-group">
					<input id="username" name="username" class="form-control input-sm"
						type="email" required="required" placeholder="Username"
						autofocus="autofocus" />
				</div>
				<div class="form-group">
					<input id="password" name="password" class="form-control input-sm"
						type="password" required="required" placeholder="Password" />
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block btn-action btn-sm" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign
						In</button>
				</div>
				<div class="form-group">
					<a class="btn btn-default btn-sm btn-block"
						th:href="@{/reset-password-form}">Forgot Password?</a>
				</div>

				<div th:if="${param.error}" class="text-white small"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid username or
					password.</div>
				<div th:if="${param.logout}" class="text-white small">You have been logged out.</div>
				<div th:if="${param.sessionExpired}" class="text-white small">Your session has expired.</div>
				<div th:if="${param.passwordReset}" class="text-white small">Your password has been reset.</div>
				<div th:if="${param.invalidCSRFTokenFound}" class="text-white small">Your access token has expired. Please login again.</div>
			</form>

			<ul th:if="${loggedInUser}" class="nav navbar-nav navbar-right">
				
				<li th:if="${loggedInUser.relationshipId}" class="dropdown" id="helpMenu" title="Click here to watch video tutorials of our Android App and some of the features">
					<a href="#" data-toggle="dropdown">
						<i class="fa fa-question-circle" aria-hidden="true"></i> <span>Help</span> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a sec:authorize="hasAuthority('VENDOR')" th:href="@{/help/tutorials/android-app-video?appFor=vendor}">Video Tutorial: Android App</a>
							<a sec:authorize="hasAuthority('VENDOR')" th:href="@{/help/tutorials/add-product-video}">Video Tutorial: How to add products?</a>
							<a sec:authorize="hasAuthority('BUYER')" th:href="@{/help/tutorials/android-app-video?appFor=buyer}">Video Tutorial: Android App</a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown"><a href="#" data-toggle="dropdown" data-submenu="submenu"
					title="Click to display menu"><i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i> <span th:inline="text">[[${loggedInUser.accountName}]]
					</span><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/user-accounts/profile}">Your Account</a></li>
						<li th:if="${loggedInUser.relationshipId}">
							<a sec:authorize="hasAuthority('VENDOR')" th:href="@{/vendors/profile}">Your Organization</a>
							<a sec:authorize="hasAuthority('BUYER')" th:href="@{/buyers/profile}">Your Organization</a>
						</li>
						
						<li th:if="${loggedInUser.relationshipId != null}" class="dropdown-submenu">
							<a tabindex="0" data-toggle="dropdown" href="#">Your Subscriptions</a>
							<ul class="dropdown-menu">
								<li sec:authorize="hasAnyAuthority('BUYER')" role="presentation">
									<a tabindex="0" th:href="@{/buyers/bidding-subscriptions/list}">Bidding Subscriptions</a>
								</li>
								<li sec:authorize="hasAnyAuthority('VENDOR')" role="presentation">
									<a tabindex="0" th:href="@{/vendors/bidding-subscriptions/list}">Bidding Subscriptions</a>
								</li>
							</ul>
						</li>
						
						<li th:if="${loggedInUser.relationshipId}">
							<a sec:authorize="hasAuthority('VENDOR')" th:href="@{/vendors/payment-transactions/list}">Your Payments</a>
							<a sec:authorize="hasAuthority('BUYER')" th:href="@{/buyers/payment-transactions/list}">Your Payments</a>
						</li>
						
						<li><a th:href="@{/user-accounts/change-password-form}">Change
								Password</a></li>
						<li><a th:href="@{/logout}">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/external/js/title_notifier.js}"></script>
	<script th:src="@{/bower_components/bootstrap-submenu-2.0.4/js/bootstrap-submenu.js}"></script>
	
	<script th:if="${loggedInUser != null and loggedInUser.relationshipId != null}" type="text/javascript" th:inline="javascript">
	//<![CDATA[
	var notificationWait = false;
	var pollInterval = NOTIFICATION_POLL_INTERVAL_IN_MS;
	
	$('#showNotificationLink').click(function(e) {
		e.preventDefault();
		
		$.ajax({
	    	context: this,
	    	async: true,
	    	type: "GET",
	        url: [[@{/notifications}]],
	        beforeSend: function() {
	        	$('#notificationLoading').show();
	        },
	        success: function(data) {
	        	
	        	var notificationElement = $('#notification').clone();
	        	$('#notificationList li:not(:first)').remove();
	        	$('#notificationLoading').hide();
	        	
	        	var notificationTypeIcon = null;
	        	var notificationList = $.parseJSON(data);
	        	if(notificationList.length == 0) {
	        		$('#notificationFooter').hide();
	        	} else {
	        		$('#notificationFooter').show();
	        	}
	        	$.each(notificationList, function(i, d) {
	        		if(d.read) {
	        			notificationElement.addClass('active');
	        		} else {
	        			notificationElement.removeClass('active');
	        		}
	        		notificationElement.find('#notificationText').html(d.displayText);
	        		notificationElement.find('#notificationTimestamp').attr("data-livestamp", d.timestamp);
	        		notificationTypeIcon = notificationElement.find('#notificationTypeIcon');
	        		switch(d.eventType) {
	        		case 'NEW_BUYER_REGISTERED':
	        		case 'NEW_VENDOR_REGISTERED':
	        			notificationTypeIcon.html('<i class="fa fa-handshake-o fa-3x fa-fw text-success fa-3x"></i>');
	        			break;
	        		case 'NEW_PURCHASE_ITEM_ORDERED':
	        		case 'PURCHASE_ITEMS_UPDATED':
	        		case 'PURCHASE_ITEM_STATUS_UPDATED':
	        			notificationTypeIcon.html('<i class="fa fa-th-list fa-3x fa-fw text-primary"></i>');
	        			break;
	        		case 'NEW_PRODUCT_ENQUIRY_POSTED':
	        		case 'PRODUCT_ENQUIRY_UPDATED':
	        			notificationTypeIcon.html('<i class="fa fa-question fa-3x fa-fw text-info"></i>');
	        			break;
	        		case 'NEW_PRODUCT_ADDED':
	        		case 'PRODUCT_UPDATED':
	        			notificationTypeIcon.html('<i class="fa fa-shopping-cart fa-3x fa-fw text-warning"></i>');
	        			break;
	        		case 'BUYER_REVIEW_POSTED':
	        		case 'VENDOR_REVIEW_POSTED':
	        		case 'PRODUCT_REVIEW_POSTED':
	        			notificationTypeIcon.html('<i class="fa fa-star fa-3x fa-fw rated-star"></i>');
	        			break;
	        		case 'TENDER_OPEN':
	        		case 'TENDER_CLOSED':
	        			notificationTypeIcon.html('<i class="fa fa-gavel fa-3x fa-fw text-muted"></i>');
	        			break;
	        		case 'FIRST_TENDER_BID_POSTED':
		        		notificationTypeIcon.html('<i class="fa fa-gavel fa-3x fa-fw text-warning faa-wrench animated"></i>');
	        			break;
	        		default:
	        			notificationTypeIcon.html('<i class="fa fa-info-circle fa-3x fa-fw text-info"></i>');
	        			break;
	        		}
	        		
	        		$('#notificationList').append(notificationElement);
	        		notificationElement.show();
	        		if(i < notificationList.length) {
	        			notificationElement = $('#notification').clone();
	        		}
	            });
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	$('#notificationList li:not(:first)').remove();
	        	if($('#notificationIcon').hasClass('animated') == true) {
	       			$('#notificationIcon').removeClass('animated');
	       		}
	        	$('#newNotificationCount').html('<span class="text-danger">!</span>');
	        	$('#notificationLoadingText').addClass('text-danger').html('<span><i class="fa fa-exclamation-triangle"></i> Failed to load notificaitons. Please try again later.</span><div class="clearfix"/><button class="btn btn-sm btn-danger btn-action" onClick="window.location.reload(true);"><i class="fa fa-repeat"></i> Reload Page</button>');
	        	$('#notificationLoading').show();
	        	console.log(xhr.responseText);
	        },
	        complete: function() {
	        	//$('#notificationLoading').hide();
	        }
	    });
		
	});
	
	$('#markNotificationsAsRead').click(function(e) {
		e.preventDefault();
		
		var notificationIcon = $('#notificationIcon');
		var markNotificationsAsRead = $(this);
		
		$.ajax({
	    	context: this,
	    	async: true,
	    	type: "POST",
	        url: [[@{/notifications/mark-as-read}]],
	        breforeSend: function() {
	        	$('#markingNotificationsAsRead').show();
	        },
	        success: function(data) {
	        	
	        	if(!markNotificationsAsRead.hasClass('invisible')) {
	        		markNotificationsAsRead.addClass('invisible');
	        	}
	        	
	        	var notificationListElement = $('#notificationList');
	        	$('#newNotificationCount').text(0);
	        	titlenotifier.reset();
	        	if(notificationIcon.hasClass('animated') == true) {
	        		notificationIcon.removeClass('animated');
	       		}
	        	notificationListElement.children('.notification').each(function(i) {
	        	    if($(this).hasClass('active') == false) {
	        	    	$(this).addClass('active')
	        	    }
	        	});
	        	
	        	
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	console.log(xhr.responseText);
	        },
	        complete: function() {
	        	$('#markingNotificationsAsRead').hide();
	        }
	    });
		
	});
	
	$(document).ready(function() {
		/*
	     * jQuery Plugin To Create Multi-level Bootstrap Dropdowns - Bootstrap Submenu
	     */ 
	    $('[data-submenu]').submenupicker();
		
		
		setTimeout(poll, ON_LOAD_NOTIFICATION_POLL_INTERVAL_IN_MS);
		$('#notificationFooter').on("click", function(e) {
			$(this).removeClass('open')
		});
		
		$(document).on("idle.idleTimer", function(event, elem, obj) {
	        // function to fire when the user goes idle
			pollInterval = IDLE_TIME_NOTIFICATION_POLL_INTERVAL_IN_MS;
	    });

	    $(document).on("active.idleTimer", function(event, elem, obj, triggerevent) {
	        // function to fire when the user becomes active again
	    	pollInterval = NOTIFICATION_POLL_INTERVAL_IN_MS;
	    });
	});
	
	function poll() {
		
		if(notificationWait) {
			return;
		}
		
		var markNotificationsAsRead = $('#markNotificationsAsRead');
		
		$.ajax({
		   	context: this,
		   	async: true,
		   	type: "GET",
		    url: [[@{/notifications/anything-new}]],
		    
		    success: function(data) {
		    	
		       	var node = $.parseJSON(data);
		       	$('#newNotificationCount').text(node.newNotifications);
		       	var notificationIcon = $('#notificationIcon');
		       	if(node.newNotifications > 0) {
		       		
		       		if(markNotificationsAsRead.hasClass('invisible')) {
		       			markNotificationsAsRead.removeClass('invisible');
		       		}
		       		
		       		titlenotifier.set(node.newNotifications);
		       		//$('#notificationSound').trigger('play');
		       		$('#showNotificationLink').attr("title", "The bell's ringing. You have new notifications!");
		       		if(notificationIcon.hasClass('animated') == false) {
		       			notificationIcon.addClass('animated');
		       		}
		       	} else {
		       		if(!markNotificationsAsRead.hasClass('invisible')) {
		       			markNotificationsAsRead.addClass('invisible');
		       		}
		       		
		       		$('#showNotificationLink').attr("title", "Notifications");
		       		if(notificationIcon.hasClass('animated') == true) {
		       			notificationIcon.removeClass('animated');
		       		}
		       	}
		       	setTimeout(poll, pollInterval);
		      },
		    error: function (xhr, ajaxOptions, thrownError) {
		       	if(401 == xhr.status) {
		       		logout();
		       	}
		       	$('#newNotificationIcon').remove();
		       	$('#showNotificationLink').attr("title", "Notifications");
		       	if(notificationIcon.hasClass('animated') == true) {
		       		notificationIcon.removeClass('animated');
	       		}
		       	titlenotifier.reset();
		       	console.log(xhr.responseText);
		       	setTimeout(poll, pollInterval);
		     },
		     timeout: 60000
		});
	}
	
	//]]>
	</script>
	
	<script th:if="${param.registerSuccess}" type="text/javascript">
		var helpToolTipOptions = {
			placement: "bottom",
			trigger: "manual",
			show : {
				effect: "blind",
				duration: 800
			},
			hide : {
				effect: "explode",
				duration: 1000
			}
		} 
		$(document).ready(function() {
			$('#helpMenu').tooltip(helpToolTipOptions);
			$('#helpMenu').tooltip('show');
			setTimeout(function() {
				$('#helpMenu').tooltip('hide');
			}, 10000);
		});
	</script>
</div>