<div class="container" th:fragment="content">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li>
				<a sec:authorize="hasAuthority('VENDOR')" th:href="@{/vendors/payment-transactions/list}">Your Payments</a>
				<a sec:authorize="hasAuthority('BUYER')" th:href="@{/buyers/payment-transactions/list}">Your Payments</a>
			</li>
			<li class="active">Receipt</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>

		<div th:if="${paymentInfo}" class="panel panel-default">
			<div class="panel-body">
				<div
					class="col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
					<div class="panel panel-primary print-area">
						<div class="panel-heading">
							<h4 class="panel-title text-center">Payment Receipt</h4>
						</div>
						<div class="panel-body">
							<div class="page-heading">
								<div class="row">
									<div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
										<img th:src="@{/external/images/favicon150x150.png}"
											width="100%" th:alt="${brandName}" />
									</div>
									<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
										<p>
											<strong>Billing To:</strong>
										</p>
										<p th:inline="text">
											<i class="fa fa-user-o" aria-hidden="true"></i>
											[[${loggedInUser.accountName}]]
										</p>
										<p th:inline="text">
											<i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
											[[${paymentInfo.get('email')}]]
										</p>
										<p th:inline="text">
											<i class="fa fa-phone fa-fw" aria-hidden="true"></i>
											[[${paymentInfo.get('contact')}]]
										</p>
									</div>
								</div>
								<hr />
							</div>
							<div class="row">
								<div class="col-xs-7 col-sm-7 col-md-7">
									<p th:inline="text">
										<strong>Order ID: [[${paymentInfo.get('order_id')}]]</strong>
									</p>
									<p th:inline="text">Payment Method:
										[[${paymentInfo.get('method')}]]</p>
									<p th:inline="text">Payment Gateway: Razorpay</p>
								</div>
								<div class="col-xs-5 col-sm-5 col-md-5 text-right">
									<p>
										<span th:inline="text"><strong>Date:
												[[${#dates.format(new
												java.util.Date(paymentInfo.get('created_at')), 'dd MMM
												yyyy')}]]</strong></span>
									</p>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Item</th>
												<th class="text-center">Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="col-md-9"><span th:inline="text">[[${paymentInfo.get('description')}]]</span></td>
												<td class="col-md-1 text-center" th:inline="text">&#8377;[[${paymentInfo.get('amount')/100}]]</td>
											</tr>
											<tr>
												<td class="text-right">
													<p>Processing Fee</p>
													<p>GST</p>
												</td>
												<td class="text-center" th:inline="text">
													<p>&#8377;[[${paymentInfo.get('fee')}]]</p>
													<p>&#8377;[[${paymentInfo.get('tax')}]]</p>
												</td>
											</tr>
											<tr>
												<td class="text-right"><h4>
														<strong>Total Amount Paid:</strong>
													</h4></td>
												<td class="text-center text-info" th:inline="text"><h4>
														<strong>&#8377;[[${paymentInfo.get('amount')/100}]]</strong>
													</h4></td>
											</tr>
										</tbody>
									</table>
									<button type="button"
										class="btn btn-success non-print-area print-page-btn">
										<i class="fa fa-print non-print-area" aria-hidden="true"></i>
										Print
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>