
<div class="container" th:fragment="content">

	<ol class="breadcrumb">
		<li><a th:href="@{/products/list}">Products</a></li>
		<li class="active" th:inline="text" th:if="${productInfo}">[[${productInfo.productName.name}]]</li>
	</ol>
	
	<div th:if="${errorMessage}" id="errorMessage"
		class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:text="${errorMessage}"></div>
	</div>

	<div th:if="${productInfo}" class="panel panel-primary" >
		<div class="panel-heading">
			<h4 class="panel-title">Product Information</h4>
		</div>

		<div class="panel-body">
			<div th:if="${param.updateSuccess}"
				class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<div>Product information updated successfully.</div>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li id="specTab" class="nav-item"><a
					class="nav-link active hvr-overline-from-center" data-toggle="tab"
					href="#specifications" role="tab"><i
						class="glyphicon glyphicon-copy"></i> Specifications</a></li>
				<li class="nav-item"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#images" role="tab"><i class="fa fa-picture-o"
						aria-hidden="true"></i> Images</a></li>
				<li class="nav-item"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#videos" role="tab"><i class="fa fa-video-camera"
						aria-hidden="true"></i> Videos</a></li>
				
				<li class="nav-item" id="reviewsTab"><a
						class="nav-link hvr-overline-from-center" data-toggle="tab"
						href="#reviews" role="tab"><i class="fa fa-star"
							aria-hidden="true"></i> Reviews</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade" id="specifications" role="tabpanel">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="wrapper col-lg-12">
								<div class="row">
									<h1 class="text-center" th:inline="text">
										[[${productInfo.productName.name}]] <small
											th:if="${productInfo.modelId}" th:inline="text">[[${productInfo.modelId}]]</small>
									</h1>
								</div>

								<div class="clearfix"></div>
								<div th:if="${productInfo.description}">
									<h4>Description</h4>
									<div class="product-descriptions">
										<p class="text-justify" th:utext="${productInfo.description}"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="wrapper">
								<div class="row">
									<div class="col-lg-12">
										<h4>Specifications</h4>
										<table class="table">
											<tbody>
												<tr>
													<td><strong>Price:</strong></td>
													<td th:inline="text"><span class="badge">&#8377;[[${productInfo.costPrice}]]</span></td>
												</tr>
												<tr>
													<td><strong>Type:</strong></td>
													<td th:inline="text">[[${productInfo.productType.name}]]</td>
												</tr>
												<tr>
													<td><strong>Category:</strong></td>
													<td th:inline="text">[[${productInfo.productCategory.name}]]</td>
												</tr>
											</tbody>
										</table>

										<div th:if="${productInfo.attributes}">
											<h4>Attributes</h4>
											<table class="table">
												<tbody>
													<tr th:each="item : ${productInfo.attributes}">
														<td th:inline="text" class="text-capitalize"><strong>[[${#strings.toLowerCase(item.key)}]]:</strong></td>
														<td th:inline="text">[[${item.value}]]</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div th:if="${productInfo.serviceLocations}"
											class="product-service-locations">
											<h4>Service Locations</h4>
											<div th:inline="text">[[${productInfo.serviceLocations}]]</div>
										</div>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="clearfix"></div>
									<h4 th:inline="text" title="Vendor">
										<strong>[[${vendorInfo.name}]]</strong> <a class="show-hand"
											title="Click to view more information about this vendor"
											data-toggle="modal" data-target="#vendorDetailsDialog"> <i
											class="fa fa-info-circle"></i>
										</a>
									</h4>
									<table class="table">
										<tbody>
											<tr>
												<td><strong>Contact Name:</strong></td>
												<td th:inline="text">[[${vendorInfo.contactName}]]</td>
											</tr>
											<tr>
												<td><strong>Email Address:</strong></td>
												<td><a th:href="${'mailto:' + vendorInfo.emailAddress}"
													th:inline="text">[[${vendorInfo.emailAddress}]]</a></td>
											</tr>
											<tr>
												<td><strong>Mobile Number:</strong></td>
												<td><a th:href="${'tel:' + vendorInfo.mobileNumber}"
													th:inline="text">[[${vendorInfo.mobileNumber}]]</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<div class="clearfix"></div>
					<hr />
					<div th:if="${productInfo}" sec:authorize="hasAuthority('VENDOR')" class="form-inline">
						<div class="form-group">
							<a class="btn-image btn-action" title="Manage Product Images"
								th:href="@{/vendors/products/{productId}/manage-images(productId=${productInfo.id})}">Manage
								Images</a>
						</div>
						<div class="form-group">
							<a class="btn-update btn-action" title="Update Product Information"
								th:href="@{/vendors/products/{productId}/update-form(productId=${productInfo.id})}">Update</a>
						</div>
						<div class="form-group">
							<a class="btn-delete" title="Delete Product" data-toggle="modal"
								data-target="#productDeleteDialog">Delete</a>
						</div>
					</div>
		
					<div sec:authorize="hasAuthority('BUYER')" th:if="${productInfo.entityStatus == 'APPROVED'}" class="form-inline">
						<div class="form-group">
							<a id="postEnquriryBtn" class="btn btn-info" title="Post Enquiry">
								<i	class="fa fa-question"></i> Post Enquiry
							</a>
						</div>
						<div class="form-group pull-right">
							<a data-th-attr="data-entity-id=${productInfo.id}" class="report-abuse"></a>
						</div>
					</div>
					
				</div>

				<div class="tab-pane fade" id="images" role="tabpanel">

					<div
						th:if="${productImageKeys == null or #lists.isEmpty(productImageKeys)}"
						class="top-buffer-20">
						<img class="img-responsive img-rounded"	th:src="@{/external/images/image-not-available.jpg}" alt="image" />
					</div>
					<div class="wrapper col-lg-12">
						<div class="row top-buffer-20">
							<div
								th:if="${productImageKeys != null and not #lists.isEmpty(productImageKeys)}"
								id="myCarousel" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#myCarousel"
										th:each="item, iterStat: ${productImageKeys}"
										th:attr="data-slide-to=${iterStat.index}" class="active"></li>
								</ol>
								<div class="carousel-inner">
									<div th:each="item, iterStat : ${productImageKeys}"
										class="item" th:classappend="${iterStat.index == 0}? 'active'">
										<img class="lazy img-responsive img-rounded"
											th:src="@{/external/images/loading.gif}"
											th:attr="data-src=@{${item.value}}" alt="image" />
									</div>
								</div>
								<a class="left carousel-control" href="#myCarousel"
									data-slide="prev"> <span
									class="glyphicon glyphicon-chevron-left"></span></a> <a
									class="right carousel-control" href="#myCarousel"
									data-slide="next"> <span
									class="glyphicon glyphicon-chevron-right"></span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="videos" role="tabpanel">
					<div
						th:if="${#strings.isEmpty(productInfo.videoURL) and #strings.isEmpty(productInfo.tutorialVideoURL)}"
						class="top-buffer-20">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item rounded-corner"
								src="https://www.youtube.com/embed/M-VQTP64Azk?rel=0&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0&amp;loop=1&amp;playlist=M-VQTP64Azk"
								allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
					<div class="wrapper col-lg-12">
						<div class="top-buffer-20">
							<div th:if="${productInfo.videoURL}">
								<h3 class="text-center bottom-buffer-10">Presentation</h3>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item rounded-corner"
										th:src="${productInfo.videoURL}"
										allowfullscreen="allowfullscreen"></iframe>
								</div>
							</div>

							<div th:if="${productInfo.tutorialVideoURL}">
								<hr />
								<h3 class="text-center bottom-buffer-10">Usage Video</h3>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item rounded-corner"
										th:src="${productInfo.tutorialVideoURL}"
										allowfullscreen="allowfullscreen"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="tab-pane fade" id="reviews" role="tabpanel">
					<span  th:if="${reviewListResponse != null}" id="reviewListNextOffset" th:attr="data-next-offset=${reviewListResponse.nextOffset}"></span>
					<div class="page-header">
						<h3 th:inline="text">What do buyers think? 
							<a sec:authorize="hasAuthority('BUYER')" class="post-review" 
								th:attr="data-post-review-url=@{/products/{productId}/reviews(productId=${productInfo.id})}, data-get-reviews-by-reviewer-url=@{/products/{productId}/reviews/list-as-text-by-reviewer(productId=${productInfo.id})}">
							</a>
						</h3>
					</div>
					<div th:if="${param.postReviewSuccess}" class="alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Review has been posted successfully.
					</div>
					
					<div th:if="${param.deleteReviewSuccess}" class="alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Review has been deleted successfully.
					</div>
							
					<div th:if="${reviewListResponse == null or #lists.isEmpty(reviewListResponse.reviews)}" class="col-md-12">
						No reviews posted about this product.
					</div>
					<div th:if="${reviewListResponse!= null and not #lists.isEmpty(reviewListResponse.reviews)}" class="col-md-12">
						
						<div th:replace="average-rating-fragment-view"></div>
						
						<div class="input-group top-buffer-10">
							<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
							<input id="searchText" class="form-control" type="search" autofocus="autofocus"
								placeholder="Search..." />
						</div>
						<ul class="list-group" id="reviewList">
							<li id="reviewItem" class="list-group-item top-buffer-5 hvr-glow wow slideInLeft"
								th:each="review : ${reviewListResponse.reviews}">
								<a id="reviewIdForReportingAbuse" sec:authorize="hasAuthority('VENDOR')" data-th-attr="data-entity-id=${review.id}" class="report-abuse"></a>
								<input id="itemRating" th:value="${review.rating}" class="display-rating rating-loading" />
								<p th:if="${not #strings.isEmpty(review.headline)}" th:inline="text">
									<strong id="itemHeadline">[[${review.headline}]]</strong>
								</p>
									
								<div class="text-justify" th:inline="text">
									<blockquote class="blockquote">
										<p id="itemDescription" class="h5 text-muted" th:if="${not #strings.isEmpty(review.description)}" th:inline="text">[[${review.description}]]</p>
											<footer class="blockquote-footer pull-right">
												<cite sec:authorize="hasAuthority('BUYER')" title="Buyer"><span id="itemReviewerName">[[${review.reviewedBy.name}]]</span></cite> 
												<cite sec:authorize="hasAuthority('VENDOR')" title="Buyer"><a id="reviewerDetailsLink" class="no-underline" th:href="@{/buyers/{buyerId}/details(buyerId=${review.reviewedBy.id})}"><span id="itemReviewerName">[[${review.reviewedBy.name}]]</span></a></cite>
											on <span id="itemTimestamp">[[${review.timestamp}]]</span></footer>
									</blockquote>
								</div>
							</li>
						</ul>
						<div id="reviewLoading" class="invisible">
							<div class="media">
								<div class="media-body">
									<p id="notificationLoadingText" class="text-center text-info top-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading reviews...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div th:if="${vendorInfo}" class="modal fade" id="vendorDetailsDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">
						[[${vendorInfo.name}]]</h4>

				</div>

				<!-- Modal Body -->
				<div class="modal-body">
					<div th:if="${vendorInfo.website}" class="urlive-container"
						title="Vendor website"></div>
					<div class="text-center" th:if="${vendorInfo.website}">
						<a id="vendorWebsite" th:href="${vendorInfo.website}"
							target="_blank"></a>
					</div>
					<table class="table table-borderless">
						<tbody>
							<tr>
								<td><strong>Description:</strong></td>
								<td
									th:text="${vendorInfo.description} ? ${vendorInfo.description} : 'N/A'"></td>
							</tr>
							<tr>
								<td><strong>Address:</strong></td>
								<td th:utext="${vendorInfo.address}"></td>
							</tr>
							<tr sec:authorize="hasAuthority('VENDOR')">
								<td><strong>PAN:</strong></td>
								<td th:inline="text">[[${vendorInfo.pan}]]</td>
							</tr>
							<tr sec:authorize="hasAuthority('VENDOR')">
								<td><strong>VAT Number:</strong></td>
								<td th:text="${vendorInfo.vatNumber} ? ${vendorInfo.vatNumber} : 'N/A'"></td>
							</tr>
							<tr sec:authorize="hasAuthority('VENDOR')">
								<td><strong>Service Tax Number:</strong></td>
								<td th:text="${vendorInfo.serviceTaxNumber} ? ${vendorInfo.serviceTaxNumber} : 'N/A'"></td>
							</tr>
							<tr>
								<td><strong>Operating Cities:</strong></td>
								<td th:inline="text">[[${vendorInfo.cities}]]</td>
							</tr>
						</tbody>
					</table>

					<div class="modal-footer">
						<button class="btn-close" type="button" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div th:if="${productInfo}" sec:authorize="hasAuthority('VENDOR')" class="modal fade"
		id="productDeleteDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">
						Delete [[${productInfo.productName.name}]] <small
							th:if="${productInfo.modelId}" th:inline="text">[[${productInfo.modelId}]]</small>?
					</h4>

				</div>

				<!-- Modal Body -->
				<div class="modal-body">
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<ol>
							<li>If you delete this product, all its buyer enquires will be deleted along with the product.</li>
							<li>Once deleted, you will be taken to product list page.</li>
						</ol>
					</div>

					<div class="modal-footer">
						<div class="row">
							<form class="form-inline"
								th:action="@{/vendors/products/{productId}/delete(productId=${productInfo.id})}"
								method="POST">
								<button type="submit" class="btn-delete btn-action confirmation">Confirm
									Delete</button>
								<button type="button" class="btn-close" data-dismiss="modal">Close</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div sec:authorize="hasAuthority('BUYER')" th:if="${productInfo != null and productInfo.entityStatus == 'APPROVED'}" class="modal fade"
		id="postProductEnquiryModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">
						<i class="fa fa-question fa-lg text-info"></i> Post enquiry for 
						[[${productInfo.productName.name}]] <small
							th:if="${productInfo.modelId}" th:inline="text">[[${productInfo.modelId}]]</small>
					</h4>

				</div>
				<form id="submitEnquiryForm" th:action="@{/buyers/product-enquiries/create}"
					method="post">
					<!-- Modal Body -->
					<div class="modal-body">
							
						<div id="loadingDiv" class="top-buffer-10 invisible">
							<i class="fa fa-refresh fa-spin"></i> Posting enquiry...
						</div>

						<div id="submitEnquiryFailedDiv"
							class="hide-me alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<div id="submitEnquiryFailedReason"></div>
						</div>
						
						<div id="submitEnquirySuccessDiv" 
							class="hide-me alert alert-dismissible alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<div>Your enquiry has been posted sucessfully. <a th:href="@{/buyers/product-enquiries(enquiryDate=${#dates.format(#dates.createToday(), 'dd-MMM-yyyy')})}" class="btn btn-xs btn-success btn-action">Click here</a> to see it.</div>
						</div>

						<div id="formContent">
							<input type="hidden" id="productId" name="productId" th:value="${productInfo.id}"/>
							<div class="form-group required">
								<label class="control-label" for="requiredQuantity">Required Quantity</label> <input
									type="text" id="requiredQuantity" name="requiredQuantity" class="form-control"
									placeholder="Example: 50 Kilograms" required="required"
									autofocus="autofocus" />
							</div>
							
							<div class="form-group required">
								<label class="control-label" for="likelyToBuyIn">Likely to buy in</label>
								<div class="input-group">
									<input type="number" id="likelyToBuyIn" name="likelyToBuyIn" class="form-control"
										placeholder="Example: 10" min="1" required="required" />
									<span class="input-group-addon"></span>
									<select id="timeUnit" name="timeUnit" class="form-control">
										<option value="days">days</option>
										<option value="weeks">weeks</option>
										<option value="months">months</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label" for="description">Description</label>
								<textarea class="form-control" id="description"
									name="description" rows="3"
									placeholder="(Optional) You can describe your requirement; the specific details that you are interested in."></textarea>
							</div>
						</div>

						<div id="postEnquiryModalFooter" class="modal-footer">
							<div class="row">
								<button type="submit" class="btn-submit confirmation">Submit
									Enquiry</button>
								<button type="button" class="btn-close" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div sec:authorize="hasAnyAuthority('BUYER, 'VENDOR')" th:replace="abuse-report-modal-view"></div>
	<div sec:authorize="hasAuthority('BUYER')" th:replace="review-modal-view"></div>

	<script type="text/javascript" th:src="@{/external/js/jquery.urlive.min.js}"></script>
	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	
	<script  th:if="${productInfo}" type="text/javascript" th:inline="javascript">
	
	//<![CDATA[

	    $('#reviewList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
	    
		$(document).ready(function() {
			if(urlContainsQueryParam("postReviewSuccess") || urlContainsQueryParam("deleteReviewSuccess") || urlContainsQueryParam("reviews")) {
				$('#reviewsTab a[href="#reviews"]').tab('show');
			} else {
				$('#specTab a[href="#specifications"]').tab('show')
			}
		});
		
		try {
			$('#vendorWebsite').urlive();
		} catch(ex) {
			//Ignore this
		}
		
		
		$('#postEnquriryBtn').click(function () {
			$("#formContent").show();
			$("#postEnquiryModalFooter").show();
			$("#submitEnquirySuccessDiv").hide();
			$("#submitEnquiryFailedDiv").hide();
			$('#postProductEnquiryModal').modal('show');
		});
		
		$("#submitEnquiryForm").submit(function(e) {
			e.preventDefault();
			var options = {
	    		errorElement: 'div',
	    		errorClass: 'text-danger small',
	    		highlight: function(element) {
		    		$(element).parent("div").addClass('has-error');
		    	},
		    	unhighlight: function(element) {
		    		$(element).parent('div').removeClass('has-error');
		    	}
	    	}
			
			var validator = $(this).validate(options);
			$(this).find('input:text, textarea').each(function() {
				var inputVal = $(this).val();
				$(this).val($.trim(inputVal));
		    });
			if(validator.form()) {
			    var formData = new FormData($(this)[0]);
			    $.ajax({
			    	context: this,
			    	url: $(this).attr('action'),
			        type: 'POST',
			        data: formData,
			        async: true,
			        cache: false,
			        contentType: false,
			        processData: false,
			        beforeSend: function() {
			        	$("#formContent").hide();
			    		$("#postEnquiryModalFooter").hide();
			    		$('#loadingDiv').removeClass('invisible');
			        },
			        success: function (data) {
			        	$("#submitEnquiryFailedDiv").hide();
			        	$("#submitEnquirySuccessDiv").show();
			    		$('#description').val('');
			    		$('#likelyToBuyIn').val('');
			    		$('#requiredQuantity').val('');
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$("#submitEnquiryFailedReason").text('Oops! Failed to post enquiry.\nReason: ' + xhr.responseText);
			        	$("#submitEnquiryFailedDiv").show();
			        	$("#submitEnquirySuccessDiv").hide();
			        },
			        complete: function() {
			        	$('#loadingDiv').addClass('invisible');
			        }
			    });
			}
		    return false;
		});
		
		var reviewLoading = $('#reviewLoading');
		var lastScrollTopPosition = 0;
		
		var reviewListEmpty = false;
		var processing = false;
		
		$(window).scroll(function() {
			if(processing || reviewListEmpty) {
				return;
			}
			
			var currentScrollPosition = $(this).scrollTop();
			if (currentScrollPosition > lastScrollTopPosition) {
			       // downscroll code
				if($(this).scrollTop() >= ($(document).height() - $(this).height()) * 0.9) {
					if($("#reviewsTab").hasClass('active')) {
						makeAjaxCallToGetReviews();
					}
				}
			}
			lastScrollTopPosition = currentScrollPosition;
		});
		
		function makeAjaxCallToGetReviews() {
			
			var nextOffsetElement = $("#reviewListNextOffset");
			var nextOffset = nextOffsetElement.data('next-offset');
		
			$.ajax({
				context: this,
				url :  [[@{/products/{productId}/reviews/list-as-text?nextOffset=(productId=${productInfo.id})}]] + nextOffset,
				method: 'GET',
				async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	
		        	reviewLoading.removeClass('invisible');
		        	processing = true;
		        },
				success: function(data) {
					
					var reviewListResponse = $.parseJSON(data);
					nextOffsetElement.data('next-offset', reviewListResponse.next_offset);
					
					if(reviewListResponse.review != null && reviewListResponse.review.length > 0) {
						reviewListEmpty = false;
													
						$.each(reviewListResponse.review, function(i, d) {
							var reviewItem = $('#reviewItem').clone();
							reviewItem.find('.rating-container').remove();
							
							var reviewRating = $('<input/>', {'id': 'itemRating','class': 'display-rating'});
							reviewRating.val(parseInt(d.rating));
							reviewItem.prepend(reviewRating);
							reviewRating.rating('refresh', ratingOptions);
							
							var reviewIdForReportingAbuse = reviewItem.find("#reviewIdForReportingAbuse");
							if(reviewIdForReportingAbuse.length) {
								reviewIdForReportingAbuse.remove();
								var reportAbuseElement = createAbuseReportAnchorElement(d.id);
								reviewItem.prepend(reportAbuseElement);
								console.log(reportAbuseElement.data('entity-id'));
							}

							if(d.headline != null) {
								reviewItem.find("#itemHeadline").text(d.headline);
							}
							if(d.description != null) {
								reviewItem.find("#itemDescription").text(d.description);
							}
							reviewItem.find("#itemTimestamp").text(d.timestamp);
							reviewItem.find("#itemReviewerName").text(d.reviewed_by.name);
							
							var reviewerDetailsLink = reviewItem.find("#reviewerDetailsLink");
							if(reviewerDetailsLink.length) {
								reviewerDetailsLink.attr('href', "/buyers/" + d.reviewed_by.id + "/details");
							}
							
							$('#reviewList').append(reviewItem);
						});
						
					} else {
						reviewListEmpty = true;
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					if(401 == xhr.status) {
		        		logout();
		        	}
					console.log(xhr.responseText);
				},
				complete: function() {
					processing = false;
					reviewLoading.addClass('invisible');
				}
			});
			
		}
	//]]>
	</script>
</div>

