<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li><a th:href="@{/products/list}">Products</a></li>
			<li class="active">Browse Products</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>

		<div class="panel panel-default">
			<div id="searchFilterHeading" class="panel-heading show-hand"
				data-toggle="collapse" data-target="#searchFormPanelBody">
				<h4 class="panel-title">
					<i id="searchFilterHeadingIcon" class="fa fa-chevron-right small"
						aria-hidden="true"></i> Search Filters
				</h4>
			</div>
			<div class="panel-body collapse" id="searchFormPanelBody">

				<div id="loadingDiv" class="bottom-buffer-5 invisible">
					<i class="fa fa-refresh fa-spin"></i> <span id="loadingText">Loading,
						please wait...</span>
				</div>

				<form id="searchProductsForm" th:action="@{/products/search}"
					method="get" th:object="${queryProductsBean}">

					<input th:field="*{nextOffset}" type="hidden" />

					<div class="row">
						<div class="col-md-4">
							<div class="form-group label-floating ">
								<label class="control-label" for="productName">Product
									Name</label> <select th:field="*{productName}"
									class="form-control selectpicker">
									<option
										th:if="${#strings.isEmpty(queryProductsBean.productName)}"
										value="" selected="selected">Select a product</option>
									<option
										th:if="${not #strings.isEmpty(queryProductsBean.productName)}"
										th:value="${queryProductsBean.productName}" th:inline="text"
										selected="selected">[[${#strings.arraySplit(queryProductsBean.productName,
										'|')[0]}]]</option>

								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group label-floating ">
								<label class="control-label" for="productType">Product
									Type</label> <select th:field="*{productType}"
									class="form-control selectpicker">
									<option
										th:if="${#strings.isEmpty(queryProductsBean.productType)}"
										value="" selected="selected">Select a type</option>
									<option
										th:if="${not #strings.isEmpty(queryProductsBean.productType)}"
										th:value="${queryProductsBean.productType}" th:inline="text"
										selected="selected">[[${#strings.arraySplit(queryProductsBean.productType,
										'|')[0]}]]</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group label-floating ">
								<label class="control-label" for="productCategory">Product
									Category</label> <select th:field="*{productCategory}"
									class="form-control selectpicker">
									<option
										th:if="${#strings.isEmpty(queryProductsBean.productCategory)}"
										value="" selected="selected">Select a category</option>
									<option
										th:if="${not #strings.isEmpty(queryProductsBean.productCategory)}"
										th:value="${queryProductsBean.productCategory}"
										th:inline="text" selected="selected">[[${#strings.arraySplit(queryProductsBean.productCategory,
										'|')[0]}]]</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group label-floating ">
								<label class="control-label" for="productCategory">Vendor</label>
								<select th:field="*{vendor}" class="form-control selectpicker">
									<option th:if="${#strings.isEmpty(queryProductsBean.vendor)}"
										value="" selected="selected">Select a vendor</option>
									<option
										th:if="${not #strings.isEmpty(queryProductsBean.vendor)}"
										th:value="${queryProductsBean.vendor}" th:inline="text"
										selected="selected">[[${#strings.arraySplit(queryProductsBean.vendor,
										'|')[0]}]]</option>
								</select>

							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label" for="minCostPrice">Price
									Range (&#8377;)</label>
								<div class="input-group">
									<input th:field="*{minCostPrice}" class="form-control"
										type="number" min="0" /> <span class="input-group-addon">
										to </span> <input th:field="*{maxCostPrice}" class="form-control"
										type="number" min="0" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<button id="applyFilterBtn" class="btn-filter btn-action btn-md"
									type="button">Apply Filters</button>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<button id="resetFilterBtn" class="btn-reset btn-md"
									type="button" title="Click to remove all filters"
									disabled="disabled">Reset Filters</button>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Browse Products</h4>
			</div>

			<div class="panel-body">
				
				<div th:if="${productSearchFilterText}" id="appliedFilterDiv"
					class="alert alert-success small">
					<div th:inline="text">
						<div class="h5 text-success">Showing products filtered by:</div>
						<div class="clearfix"></div>
						<div th:utext="${productSearchFilterText}"></div>
					</div>
				</div>

				<div
					th:if="${listResponse == null or #lists.isEmpty(listResponse.productInfoResponseList)}"
					class="top-buffer-10">No products to display.</div>
				<div th:if="${listResponse != null}">

					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3"
							th:each="product : ${listResponse.productInfoResponseList}">

							<div class="product-box hvr-glow small wow slideInDown show-hand tool-tip"
								title="Click to view details"
								th:attr="data-product-details-url=@{/products/{productId}/details(productId=${product.id})}">
								<div class="card">
									<img th:if="${product.imageList == null}" id="image"
										class="lazy img-rounded card-img-top product-image"
										th:attr="data-src=@{/external/images/image-not-available.jpg}"
										height="170px" width="100%" alt="Image"
										th:title="${product.productName.name}"/>
									<img
										th:if="${product.imageList != null}" id="image"
										class="lazy img-rounded card-img-top product-image"
										th:src="@{/public/loading-gif}"
										th:attr="data-src=@{/products/{productId}/images/{imageId}(productId=${product.id},imageId=${product.imageList.imageLinks[0].id}, mediaType=${product.imageList.imageLinks[0].mediaType})}"
										height="170px" width="100%" alt="Image" 
										th:title="${product.productName.name}"/>
									<div class="card-block">
										<h5 class="card-title text-center truncate-text" th:inline="text">
											[[${product.productName.name}]] <small
												th:if="${product.modelId}">[[${product.modelId}]]</small>
										</h5>
									</div>
									<ul class="list-group list-group-flush">
										<li class="list-group-item text-success h5 text-right"
											th:inline="text">&#8377;[[${product.costPrice}]]</li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="form-inline">
					<div class="form-group pull-right">
						<div
							th:if="${listResponse != null and listResponse.nextOffset != null}">

							<button id="nextBtn" class="btn-next button-action" type="button">Next</button>
						</div>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back"
							type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[

		var loadingDiv = $('#loadingDiv');
		var loadingText = $('#loadingText');
		var searchFilterHeadingIcon = $('#searchFilterHeadingIcon');
		
		var filterExists = false;
		
		$(document).ready(function() {
			if($('#appliedFilterDiv').length) {
				// Set flag not load dropdowns and make input fields read only.
				filterExists = true;
			}
		});
		
		$('.product-box').click(function() {
			$(this).off('click');
			$(this).removeClass('show-hand');
			freezePage();
			var productDetailsURL = $(this).data('product-details-url');
			var img = $(this).children().find('.product-image');
			img.attr('src', [[@{/public/loading-gif}]]);
			window.location = productDetailsURL;
		});
		
		
		$('#searchFormPanelBody').on("hide.bs.collapse", function(e) {
			
			if (searchFilterHeadingIcon.hasClass('fa-chevron-down')) {
				searchFilterHeadingIcon.removeClass('fa-chevron-down').addClass('fa-chevron-right');
			} else {
				searchFilterHeadingIcon.addClass('fa-chevron-right');
			}
		});
		
		$('#searchFormPanelBody').on("show.bs.collapse", function(e) {
			
			if (searchFilterHeadingIcon.hasClass('fa-chevron-right')) {
				searchFilterHeadingIcon.removeClass('fa-chevron-right').addClass('fa-chevron-down');
			} else {
				searchFilterHeadingIcon.addClass('fa-chevron-down');
			}
		});
		
		$('#searchFormPanelBody').on("shown.bs.collapse", function(e) {
			e.preventDefault();
			
			if(filterExists) {
				$('#resetFilterBtn').prop("disabled", false);
				$('#minCostPrice').prop("readonly", true);
				$('#maxCostPrice').prop("readonly", true);
			} else {
				loadDropdownsIfEmpty();
			}
		});
		
		$('#resetFilterBtn').click(function(e) {
			e.preventDefault();
			
			if($('#appliedFilterDiv').length) {
				$('#appliedFilterDiv').fadeOut("fast", function() {
	        		$(this).remove();
	        		filterExists = false;
	        	});
				
				resetNextOffset();
				$('#productName').empty().append('<option value="" selected="selected">Select a product</option>').selectpicker('refresh');
				$('#productType').empty().append('<option value="" selected="selected">Select a type</option>').selectpicker('refresh');;
				$('#productCategory').empty().append('<option value="" selected="selected">Select a category</option>').selectpicker('refresh');;
				$('#vendor').empty().append('<option value="" selected="selected">Select a vendor</option>').selectpicker('refresh');;
				$('#minCostPrice').val(0);
				$('#maxCostPrice').val(0);
				$('#minCostPrice').prop("readonly", false);
				$('#maxCostPrice').prop("readonly", false);
				loadDropdownsIfEmpty();
				$(this).prop("disabled", true);
			}
		});
		
		function resetNextOffset() {
			$('#nextOffset').val('');
		}
		
		function loadDropdownsIfEmpty() {
			var optionSize = $('#vendor > option').length;
			var valueLength = $('#vendor').val().trim().length;
			if(optionSize == 1 && valueLength == 0) {
				loadVendors();
			}
		}
		
		$('#applyFilterBtn').click(function(e){
			e.preventDefault();
			resetNextOffset();
			$('#searchProductsForm').submit();
			
		});
		
		
		$('#searchProductsForm input[type="number"]').change(function(e) {
			if($(this).val().trim().length == 0) {
				$(this).val('0');
			}
		});
		
		$('#nextBtn').click(function(e) {
			$('#searchProductsForm').submit();
		});
		
		function loadVendors() {
			var selectElement = $('#vendor');
			
			var value = selectElement.val();
			if(value != null && typeof value !== 'undefined' && value.trim().length == 0) {
				
				$.ajax({
			    	context: this,
			    	async: true,
			    	cache: false,
			    	beforeSend: function(xhr) {
			    		loadingDiv.removeClass('invisible');
			    		loadingText.text('Loading vendors...');
			    		selectElement.empty();
			    	},
			    	type: "GET",
			        url: [[@{/vendors/list-as-text}]],
			        
			        success: function(data) {
			        	var response = $.parseJSON(data);
			        	
			        	selectElement.append('<option value="">Select a vendor</option>');
			            $.each(response, function(i, d) {
			            	selectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
			            });
			            selectElement.selectpicker('refresh');
			            //$("#errorDiv").addClass('hide-me');
			            $('#applyFilterBtn').prop('disabled', false);
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$("#errorText").text('Error: ' + xhr.responseText);
			        	$("#errorDiv").removeClass('hide-me');
			        	$('#applyFilterBtn').prop('disabled', true);
			        },
			        complete: function() {
			        	loadingDiv.addClass('invisible');
			        	loadProductTypes();
			        }
			    });
			}
		}
		
		function loadProductTypes() {
			
			var selectElement = $('#productType');
			
			var value = selectElement.val();
			if(value != null && typeof value !== 'undefined' && value.trim().length == 0) {
			
				$.ajax({
			    	context: this,
			    	async: true,
			    	cache: false,
			    	beforeSend: function(xhr) {
			    		loadingDiv.removeClass('invisible');
			    		loadingText.text('Loading product types...');
			    		selectElement.empty();
			    	},
			    	type: "GET",
			        url: [[@{/product-types/list-as-text}]],
			        
			        success: function(data) {
			        	var response = $.parseJSON(data);
			        	selectElement.append('<option value="">Select a type</option>');
			            $.each(response, function(i, d) {
			            	selectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
			            });
			            selectElement.selectpicker('refresh');
			            //$("#errorDiv").addClass('hide-me');
			            $('#applyFilterBtn').prop('disabled', false);
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$("#errorText").text('Error: ' + xhr.responseText);
			        	$("#errorDiv").removeClass('hide-me');
			        	$('#applyFilterBtn').prop('disabled', true);
			        },
			        complete: function() {
			        	loadingDiv.addClass('invisible');
			        	loadProductCategories();
			        }
			    });
			}
		}
		
		function loadProductCategories() {
			
			var selectElement = $('#productCategory');
			var value = selectElement.val();
			if(value != null && typeof value !== 'undefined' && value.trim().length == 0) {
			
				$.ajax({
			    	context: this,
			    	async: true,
			    	cache: false,
			    	beforeSend: function(xhr) {
			    		loadingDiv.removeClass('invisible');
			    		loadingText.text('Loading product categories...');
			    		selectElement.empty();
			    	},
			    	type: "GET",
			        url: [[@{/product-categories/list-as-text}]],
			        
			        success: function(data) {
			        	var response = $.parseJSON(data);
			        	selectElement.append('<option value="">Select a category</option>');
			            $.each(response, function(i, d) {
			            	selectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
			            });
			            selectElement.selectpicker('refresh');
			            //$("#errorDiv").addClass('hide-me');
			            $('#applyFilterBtn').prop('disabled', false);
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$("#errorText").text('Error: ' + xhr.responseText);
			        	$("#errorDiv").removeClass('hide-me');
			        	$('#applyFilterBtn').prop('disabled', true);
			        },
			        complete: function() {
			        	loadingDiv.addClass('invisible');
			        	loadProductNames();
			        }
			    });
			}
		}
		
		function loadProductNames() {
			
			var selectElement = $('#productName');
			var value = selectElement.val();
			if(value != null && typeof value !== 'undefined' && value.trim().length == 0) {
				
				$.ajax({
			    	context: this,
			    	async: true,
			    	cache: false,
			    	beforeSend: function(xhr) {
			    		loadingDiv.removeClass('invisible');
			    		loadingText.text('Loading products...');
			    		selectElement.empty();
			    	},
			    	type: "GET",
			        url: [[@{/product-names/list-as-text}]],
			        
			        success: function(data) {
			        	var response = $.parseJSON(data);
			        	
			        	selectElement.append('<option value="">Select a product</option>');
			            $.each(response, function(i, d) {
			            	selectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
			            });
			            selectElement.selectpicker('refresh');
			            //$("#errorDiv").addClass('hide-me');
			            $('#applyFilterBtn').prop('disabled', false);
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$("#errorText").text('Error: ' + xhr.responseText);
			        	$("#errorDiv").removeClass('hide-me');
			        	$('#applyFilterBtn').prop('disabled', true);
			        },
			        complete: function() {
			        	loadingDiv.addClass('invisible');
			        }
			    });
			}
		}

		//]]>
	</script>
</div>