<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Products</li>
		</ol>

		<div th:if="${param.createSuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Product created successfully. Now you can update its information and add images. <a class="btn btn-sm btn-success" th:href="@{/products/{productId}/details(productId=${param.createSuccess[0]})}">Click here</a></div>
		</div>

		<div th:if="${param.deleteSuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Product deleted successfully.</div>
		</div>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Products</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Products
						<a sec:authorize="hasAuthority('VENDOR')"
							class="btn-add btn-action pull-right"
							data-toggle="tooltip" data-placement="top"
							title="Click to add a new product"
							th:href="@{/vendors/products/add-product-form}">Add</a>
						
						<a sec:authorize="hasAuthority('BUYER')"
							class="btn btn-primary btn-action pull-right"
							data-toggle="tooltip" data-placement="top"
							title="Click to search products"
							th:href="@{/products/search}"><i class="fa fa-search" aria-hidden="true"></i> Advanced Search</a>
					</h2>
				</div>
				<div th:if="${selectedVendor}" class="bottom-buffer-10">
					<span th:inline="text">Showing products of vendor: <strong>[[${#strings.arraySplit(selectedVendor, '|')[0]}]]</strong></span>
				</div>
				<div th:if="${listResponse == null or #lists.isEmpty(listResponse.getProductInfoResponseList())}" class="top-buffer-10">No
					products to display.
				</div>
				<div th:if="${listResponse != null}">
					<table
						th:if="${listResponse != null and not #lists.isEmpty(listResponse.getProductInfoResponseList())}"
						id="productTable"
						class="table table-hover responsive">
						<thead class="thead-default">
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Category</th>
								<th>Model ID</th>
								<th>Cost Price</th>
								<th>Vendor/Seller</th>
								<th>Status</th>
								<th>Details</th>
								<!-- <th>Service Locations</th> -->
								<!-- <th>Remarks</th> -->
							</tr>
						</thead>
						<tbody>
							<tr
								th:each="product : ${listResponse.getProductInfoResponseList()}">
								<td th:inline="text">[[${product.productName.name}]]</td>
								<td th:inline="text">[[${product.productType.name}]]</td>
								<td th:inline="text">[[${product.productCategory.name}]]</td>
								<td th:text="${product.modelId} ? ${product.modelId} : 'N/A'"></td>
								<td th:inline="text">&#8377;[[${product.costPrice}]]</td>
								<td th:inline="text">[[${product.vendor.name}]]</td>
								<td th:if="${product.entityStatus == 'DISAPPROVED'}"><span
									title="Disapproved" class="text-warning"><i
										class="fa fa-exclamation-triangle"></i></span></td>
								<td th:if="${product.entityStatus == 'APPROVED'}"><span
									title="Approved" class="text-success"><i class="fa fa-check-square"></i></span></td>
								<td><a
									th:href="@{/products/{productId}/details(productId=${product.id})}">View</a></td>
								<!-- <td
									th:text="${product.serviceLocations} ? ${product.serviceLocations} : 'N/A'"></td> -->
								<!-- <td th:inline="text">
									<ol th:if="${product.getRemarks() != null}">
										<li th:each="remark : ${product.getRemarks()}"
											th:inline="text">[[${remark}]]</li>
									</ol>
								</td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/products/list}" method="get">
					    		<input th:if="${selectedVendor}" type="hidden" name="vendor" id="vendor" th:value="${selectedVendor}"/>
						    	<input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    	<button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#productTable').DataTable();
		});
	</script>
</div>