<div class="container" th:fragment="content">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a th:href="@{/products/list}">Products</a></li>
			<li><a th:href="@{${productInfoURL}}" th:inline="text">[[${productInfo.productName.name}]]</a></li>
			<li class="active">Product Images</li>
		</ol>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Product Images</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2 th:inline="text">Images for
						[[${productInfo.productName.name}]]</h2>
				</div>

				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="page-header">
								<h3>Current Images</h3>
							</div>

							<div id="deleteFailedDiv" style="display: none"
								class="alert alert-dismissible alert-danger">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<div id="deleteFailedReason"></div>
							</div>

							<div
								th:if="${productImageKeys == null or #lists.isEmpty(productImageKeys)}">
								No images to display.</div>
							<div th:if="${productImageKeys != null and not #lists.isEmpty(productImageKeys)}" class="vertical-center">
								<div class="row">
									<div class="col-lg-3 col-md-4 col-xs-6 thumb" th:each="photo, iter: ${productImageKeys}">
										
										<div class="panel panel-default" data-th-attr="id=${'img-panel-' + iter.index}">
											<div class="panel-heading">
												<form class="delete-image form-inline" data-th-attr="data-img-panel-id=${'img-panel-' +  iter.index}"
													sec:authorize="hasAuthority('VENDOR')" method="post"
													th:action="@{/vendors/products/{productId}/images/{imageId}/delete(productId=${productInfo.id},imageId=${photo.key})}">
													<button 
														class="btn-xs close pull-right confirmation form-group"
														title="Delete this image" type="submit">&times;</button>
												</form>
												<span>.</span>
											</div>
											<a href="javasript:void(0);" data-toggle="modal" role="button"
												class="thumbnail pop"> <img id="image" class="lazy" th:src="@{/public/loading-gif}" th:attr="data-src=@{${photo.value}}"/>
											</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="page-header">
								<div id="addImageLoadingDiv" class="invisible"><i class="fa fa-refresh fa-spin"></i> Loading, please wait...</div>
								<h3>
									Add Images
									<button id="addImage" class="btn-add pull-right"
										type="button" title="Click to add image">Add</button>
								</h3>
							</div>

							<div id="note" class="alert alert-info">
								<strong>Note:</strong>
								<ol>
									<li>You can upload up to four images for your product.</li>
									<li>Please upload only JPEG or PNG image files.</li>
									<li>Size of each file should not exceed 1 MB.</li>
									<li>Ensure the image is of high quality. For best viewing experience, resolution of image should be at least 1920 x 1200.</li>
								</ol>
							</div>

							<div th:if="${message}"
								class="alert alert-dismissible alert-info">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<div th:text="${message}"></div>
							</div>

							<div th:if="${errorMessage}" id="errorMessage"
								class="alert alert-dismissible alert-danger">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<div th:text="${errorMessage}"></div>
							</div>

							<div id="uploadFailed" style="display: none;"
								class="alert alert-dismissible alert-danger">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<div id="uploadFailedReason"></div>
							</div>

							<div th:if="${param.uploadSuccess}" id="uploadSuccess"
								class="alert alert-dismissible alert-success">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<div>Product image uploaded successfully.</div>
							</div>

							<form id="imageUploadForm" class="form-horizontal"
								enctype="multipart/form-data" method="POST"
								style="display: none">
								<div class="form-group label-floating col-lg-11">
									<label class="control-label" for="file">Select image</label> <input
										id="imageFile" name="imageFile" type="file" class="filestyle"
										data-buttonBefore="true" data-buttonName="btn-primary"
										accept=".jpg, .png" required="required" />
									<p id="message"></p>
								</div>
								<div class="form-group col-lg-12">
									<button class="btn-upload btn-action" type="submit">Upload</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		th:src="@{/bower_components/bootstrap-filestyle/src/bootstrap-filestyle.min.js}"></script>
	<script th:src="@{/external/js/file-validator.js}"></script>
	<script>
		$('input[type=file]').fileValidator({
		  onInvalid: function(type, file) { 
			  $(this).val(null);
			  $('.form-group').addClass('has-error');
			  $('#message').text('Cannot upload image. The size of the file cannot be more than 1 MB.');
		  },
		  type: 'image',
		  maxSize: '1m'
		});
	</script>
	<script th:inline="javascript">
	
	if($('#errorMessage').length) {
		$('#imageUploadForm').hide();
	}
	
	
	$('#addImage').click(function(e) {
		
		e.preventDefault();
		var loadingDiv = $('#addImageLoadingDiv');
		var imageUploadForm = $("#imageUploadForm");
		$.ajax({
	    	context: this,
	        url: [[@{/vendors/products/{productId}/add-image-url(productId=${productInfo.id})}]],
	        type: 'GET',
	        async: true,
	        cache: false,
	        contentType: false,
	        processData: false,
	        beforeSend: function() {
	        	loadingDiv.removeClass('invisible');
	        },
	        success: function (data) {
	        	 
	        	imageUploadForm.attr('action', data);
	        	imageUploadForm.show();
	        	imageUploadForm.focus();
	        	$("#uploadFailed").hide();
	        	$('html, body').animate({
	                scrollTop: imageUploadForm.offset().top
	            }, 2000);
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	$("#uploadFailedReason").text('Oops! Cannot add image.\nReason: ' + xhr.responseText);
	        	$("#uploadFailed").show();
	        	imageUploadForm.hide();
	        	$('#uploadSuccess').hide();
	        	$('html, body').animate({
	                scrollTop: $("#uploadFailed").offset().top
	            }, 2000);
	        },
	        complete: function() {
	        	loadingDiv.addClass('invisible');
	        }
	    });
	    return false;
	});
	
	$("#imageUploadForm").submit(function(e) {
		e.preventDefault();
	    var formData = new FormData($(this)[0]);
	    $.ajax({
	    	context: this,
	        url: $(this).attr('action'),
	        type: 'POST',
	        data: formData,
	        async: true,
	        cache: false,
	        contentType: false,
	        processData: false,
	        success: function (data) {
	        	var url = window.location;
	        	var uploadSuccessQueryString = "?uploadSuccess";
	        	if(url.href.endsWith(uploadSuccessQueryString)) {
	        		window.location = url;
	        	} else {
	        		window.location = url + uploadSuccessQueryString;
	        	}
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	$("#uploadFailedReason").text('Oops! Failed to upload image.\nReason: ' + xhr.responseText);
	        	$("#uploadFailed").show();
	        	$("#imageUploadForm").hide();
	        }
	    });
	    return false;
	});
	
	$("form.delete-image").submit(function(e) {
		e.preventDefault();
	    var formData = new FormData($(this)[0]);
	    $.ajax({
	    	context: this,
	    	url: $(this).attr('action'),
	        type: 'POST',
	        data: formData,
	        async: true,
	        cache: false,
	        contentType: false,
	        processData: false,
	        success: function (data) {
	        	$("#deleteFailedDiv").hide();
	        	
	        	var imgPanelId = $(this).data('img-panel-id');
	        	var imgPanel = $('#' + imgPanelId);
	        	imgPanel.fadeOut("fast", function() {
	        		$(this).remove();
	        	});
	        	notifySuccess('Product image deleted successfully.');
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	$("#deleteFailedReason").text('Oops! Failed to delete image.\nReason: ' + xhr.responseText);
	        	$("#deleteFailedDiv").show();
	        }
	    });
	    return false;
	});
	
	</script>
</div>