

<div class="container" th:fragment="content">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		    <li><a th:href="@{/products/list}">Products</a></li>
		    <li class="active">Add New Product</li>
	  	</ol>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Add a New Product</h4>
			</div>
			<div class="panel-body">
				<div th:if="${message}" class="alert alert-dismissible alert-info">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<div th:inline="text">[[${message}]]</div>
				</div>

				<div th:if="${errorMessage}"
					class="alert alert-dismissible alert-danger top-buffer">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<div th:inline="text">[[${errorMessage}]]</div>
				</div>
				<div class="row">
					<section>
						<div class="wizard">
							<div class="wizard-inner">
								<div class="connecting-line"></div>
								<ul class="nav nav-tabs" role="tablist">

									<li role="presentation" class="active"><a href="#step1"
										data-toggle="tab" aria-controls="step1" role="tab"
										title="Basic Details"> <span class="round-tab"> <i
												class="glyphicon glyphicon-pencil"></i>
										</span>
									</a></li>

									<li role="presentation" class="disabled"><a href="#step2"
										data-toggle="tab" aria-controls="step2" role="tab"
										title="Additional Details"> <span class="round-tab">
												<i class="glyphicon glyphicon-copy"></i>
										</span>
									</a></li>
									<li role="presentation" class="disabled"><a href="#step3"
										data-toggle="tab" aria-controls="step3" role="tab"
										title="Product Attributes"> <span class="round-tab">
												<i class="glyphicon glyphicon-list"></i>
										</span>
									</a></li>

									<li role="presentation" class="disabled"><a
										href="#complete" data-toggle="tab" aria-controls="complete"
										role="tab" title="Complete"> <span class="round-tab">
												<i class="glyphicon glyphicon-ok"></i>
										</span>
									</a></li>
								</ul>
							</div>

							<form method="post" action="#" th:object="${createProductFormBean}"
								th:action="@{/vendors/products/add-product}">

								<div class="tab-content">
									<div class="tab-pane active" role="tabpanel" id="step1">

										<div class="row">
											<div class="col-md-6 col-md-offset-3">
												<h3>Basic Details</h3>
												<div id="note" class="alert alert-info">
													<strong>Note:</strong>
													<ol>
														<li>Only approved entities are shown in the drop down boxes.</li>
														<li>Product type, category and name must be selected.</li>
														<li>If you are not finding the right product type, product category or product name in the drop down lists below, then please add them to the <strong>Master Entities</strong>. (Click 'Master Entities' on the menu bar).</li>
														<li>Watch the video tutorial about how to add your products under the <strong>Help</strong> menu.</li>
													</ol>
												</div>												
												
												
												<div class="form-group label-floating required">
													<label class="control-label" for="productTypeId"
														th:classappend="${#fields.hasErrors('productTypeId')}? 'has-error'">Product
														Type</label>
													<div class="clearfix"></div>
													<select th:field="*{productTypeId}"
														class="selectpicker" title="Select a Product Type">
														<option th:each="item : ${productTypes}"
															th:value="${item.id}" th:text="${item.name}"></option>
													</select>
													<p th:if="${#fields.hasErrors('*{productTypeId}')}"
														th:errors="*{productTypeId}" />
												</div>

												<div class="form-group label-floating required">
													<label class="control-label" for="productCategoryId"
														th:classappend="${#fields.hasErrors('productCategoryId')}? 'has-error'">Product
														Category</label>
													<div class="clearfix"></div>
													<select th:field="*{productCategoryId}"
														class="selectpicker" title="Select a Product Category">
														<option th:each="item : ${productCategories}"
															th:value="${item.id}" th:text="${item.name}"></option>
													</select>
													<p th:if="${#fields.hasErrors('*{productCategoryId}')}"
														th:errors="*{productCategoryId}" />
												</div>

												<div class="form-group label-floating required">
													<label class="control-label" for="productNameId"
														th:classappend="${#fields.hasErrors('productNameId')}? 'has-error'">Product
														Name</label>
													<div class="clearfix"></div>
													<select th:field="*{productNameId}"
														class="selectpicker" title="Select a Product Name" >
														<option th:each="item : ${productNames}"
															th:value="${item.id}" th:text="${item.name}"></option>
													</select>
													<p th:if="${#fields.hasErrors('*{productNameId}')}"
														th:errors="*{productNameId}" />
												</div>

												<ul class="list-inline form-group pull-right">
													<li><button type="button" id="step1Next"
															class="btn-next next-step" disabled="disabled">Next</button></li>
												</ul>
											</div>
										</div>
									</div>

									<div class="tab-pane" role="tabpanel" id="step2">
										<div class="row">
											<div class="col-md-6 col-md-offset-3">
												<h3>Additional Details</h3>
												<div class="form-group label-floating" 
													th:classappend="${#fields.hasErrors('modelId')}? 'has-error'">
													<label class="control-label" for="modelId">Model
														ID</label>
													<div class="clearfix"></div>
													<input th:field="*{modelId}" class="form-control"
														type="text" placeholder="Model ID or Number or Name" />
													<p th:if="${#fields.hasErrors('*{modelId}')}"
														th:errors="*{modelId}" />
												</div>

												<div class="form-group label-floating required" 
													 th:classappend="${#fields.hasErrors('costPrice')}? 'has-error'">
													<label class="control-label" for="costPrice">Cost
														Price (&#8377;)</label>
													<div class="clearfix"></div>
													<input th:field="*{costPrice}" class="form-control" required="required"
														type="number" step="0.001" min="0" placeholder="Cost price in Indian Rupees" />
													<p th:if="${#fields.hasErrors('*{costPrice}')}"
														th:errors="*{costPrice}" />
												</div>
												
												<div class="form-group label-floating required"
													 th:classappend="${#fields.hasErrors('description')}? 'has-error'">
													<label class="control-label" for="description">Description</label>
													<div class="clearfix"></div>
													<textarea th:field="*{description}" class="form-control" required="required"
														rows="5" placeholder="Brief description about the product"></textarea>
													<p th:if="${#fields.hasErrors('*{description}')}"
														th:errors="*{description}" />
												</div>

												<div class="form-group label-floating" 
												     th:classappend="${#fields.hasErrors('serviceLocations')}? 'has-error'">
													<label class="control-label" for="serviceLocations">Service
														Locations</label>
													<div class="clearfix"></div>
													<input th:field="*{serviceLocations}" class="form-control"
														type="text"
														placeholder="List of cities separated by commas" />
													<p th:if="${#fields.hasErrors('*{serviceLocations}')}"
														th:errors="*{serviceLocations}" />
												</div>
												
												<div class="form-group label-floating" 
												     th:classappend="${#fields.hasErrors('videoURL')}? 'has-error'">
													<label class="control-label" for="videoURL">
														<button type="button" class="btn btn-default btn-xs btn-pop"
															data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus"
															data-content="Share video link from YouTube. This will be a great highlight for your product. We will play this video for you and buyers.">
													  		<i class="fa fa-youtube" aria-hidden="true"></i>
														</button>
														YouTube Link 
														<span class="tool-tip show-hand" title="Either provide a valid YouTube video link (see example) or leave the field blank">
													 		<i class="fa fa-info-circle"></i></span>
													</label>
													<span class="pull-right small"> <a class="no-underline" href="http://www.youtube.com" target="_blank">Search your product videos on YouTube</a></span>
													<div class="clearfix"></div>
													<input th:field="*{videoURL}" class="form-control youtube-url"
														type="url" pattern="http://www\.youtube\.com\/watch\?v=(.+)|https://www\.youtube\.com\/watch\?v=(.+)"
														placeholder="Example: https://www.youtube.com/watch?v=gWn4Csu3Kc8" />
													<p th:if="${#fields.hasErrors('*{videoURL}')}" th:errors="*{videoURL}" />
												</div>
												
												<div class="form-group label-floating" 
												     th:classappend="${#fields.hasErrors('tutorialVideoURL')}? 'has-error'">
													<label class="control-label" for="tutorialVideoURL">
														<button type="button" class="btn btn-default btn-xs btn-pop" 
													 		data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" 
															data-content="Share the help or tutorial video link from YouTube. This will help buyers understand its usage.">
													  		<i class="fa fa-youtube" aria-hidden="true"></i>
														</button>
													 	Help/Tutorial YouTube Link 
													 	<span class="tool-tip show-hand" title="Either provide a valid YouTube video link (see example) or leave the field blank">
													 		<i class="fa fa-info-circle"></i></span>
													 </label>
													<div class="clearfix"></div>
													<input th:field="*{tutorialVideoURL}" class="form-control youtube-url"
														type="url" pattern="http://www\.youtube\.com\/(.+)|https://www\.youtube\.com\/(.+)"
														placeholder="Example: https://www.youtube.com/watch?v=gWn4Csu3Kc8" />
													<p th:if="${#fields.hasErrors('*{tutorialVideoURL}')}" th:errors="*{tutorialVideoURL}" />
												</div>
												
												<ul class="list-inline form-group pull-right">
													<li><button type="button"
															class="btn-previous prev-step">Previous</button></li>
													<li><button type="button" id="step2Next"
															class="btn-next next-step" disabled="disabled">Next</button></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="tab-pane" role="tabpanel" id="step3">
										<div class="row">
											<div class="col-md-6 col-md-offset-3">
												<h3>Product Attributes</h3>
												<div class="text-justify">
													<p>Here you can add more specific attributes like product dimensions, weight, electrical and temperature threshold limits.</p>
													<p>For example:</p>
													<table class="table">
														<thead>
															<tr>
																<td><strong>Name</strong></td>
																<td><strong>Value</strong></td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Height</td><td>2 Feet</td>
															</tr>
															<tr>
																<td>Weight</td><td>400 Grams</td>
															</tr>
														</tbody>
													</table>
												</div>
												
												<hr/>
												<table class="table table-hover" id="dyna-table">
													<thead>
														<tr class="tr-header">
															<th>Name</th>
															<th>Value</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="option, rowStat : *{attributes}">
															<td><input type="text"
																th:field="*{attributes[__${rowStat.index}__].name}"
																class="form-control" autofocus="autofocus" /></td>
															<td><input type="text"
																th:field="*{attributes[__${rowStat.index}__].value}"
																class="form-control" /></td>
														</tr>
													</tbody>
												</table>

												<ul class="list-inline pull-right">
													<li><button type="button"
															class="btn-previous prev-step">Previous</button></li>
													<li><button type="button"
															class="btn btn-default next-step">Skip</button></li>
													<li><button type="button"
															class="btn-next next-step">Next</button></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="tab-pane" role="tabpanel" id="complete">

										<div class="row">
											<div class="col-md-8 col-md-offset-2">
												<h2 class="display-3">Ready to Submit?</h2>
												<hr class="my-2" />
												<h4>You have completed all steps. You can review your
													information by navigating the tabs.</h4>
												<p class="lead">
													<button type="submit"
														class="btn-submit btn-lg btn-action">Submit</button>
												</p>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/external/js/wizard.js}"></script> 
	<script type="text/javascript">
	//<![CDATA[
	
	function updateStep1() {
	    if (verifyStep1()) {
	        $("#step1Next").removeAttr('disabled');
	    } else {
	        $("#step1Next").attr('disabled', 'disabled');
	    }
	}

	function verifyStep1() {
		if($('#productNameId').val() != "" && $('#productTypeId').val() != "" && $('#productCategoryId').val() != "") {
		    return true;
		} else {
		    return false;
		}
	}
	
	function updateStep2() {
	    if (verifyStep2()) {
	        $("#step2Next").removeAttr('disabled');
	    } else {
	        $("#step2Next").attr('disabled', 'disabled');
	    }
	}

	function verifyStep2() {
		var isYoutubeURLValid = (validateYoutubeURL($('#videoURL').val().trim()) && validateYoutubeURL($('#tutorialVideoURL').val().trim()));
		if($('#costPrice').val().trim() > 0 && $('#description').val().trim().length > 0 && isYoutubeURLValid) {
		    return true;
		} else {
		    return false;
		}
	}
	
	$(document).ready(function() {
		$(document).on('change','#productNameId, #productTypeId, #productCategoryId', updateStep1);
		$(document).on('keyup change keypress blur', '#costPrice, #description, #videoURL, #tutorialVideoURL', updateStep2);
		
		//Trigger change on load
		$('#productNameId').add('#productTypeId').add('#productCategoryId').add('#costPrice').add('#description').add('#videoURL').add('#tutorialVideoURL').change();
		
	});
	
	//]]>
	</script>
</div>