<div class="container" th:fragment="content">
	<div class="col-lg-10">
		<ol class="breadcrumb">
		    <li><a th:href="@{/products/list}">Products</a></li>
		    <li><a th:href="@{${productInfoURL}}" th:inline="text">[[${productInfo.productName.name}]]</a></li>
		    <li class="active">Update Product Information</li>
	  	</ol>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Update Product Information</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2 th:inline="text">Update Information of
						[[${productInfo.productName.name}]]</h2>
				</div>

				<form id="updateProductForm" class="col-md-8 col-md-offset-2 form-horizontal" method="post"
					th:action="@{/vendors/products/{productId}/update(productId=${productInfo.id})}"
					th:object="${updateProductFormBean}">

					<div class="form-group label-floating" th:classappend="${#fields.hasErrors('modelId')}? 'has-error'">
						<label class="control-label" for="modelId">Model ID</label>
						<div class="clearfix"></div>
						<input th:field="*{modelId}" class="form-control" type="text"
							placeholder="Model ID or Number or Name" />
						<p th:if="${#fields.hasErrors('*{modelId}')}"
							th:errors="*{modelId}" class="small text-danger"/>
					</div>

					<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('costPrice')}? 'has-error'">
						<label class="control-label" for="costPrice">Cost Price
							(&#8377;)</label>
						<div class="clearfix"></div>
						<input th:field="*{costPrice}" class="form-control" type="text"
							  placeholder="Cost price in Indian Rupees" required="required"/>
						<p th:if="${#fields.hasErrors('*{costPrice}')}"
							th:errors="*{costPrice}" class="small text-danger" />
					</div>

					<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
						<label class="control-label" for="description">Description</label>
						<div class="clearfix"></div>
						<textarea th:field="*{description}" class="form-control" rows="5" required="required"
							placeholder="Brief description about the product"></textarea>
						<p th:if="${#fields.hasErrors('*{description}')}"
							th:errors="*{description}" class="small text-danger" />
					</div>


					<div class="form-group label-floating" th:classappend="${#fields.hasErrors('serviceLocations')}? 'has-error'">
						<label class="control-label" for="serviceLocations">Service
							Locations</label>
						<div class="clearfix"></div>
						<input th:field="*{serviceLocations}" class="form-control"
							type="text" placeholder="List of cities separated by commas" />
						<p th:if="${#fields.hasErrors('*{serviceLocations}')}"
							th:errors="*{serviceLocations}" class="small text-danger" />
					</div>
					
					<div class="form-group label-floating" 
						th:classappend="${#fields.hasErrors('videoURL')}? 'has-error'">
						<label class="control-label" for="videoURL">
							<button type="button" class="btn btn-default btn-xs btn-pop"
								data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus"
								data-content="Share video link from YouTube. This will be a great highlight for your product. We will play this video for you and buyers.">
								<i class="fa fa-youtube" aria-hidden="true"></i>
							</button>
							YouTube Link
						</label>
						<span class="pull-right small"> <a class="no-underline" href="http://www.youtube.com" target="_blank">Search your product videos on YouTube</a></span>
						<div class="clearfix"></div>
						<input th:field="*{videoURL}" class="form-control youtube-url"
							type="url" placeholder="Example: https://www.youtube.com/watch?v=gWn4Csu3Kc8" />
						<p th:if="${#fields.hasErrors('*{videoURL}')}" th:errors="*{videoURL}" />
					</div>
												
					<div class="form-group label-floating" 
						th:classappend="${#fields.hasErrors('tutorialVideoURL')}? 'has-error'">
						<label class="control-label" for="tutorialVideoURL">
							<button type="button" class="btn btn-default btn-xs btn-pop" 
								data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" 
								data-content="Share the help or tutorial video link from YouTube. This will help buyers understand its usage.">
								<i class="fa fa-youtube" aria-hidden="true"></i>
							</button>
							Help/Tutorial YouTube Link
						</label>
						<div class="clearfix"></div>
						<input th:field="*{tutorialVideoURL}" class="form-control youtube-url"
							type="url" placeholder="Example: https://www.youtube.com/watch?v=gWn4Csu3Kc8" />
						<p th:if="${#fields.hasErrors('*{tutorialVideoURL}')}" th:errors="*{tutorialVideoURL}" />
					</div>

					<div class="form-group">
						<h3>Product Attributes</h3>
						<table class="table table-hover">
							<thead>
								<tr class="tr-header">
									<th>Name</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="option, rowStat : *{attributes}">
									<td><input type="text"
										th:field="*{attributes[__${rowStat.index}__].name}"
										class="form-control" autofocus="autofocus" /></td>
									<td><input type="text"
										th:field="*{attributes[__${rowStat.index}__].value}"
										class="form-control" /></td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr />
					<div class="form-inline">
						<div class="form-group">
							<button class="btn-submit btn-block btn-action confirmation" type="submit">Submit Update</button>
						</div>
						<div class="form-group pull-right">
							<button class="btn-close btn-block go-back" type="button">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
