<div class="alert alert-dismissible alert-warning">
	<div class="text-center">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Purchase
		list with request dates older than 35 days will be purged
		automatically. For your reference, please download the reports before
		this period.
	</div>
</div>
