<div class="container" th:fragment="content">

	<style scoped="scoped">
		
		.razorpay-payment-button {
		    color: #ffffff;
		    background-color: #73a839;
		    border-color: #73a839;
		    display: inline-block;
		    margin-bottom: 0;
		    font-weight: normal;
		    text-align: center;
		    vertical-align: middle;
		    -ms-touch-action: manipulation;
		    touch-action: manipulation;
		    cursor: pointer;
		    background-image: none;
		    border: 1px solid transparent;
		    white-space: nowrap;
		    padding: 8px 12px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    border-radius: 4px;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
		    background-repeat: no-repeat;
		}
		
	</style>

	<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Your Payment Details</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Payment Details
					</h2>
				</div>
				
				<div class="col-md-12 " th:inline="text">
					<div class="alert alert-dismissible alert-info">
						<div th:inline="text">
							<p><strong><i class="fa fa-exclamation-triangle faa-flash animated" aria-hidden="true"></i> Note:</strong></p>
							<ol>
								<li>If your payment is not reflecting in payment transaction history, then the amount will be refunded automatically within a week.</li>
								<li>If the payment was successful and you are logged out automatically, don't worry. It happens because of session time out. You will get the refund in a week. Please login and make the payment again.</li>
							</ol>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-4">
									<strong>Amount</strong>
								</div>
								<div class="col-sm-8">&#8377;[[${razorpayPayment.amount}]]</div>
							</div>
							
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Description</strong>
								</div>
								<div class="col-sm-8">[[${razorpayPayment.description}]]</div>
							</div>
			
							
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Email Address</strong>
								</div>
								<div class="col-sm-8">[[${razorpayPayment.dealerEmailAddress}]]</div>
							</div>
							<div class="row top-buffer">
								<div class="col-sm-4">
									<strong>Contact Number</strong>
								</div>
								<div class="col-sm-8">[[${razorpayPayment.dealerMobileNumber}]]</div>
							</div>
						</div>
					</div>
					<form class="form-inline" th:action="@{${razorpayPayment.callbackActionURL}}" method="POST">
						<script src="https://checkout.razorpay.com/v1/checkout.js"
						        th:attr="data-image=@{/external/images/bnbneeds-logo-square.png},data-key=${razorpayPayment.keyId},data-order_id=${razorpayPayment.orderId},data-amount=${razorpayPayment.amountInPaise},data-name=${brandName},data-description=${razorpayPayment.description},data-prefill.name=${razorpayPayment.dealerName},data-prefill.email=${razorpayPayment.dealerEmailAddress},data-prefill.contact=${razorpayPayment.dealerMobileNumber}, data-notes.entityId=${razorpayPayment.entityId}">
						</script>
					</form>
				</div>
			</div>
		</div>
</div>