
<div class="container" th:fragment="content">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Reset Password</h2>
				</div>
				
					<form class="form-horizontal col-lg-8 top-buffer" method="post" action="#" 
							th:action="@{/reset-password}" th:object="${resetPasswordBean}">
							
							<div class="alert alert-info form-group">
								<strong>Note:</strong> New password will be sent to your registered e-mail address.
							</div>
							<div th:if="${message}" class="alert alert-dismissible alert-info top-buffer form-group">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<div th:inline="text">[[${message}]]</div>
							</div>
							<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger top-buffer form-group">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<div th:inline="text">[[${errorMessage}]]</div>
							</div>
							
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('username')}? 'has-error'">
								<label class="control-label" for="username">Username</label>
								<input type="email" th:field="*{username}" class="form-control focus"
									required="required" placeholder="Your registered e-mail address" autofocus="autofocus"/>
								<p th:if="${#fields.hasErrors('*{username}')}"
									th:errors="*{username}" class="small text-danger" />
							</div>
							
							<div class="form-group">
								<div class="row">
									<div class="col-md-6"><button class="btn-submit btn-block btn-action" type="submit">Reset Password</button></div>
									<div class="col-md-6"><a class="btn-close btn-block btn-action" th:href="@{/login-page}">Cancel</a></div>
								</div>
							</div>
					</form>
			</div>
		</div>

	</div>
</div>
