<div class="container" th:fragment="content">
	<div class="col-lg-11">
		<ol class="breadcrumb">
			<li><a th:href="@{/buyers/tenders/list}">Tenders</a></li>
			<li><a th:href="@{/buyers/tenders/{tenderId}/details(tenderId=${updateBidProductFormBean.tenderId})}">Tender Details</a></li>
			<li class="active">Update Product Requirement</li>
		</ol>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Update Product Requirements of the Tender</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2 th:inline="text">Update Product Requirements of [[${updateBidProductFormBean.productName}]]</h2>
				</div>

				<form class="col-md-8 col-md-offset-2 form-horizontal" method="post"
					action="#"
					th:action="@{/buyers/tenders/{tenderId}/products/{productId}/update(tenderId=${updateBidProductFormBean.tenderId}, productId=${updateBidProductFormBean.bidProductId})}"
					th:object="${updateBidProductFormBean}">

					<div th:if="${errorMessage}"
						class="form-group alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					
					<div th:if="${param.createBidProductSuccess}"
						class="form-group alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<div th:inline="text">Product has been added to the tender</div>
					</div>

					<div class="form-group label-floating required">
						<label class="control-label" for="requiredQuantity"
							   th:classappend="${#fields.hasErrors('requiredQuantity')}? 'has-error'">Required Quantity</label>
						<div class="input-group">
							<input type="number" th:field="*{requiredQuantity}"
								class="form-control" placeholder="Example: 100" min="1"
								required="required" /> <span class="input-group-addon"></span>
							<select th:field="*{unit}" class="form-control">
								<option value="Kilograms">Kilograms</option>
								<option value="Litres">Litres</option>
								<option value="Numbers">Numbers</option>
							</select>
						</div>
						<p th:if="${#fields.hasErrors('*{requiredQuantity}')}" th:errors="*{requiredQuantity}" />
					</div>

					<div class="form-group label-floating required"
						th:classappend="${#fields.hasErrors('qualitySpecification')}? 'has-error'">
						<label class="control-label" for="qualitySpecification">Quality Specification
							<span class="tool-tip"
								title="You want the product to be of certified quality. Mention the quality attributes, authority, etc">
								<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
							</span>
						</label>
						<textarea th:field="*{qualitySpecification}" class="form-control" rows="4" required="required"></textarea>
						<p th:if="${#fields.hasErrors('*{qualitySpecification}')}"
							th:errors="*{qualitySpecification}" class="small text-danger" />
					</div>

					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('specialRequirements')}? 'has-error'">
						<label class="control-label" for="specialRequirements">Special Requirements
							<span class="tool-tip"
								title="If you want a particular brand of this product, or anything which you are very particular about, mention here">
								<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
							</span>
						</label>
						<textarea th:field="*{specialRequirements}" class="form-control" rows="4"></textarea>
						<p th:if="${#fields.hasErrors('*{specialRequirements}')}"
							th:errors="*{specialRequirements}" class="small text-danger" />
					</div>
					
					<hr />
					<div class="form-group">
						<button class="btn-submit btn-action confirmation" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
