<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a th:href="@{/tenders/preview-list}">Tenders</a></li>
			<li class="active">Tender Previews</li>
		</ol>
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Tender Previews</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Tender Previews</h2>
				</div>

				<div id="loadingDiv" class="top-buffer-5 invisible">
					<i class="fa fa-refresh fa-spin"></i> Loading, please wait...
				</div>

				<div
					th:if="${tenderPreviewListResponse == null or #lists.isEmpty(tenderPreviewListResponse.getList())}"
					class="top-buffer">
					<p>No tenders to display.</p>
				</div>
				<form id="searchForm" role="form" method="get"
					th:action="@{/tenders/preview-list}"
					class="col-lg-12 top-buffer-10">
					<div class="form-horizontal">
						<div class="form-group"
							th:if="${tenderPreviewListResponse != null and not #lists.isEmpty(tenderPreviewListResponse.getList())}">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
								<input id="searchText" class="form-control" type="search"
									autofocus="autofocus" placeholder="Search..." />
							</div>
						</div>
						<div
							th:if="${param.location != null and not #strings.arrayIsEmpty(param.location)}">
							<input th:id="location" th:name="location" type="hidden"
								th:value="${param.location[0]}" />
						</div>

						<div
							th:if="${tenderPreviewListResponse != null and not #lists.isEmpty(tenderPreviewListResponse.getList())}"
							id="searchList" class="list-group">
							<div
								th:each="item,iter : ${tenderPreviewListResponse.getList()}">

								<div
									class="list-group-item row hvr-glow top-buffer-5 wow slideInLeft">
									<div class="col-md-6">
										<h3 class="list-group-item-heading" th:inline="text">
											<a class="show-tender no-underline" title="Detail View"
												th:id="${item.id}" th:attr="data-tender-name=${item.businessType.name}" href="javascript:void(0);">Buyer Business type : [[${item.businessType.name}]]</a>
										</h3>
										<h4 class="list-group-item-heading top-buffer"
											th:inline="text">
											Delivery Location: [[${item.deliveryLocation}]]
											at frequency: [[${item.deliveryFrequency}]]
										</h4>
										<blockquote th:if="${item.deliveryTerms}"
											class="blockquote small text-justify" th:inline="text">[[${item.deliveryTerms}]]</blockquote>

										<table class="table table-condensed pull-right">
											<thead>
												<tr>
													<th>Expected Price</th>
													<th>Credit Terms</th>
													<th>Payment Mode</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td th:inline="text">&#8377; [[${item.expectedPrice}]]</td>
													<td th:inline="text">[[${item.creditTerms}]]</td>
													<td th:inline="text">[[${item.paymentMode}]]</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-inline">
						<div th:if="${tenderPreviewListResponse != null}"
							class="form-group">
							<input type="hidden" name="nextOffset"
								th:value="${tenderPreviewListResponse.nextOffset}" />
						</div>

						<div th:if="${tenderPreviewListResponse != null}"
							class="form-group pull-right">
							<button class="btn-next form-control" type="submit">Next</button>
						</div>
						<div th:if="${param.nextOffset}" class="form-group pull-right">
							<button class="btn-previous go-back form-control" type="button">Previous</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

		<!-- Modal views -->
		
		<div sec:authorize="hasAuthority('VENDOR')" class="modal" id="tenderDisplayModal" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel" th:inline="text">
													Show Tender Details of <span id="modaltenderName"></span>?
												</h4>
											</div>
											<div class="modal-body">
												<div class="alert alert-warning">
													<strong>Note:</strong>
													<ol>
														<li>If you are entering the tender details page for the first time, Your tender quota will be used.</li>
														<li>If you do not have a subscription, then please subscribe by 
														<a th:href="@{/vendors/bidding-subscriptions/list}">clicking here.</a>
														</li>
													</ol>
												</div>
												<div class="modal-footer">
													<div class="row">
														<a  id="modalTenderDetailLink"><button class="btn-submit" title="Click to view tender details">Submit</button></a>
														<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

	<!-- <div th:replace="abuse-report-modal-view"></div> -->
	<div th:replace="processing-request-modal-view"></div>
	<script
		th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	    
	           
		$('#searchList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
		
		$('.show-tender').click(function(e) {
				e.preventDefault();
				var tenderId = $(this).attr('id');
				var tenderName = $(this).data('tender-name');
				$('#modaltenderName').text(tenderName);
				$('#modalTenderDetailLink').attr('href', [[@{/tenders/}]] + tenderId + '/info');
				$('#tenderDisplayModal').modal('show');
		    });
			
		
		//]]>
	</script>
</div>
