	<div class="container" th:fragment="content">
		<div class="col-lg-10">
			<ol class="breadcrumb">
				<li><a th:href="@{/buyers/tenders/list}">Tenders</a></li>
				<li><a th:href="@{/buyers/tenders/{tenderId}/details(tenderId=${updateTenderFormBean.tenderId})}" th:inline="text">[[${updateTenderFormBean.name}]]</a></li>
				<li class="active">Update Tender</li>
			</ol>
			
			<div th:if="${errorMessage}" class="form-group alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<div th:inline="text">[[${errorMessage}]]</div>
			</div>
		
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">Update Your Tender Specification</h4>
				</div>
				<div class="panel-body">
					<div class="page-header">
						<h2>Update Tender</h2>
					</div>
					
					<form class="col-md-8 col-md-offset-2 form-horizontal" method="post" action="#"
						th:action="@{/buyers/tenders/{tenderId}/update(tenderId=${updateTenderFormBean.tenderId})}" th:object="${updateTenderFormBean}">
						
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
							<label class="control-label" for="name">Name
								<span class="tool-tip"
									title="Give a short name for the tender">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<input
								type="text" th:field="*{name}" class="form-control"
								required="required" autofocus="autofocus" />
							<p th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}" class="small text-danger"/>
						</div>
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
							<label class="control-label" for="description">Description
								<span class="tool-tip"
									title="Breifly explain about your requirements and why you need them.">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<textarea th:field="*{description}" class="form-control" rows="4" required="required"></textarea>
							<p th:if="${#fields.hasErrors('*{description}')}" th:errors="*{description}" class="small text-danger" />
						</div>
						
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('expectedPrice')}? 'has-error'">
							<label class="control-label" for="expectedPrice">Expected Price (&#8377;)
								<span class="tool-tip"
									title="What is the price you are willing to pay for this tender. It can be an approximate price.">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<input th:field="*{expectedPrice}" class="form-control"
								type="number" min="0" required="required" />
							<p th:if="${#fields.hasErrors('*{expectedPrice}')}" th:errors="*{expectedPrice}" class="small text-danger"/>
						</div>
						
						<div class="form-group label-floating required">
							<label class="control-label" for="bidValueType"
								th:classappend="${#fields.hasErrors('bidValueType')}? 'has-error'">Bid Value Type
								<span class="tool-tip"
									title="The type of bidding that should be done for the products: unit price or total price">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<div class="clearfix"></div>
							<select th:field="*{bidValueType}" required="required"
								class="selectpicker" title="Select Bid Value Type">
								<option th:each="item : ${bidValueTypes}"
									th:value="${item.key}" th:text="${item.value}"></option>
							</select>
							<p th:if="${#fields.hasErrors('*{bidValueType}')}" th:errors="*{bidValueType}" />
						</div>
						
						<div class="form-group label-floating required">
							<label class="control-label" for="paymentMode"
								th:classappend="${#fields.hasErrors('paymentMode')}? 'has-error'">Payment Mode
								<span class="tool-tip"
									title="The mode of payment that will be done by you for the tender">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<div class="clearfix"></div>
							<select th:field="*{paymentMode}" required="required"
								class="selectpicker" title="Select Payment Mode">
								<option th:each="item : ${paymentModes}"
									th:value="${item.key}" th:text="${item.value}"></option>
							</select>
							<p th:if="${#fields.hasErrors('*{paymentMode}')}" th:errors="*{paymentMode}" />
						</div>
						
						<div class="form-group label-floating required">
							<label class="control-label" for="creditTerms"
								th:classappend="${#fields.hasErrors('creditTerms')}? 'has-error'">Credit Terms
								<span class="tool-tip"
									title="The number of days the payment amount will be credited to the vendor/seller on the winning bid">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<div class="clearfix"></div>
							<select th:field="*{creditTerms}" required="required"
								class="selectpicker" title="Select Credit Terms">
								<option th:each="item : ${creditTerms}"
									th:value="${item.key}" th:text="${item.value}"></option>
							</select>
							<p th:if="${#fields.hasErrors('*{creditTerms}')}" th:errors="*{creditTerms}" />
						</div>
						
						<div class="form-group label-floating required">
							<label class="control-label" for="deliveryFrequency"
								th:classappend="${#fields.hasErrors('deliveryFrequency')}? 'has-error'">Delivery Frequency
								<span class="tool-tip"
									title="The frequency with which the goods has to be delivered">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<div class="clearfix"></div>
							<select th:field="*{deliveryFrequency}" required="required"
								class="selectpicker" title="Select Delivery Frequency">
								<option th:each="item : ${deliveryFrequencyTypes}"
									th:value="${item.key}" th:text="${item.value}"></option>
							</select>
							<p th:if="${#fields.hasErrors('*{deliveryFrequency}')}" th:errors="*{deliveryFrequency}" />
						</div>
						
						<div class="form-group label-floating  required" th:classappend="${#fields.hasErrors('deliveryLocation')}? 'has-error'">
							<label class="control-label" for="name">Delivery Location
								<span class="tool-tip"
									title="Locality, city or the place where you want the goods to be delivered">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<input
								type="text" th:field="*{deliveryLocation}" class="form-control"
								placeholder="Example: Rajajinagar, Bangalore"
								required="required" />
							<p th:if="${#fields.hasErrors('*{deliveryLocation}')}" th:errors="*{deliveryLocation}" class="small text-danger"/>
						</div>
						
						<div class="form-group required"
							th:classappend="${#fields.hasErrors('closeDate')}? 'has-error'">
							<label class="control-label" for="closeDate">Close Date
								<span class="tool-tip"
									title="The closing date of the tender after it is opened. Must be at least 2 days later than today and cannot be later than 15 days from today.">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<div class="input-group date">
								<input th:field="*{closeDate}"
									class="datepicker form-control" type="text"
									readonly="readonly" data-date-format="dd-M-yyyy"
									placeholder="Select close date" /> <label
									class="input-group-addon btn" for="closeDate"> <i
									class="fa fa-calendar" aria-hidden="true"></i>
								</label>
							</div>
							<p th:if="${#fields.hasErrors('*{closeDate}')}" th:errors="*{closeDate}" class="small text-danger"/>
						</div>
						
						<div class="form-group label-floating">
							<label class="control-label" for="deliveryTerms"
								th:classappend="${#fields.hasErrors('deliveryTerms')}? 'has-error'">Delivery Terms
								<span class="tool-tip"
									title="If you have any particular requirement about the delivery, please mention here">
									<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								</span>
							</label>
							<textarea th:field="*{deliveryTerms}" rows="4" class="form-control"></textarea>
							<p th:if="${#fields.hasErrors('*{deliveryTerms}')}" th:errors="*{deliveryTerms}" />
						</div>
						
						<hr/>
						<div class="form-group"> 
							<button class="btn-submit btn-action confirmation" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
