
<div class="container" th:fragment="content">

	<ol class="breadcrumb">
		<li><a th:href="@{/tenders/preview-list}">Tenders</a></li>
		<li class="active" th:inline="text" th:if="${tenderInfo}">[[${tenderInfo.name}]]</li>
	</ol>
	
	<div th:if="${errorMessage}" id="errorMessage"
		class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:text="${errorMessage}"></div>
	</div>

	<div th:if="${tenderInfo}" class="panel panel-primary" >
		<div class="panel-heading">
			<h4 class="panel-title">Tender Details</h4>
		</div>

		<div class="panel-body">
			<div th:if="${param.updateSuccess}"
				class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<div>Bid updated successfully.</div>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li id="detailsTab" class="nav-item"><a
					class="nav-link active hvr-overline-from-center" data-toggle="tab"
					href="#details" role="tab"><i
						class="glyphicon glyphicon-copy"></i>Tender Details</a></li>
				<li class="nav-item" id="bidProductsTab"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#bidProducts" role="tab"><i class="fa fa-picture-o"
						aria-hidden="true"></i> Bid Products</a></li>
				<li class="nav-item" id="bidsTab"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#bids" role="tab"><i class="fa fa-video-camera"
						aria-hidden="true"></i> Bids</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade" id="details" role="tabpanel">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="wrapper col-lg-12">
								<div class="row">
									<h1 class="text-center" th:inline="text">
										[[${tenderInfo.name}]] 
									</h1>
								</div>

								<div class="clearfix"></div>
								<div th:if="${tenderInfo.description}">
									<h4>Description</h4>
									<div class="tender-descriptions">
										<p class="text-justify" th:utext="${tenderInfo.description}"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="wrapper">
								<div class="row">
									<div class="col-lg-12">
										<table class="table-borderless">
											<thead class="thead-default">
												<tr>
													<td><strong>Lowest Bid:</strong></td>
													<td th:if="${lowestBidInfo.value != null}" th:inline="text"> 
														<strong>&#8377; [[${lowestBidInfo.value}]]</strong>
													</td>
													<td th:if="${lowestBidInfo.value == null}" th:inline="text"> 
														No Bids Yet. 
													</td>
												</tr>
												<tr th:if="${currentBidInfo != null and currentBidInfo.value > 0}">
													<td><strong>My Lowest Bid:</strong></td>
													<td th:inline="text"><strong> &#8377; [[${currentBidInfo.value}]]</strong></td>
												</tr>
											</thead>
										</table>
										<form id="postBidForm" class="form-inline top-buffer-5" role="form"
											th:object="${postBidForm}" method="post"
											th:action="@{/tenders/{tenderId}/postBid(tenderId=${tenderInfo.id})}">
											<div th:if="${errorMessage}"
												class="alert alert-dismissible alert-danger top-buffer">
												<div th:inline="text">[[${errorMessage}]]</div>
											</div>
															
											<div class="form-group"
												th:classappend="${#fields.hasErrors('value')}? 'has-error'">
												<input class="form-control input-sm" th:field="*{value}" type="number" 
														min="0.0" step="0.01" placeholder="Enter your bid" /> 
											</div>
											<div class="form-group">
												<button id="postBidBtn" class="btn-submit btn-sm"
													type="submit">Post Bid</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="wrapper">
								<div class="row">
									<div class="col-lg-12">
										<h4>Tender Specifications</h4>
										<table class="table">
											<tbody>
												<tr>
													<td><strong>Buyer:</strong></td>
													<td th:inline="text"><a th:href="@{/buyers/{buyerId}/details(buyerId=${tenderInfo.bidOwner.id})}">[[${tenderInfo.bidOwner.name}]]</a></td>
												</tr>
												<tr>
													<td><strong>Expires at:</strong></td>
													<td th:inline="text">[[${tenderInfo.closeTimestamp}]]</td>
												</tr>
												
												<tr>
													<td><strong>deliveryLocation:</strong></td>
													<td th:inline="text">[[${tenderInfo.deliveryLocation}]]</td>
												</tr>
												<tr>
													<td><strong>Delivery Frequency:</strong></td>
													<td th:inline="text">[[${tenderInfo.deliveryFrequency}]]</td>
												</tr>
												<tr>
													<td><strong>Expected Price:</strong></td>
													<td th:inline="text"><span class="badge">&#8377; [[${tenderInfo.expectedPrice}]]</span></td>
												</tr>
												<tr>
													<td><strong>paymentMode:</strong></td>
													<td th:inline="text">[[${tenderInfo.paymentMode}]]</td>
												</tr>
												<tr>
													<td><strong>creditTerms:</strong></td>
													<td th:inline="text">[[${tenderInfo.creditTerms}]]</td>
												</tr>
												<tr>
													<td><strong>deliveryTerms:</strong></td>
													<td th:inline="text">[[${tenderInfo.deliveryTerms}]]</td>
												</tr>
											</tbody>
										</table>

									</div>

								</div>
							</div>
						</div>
					</div>
					
					<div class="clearfix"></div>
					<hr />
		
					
				</div>

				<div class="tab-pane fade" id="bidProducts" role="tabpanel">
					<div class="page-header">
						Bid Products
					</div>
					<div class="col-md-12">
						<div class="input-group top-buffer-10">
							<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
							<input id="searchText" class="form-control" type="search" autofocus="autofocus"
								placeholder="Search..." />
						</div>
						<ul class="list-group invisible" id="bidProductList">
							<li id="bidProductItem" class="list-group-item top-buffer-5 hvr-glow wow slideInLeft hide-me">
								<h3 class="list-group-item-heading" th:inline="text">
									<strong id="itemName"></strong>
								</h3>
								<h4 class="list-group-item-heading top-buffer" th:inline="text">
									Required Quantity : <span id="itemQuantity"></span> <span id="itemUnit"></span>
								</h4>
								<blockquote class="blockquote small text-justify" th:inline="text"> 
								Quality Specification : <span id="qualitySpecification"></span>
								Special Requirements : <span id="specialRequirement"></span>
								</blockquote>
							</li>
						</ul>
						<div id="bidProductLoading" class="invisible">
							<div class="media">
								<div class="media-body">
									<p id="notificationLoadingBidProductText" class="text-center text-info top-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading bid products...</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="bids" role="tabpanel">
					<span th:if="${bidListResponse != null}" id="bidListNextOffset" th:attr="data-next-offset=${bidListResponse.nextOffset}"></span>
					<div class="page-header">
						Bid History
					</div>
					<div th:if="${param.postBidSuccess}" class="alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Bid has been posted successfully.
					</div>
					
					<div th:if="${bidListResponse == null or #lists.isEmpty(bidListResponse.getList())}" id="noBidList" class="col-md-12 hide-me">
						No bids posted for this tender.
					</div>
					<div class="col-md-12">
						<div class="input-group top-buffer-10">
							<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
							<input id="bidSearchText" class="form-control" type="search" autofocus="autofocus"
								placeholder="Search..." />
						</div>
						<ul class="list-group invisible" id="bidList">
							<li id="bidItem" class="list-group-item top-buffer-5 hvr-glow wow slideInLeft hide-me">
								<p th:inline="text">
									&#8377; <strong id="itemValue"></strong> on <span id="itemTimestamp"></span>
								</p>
							</li>
						</ul>
						<div id="bidLoading" class="invisible">
							<div class="media">
								<div class="media-body">
									<p id="notificationLoadingText" class="text-center text-info top-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading bids...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/external/js/jquery.urlive.min.js}"></script>
	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	
	<script  th:if="${tenderInfo}" type="text/javascript" th:inline="javascript">
	
	//<![CDATA[

	    $('#bidList').btsListFilter('#bidSearchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
	    
	    $('#bidProductList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
	    
		$(document).ready(function() {
			if(urlContainsQueryParam("postBidSuccess") || urlContainsQueryParam("bids")) {
				$('#bidsTab a[href="#bids"]').tab('show');
			} else if(urlContainsQueryParam("bidProducts")) {
				$('#bidProductsTab a[href="#bidProducts"]').tab('show')
			} else {
				$('#detailsTab a[href="#details"]').tab('show')
			}
				
		});
		
		$("#bidsTab").click(function(){
		    //ajax call
		    makeAjaxCallToGetTenderBids();
		});
		
		$("#bidProductsTab").click(function(){
		    //ajax call
		    makeAjaxCallToGetTenderBidProducts();
		});
		
		var bidLoading = $('#bidLoading');
		var bidList = $('#bidList');
		var noBidList = $('#noBidList');
		
		var lastScrollTopPosition = 0;
		
		var bidListEmpty = false;
		var processing = false;
		
		$(window).scroll(function() {
			if(processing || bidListEmpty) {
				return;
			}
			
			var currentScrollPosition = $(this).scrollTop();
			if (currentScrollPosition > lastScrollTopPosition) {
			       // downscroll code
				if($(this).scrollTop() >= ($(document).height() - $(this).height()) * 0.9) {
					if($("#bidsTab").hasClass('active')) {
						makeAjaxCallToGetTenderBids();
					}
				}
			}
			if (currentScrollPosition > lastScrollTopPosition) {
			       // downscroll code
				if($(this).scrollTop() >= ($(document).height() - $(this).height()) * 0.9) {
					if($("#bidProductsTab").hasClass('active')) {
						makeAjaxCallToGetTenderBidProducts();
					}
				}
			}
			lastScrollTopPosition = currentScrollPosition;
		});
		var nextOffset ;
		function makeAjaxCallToGetTenderBids() {
			
			if(nextOffset === undefined){
				nextOffset = "";
			}
			$.ajax({
				context: this,
				url :  [[@{/tenders/{tenderId}/bids/list-as-text?nextOffset=(tenderId=${tenderInfo.id})}]] + nextOffset,
				method: 'GET',
				async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	
		        	bidLoading.removeClass('invisible');
		        	bidList.removeClass('invisible');
		        	processing = true;
		        },
				success: function(data) {
					
					var bidListResponse = $.parseJSON(data);
					nextOffset = bidListResponse.next_offset;
					if(bidListResponse.bid != null && bidListResponse.bid.length > 0) {
						bidListEmpty = false;
						$.each(bidListResponse.bid, function(i, d) {
							var bidItem = $('#bidItem').clone();
							if(d.value != null) {
								bidItem.find("#itemValue").text(d.value);
							}
							bidItem.find("#itemTimestamp").text(d.create_timestamp);
							bidItem.removeClass('hide-me');
							$('#bidList').append(bidItem);
						});
						
					} else {
						bidListEmpty = true;
						if(!nextOffset){
							noBidList.removeClass('hide-me');
						}
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					if(401 == xhr.status) {
		        		logout();
		        	}
					bidList.addClass('invisible');
					console.log(xhr.responseText);
				},
				complete: function() {
					processing = false;
					bidLoading.addClass('invisible');
					
				}
			});
		}
		
		var bidProductLoading = $('#bidProductLoading');
		var bidProductList = $('#bidProductList');
		var bidProductNextOffset;
	function makeAjaxCallToGetTenderBidProducts() {
			
			if(bidProductNextOffset === undefined){
				bidProductNextOffset = "";
			}
			$.ajax({
				context: this,
				url :  [[@{/tenders/{tenderId}/bidProducts/list-as-text?nextOffset=(tenderId=${tenderInfo.id})}]] + bidProductNextOffset,
				method: 'GET',
				async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	bidProductLoading.removeClass('invisible');
		        	bidProductList.removeClass('invisible');
		        	processing = true;
		        },
				success: function(data) {
					
					var bidProductListResponse = $.parseJSON(data);
					bidProductNextOffset = bidProductListResponse.next_offset;
					if(bidProductListResponse.bid_product != null && bidProductListResponse.bid_product.length > 0) {
						bidProductListEmpty = false;
						$.each(bidProductListResponse.bid_product, function(i, d) {
							var bidProductItem = $('#bidProductItem').clone();
							
							if(d.name != null) {
								bidProductItem.find("#itemName").text(d.name);
								bidProductItem.find("#itemUnit").text(d.unit);
								bidProductItem.find("#itemQuantity").text(d.quantity);
								bidProductItem.find("#qualitySpecification").text(d.quality_specification);
								bidProductItem.find("#specialRequirement").text(d.special_requirements);
								
							}
							bidProductItem.removeClass('hide-me');
							$('#bidProductList').append(bidProductItem);
						});
						
					} else {
						bidProductListEmpty = true;
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					if(401 == xhr.status) {
		        		logout();
		        	}
					bidProductList.addClass('invisible');
					console.log(xhr.responseText);
				},
				complete: function() {
					processing = false;
					bidProductLoading.addClass('invisible');
					
				}
			});
		}
	//]]>
	</script>
</div>

