<div class="container" th:fragment="content">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Edit User Account</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Edit Your Account Information</h2>
				</div>

				<form class="col-md-6 col-md-offset-3" method="post" action="#"
					th:action="@{/user-accounts/update-account}"
					th:object="${updateAccountParam}">
					
					<div id="note" class="alert alert-info">
						<b>Note: </b>
						<ol>
							<li>If you change your username (e-mail address) or mobile
								number, verification codes will sent confirmation.</li>
							<li>If you change your username, you will be logged out
								immediately.</li>
						</ol>
					</div>
					
					<div th:if="${message}" class="alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>

					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('accountName')}? 'has-error'">
						<label class="control-label" for="name">Account Name (Display Name)</label> <input
							type="text" th:field="*{accountName}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{accountName}')}"
							th:errors="*{accountName}" class="small text-danger" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('username')}? 'has-error'">
						<label class="control-label" for="username">Username
							(Email Address)</label> <input type="email" th:field="*{username}"
							class="form-control" />
						<p th:if="${#fields.hasErrors('*{username}')}"
							th:errors="*{username}" class="small text-danger" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('mobileNumber')}? 'has-error'">
						<label class="control-label" for="contactNumber">Contact
							Number</label> <input type="text" th:field="*{mobileNumber}"
							class="form-control" />
						<p th:if="${#fields.hasErrors('*{mobileNumber}')}"
							th:errors="*{mobileNumber}" class="small text-danger" />
					</div>
					<hr/>
					<div class="row">
						<div class="col-md-6">
							<button class="btn-submit btn-block btn-action confirmation"
									type="submit">Submit Update</button>
						</div>
						<div class="col-md-6">
							<a class="btn-close btn-block"
								th:href="@{/user-accounts/profile}">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
