	<div class="container" th:fragment="content">
		<div class="col-lg-10">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">Before you begin...</h4>
				</div>
				<div class="panel-body">
					<div class="page-header">
						<h2>Register Your Organization</h2>
					</div>

					<form class="col-md-8 col-md-offset-2 form-horizontal" method="post" action="#"
						th:action="@{/vendors/register}" th:object="${vendorRegistrationFormBean}">
						
						<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger top-buffer">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<div th:inline="text">[[${errorMessage}]]</div>
						</div>

						<div class="form-group label-floating  required" th:classappend="${#fields.hasErrors('organizationName')}? 'has-error'">
							<label class="control-label" for="organizationName">Name of your organization or company</label> <input
								type="text" th:field="*{organizationName}" class="form-control"
								required="required" autofocus="autofocus" />
							<p th:if="${#fields.hasErrors('*{organizationName}')}" th:errors="*{organizationName}" class="small text-danger"/>
						</div>
						<div class="form-group label-floating" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
							<label class="control-label" for="description">Description</label> <input
								type="text" th:field="*{description}" class="form-control" />
							<p th:if="${#fields.hasErrors('*{description}')}" th:errors="*{description}" class="small text-danger" />
						</div>
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('address')}? 'has-error'">
							<label class="control-label" for="address">Address</label>
							<textarea  th:field="*{address}" class="form-control" rows="5" required="required"></textarea>
							<p th:if="${#fields.hasErrors('*{address}')}" th:errors="*{address}" class="small text-danger" />
						</div>
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('contactName')}? 'has-error'">
							<label class="control-label" for="contactName">Name of the Contact Person</label>
							<input type="text" th:field="*{contactName}" class="form-control"
								required="required" />
							<p th:if="${#fields.hasErrors('*{contactName}')}" th:errors="*{contactName}" class="small text-danger"/>
						</div>
						<div class="form-group alert alert-info small"><strong>Note: </strong>
							PAN, VAT number and Service Tax number will be used to check the authenticity of the firm.
							It will not be disclosed to anyone by any means.
						</div>
						
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('pan')}? 'has-error'">
							<label class="control-label" for="pan">PAN</label>
							<input type="text" th:field="*{pan}" class="form-control"
								required="required" />
							<p th:if="${#fields.hasErrors('*{pan}')}" th:errors="*{pan}"  class="small text-danger"/>
						</div>
						
						<div class="form-group label-floating" th:classappend="${#fields.hasErrors('vatNumber')}? 'has-error'">
							<label class="control-label" for="vatNumber">VAT Number</label>
							<input type="text" th:field="*{vatNumber}" class="form-control" />
							<p th:if="${#fields.hasErrors('*{vatNumber}')}" th:errors="*{vatNumber}" class="small text-danger" />
						</div>
						
						<div class="form-group label-floating" th:classappend="${#fields.hasErrors('serviceTaxNumber')}? 'has-error'">
							<label class="control-label" for="serviceTaxNumber">Service Tax Number</label>
							<input type="text" th:field="*{serviceTaxNumber}" class="form-control"/>
							<p th:if="${#fields.hasErrors('*{serviceTaxNumber}')}" th:errors="*{serviceTaxNumber}" class="small text-danger" />
						</div>
						
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('cities')}? 'has-error'">
							<label class="control-label" for="serviceTaxNumber">Operating Cities</label>
							<input type="text" th:field="*{cities}" class="form-control"
								required="required" />
							<p th:if="${#fields.hasErrors('*{cities}')}" th:errors="*{cities}" class="small text-danger" />
						</div>
						
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('emailAddress')}? 'has-error'">
							<label class="control-label" for="emailAddress">Email Address (for public communication)</label>
							<input type="email" th:field="*{emailAddress}" class="form-control" required="required" />
							<p th:if="${#fields.hasErrors('*{emailAddress}')}" th:errors="*{emailAddress}" class="small text-danger" />
						</div>
						
						<div class="form-group label-floating required" th:classappend="${#fields.hasErrors('mobileNumber')}? 'has-error'">
							<label class="control-label" for="mobileNumber">Contact Mobile Number (for public communication)</label>
							<input type="tel" th:field="*{mobileNumber}" class="form-control" required="required" />
							<p th:if="${#fields.hasErrors('*{mobileNumber}')}" th:errors="*{mobileNumber}" class="small text-danger" />
						</div>
						
						<div class="form-group label-floating" th:classappend="${#fields.hasErrors('website')}? 'has-error'">
							<label class="control-label" for="website">Website</label>
							<input type="text" th:field="*{website}" class="form-control" />
							<p th:if="${#fields.hasErrors('*{website}')}" th:errors="*{website}" class="small text-danger" />
						</div>
						<hr/>
						<div class="form-group"> 
							<button class="btn-submit btn-action confirmation" type="submit">Submit Registration Form</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			var d = new Date();
			var day = d.getDate();
			var currMonth = d.getMonth();
			var pastYear = d.getFullYear() - 20;
			var startDate = new Date(pastYear, currMonth, day);
			$('.datepicker').datepicker('setDate', startDate);
			$('.datepicker').datepicker('update');
			$('#dateOfBirth').val('');
		</script>
	</div>
