
<div class="container" th:fragment="content">
	<div th:if="${message}" class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div th:inline="text">[[${message}]]</div>
	</div>
	<div class="col-lg-12">
	
		<ol class="breadcrumb">
			<li  class="active">Vendors</li>
		</ol>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Registered Vendors</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Vendors</h2>
				</div>
			
			<form th:if="${vendorListResponse != null and not #lists.isEmpty(vendorListResponse.vendorList)}"
				id="searchForm" role="form" method="get" th:action="@{/vendors/list}">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
						<input id="searchText" class="form-control" type="search" autofocus="autofocus"
							placeholder="Search..." />
					</div>
				</div>
				<div id="searchList" class="list-group">
					<div th:each="vendor : ${vendorListResponse.vendorList}">
						<div class="list-group-item top-buffer-5 hvr-glow wow slideInLeft">
							<h4 class="list-group-item-heading" th:inline="text">
								<a title="Click to view more details about this dealer" th:href="@{/vendors/{vendorId}/details(vendorId=${vendor.id})}"
									class="no-underline">[[${vendor.name}]]</a>
								<small>
										<span th:if="${vendor.entityStatus == 'APPROVED'}" title="Approved by Administrator" class="text-success">
											<i class="fa fa-check-square"></i>
										</span>
										<span th:if="${vendor.entityStatus == 'DIAPPROVED'}" title="Diapproved by Administrator" class="text-warning"> 
											<i class="fa fa-exclamation-triangle"></i>
										</span>
									</small>
							</h4>
							
							<h5 class="list-group-item-text" th:inline="text"><a class="map no-underline">[[${vendor.address}]]</a></h5>
							<h5 class="list-group-item-text"><strong><i class="fa fa-user" title="Contact Person"></i> </strong> <span th:inline="text">[[${vendor.contactName}]]</span> <i class="fa fa-envelope" title="Email address" aria-hidden="true"></i> <a th:href="${'mailto:' + vendor.emailAddress}" th:inline="text">[[${vendor.emailAddress}]]</a> <i title="Contact number" class="fa fa-phone-square" aria-hidden="true"></i> <a th:href="${'tel:' + vendor.mobileNumber}" th:inline="text">[[${vendor.mobileNumber}]]</a></h5>
							<div class="form-inline top-buffer">
								<div class="form-group">
									<a class="btn btn-sm btn-warning btn-action" th:href="@{/products/list(vendor=${vendor.name} + '|' + ${vendor.id})}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> See Their Products</a>
								</div>
								<div class="form-group">
									<a class="btn-list btn-sm btn-primary btn-action" th:href="@{/buyers/purchase-items(vendor=${vendor.name} + '|' + ${vendor.id})}">See Purchase List</a>
								</div>
								<div class="form-group">
									<a class="btn btn-sm btn-info btn-action" th:href="@{/buyers/product-enquiries(vendor=${vendor.name} + '|' + ${vendor.id})}"><i class="fa fa-question" aria-hidden="true"></i> See Enquiries</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div th:if="${vendorListResponse.nextOffset != null}" >
					<div class="form-group">
						<input type="hidden" name="nextOffset" th:value="${vendorListResponse.nextOffset}"/>
					</div>
					<div class="form-group pull-right">
						<button class="btn-next" type="submit">Next</button>
					</div>
				</div>
			</form>
			<div th:if="${param.nextOffset}" class="form-group pull-right">
				<button class="btn-previous go-back" type="button">Previous</button>
			</div>
			</div>
		</div>
	</div>
	<!-- <div th:replace="google-map-modal-view"></div> -->
	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script>
	$('#searchList').btsListFilter('#searchText', {
		delay : 100,
		initial : false,
		resetOnBlur: false
	});
	
</script>
</div>
