<div class="container" th:fragment="content">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a th:href="@{/vendors/purchase-items}">Purchase List</a></li>
			<li  class="active" th:inline="text">[[${purchaseItemInfoResponse.productName.name}]]</li>
		</ol>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Purchase Item</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Purchase Item</h2>
				</div>
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					<div th:if="${param.updateSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">Purchase item updated successfully.</div>
					</div>
					<h3 class="list-group-item-heading" th:inline="text">[[${purchaseItemInfoResponse.productName.name}]]
						<small>
							<span th:if="${purchaseItemInfoResponse.entityStatus == 'APPROVED'}" title="Approved by Administrator" class="text-success">
								<i class="fa fa-check-square"></i>
							</span>
							<span th:if="${purchaseItemInfoResponse.entityStatus == 'DIAPPROVED'}" title="Diapproved by Administrator" class="text-warning"> 
								<i class="fa fa-exclamation-triangle"></i>
							</span>
						</small>
						<a th:id="${purchaseItemInfoResponse.id}" class="report-abuse"></a>
					</h3>
					<h4 class="list-group-item-heading top-buffer" th:inline="text">Requested by: <a th:href="@{/buyers/{buyerId}/details(buyerId=${purchaseItemInfoResponse.buyer.id})}">[[${purchaseItemInfoResponse.buyer.name}]]</a></h4>
								
					<table class="table pull-right">
						<thead>
							<tr>
								<th>Requested On</th>
								<th>Required Quantity</th>
								<th>Delivered Quantity</th>
							</tr>
						</thead>
					<tbody>
						<tr>
							<td th:inline="text">[[${purchaseItemInfoResponse.requestDate}]]</td>
							<td th:inline="text">[[${purchaseItemInfoResponse.quantity.required}]] [[${purchaseItemInfoResponse.quantity.unit}]]</td>
							<td th:text="${purchaseItemInfoResponse.quantity.delivered} ? ${purchaseItemInfoResponse.quantity.delivered + ' ' + purchaseItemInfoResponse.quantity.unit} : 'N/A'"></td>
						</tr>
					</tbody>
				</table>
				<p th:if="not ${#strings.isEmpty(purchaseItemInfoResponse.tags)}">
					<i title="Tags" class="fa fa-tags" aria-hidden="true"></i>
					<span class="label label-default right-buffer-5" th:each="tag : ${#strings.arraySplit(purchaseItemInfoResponse.tags,',')}" th:inline="text">
						[[${tag}]]
					</span>
				</p>
				<div th:if="${purchaseItemInfoResponse.statusUpdates != null and not #lists.isEmpty(purchaseItemInfoResponse.statusUpdates)}" 
							 class="list-group-item-text top-buffer">
					<strong>Status Updates</strong>
					<div class="list-group">
						<a  th:each="status : ${purchaseItemInfoResponse.statusUpdates}" class="list-group-item list-group-item-action" th:inline="text">
							<span th:if="${status.state == 'SUBMITTED'}"><span class="label label-success">[[${status.state}]]</span> [[${#dates.format(status.timestamp, "'on' dd-MMM-yyyy 'at' HH:mm:ss")}]] by [[${status.updatedBy}]]. <span th:if="${status.comments}">Comment: [[${status.comments}]]</span></span> 
							<span th:if="${status.state != 'SUBMITTED' and status.state != 'CANNOT_BE_DELIVERED'}"><span class="label label-primary">[[${status.state}]]</span> [[${#dates.format(status.timestamp, "'on' dd-MMM-yyyy 'at' HH:mm:ss")}]] by [[${status.updatedBy}]]. <span th:if="${status.comments}">Comment: [[${status.comments}]]</span></span>
							<span th:if="${status.state == 'CANNOT_BE_DELIVERED'}"><span class="label label-danger">[[${status.state}]]</span> [[${#dates.format(status.timestamp, "'on' dd-MMM-yyyy 'at' HH:mm:ss")}]] by [[${status.updatedBy}]]. <span th:if="${status.comments}">Comment: [[${status.comments}]]</span></span>
						</a>
					</div>
				</div>
							
				<h4 class="list-group-item-heading top-buffer">Update Purchase Item</h4>
				<form class="col-md-6 form-horizontal" role="form" 
					  th:object="${purchaseItemUpdateBean}" method="POST" th:action="@{/vendors/purchase-items/{itemId}/update(itemId=${purchaseItemInfoResponse.id})}">
					<div class="form-group required">
						<label class="control-label" for="status" th:classappend="${#fields.hasErrors('status')}? 'has-error'">Status</label>
						<select class="selectpicker" title="Select a status" th:field="*{status}" required="required">
							<option th:each="status : ${purchaseItemStatusMap}"
								th:value="${status.value}" th:text="${status.key}"></option>
						</select>
						<p th:if="${#fields.hasErrors('*{status}')}" th:errors="*{status}" class="small text-danger" />
					</div>
					<div class="form-group required">
						<label class="control-label" for="comment" th:classappend="${#fields.hasErrors('comment')}? 'has-error'">Comment/Remark</label>
						<input class="form-control" type="text" th:field="*{comment}" placeholder="Type a comment" required="required"/>
						<p th:if="${#fields.hasErrors('*{comment}')}" th:errors="*{comment}" class="small text-danger" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="deliveredQuantity">Delivered Quantity <span th:inline="text">([[${purchaseItemInfoResponse.quantity.unit}]])</span></label>
						<input class="form-control" type="text" th:field="*{deliveredQuantity}" placeholder="Ex: 10"/>
						<p th:if="${#fields.hasErrors('*{deliveredQuantity}')}" th:errors="*{deliveredQuantity}" class="small text-danger" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn-submit btn-action">Submit Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="abuse-report-modal-view"></div>
</div>
