<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Tender Previews</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>
		
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		
		<div th:if="${param.failedToAccessTender}"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${param.failedToAccessTender[0]}]]</div>
		</div>
		
		<div th:if="${(listResponse == null or listResponse.isEmpty()) and (#strings.isEmpty(param.tenderStatus) and #strings.isEmpty(param.nextOffset))}">
			<div class="alert alert-warning">
			There are no OPEN Tenders.  
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Tenders</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Tender Previews
					</h2>
				</div>
				
				<div th:if="${listResponse == null or listResponse.isEmpty()}" class="top-buffer-10">No
					tenders to display.
				</div>
				<div th:if="${listResponse != null}">
					<table
						th:if="${listResponse != null and not listResponse.isEmpty()}"
						id="tenderTable"
						class="table table-hover responsive">
						<thead class="thead-default">
							<tr>
								<th>Buyer of Business Type</th>
								<th>Payment Mode</th>
								<th>Expected Price</th>
								<th>Delivery Location</th>
								<th>Required Products</th>
								<th>Details</th>
								
							</tr>
						</thead>
						<tbody>
							<tr
								th:each="item : ${listResponse.getList()}">
								<td th:inline="text">[[${item.businessType.name}]]</td>
								<td th:inline="text">[[${item.paymentMode}]]</td>
								<td th:inline="text">&#8377;[[${item.expectedPrice}]]</td>
								<td th:inline="text">[[${item.deliveryLocation}]]</td>
								<td><a class="btn btn-sm btn-primary view-required-products" th:attr="data-tender-id=${item.id}">View Required Products</a></td>
								<td><a class="btn btn-sm btn-success show-tender"
										th:attr="data-tender-id=${item.id},data-tender-name=${item.businessType.name}">Access Tender</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/tenders/preview-list}" method="get">
					    	<input type="hidden" name="nextOffset" id="nextOffset" th:value="${listResponse.nextOffset}"/>
						    <button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="tenderDisplayModal" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">
						Access Tender?
					</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<ol>
							<li>You are trying to access the tender details for the first time. This is a premium feature. In order to post bids, you need to have an active subscription.</li>
							<li>If you do not have a subscription, then please subscribe by choosing one of our subscription plans.
								<a th:href="@{/vendors/bidding-subscription-plans/list}">Click here</a>
							</li>
							<li>If you are having an active subscription, then its tender quota will be used.</li>
						</ol>
					</div>
					<div class="modal-footer">
						<div class="row">
							<a id="modalTenderDetailLink" class="btn-submit btn-action">OK, proceed</a>
							<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="previewProductsModal" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">Required Products Preview</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-info">
						<strong>Note:</strong>
						<p>
							This is a preview of all the product requirements. When you access the tender, you will be able to see which buyer posted the tender, all the requirements in detail including the required quantity and quality specifications of each product.
						</p>
					</div>
					<div id="previewProductsModalLoadingDiv" class="bottom-buffer-5 invisible">
						<i class="fa fa-refresh fa-spin"></i> Loading products, please wait...
					</div>
					<ul class="list-group" style="overflow-y: auto; height: 300px" id="modalProductPreviewsList">
					</ul>
					<p class="text-center top-buffer-5">
						<button id="modalBtnShowMoreProducts" type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Show more products</button>
					</p>
					<div class="modal-footer">
						<div class="row">
							<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
		$(document).ready(function() {
			// $('#tenderTable').DataTable();
		});
		
		$('#tenderStatus').change(function(e) {
			e.preventDefault();
			$('#nextOffset').val();
		});
		
		var bidProductsListEmpty = false;
		var bidProductsProcessing = false;
		
		$('a.show-tender').click(function(e) {
			e.preventDefault();
			var tenderId = $(this).data('tender-id');
			var tenderName = $(this).data('tender-name');
			$('#modalTenderDetailLink').attr('href', [[@{/tenders/}]] + tenderId + '/details');
			$('#tenderDisplayModal').modal('show');
	    });
		
		$('a.view-required-products').click(function(e) {
			e.preventDefault();
			var tenderId = $(this).data('tender-id');
			var nextOffset = $(this).data('next-offset');
			bidProductsListEmpty = false;
			bidProductsProcessing = false;
			$('#modalProductPreviewsList').empty();
			$('#previewProductsModal').modal('show');
			makeAjaxCallToGetProductPreviews(tenderId, "");
		});
		
		$('#modalBtnShowMoreProducts').click(function(e) {
			e.preventDefault();
			if(bidProductsListEmpty || bidProductsProcessing) {
				return;
			}
			var tenderId = $(this).data('tender-id');
			var nextOffset = $(this).data('next-offset');
			$('#previewProductsModal').modal('show');
			makeAjaxCallToGetProductPreviews(tenderId, nextOffset);
		});
		
		function makeAjaxCallToGetProductPreviews(tenderId, nextOffset) {
			
			var loadingDiv = $('#previewProductsModalLoadingDiv');
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: [[@{/tenders/}]] + tenderId + '/preview-products/list-as-text?nextOffset=' + nextOffset,
		        beforeSend: function() {
		        	bidProductsProcessing = true;
		        	
		        	if(!$('#errorMessageDiv').hasClass('hide-me')) {
		        		$('#errorMessageDiv').addClass('hide-me');
		        	}
		        	
		        	if(loadingDiv.hasClass('invisible')) {
		        		loadingDiv.removeClass('invisible');
		        	}
		        },	        
		        success: function(data) {
		        	var response = $.parseJSON(data);
		        	var showMoreProductsBtn = $('#modalBtnShowMoreProducts');
		        	showMoreProductsBtn.data('next-offset', response.next_offset);
		        	showMoreProductsBtn.data('tender-id', tenderId);
		        	
		        	if(response.product_name != null && response.product_name.length > 0) {
						bidProductsListEmpty = false;
													
						$.each(response.product_name, function(i, d) {
							var element = $('<li></li>').addClass('list-group-item text-center').text(d.name);
							$('#modalProductPreviewsList').append(element);
						});
					} else {
						bidProductsListEmpty = true;
					}
		        	
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	bidProductsProcessing = false;
		        	if(!loadingDiv.hasClass('invisible')) {
		        		loadingDiv.addClass('invisible');
		        	}
		        }
		    });
		}
		
		//]]>
	</script>
</div>