<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li th:if="${selectedDealer}"><a th:href="@{/buyers/list}">Buyers</a></li>
			<li th:if="${selectedDealer}" th:inline="text"><a
				th:href="@{/buyers/{buyerId}/details(buyerId=${#strings.arraySplit(selectedDealer, '|')[1]})}">[[${#strings.arraySplit(selectedDealer,
					'|')[0]}]]</a></li>
			<li class="active">Product Enquiries</li>
		</ol>
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Product enquiries posted by Buyers</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Product Enquiries</h2>
				</div>

				<p th:inline="text"
					th:if="${(param.buyer != null and not #strings.arrayIsEmpty(param.buyer)) or (param.requestDate != null and not #strings.arrayIsEmpty(param.requestDate))}">
					Showing enquiries made <span
						th:if="${param.buyer != null and not #strings.arrayIsEmpty(param.buyer)}">
						by buyer: <strong>[[${#strings.arraySplit(param.buyer[0],
							'|')[0]}]]</strong>
					</span> <span
						th:if="${param.enquiryDate != null and not #strings.arrayIsEmpty(param.enquiryDate)}">
						on: <strong>[[${param.enquiryDate[0]}]]</strong>
					</span>
				</p>

				<div id="loadingDiv" class="top-buffer-5 invisible">
					<i class="fa fa-refresh fa-spin"></i> Loading, please wait...
				</div>
				<form id="searchForm" class="form-inline top-buffer-5" role="form"
					th:object="${enquiryListRequestForm}" method="get"
					th:action="@{/vendors/product-enquiries}">

					<div th:if="${errorMessage}"
						class="alert alert-dismissible alert-danger top-buffer">
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>

					<div id="errorDiv"
						class="alert alert-dismissible alert-danger top-buffer hide-me">
						<div id="errorText"></div>
					</div>

					<div class="row top-buffer-10">
						<div class="col-md-5">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('enquiryDate')}? 'has-error'">
								<label class="control-label" for="enquiryDate">Enquiry
									Date</label>
								<div class="input-group date col-lg-12">
									<input th:field="*{enquiryDate}"
										class="datepicker form-control" type="text"
										readonly="readonly" placeholder="Select enquiry date" /> <label
										class="input-group-addon btn" for="enquiryDate"> <i
										class="fa fa-calendar" aria-hidden="true"></i>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('enquiryDateRange')}? 'has-error'">
								<label class="control-label" for="enquiryDateRange">Or
									Date Range</label>
								<div class="input-group date col-lg-12">
									<input th:field="*{enquiryDateRange}" type="text"
										class="form-control date-range-selector" readonly="readonly"
										placeholder="Select date range" /> <label
										class="input-group-addon btn" for="enquiryDateRange">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row top-buffer-10">
						<div class="col-md-5">
							<label class="control-label" for="buyer">Buyer</label>
							<div class="clearfix"></div>
							<div class="form-group label-floating">
								<select th:field="*{buyer}" class="selectpicker"
									title="Select a Buyer"></select>
							</div>
						</div>
					</div>

					<div class="form-group top-buffer-10">
						<button id="applyFilterBtn" class="btn-filter btn-action btn-md"
							type="submit" disabled="disabled">Apply Filter</button>
					</div>
				</form>

				<div
					th:if="${vendorEnquiryListResponse == null or #lists.isEmpty(vendorEnquiryListResponse.enquiryList)}"
					class="top-buffer">
					<p>No enquiries list to display.</p>
				</div>
				<form id="searchForm" role="form" method="get"
					th:action="@{/vendors/product-enquiries}"
					class="col-lg-12 top-buffer-10">
					<div class="form-horizontal">
						<div class="form-group"
							th:if="${vendorEnquiryListResponse != null and not #lists.isEmpty(vendorEnquiryListResponse.enquiryList)}">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
								<input id="searchText" class="form-control" type="search"
									autofocus="autofocus" placeholder="Search..." />
							</div>
						</div>
						<div
							th:if="${param.enquiryDate != null and not #strings.arrayIsEmpty(param.enquiryDate)}">
							<input th:id="enquiryDate" th:name="enquiryDate" type="hidden"
								th:value="${param.enquiryDate[0]}" />
						</div>

						<div
							th:if="${param.enquiryDateRange != null and not #strings.arrayIsEmpty(param.enquiryDateRange)}">
							<input th:id="enquiryDateRange" th:name="enquiryDateRange"
								type="hidden" th:value="${param.enquiryDateRange[0]}" />
						</div>

						<div
							th:if="${param.buyer != null and not #strings.arrayIsEmpty(param.buyer)}">
							<input th:id="buyer" th:name="buyer" type="hidden"
								th:value="${param.buyer[0]}" />
						</div>

						<div
							th:if="${vendorEnquiryListResponse != null and not #lists.isEmpty(vendorEnquiryListResponse.enquiryList)}"
							id="searchList" class="list-group">
							<div
								th:each="item,iter : ${vendorEnquiryListResponse.enquiryList}">

								<div
									class="list-group-item row hvr-glow top-buffer-5 wow slideInLeft">
									<div class="col-md-3">
										<!-- Product image container -->
										<a class="thumbnail" role="button"> <img id="image"
											class="lazy img-rounded" th:src="@{/public/loading-gif}"
											th:attr="data-src=@{/products/{productId}/image(productId=${item.product.id})}" />
										</a>

									</div>
									<div class="col-md-9">
										<h3 class="list-group-item-heading" th:inline="text">
											<a class="show-product no-underline" title="Quick View"
												th:id="${item.product.id}" href="javascript:void(0);">[[${item.product.name}]]</a>
											<small> <span
												th:if="${item.entityStatus == 'APPROVED'}"
												title="Approved by Administrator" class="text-success">
													<i class="fa fa-check-square"></i>
											</span> <span th:if="${item.entityStatus == 'DIAPPROVED'}"
												title="Diapproved by Administrator" class="text-warning">
													<i class="fa fa-exclamation-triangle"></i>
											</span>
											</small>
											<!-- <a data-th-attr="data-entity-id=${item.id}" class="report-abuse"></a> -->
										</h3>
										<h4 class="list-group-item-heading top-buffer"
											th:inline="text">
											Posted by: <a title="Click to view contact information"
												class="show-buyer no-underline" th:id="${item.buyer.id}"
												href="javascript:void(0);">[[${item.buyer.name}]]</a>
										</h4>
										<blockquote th:if="${item.description}"
											class="blockquote small text-justify" th:inline="text">[[${item.description}]]</blockquote>


										<table class="table table-condensed pull-right">
											<thead>
												<tr>
													<th>Posted On</th>
													<th>Required Quantity</th>
													<th>Likely to buy in</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td th:inline="text">[[${item.requestDate}]]</td>
													<td th:inline="text">[[${item.requiredQuantity}]]</td>
													<td th:inline="text">[[${item.likelyToBuyIn.value}]]
														[[${item.likelyToBuyIn.timeUnit}]]</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-inline">
						<div th:if="${vendorEnquiryListResponse != null}"
							class="form-group">
							<input type="hidden" name="nextOffset"
								th:value="${vendorEnquiryListResponse.nextOffset}" />
						</div>

						<div th:if="${vendorEnquiryListResponse != null}"
							class="form-group pull-right">
							<button class="btn-next form-control" type="submit">Next</button>
						</div>
						<div th:if="${param.nextOffset}" class="form-group pull-right">
							<button class="btn-previous go-back form-control" type="button">Previous</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal views -->
	<div id="buyerModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" id="modalBuyerName"></h4>
				</div>
				<div class="modal-body">
					<div class="text-info col-md-offset-3">
						<p>
							<i title="Type of Business" class="fa fa-briefcase fa-fw"
								aria-hidden="true"></i> <span id="modalBuyerBusinessType"></span>
						</p>
						<p>
							<i title="Address" class="fa fa-map-marker fa-fw"
								aria-hidden="true"></i> <span id="modalBuyerAddress"></span>
						</p>
						<p>
							<i title="Contact Person" class="fa fa-user fa-fw"
								aria-hidden="true"></i> <span id="modalBuyerContactPerson"></span>
						</p>
						<p>
							<i title="Email Address" class="fa fa-envelope fa-fw"
								aria-hidden="true"></i> <a id="modalBuyerEmailAddress"></a>
						</p>
						<p>
							<i title="Mobile Number" class="fa fa-phone-square fa-fw"
								aria-hidden="true"></i> <a id="modalBuyerMobileNumber"></a>
						</p>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn-more-info btn-action" id="modalBuyerDetailLink">More
						Info</a>
					<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="productModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">
						<i class="fa fa-shopping-cart fa-lg text-warning"></i> <span
							id="modalProductName"></span> <small><span
							id="modalProductModelId"></span></small>
					</h4>
				</div>
				<div class="modal-body">
					<table class="table table-condensed table-borderless text-info">
						<tbody>
							<tr>
								<td><strong>Type:</strong></td>
								<td><span id="modalProductType"></span></td>
							</tr>
							<tr>
								<td><strong>Category:</strong></td>
								<td><span id="modalProductCategory"></span></td>
							</tr>
							<tr>
								<td><strong>Cost Price:</strong></td>
								<td>&#8377;<span id="modalProductCostPrice"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a class="btn-more-info btn-success btn-action"
						id="modalProductDetailLink">More Info</a> <a
						class="btn-update btn-warning btn-action"
						id="modalProductUpdateLink">Update Info</a> <a
						class="btn-image btn-action" id="modalProductImagesLink">Manage
						Images</a>
					<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- <div th:replace="abuse-report-modal-view"></div> -->
	<div th:replace="processing-request-modal-view"></div>
	<script
		th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	    
	   $(document).ready(function(){
	    	var enquiryDateRange = $('#enquiryDateRange');
	    	var enquiryDate = $('#enquiryDate');
	    	
	    	if(enquiryDate.val().trim().length > 0) {
	    		enquiryDate.trigger('change');
	    	} else if(enquiryDateRange.val().trim().length > 0) {
	    		enquiryDateRange.trigger('change');
	    	}
	    });        
	           
		$('#searchList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
		
		$('.show-buyer').click(function(e) {
			e.preventDefault();
			var buyerId = $(this).attr('id');
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: [[@{/buyers/}]] + buyerId + '/detail-as-text',
		        beforeSend: function() {
		        	showLoadingModal();
		        },
		        success: function(data) {
		        	var info = $.parseJSON(data);
		        	
		        	$('#modalBuyerName').text(info.name);
					$('#modalBuyerBusinessType').text(info.business_type.name);
					$('#modalBuyerAddress').text(info.address);
					$('#modalBuyerContactPerson').text(info.contact_name);
					$('#modalBuyerEmailAddress').attr('href','mailto:' + info.email_address);
					$('#modalBuyerEmailAddress').text(info.email_address);
					$('#modalBuyerMobileNumber').attr('href','tel:' + info.mobile_number);
					$('#modalBuyerMobileNumber').text(info.mobile_number);
					$('#modalBuyerDetailLink').attr('href', [[@{/buyers/}]] + buyerId + '/details');
					$('#buyerModal').modal('show');
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$('#buyerModal').modal('hide');
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
		});
		
		$('.show-product').click(function(e) {
			e.preventDefault();
			var productId = $(this).attr('id');
			
			$.ajax({
		    	context: this,
		    	async: true,
		    	type: "GET",
		        url: [[@{/products/}]] + productId + '/detail-as-text',
		        beforeSend: function() {
		        	showLoadingModal();
		        },
		        success: function(data) {
		        	var info = $.parseJSON(data);
		        	
		        	$('#modalProductName').text(info.product_name.name);
					var modelId = info.model_id;
					if(modelId != null && modelId.length > 0 && modelId != 'null') {
						$('#modalProductModelId').text(modelId);
					}
					$('#modalProductType').text(info.product_type.name);
					$('#modalProductCategory').text(info.product_category.name);
					$('#modalProductCostPrice').text(info.cost_price);
					$('#modalProductDetailLink').attr('href', [[@{/products/}]] + productId + '/details');
					$('#modalProductImagesLink').attr('href', [[@{/vendors/products/}]] + productId + '/manage-images');
					$('#modalProductUpdateLink').attr('href', [[@{/vendors/products/}]] + productId + '/update-form');
					$('#productModal').modal('show');
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$('#productModal').modal('hide');
		        	$("#errorText").text('Error: ' + xhr.responseText);
		        },
		        complete: function() {
		        	hideLoadingModal();
		        }
		    });
			
		});
		
		$('#enquiryDate').change(function(e) {
			e.preventDefault();
			
			$('#enquiryDateRange').val('');
		    
		    var enquiryDate = $(this).val();
		    var loadingDiv = $('#loadingDiv');
		    if(enquiryDate.length > 0) {
		    	setTimeout(function() {
				    $.ajax({
				    	context: this,
				    	async: true,
				    	beforeSend: function(xhr) {
				    		loadingDiv.removeClass('invisible');
				    		$('#buyer').empty();
				    	},
				    	type: "GET",
				        url: [[@{/vendors/product-enquiries/buyers?enquiryDate=}]] + enquiryDate,
				        
				        success: function(data) {
				        	var response = $.parseJSON(data);
				        	var buyerSelectElement = $('#buyer');
				            $.each(response.buyer, function(i, d) {
				            	buyerSelectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
				            });
				            buyerSelectElement.selectpicker('refresh');
				            $("#errorDiv").addClass('hide-me');
				            $('#applyFilterBtn').prop('disabled', false);
				        },
				        error: function (xhr, ajaxOptions, thrownError) {
				        	if(401 == xhr.status) {
				        		logout();
				        	}
				        	$("#errorText").text('Error: ' + xhr.responseText);
				        	$("#errorDiv").removeClass('hide-me');
				        	$('#applyFilterBtn').prop('disabled', true);
				        },
				        complete: function() {
				        	loadingDiv.addClass('invisible');
				        }
				    });
		    	}, 300);
			}
		 });
		
		$('#enquiryDateRange').change(function(e) {
			e.preventDefault();
		    
			$('#enquiryDate').val('');
			
		    var enquiryDateRange = $(this).val();
		    var loadingDiv = $('#loadingDiv');
		    if(enquiryDateRange.length > 0) {
		    	setTimeout(function() {
				    $.ajax({
				    	context: this,
				    	async: true,
				    	beforeSend: function(xhr) {
				    		loadingDiv.removeClass('invisible');
				    		$('#buyer').empty();
				    	},
				    	type: "GET",
				        url: [[@{/vendors/product-enquiries/buyers?enquiryDateRange=}]] + enquiryDateRange,
				        
				        success: function(data) {
				        	var response = $.parseJSON(data);
				        	var buyerSelectElement = $('#buyer');
				            $.each(response.buyer, function(i, d) {
				            	buyerSelectElement.append('<option value="' + d.name + '|' + d.id + '">' + d.name + '</option>');
				            });
				            buyerSelectElement.selectpicker('refresh');
				            $("#errorDiv").addClass('hide-me');
				            $('#applyFilterBtn').prop('disabled', false);
				        },
				        error: function (xhr, ajaxOptions, thrownError) {
				        	if(401 == xhr.status) {
				        		logout();
				        	}
				        	$("#errorText").text('Error: ' + xhr.responseText);
				        	$("#errorDiv").removeClass('hide-me');
				        	$('#applyFilterBtn').prop('disabled', true);
				        },
				        complete: function() {
				        	loadingDiv.addClass('invisible');
				        }
				    });
		    	}, 300);
			}
		 });
		//]]>
	</script>
</div>
