<div class="container" th:fragment="content">
	
	<div class="clearfix"></div>
	<div class="page-header">
		<h2>Your Catalog</h2>
	</div>
	
	<div th:if="${message}" class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:inline="text">[[${message}]]</div>
	</div>

	<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:inline="text">[[${errorMessage}]]</div>
	</div>
	
	<div th:if="${param.registerSuccess}" class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div th:inline="text">Your organization has been successfully registered.</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4 col-md-4 wow bounceInRight">
			<div id="panelBuyer" class="panel" th:attr="data-panel-link=@{/buyers/list}">
				<div class="panel-heading">
					<h4 class="panel-title">Look For Buyers</h4>
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<span  class="text-center text-success catalog-icon"><i class="fa fa-handshake-o fa-5x fa-fw" aria-hidden="true"></i></span>
						</div>
						<div class="col-md-9">
							<ul class="small">
								<li>Browse buyers by business</li>
								<li>See their purchase list</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 wow bounceInRight" data-wow-delay="0.2s">
			<div id="panelPurchaseList" class="panel" th:attr="data-panel-link=@{/vendors/purchase-items}">
				<div class="panel-heading">
					<h4 class="panel-title">Your Purchase List</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<span class="text-primary catalog-icon"><i class="fa fa-th-list fa-5x fa-fw" aria-hidden="true"></i></span>
						</div>
						<div class="col-md-9">
							<ul class="small">
								<li>Purchase items posted by buyers</li>
								<li>Aggregate purchase items by date</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-4 col-md-4 wow bounceInRight" data-wow-delay="0.4s">
			<div id="panelProduct" class="panel" th:attr="data-panel-link=@{/products/list}">
				<div class="panel-heading">
					<h4 class="panel-title">Your Products</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<span class="text-warning catalog-icon"><i class="fa fa-shopping-cart fa-5x fa-fw" aria-hidden="true"></i></span>
						</div>
						<div class="col-md-9">
							<ul class="small">
								<li>Register new products</li>
								<li>Manage their information</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Second Row -->
	<div class="row">
		<div class="col-sm-4 col-md-4 wow bounceInRight" data-wow-delay="0.6s">
			<div id="panelEnquiry" class="panel"  th:attr="data-panel-link=@{/vendors/product-enquiries/list-request-form}">
				<div class="panel-heading">
					<h4 class="panel-title">See Product Enquiries</h4>
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<span class="text-center text-info catalog-icon"><i class="fa fa-question fa-5x fa-fw" aria-hidden="true"></i></span>
						</div>
						<div class="col-md-9">
							<ul class="small">
								<li>See enquiries posted by buyers</li>
								<li>Query enquiries by buyers and date</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 wow bounceInRight" data-wow-delay="0.8s">
			<div id="panelEnquiry" class="panel" th:attr="data-panel-link=@{/tenders/list}">
				<div class="panel-heading">
					<h4 class="panel-title">Tenders <span class="label label-success pull-right tool-tip" style="padding: .3em .6em .3em;font-weight: inherit;" title="In order to use this feature you are required to pay a premium">PREMIUM FEATURE</span></h4>
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<span class="text-center text-muted catalog-icon"><i class="fa fa-gavel fa-5x fa-fw" aria-hidden="true"></i></span>
						</div>
						<div class="col-md-9">
							<ul class="small">
								<li>See your tenders</li>
								<li>Post your bids against them</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">

		$(document).ready(function() {
			$(".panel").addClass( "panel-default hover show-hand"); 
		});
		
		$('.panel').click(function() {
			$(this).off('click');
			$(this).removeClass('show-hand');
			freezePage();
			$('.catalog-icon', $(this)).html('<i class="fa fa-5x fa-fw fa-refresh fa-spin"></i>');
			var url = $(this).data('panel-link');
			console.log(url);
			window.location = url;
		});
	</script>
</div>
