<div class="container" th:fragment="content">
	<div class="col-sm-12">
		<!-- Login Panel -->
		<div class="col-lg-4 col-md-12 col-sm-12 col-lg-push-8">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">New User? Signup Here</h4>
				</div>
				<div class="panel-body">

					<div th:if="${userRegistrationSuccessMessage}"
						class="alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<div th:inline="text">[[${userRegistrationSuccessMessage}]]</div>
					</div>

					<div th:if="${userRegistrationErrorMessage}"
						class="alert alert-dismissible alert-danger top-buffer">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<div th:inline="text">[[${userRegistrationErrorMessage}]]</div>
					</div>

					<form class="form-horizontal col-lg-12 top-buffer" method="POST"
						th:object="${createAccountParam}"
						th:action="@{/user-accounts/register}">

						<div class="form-group required"
							th:classappend="${#fields.hasErrors('accountName')}? 'has-error'">
							<label class="control-label" for="accountName">Account
								Name (Display Name)</label> <input th:field="*{accountName}"
								class="form-control" type="text" required="required"
								placeholder="Your first name and last name" />
							<p th:if="${#fields.hasErrors('*{accountName}')}"
								th:errors="*{accountName}" class="small text-danger" />
						</div>

						<div class="form-group required"
							th:classappend="${#fields.hasErrors('dealerType')}? 'has-error'">
							<label class="control-label" for="dealerType">I am a</label>
							<select class="form-control" th:field="*{dealerType}" required="required">
								<option value="">Select Dealer Type</option>
								<option th:each="type : ${dealerTypes}" th:value="${type}"
									th:text="${type}"></option>
							</select>
							<p th:if="${#fields.hasErrors('*{dealerType}')}"
								th:errors="*{dealerType}" class="small text-danger" />
						</div>

						<div class="form-group required"
							th:classappend="${#fields.hasErrors('username')}? 'has-error'">
							<label class="control-label" for="username">E-mail
								Address<span class="tool-tip"
								title="This will be your username for login. Please provide your valid e-mail address. We will be sending important notifications to this e-mail address like the new password incase you have forgotten it, feature updates, news, etc."><i
									class="fa fa-info-circle fa-fw" aria-hidden="true"></i></span>
							</label> <input th:field="*{username}" class="form-control" type="email"
								required="required"
								placeholder="Your e-mail address. Your username" />
							<p th:if="${#fields.hasErrors('*{username}')}"
								th:errors="*{username}" class="small text-danger" />
						</div>

						<div class="form-group required"
							th:classappend="${#fields.hasErrors('mobileNumber')}? 'has-error'">
							<label class="control-label" for="mobileNumber">Mobile
								Number</label> <input th:field="*{mobileNumber}" class="form-control"
								type="tel" required="required"
								placeholder="Your 10 digit mobile number" />
							<p th:if="${#fields.hasErrors('*{mobileNumber}')}"
								th:errors="*{mobileNumber}" class="small text-danger" />
						</div>

						<div class="form-group has-feedback required"
							th:classappend="${#fields.hasErrors('password')}? 'has-error'">

							<label class="control-label" for="password">Password<span
								class="tool-tip"
								title="Password must be at least six characters long having at least one digit."><i
									class="fa fa-info-circle fa-fw" aria-hidden="true"></i></span>
							</label> <input th:field="*{password}" class="form-control"
								type="password" required="required"
								placeholder="Account Password" />
							<p th:if="${#fields.hasErrors('*{password}')}"
								th:errors="*{password}" class="small text-danger" />


						</div>
						<div class="form-group required"
							th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
							<label class="control-label" for="confirmPassword">Confirm
								Password</label> <input th:field="*{confirmPassword}"
								class="form-control" type="password" required="required"
								placeholder="Re-enter password" />
							<p th:if="${#fields.hasErrors('*{confirmPassword}')}"
								th:errors="*{confirmPassword}" class="small text-danger" />
						</div>

						<div class="form-group">
							<p class="small text-justify" th:inline="text">
								By registering with us, you agree that you have understood and
								accepted <a th:href="@{/public/terms-of-service}"
									target="_blank">the terms and conditions of
									[[${brandName}]]</a>.
							</p>
						</div>

						<div class="form-group">
							<button class="btn btn-primary btn-block btn-action"
								type="submit">
								<i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Page Header -->
		<div class="col-lg-8 col-md-12 col-sm-12 col-lg-pull-4">
			<div class="panel panel-default col-lg-12">
				<div class="text-center">
					<h2 th:inline="text">[[${brandName}]]</h2>
				</div>
				<div class="panel-body">
					<img class="img-responsive center-block" width="53%"
						th:src="@{/external/images/bnbneeds-logo.png}" />
				</div>
			</div>
			<div class="panel panel-default col-sm-12 autoplay">
				<div class="col-sm-4">
					<div class="col-sm-12 text-center">
						<span class="fa-stack fa-5x text-primary"> <i
							class="fa fa-handshake-o fa-stack-1x"></i>
						</span>
					</div>
					<p class="text-justify">
						<strong>Increased Business:</strong> Our verified and credible
						database enables suppliers/vendors to discover new businesses.
					</p>

				</div>

				<div class="col-sm-4">
					<div class="col-sm-12 text-center">
						<span class="fa-stack fa-5x text-primary"> <i
							class="fa fa-th-list fa-stack-1x"></i>
						</span>
					</div>
					<p class="text-justify">
						<strong>Streamline Your Purchases:</strong> Our innovative
						Purchase List feature allows both buyers and suppliers to
						streamline their purchases and deliveries respectively, thus
						eliminating costly mistakes and wastages.
					</p>
				</div>

				<div class="col-sm-4">
					<div class="col-sm-12 text-center">
						<span class="fa-stack fa-5x text-primary"> <i
							class="fa fa-question fa-stack-1x"></i>
						</span>
					</div>
					<p class="text-justify">
						<strong>KYC:</strong> Our comprehensive review system provides you
						with useful insights about who you are dealing with.
					</p>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-12 text-center">
						<span class="fa-stack fa-5x text-primary"><i
						class="glyphicon glyphicon-piggy-bank fa-stack-1x"></i> </span>
					</div>
					<p class="text-justify">
						<strong>Increased Profits:</strong> Find products and services
						listed with us at lesser rates.
					</p>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-12 text-center">
						<span class="fa-stack fa-5x text-primary"><i
							class="fa fa-link fa-stack-1x"></i> </span>
					</div>
					<p class="text-justify">
						<strong>Sell Directly:</strong> We help you to connect directly
						with your prospects and conclude the sales at your own price and
						terms.
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="col-sm-12 col-md-12 col-lg-12">
	
		<h2 class="text-center">Moving ahead with us</h2>
		<div class="row text-primary">
			<div class="col-lg-4 text-center">
				<h1>
					<span id="vendorCount"></span>+
				</h1>
				<p>VENDORS</p>
			</div>
			<div class="col-lg-4 text-center">
				<h1>
					<span id="buyerCount"></span>+
				</h1>
				<p>BUYERS</p>
			</div>
			<div class="col-lg-4 text-center">
				<h1>
					<span id="productCount"></span>+
				</h1>
				<p>PRODUCTS</p>
			</div>
		</div>
	</div>
	
	<script th:src="@{/external/js/slick.min.js}"></script>
	<script th:src="@{/external/js/waypoints.min.js}"></script>
	<script th:src="@{/external/js/jquery.counterup.min.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		var tootipOptions = {
			trigger : "hover",
			show : {
				effect : "blind",
				duration : 800
			},
			hide : {
				effect : "explode",
				duration : 1000
			}
		}
		$('.tool-tip').tooltip(tootipOptions);
		
		$('.autoplay').slick({
			slidesToShow : 3,
			slidesToScroll : 1,
			autoplay : true,
			autoplaySpeed : 4000,
			responsive : [ {
				breakpoint : 768,
				settings : {
					arrows : false,
					slidesToShow : 2
				}
			}, {
				breakpoint : 480,
				settings : {
					arrows : false,
					slidesToShow : 1
				}
			} ]
		});

		function initCounter(element) {
			element.counterUp({
				delay : 15,
				time : 2500
			});
		}
		var calledOnce = false;
		$(document).ready(function() {
			$(window).scroll(function() {
				// downscroll code
				if($(this).scrollTop() >= ($(document).height() - $(this).height()) * 0.85) {
					if(calledOnce == false) {
						makeAjaxCallToGetVendorCount();
						calledOnce = true;
					}
				}
			});
		});
		
		
		function makeAjaxCallToGetVendorCount() {
			var vendorCountElement = $('#vendorCount');
			if(vendorCountElement.text().length == 0) {
				$.ajax({
					context : this,
					async : true,
					type : "GET",
					url : [[@{/public/entity-count?entityType=Vendor}]],
					success : function(data) {
						vendorCountElement.text(Math.round(data / 50) * 50);
						initCounter(vendorCountElement);
					},
					complete : function() {
						makeAjaxCallToGetBuyerCount();
					}
				});
			}
		}
		
		function makeAjaxCallToGetBuyerCount() {
			var buyerCountElement = $('#buyerCount');
			if(buyerCountElement.text().length == 0) {
				$.ajax({
					context : this,
					async : true,
					type : "GET",
					url : [[@{/public/entity-count?entityType=Buyer}]],
					success : function(data) {
						buyerCountElement.text(Math.round(data / 50) * 50);
						initCounter(buyerCountElement);
					},
					complete : function() {
						makeAjaxCallToGetProductCount();
					}
				});
			}
		}
		
		function makeAjaxCallToGetProductCount() {
			var productCountElement = $('#productCount');
			if(productCountElement.text().length == 0) {
				$.ajax({
					context : this,
					async : true,
					type : "GET",
					url : [[@{/public/entity-count?entityType=Product}]],
					success : function(data) {
						productCountElement.text(Math.round(data / 50) * 50);
						initCounter(productCountElement);
					}
				});
			}
		}
	</script>
	
</div>
