<div class="container" th:fragment="content">

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1 th:inline="text">What is [[${brandName}]]</h1>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li id="whatIsTab" class="nav-item"><a
					class="nav-link active hvr-overline-from-center" data-toggle="tab"
					href="#whatIs" role="tab"> What it does?</a></li>
				<li class="nav-item"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#buyerVideo" role="tab"> How it helps buyers?</a></li>
				<li class="nav-item"><a
					class="nav-link hvr-overline-from-center" data-toggle="tab"
					href="#vendorVideo" role="tab"> How it helps vendors?</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade" id="whatIs" role="tabpanel">
					<div class="wrapper col-lg-12">
						<div class="top-buffer-20">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item rounded-corner"
									th:src="${whatIsVideoURL}" allowfullscreen="allowfullscreen"></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="buyerVideo" role="tabpanel">
					<div class="wrapper col-lg-12">
						<div class="top-buffer-20">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item rounded-corner"
									th:src="${buyerVideoURL}" allowfullscreen="allowfullscreen"></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="vendorVideo" role="tabpanel">
					<div class="wrapper col-lg-12">
						<div class="top-buffer-20">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item rounded-corner"
									th:src="${vendorVideoURL}" allowfullscreen="allowfullscreen"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#whatIsTab a[href="#whatIs"]').tab('show')
		});
	</script>
</div>