<div class="container" th:fragment="content">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title" th:inline="text">[[${videoTitle}]]</h4>
		</div>
		<div class="panel-body">
			<div class="wrapper col-lg-12">
				<div class="top-buffer-20">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item rounded-corner"
							th:src="${youtubeVideoURL}" allowfullscreen="allowfullscreen"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>