<style>
  body{
    margin-top: 100px;
  }
  .fab {
    position: fixed;
    bottom: 40px;
    right: 120px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container panel panel-default">
  <div class="panel-body">
    <div class="page-header">
        <h1>Products</h1>
    </div>
    
    <label ng-hide="productList.length" class="text-muted">There are no products. If you want to add products, click on the "Add Product" button.</label>
    
    <div class="col-lg-12" infinite-scroll="updateProductList()" infinite-scroll-distance="1">
      <div class="list-group" ng-repeat="product in productList">
        <a class="list-group-item" ng-click="productDetails(product.id)" style="cursor: pointer">
          <div class="row-action-primary">
            <i class="material-icons">shopping_cart</i>
          </div>
          <div class="row-content">
              <h3>{{product.product_name.name}}</h3>
          </div>
        </a>
        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>
</div>

<div class="fab">
  <a class="btn btn-primary btn-fab" ui-sref="{{STATE_PRODUCT_REG_1}}"><i class="material-icons">add</i></a>
</div>
