<style>
  body {
    margin-top: 100px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1>Product Edit: Electrical Details</h1>
    </div>
    <div class="col-lg-12">
      <form name="productForm" class="form-horizontal" ng-submit="productEditElectricalCtrl.submitForm(productForm.$valid)" novalidate>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="electricRating" class="control-label">Electric Rating</label>
            <input id="electricRating" name="electricRating" ng-model="electricRating" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="electricRatingUnit" name="electricRatingUnit" ng-model="electricRatingUnit" class="form-control">
              <option value="V" selected>Volts (V)</option>
              <option value="A">Ampere (A)</option>
              <option value="&#x2126;">Ohm (&#x2126;)</option>
            </select>
          </div>
        </div>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="powerRating" class="control-label">Power Rating</label>
            <input id="powerRating" name="powerRating" ng-model="powerRating" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="powerRatingUnit" name="powerRatingUnit" ng-model="powerRatingUnit" class="form-control">
              <option value="W" selected>Watts (W)</option>
              <option value="kW">Kilowatts (kW)</option>
              <option value="MW">Megawatts (MW)</option>
              <option value="GW">GigaWatts (GW)</option>
              <option value="kWh">Kilo Watt Hours (kWh)</option>
              <option value="hp">Horsepower (hp)</option>
              <option value="bhp">Brake-Horsepower (bhp)</option>
            </select>
          </div>
        </div>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="minTemp" class="control-label">Minimum Temperature</label>
            <input id="minTemp" name="minTemp" ng-model="minTemp" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="minTempUnit" name="minTempUnit" ng-model="minTempUnit" class="form-control">
              <option value="&#x2103;" selected>Degree Celcius (&#x2103;)</option>
              <option value="F">Fahrenheit (F)</option>
              <option value="K">Kelvin (K)</option>
            </select>
          </div>
        </div>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="maxTemp" class="control-label">Maximum Temperature</label>
            <input id="maxTemp" name="maxTemp" ng-model="maxTemp" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="maxTempUnit" name="maxTempUnit" ng-model="maxTempUnit" class="form-control">
              <option value="&#x2103;" selected>Degree Celcius (&#x2103;)</option>
              <option value="F">Fahrenheit (F)</option>
              <option value="K">Kelvin (K)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-2 col-lg-offset-8">
            <a class="btn btn-default btn-block" ng-click="productEditElectricalCtrl.goBack()">Cancel</a>
          </div>
          <div class="col-lg-2">
            <button ng-disabled="productForm.$invalid" type="submit" class="btn btn-primary btn-block">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>