<div ng-include="'common/headers/public-header.tmpl.html'"></div>

<!-- Signup Sheet -->
<div class="container">
  <div class="vertical-center">
    <div class="col-lg-8 col-lg-offset-2 panel panel-primary">
      <div class="panel-body">
        <h2>Sign Up</h2>
        <hr />
        <form name="userForm" class="form-horizontal" ng-submit="addAccount(userForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group label-floating" ng-class="{ 'has-error': userForm.name.$invalid && userForm.name.$dirty }">
              <div class="col-lg-12">
                <label for="inputName" class="control-label">Account Name</label>
                <input name="name" ng-model="accountData.account_name" class="form-control" id="inputName" type="text" required>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': userForm.mobile.$invalid && userForm.mobile.$dirty }">
              <div class="col-lg-12">
                <label for="inputMobile" class="control-label">Mobile Number</label>
                <input name="mobile" ng-model="accountData.mobile_number" class="form-control" id="inputMobile" type="tel" required>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': userForm.email.$invalid && userForm.email.$dirty }">
              <div class="col-lg-12">
                <label for="inputEmail" class="control-label">Email</label>
                <input name="email" ng-model="accountData.email_address" class="form-control" id="inputEmail" type="email" required>
                <p class="help-block">This email address will be private and will not be visible to anyone</p>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': userForm.password.$invalid && userForm.password.$dirty }">
              <div class="col-lg-12">
                <label for="password" class="control-label">Password</label>
                <input name="password" ng-model="accountData.password" class="form-control" id="password" type="password" ng-pattern="/(?=^.{8,30}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;&quot;:;'?/&gt;.&lt;,]).*$/" required>
                <p class="help-block">The password should contain at least 8 characters and should include at least one upper-case letter, one digit and one special character</p>
              </div>
            </div>
            <div class="form-group label-floating" ng-class="{ 'has-error': (userForm.confirmPassword === userForm.password) && userForm.confirmPassword.$dirty  }">
              <div class="col-lg-12">
                <label for="confirmPassword" class="control-label">Confirm Password</label>
                <input name="confirmPassword" ng-model="confirmPassword" class="form-control" id="confirmPassword" type="password" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-12 text-info">{{message}}</label>
            </div>
            <div class="form-group">
              <div class="col-lg-3 col-lg-offset-6">
                <a ui-sref="{{STATE_LOGIN}}" class="btn btn-default btn-raised btn-block">Cancel</a>
              </div>
              <div class="col-lg-3">
                <button ng-disabled="userForm.$invalid" type="submit" class="btn btn-primary btn-raised btn-block">Sign Up</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div> <!-- End vertical-center -->
</div>