<style>
  body{
    margin-top: 100px;
  }
  .cropArea {
     background: #E4E4E4;
     overflow: hidden;
     width:500px;
     height:350px;
   }
  form .progress {
    line-height: 15px;
  }
  .progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
  }
  .progress div {
    font-size: smaller;
    background: orange;
    width: 0;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1>Step 3: Additional Product Details</h1>
    </div>
    <div class="col-lg-12">
      <div class="form-group page-header">
        <h3>Product Images</h3>
      </div>

      <div class="form-group">
        <form name="imageUploadForm">
          <button ngf-select ng-model="picFile" accept="image/*">Select Image</button>
          <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
          </div>
          <div>
            <img src="{{croppedDataUrl}}">
          </div>
          <button ng-click="productRegCtrl.upload(croppedDataUrl)">Submit</button>
          <span class="progress" ng-show="progess >= 0">
            <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
          </span>
          <span ng-show="result">Upload Successful</span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </form>
      </div>

      <div class="form-group page-header">
        <h3>Service</h3>
      </div>

      <form name="serviceAreaForm" ng-submit="productRegCtrl.updateServiceAreas(serviceAreaForm.$valid)">
        <div class="form-group label-floating">
          <div class="col-lg-12">
              <label for="service-areas" class="control-label">Service Areas</label>
            <input id="service-areas" class="form-control" type="text" ng-model="serviceAreas" required>
          </div>
        </div>
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-primary">Finish</button>
        </div>
      </form>
    </div>
  </div>
</div>