<!-- Horizontal scroll -->
<style>
  body{
    margin-top: 100px;
  }
  .cover-container {
      height: 180px;
      width: 100%;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
  }
  .cover-item {
      position: relative;
      display: inline-block;
      margin: 8px 8px;
      box-shadow: 2px 2px 4px #bbb;
      border-top-right-radius: 4px;
      width: 116px;
      height: 158px;
      vertical-align: bottom;
      background-position: top left;
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<!-- Page Content -->
<div class="container">
  <div class="col-lg- panel">
    <div class="panel-body">
      <div class="page-header">
        <h1>Pure Veg Hotels</h1>
      </div>

      <div class="row-fluid">
        <div class="col-lg-12 col-md-10">
          <div class="cover-container">
            <a href="#" class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></a>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
          </div>
        </div>
      </div>  

    </div>
  </div>

  <div class="col-lg-8 panel">
    <div class="panel-body">
      <div class="page-header">
        <h1>Multi Cuisine Hotels</h1>
      </div>
        
      <div class="row-fluid">
        <div class="col-lg-12 col-md-10">
          <div class="cover-container">

            <div class="cover-item">
              <div class="list-group-item">
                  <div class="row-action-primary">
                      <i class="mdi-file-folder"></i>
                  </div>
                  <div class="row-content">
                      <div class="least-content">15m</div>
                      <h4 class="list-group-item-heading">Tile with a label</h4>
                      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                  </div>
              </div>
            </div>

            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
          </div>
        </div>
      </div>  

    </div>
  </div>

</div>