<style>
  body{
    margin-top: 100px;
  }
  .fab {
    position: fixed;
    bottom: 40px;
    right: 120px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1>Offers</h1>
    </div>
    
    <label ng-hide="offers" class="text-muted">There are no offers. If you want to add offers, click on the "Add Offers" button.</label>
    
    <div class="col-lg-12">
      <div class="list-group" ng-repeat="offer in offers">
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="material-icons">new_releases</i>
          </div>
          <div class="row-content">
            <div class="action-secondary" ng-click="productOfferCtrl.deleteOffer(offer.id)"><i class="material-icons">delete</i></div>
            <h3 ng-click="offerDetails(offer.id)">{{offer.name}}</h3>
          </div>
        </div>
        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>
</div>

<div class="fab">
  <a class="btn btn-primary btn-fab" data-ripple-color="#22EE00" ui-sref="{{STATE_OFFER_CREATE}}"><i class="material-icons">add</i></a>
</div>