<style>
  body {
    margin-top: 100px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1>Step 2: Physical Details</h1>
    </div>
    <div class="col-lg-12">
      <form name="productForm" class="form-horizontal" ng-submit="productRegCtrl.submitForm(productForm.$valid)" novalidate>
        <div class="form-group">
          <h3>Dimensions</h3>
        </div>
        <div class="form-group">
          <label for="length" class="col-lg-2 control-label">Length</label>
          <div class="col-lg-8">
            <input id="length" name="length" ng-model="length" placeholder="Length" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="lengthUnit" name="lengthUnit" ng-model="lengthUnit" class="form-control">
              <option value="m" selected>Metres (m)</option>
              <option value="cm">Centimetres (cm)</option>
              <option value="mm">Millimetres (mm)</option>
              <option value="ft">Feet (ft)</option>
              <option value="in">Inches (in)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="breadth" class="col-lg-2 control-label">Breadth</label>
          <div class="col-lg-8">
            <input id="breadth" name="breadth" ng-model="breadth" placeholder="Breadth" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="breadthUnit" name="breadthUnit" ng-model="breadthUnit" class="form-control">
              <option value="m" selected>Metres (m)</option>
              <option value="cm">Centimetres (cm)</option>
              <option value="mm">Millimetres (mm)</option>
              <option value="ft">Feet (ft)</option>
              <option value="in">Inches (in)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="height" class="col-lg-2 control-label">Height</label>
          <div class="col-lg-8">
            <input id="height" name="height" ng-model="height" placeholder="Height" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="heightUnit" name="heightUnit" ng-model="heightUnit" class="form-control">
              <option value="m" selected>Metres (m)</option>
              <option value="cm">Centimetres (cm)</option>
              <option value="mm">Millimetres (mm)</option>
              <option value="ft">Feet (ft)</option>
              <option value="in">Inches (in)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="weight" class="col-lg-2 control-label">Weight</label>
          <div class="col-lg-8">
            <input id="weight" name="weight" ng-model="weight" placeholder="Weight" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="weightUnit" name="weightUnit" ng-model="weightUnit" class="form-control">
              <option value="kg" selected>Kilograms (kg)</option>
              <option value="g">Grams (g)</option>
              <option value="mg">Milligrams (mg)</option>
              <option value="lb">Pounds (lb)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="volume" class="col-lg-2 control-label">Volume</label>
          <div class="col-lg-8">
            <input id="volume" name="volume" ng-model="volume" placeholder="Volume" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="volumeUnit" name="volumeUnit" ng-model="volumeUnit" class="form-control">
              <option value="l" selected>Litres (l)</option>
              <option value="ml">Millilitres (ml)</option>
              <option value="G">Gallons (G)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <h3>Electrical &amp; Mechanical Properties</h3>
        </div>
        <div class="form-group">
          <label for="electricRating" class="col-lg-2 control-label">Electric Rating</label>
          <div class="col-lg-8">
            <input id="electricRating" name="electricRating" ng-model="electricRating" placeholder="Electric Rating" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="electricRatingUnit" name="electricRatingUnit" ng-model="electricRatingUnit" class="form-control">
              <option value="V" selected>Volts (V)</option>
              <option value="A">Ampere (A)</option>
              <option value="&#x2126;">Ohm (&#x2126;)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="powerRating" class="col-lg-2 control-label">Power Rating</label>
          <div class="col-lg-8">
            <input id="powerRating" name="powerRating" ng-model="powerRating" placeholder="Power Rating" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="powerRatingUnit" name="powerRatingUnit" ng-model="powerRatingUnit" class="form-control">
              <option value="W" selected>Watts (W)</option>
              <option value="kW">Kilowatts (kW)</option>
              <option value="MW">Megawatts (MW)</option>
              <option value="GW">GigaWatts (GW)</option>
              <option value="kWh">Kilo Watt Hours (kWh)</option>
              <option value="hp">Horsepower (hp)</option>
              <option value="bhp">Brake-Horsepower (bhp)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="minTemp" class="col-lg-2 control-label">Minimum Temperature</label>
          <div class="col-lg-8">
            <input id="minTemp" name="minTemp" ng-model="minTemp" placeholder="Minimum Temperature" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="minTempUnit" name="minTempUnit" ng-model="minTempUnit" class="form-control">
              <option value="&#x2103;" selected>Degree Celcius (&#x2103;)</option>
              <option value="F">Fahrenheit (F)</option>
              <option value="K">Kelvin (K)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="maxTemp" class="col-lg-2 control-label">Maximum Temperature</label>
          <div class="col-lg-8">
            <input id="maxTemp" name="maxTemp" ng-model="maxTemp" placeholder="Maximum Temperature" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="maxTempUnit" name="maxTempUnit" ng-model="maxTempUnit" class="form-control">
              <option value="&#x2103;" selected>Degree Celcius (&#x2103;)</option>
              <option value="F">Fahrenheit (F)</option>
              <option value="K">Kelvin (K)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <a class="btn btn-default" ng-click="productRegCtrl.skip()">Skip</a>
            <button ng-disabled="productForm.$invalid" type="submit" class="btn btn-primary">Proceed</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>