<style>
  body {
    margin-top: 100px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<!-- Register Sheet -->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <h2>Create Offer</h2>
      <hr />
      <form name="offerForm" class="form-horizontal" ng-submit="offerCreateCtrl.saveOffer(offerForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" ng-class="{ 'has-error': offerForm.offerTitle.$invalid && offerForm.offerTitle.$dirty }">
            <label for="offerTitle" class="col-lg-2 control-label">Offer Title*</label>
            <div class="col-lg-10">
              <input name="offerTitle" ng-model="offer.offer_title" class="form-control" id="offerTitle" placeholder="Offer Title" type="text" required>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': offerForm.product.$invalid && offerForm.product.$dirty }">
            <label for="productSelect" class="col-lg-2 control-label">Product</label>
            <div class="col-lg-10">
              <input id="productSelect" name="product" autocomplete="off" type="text" ng-model="product" typeahead-on-select="productRegCtrl.setProductName($item)" typeahead-editable="false" uib-typeahead="product as product.name for product in productList.product | filter:$viewValue | limitTo:8" class="form-control" required>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': offerForm.startDate.$invalid && offerForm.startDate.$dirty }">
            <label for="startDatePicker" class="col-lg-2 control-label">Start date</label>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <input name="startDate" id="startDatePicker" class="form-control" type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="startDate" is-open="startDateOpen" required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openStartDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span> 
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': offerForm.endDate.$invalid && offerForm.endDate.$dirty }">
            <label for="endDatePicker" class="col-lg-2 control-label">End date</label>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <input name="endDate" id="endDatePicker" class="form-control" type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="endDate" is-open="endDateOpen" required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openEndDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span> 
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
              <label class="text-info">{{message}}</label>  
          </div>
          <div class="form-group pull-right">
              <div class="col-lg-10 col-lg-offset-2">
                  <button class="btn btn-default">Cancel</button>
                  <button ng-disabled="offerForm.$invalid" type="submit" class="btn btn-primary">Create</button>
              </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>