<style>
  body{
    margin-top: 100px;
  }
  .fab {
    position: fixed;
    bottom: 40px;
    right: 120px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      
      <div class="page-header">
        <h1>Profile</h1>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">Organization Name</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.name}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">Address</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.address}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">Contact Name</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.contact_name}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">Contact Email</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.email_address}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">Contact Phone</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.mobile_number}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">Cities</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.cities}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">PAN Number</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.pan}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">VAT Number</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.vat_number}}</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-3">
          <label class="text-muted">Website</label>
        </div>
        <div class="col-lg-9">
          <label class="text-default">{{vendor.website}}</label>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="fab">
  <a class="btn btn-primary btn-fab" ui-sref="{{STATE_VENDOR_PROFILE_EDIT}}"><i class="material-icons">edit</i></a>
</div>