<!-- Header Toolbar -->
<div class="navbar navbar-default shadow-z-2">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="login">BNB Needs</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="faq">FAQ</a></li>
      <li><a ui-sref="tnc">Terms &amp; Conditions</a></li>
      <li><a ui-sref="contact">Contact Us</a></li>
    </ul>
  </div>
  </div>
</div>