<!-- Header Toolbar -->
<div class="navbar navbar-default navbar-fixed-top shadow-z-2" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="{{STATE_HOME}}">BNB Needs</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a ui-sref="{{STATE_VENDOR_PROFILE}}">Profile</a></li>
        <li><a ui-sref="{{STATE_PRODUCTS}}">Products</a></li>
        <li><a ui-sref="{{STATE_OFFERS}}">Offers</a></li>
        <li><a ui-sref="ads">Advertisements</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="faq">FAQ</a></li>
        <li><a ui-sref="notifications"><i class="material-icons">notifications</i></a></li>
        <li><a href ng-click="logout()">Logout</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input class="form-control col-lg-8" placeholder="Search" type="text">
      </form>
    </div>
  </div>
</div>