<style>
.modal-backdrop {
  bottom:0;
}
</style>
<div class="modal-header">
  <h3>Update Cost Price</h3>
  <hr>
</div>
<form ng-submit="costUpdateModalCtrl.update()" class="form-horizontal">
  <div class="modal-body">
    <div class="form-group label-floating">
      <div class="col-lg-12">
          <label for="cost" class="control-label">New Cost</label>
        <input id="cost" class="form-control" type="text" ng-model="updatedProduct.cost_price" autofocus />
      </div> 
    </div>
  <div class="form-group">
    <label class="text-info">{{message}}</label>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Save</button>
    <a ng-click="costUpdateModalCtrl.cancel()" class="btn btn-default">Cancel</a>
  </div>
</form>