<style>
.modal-backdrop {
  bottom:0;
}
</style>
<div class="modal-header">
  <h3>New Product Type</h3>
  <hr>
</div>
<form ng-submit="productTypeCtrl.saveProductType(productType)" class="form-horizontal">
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="col-lg-2 control-label">Type</label>
      <div class="col-lg-10">
        <input id="name" class="form-control" type="text" ng-model="productType.name" placeholder="Type" autofocus />
      </div> 
    </div>
    <div class="form-group">
      <label for="desc" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <input id="desc" class="form-control" type="text" ng-model="productType.description" placeholder="Description" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="text-info">{{message}}</label>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Save</button>
    <a ng-click="productTypeCtrl.cancel()" class="btn btn-default">Cancel</a>
  </div>
</form>