<div class="container" th:fragment="content">

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1>About</h1>
			</div>
			Bharat Electronics Officer's Club situated at BEL Township, Jalahalli, 
			Bengaluru-560013, was formed in the year 1963 by the then CMD and it was administrated 
			by Honorable President Mr. S.D. Kagili and Honorable Secretary Mr. R N Goyal with an aim 
			of providing physical and cultural needs for the Officers of BEL and their families.
									
			<ul>				
				<li>To provide facilities to its members in sports, cultural, social and recreational activities.</li>
				<li>To maintain library of books, periodicals, literature in cultural topics and so on.</li>
				<li>To provide facilities for arranging members and management parties.</li>
			</ul>
					
			Every executive who is on the rolls of  M/s.  BEL in Bangalore Complex, Corporate Office and CRL is eligible to become ordinary member of the club. 
			Spouse and children of the ordinary members are entitled to avail facilities of the club on par with the ordinary member,  
			The retired executives from BEL are entitled to become members.<br /><br />
											
			The Director of Bangalore complex is the patron of the club and the chairman and Managing Director of BEL is the Patron-in Chief. 
			 The management committee of the club is elected by regular members, to which the administration of the club is entrusted.  
			The general body is the controlling body of the club which is having authority to delegate its own authority to any committee, sub-committee and the office bearers.
								
		</div>
	</div>

</div>