<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h4 class="panel-title">Abuse Reports</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Abuse Reports</h2>
				</div>

				<div
					th:if="${listResponse == null or #lists.isEmpty(listResponse.getAbuseReportList())}">
					No Abuse Reports to display.</div>

				<form
					th:if="${listResponse != null and not #lists.isEmpty(listResponse.getAbuseReportList())}"
					id="searchForm" role="form" method="get"
					th:action="@{abuse-reports/list}">
					<div class="form-group">
						<div class="input-group">
							<input id="searchText" class="form-control" type="search"
								autofocus="autofocus" placeholder="Search..." /> <span
								class="input-group-addon"><i class="fa fa-search fa-fw"
								aria-hidden="true"></i></span>
						</div>
					</div>
					<div id="searchList" class="list-group">
						<div th:each="item,iter : ${listResponse.getAbuseReportList()}">
							<div
								class="list-group-item top-buffer-5 hvr-glow wow slideInLeft">
								<h3 class="list-group-item-heading" th:text="${item.name} ? ${item.name} : 'N/A'">
									<small> <span
										th:if="${item.entityStatus == 'APPROVED'}"
										title="Approved by Administrator" class="text-success">
											<i class="fa fa-check-square"></i>
									</span> <span th:if="${item.entityStatus == 'DIAPPROVED'}"
										title="Diapproved by Administrator" class="text-warning">
											<i class="fa fa-exclamation-triangle"></i>
									</span>
									</small>
								</h3>
								<h4 class="list-group-item-heading top-buffer" th:inline="text">
									Posted against: <a th:if="${item.getEntityType() == 'VENDOR'}"
										class="text-info" title="View Dealer info"
										th:href="@{/vendors/{id}/details(id=${item.getEntityId()})}"><span th:text="${item.name} ? ${item.name} : 'N/A'"></span></a>
									<a th:if="${item.getEntityType() == 'BUYER'}" class="text-info"
										title="View Dealer info"
										th:href="@{/buyers/{id}/details(id=${item.getEntityId()})}"><span th:text="${item.name} ? ${item.name} : 'N/A'"></span></a>
									<a th:if="${item.getEntityType() == 'PRODUCT'}"
										class="text-info" title="View Product info"
										th:href="@{/products/{id}/details(id=${item.getEntityId()})}"><span th:text="${item.name} ? ${item.name} : 'N/A'"></span></a>
									<a th:if="${item.getEntityType() == 'BUYERREVIEW'}"
										class="text-info" title="View review info"
										th:href="@{/buyers/details(reviewId=${item.getEntityId()},reviews='true')}">Buyer Review for <span th:text="${item.getReportedUser().username} ? ${item.getReportedUser().username} : 'N/A'"></span></a>
									<a th:if="${item.getEntityType() == 'VENDORREVIEW'}"
										class="text-info" title="View review info"
										th:href="@{/vendors/details(reviewId=${item.getEntityId()},reviews='true')}">Vendor Review for <span th:text="${item.getReportedUser().username} ? ${item.getReportedUser().username} : 'N/A'"></span></a>
									<a th:if="${item.getEntityType() == 'PRODUCTREVIEW'}"
										class="text-info" title="View review info"
										th:href="@{/products/details(reviewId=${item.getEntityId()},reviews='true')}">Product Review for <span th:text="${item.getReportedUser().username} ? ${item.getReportedUser().username} : 'N/A'"></span></a>
									<a th:if="${item.getEntityType() == 'TENDER'}"
										class="text-info" title="View tender info"
										th:href="@{/tenders/{id}/details(id=${item.getEntityId()})}">Tender: <span th:text="${item.name} ? ${item.name} : 'N/A'"></span></a>
								</h4>

								<table class="table table-condensed pull-right">
									<thead>
										<tr>
											<th class="col-md-1">Title</th>
											<th>Reported By</th>
											<th>Status</th>
											<th>Assigned To</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:inline="text">[[${item.getTitle()}]]</td>
											<td th:if="${item.getReportedUser().getId() != null}">
											<a data-toggle="modal"
													th:attr="data-target='#userDetailsDialog' + ${iter.index}"
													th:id="${item.getReportedByUserId()}">
													<span th:text="${item.getReportedUser().getUsername()} ? ${item.getReportedUser().getUsername()} : 'N/A'"></span>
												</a>
											</td>
											<td th:if="${item.getReportedUser().getId() == null}" th:inline="text">N/A</td>
											<!-- <td th:inline="text">[[${#dates.format(item.getTimestamp(), "'on' dd-MMM-yyyy 'at' HH:mm:ss")}]]</td>  -->
											<td th:inline="text">[[${item.getReportStatus()}]]</td>
											<td th:inline="text">[[${item.getAssignedUserName()}]]</td>
											<td>
												<div class="form-group">
													<a class="btn-close confirmation"
														title="Close Abuse Report"
														th:href="@{/abuse-reports/{id}/close(id=${item.id})}"></a>
													<a class="btn-update confirmation"
														title="Assign Abuse Report to self"
														th:href="@{/abuse-reports/{id}/assign(id=${item.id})}"></a>
													<a class="btn-add add-remark" title="Click to add remarks"
														th:attr="data-report-id=${item.id}"></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

								<div th:if="${item.description != null}" class="list-group-item-text"
									 th:inline="text">
									 <h4>Description:</h4>
									<p>[[${item.description}]]</p>
								</div>
								<button
									th:if="${item.getRemarks() != null and not #lists.isEmpty(item.getRemarks())}"
									class="btn-expand btn-info btn-sm top-buffer-5" type="button"
									data-toggle="collapse"
									th:attr="data-target='#remarksList' + ${iter.index}">Remarks</button>
								<div th:attr="id='remarksList' + ${iter.index}"
									class="list-group collapse">
									<a class="list-group-item list-group-item-action"
										th:each="remark : ${item.getRemarks()}" th:inline="text">
										[[${remark}]]
									</a>
								</div>
								<div th:attr="id='statusList' + ${iter.index}"
									class="list-group collapse">
									<a class="list-group-item list-group-item-action"
										th:inline="text"> <span class="label label-primary"></span>
									</a>
								</div>
							</div>

							<div class="modal"
								th:attr="id='userDetailsDialog' + ${iter.index}" tabindex="-1"
								role="dialog" aria-labelledby="userName" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">
												<span aria-hidden="true">&times;</span> <span
													class="sr-only">Close</span>
											</button>
											<h4 class="modal-title" id="userName" th:inline="text">
												<i class="fa fa-handshake-o fa-fw fa-lg text-success"
													aria-hidden="true"></i> Reported By:
												[[${item.getReportedUser().getUsername()}]]
											</h4>
										</div>

										<!-- Modal Body -->
										<div class="modal-body">
											<div class="text-info col-md-offset-2">
												<p>
													<i title="Username" class="fa fa-user fa-fw"
														aria-hidden="true" th:inline="text">[[${item.getReportedUser().getAccountName()}]]</i>
												</p>
												<p>
													<i title="Email Address" class="fa fa-envelope fa-fw"
														aria-hidden="true" th:inline="text">[[${item.getReportedUser().getUsername()}]]</i>
												</p>
												<p>
													<i title="Mobile Number" class="fa fa-phone fa-fw"
														aria-hidden="true" th:inline="text">[[${item.getReportedUser().getMobileNumber()}]]</i>
												</p>
												<p>
													<i title="Role" class="fa fa-user-circle fa-fw"
														aria-hidden="true" th:inline="text">[[${item.getReportedUser().getRole()}]]</i>
												</p>
											</div>
											<div class="modal-footer">

												<a th:if="${item.getReportedUser().getRole() == 'VENDOR'}"
													class="btn-more-info" title="View Dealer info"
													th:href="@{/vendors/{id}/details(id=${item.getReportedUser().getRelationshipId()})}">View
													Details</a> <a
													th:if="${item.getReportedUser().getRole() == 'BUYER'}"
													class="btn-info" title="View Dealer info"
													th:href="@{/buyers/{id}/details(id=${item.getReportedUser().getRelationshipId()})}">View
													Details</a>
												<button class="btn-close" type="button" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div th:if="${listResponse.nextOffset != null}">
						<div class="form-group">
							<input type="hidden" name="nextOffset"
								th:value="${listResponse.nextOffset}" />
						</div>
						<div class="form-group pull-right">
							<button class="btn-next" type="submit">Next</button>
						</div>
					</div>
				</form>
				<div th:if="${param.nextOffset}" class="form-group pull-right">
					<button class="btn-previous go-back" type="button">Previous</button>
				</div>
			</div>
		</div>
	</div>


	<div sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')"
		id="addRemarkFormModal" class="modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Add Remark</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<form role="form" method="post" id="addRemarkForm"
						th:object="${addRemarksForm}">
						<div id="note" class="alert alert-info">
							<strong>Note: </strong>Remarks will be added to the already
							existing ones.
						</div>
						<div class="form-group required">
							<label class="control-label" for="remarks">Remarks</label>
							<textarea th:field="*{remarks}" class="form-control"
								required="required" autofocus="autofocus" rows="4"></textarea>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn-submit btn-action">Submit</button>
							<button type="button" class="btn-close" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script
		th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script th:inline="javascript">
		//<![CDATA[

		$('#searchList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur : false
		});

		$('.add-remark').click(
				function(e) {
					e.preventDefault();
					var reportId = $(this).data('report-id');
					$('#addRemarkForm').attr('action',
							'/abuse-reports/' + reportId + '/add-remarks');
					$('#addRemarkFormModal').modal('show');
					console.log('I am here.');
				});

		//]]>
	</script>
</div>
