<div class="container" th:fragment="content">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Abuse Report Details</h2>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 text-center"></div>
					<div class="col-sm-6 col-md-8">
						<h3 th:inline="text">[[${abuseReportInfo.getTitle()}]]</h3>
						<h4 th:if="${abuseReportInfo != null and abuseReportInfo.getEntityStatus() == 'DISAPPROVED'}"
							class="list-group-item-text" th:inline="text">
							<span title="Disapproved" class="text-warning"><i class="fa fa-exclamation-triangle"></i></span>Disabled</h4>
						<h4 th:if="${abuseReportInfo != null and abuseReportInfo.getEntityStatus() == 'APPROVED'}"
							class="list-group-item-text" th:inline="text">
							<span title="Disapproved" class="text-warning"><i class="fa fa-exclamation-triangle"></i></span>Enabled</h4>
							
						<h4 th:inline="text">
							<span title="Description" />[[${abuseReportInfo.getDescription()}]]
						</h4>
						<p>
							<h4 th:if="${abuseReportInfo.getEntityId() != null}"
								th:inline="text">
								<span  title="Abuse Entity" />[[${abuseReportInfo.getEntityId()}]]
							</h4>
	
							
							<a class="btn btn-default" th:href="@{~/accounts/update-account-form}">Edit Account</a>
						</p>
					</div>

				
				</div>
			</div>
		</div>
	</div>
</div>