<div class="container" th:fragment="content">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Account Profile</h2>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 text-center"></div>
					<div class="col-sm-6 col-md-8">
						<h3 th:inline="text">[[${accountInfo.getAccountName()}]]</h3>
						<h4 th:if="${accountInfo != null and accountInfo.isDisabled()}"
							class="list-group-item-text" th:inline="text">Account
							status: Disabled</h4>
						<h4 th:if="${accountInfo != null and !accountInfo.isDisabled()}"
							class="list-group-item-text" th:inline="text">Account
							status: Enabled</h4>
						<h4 th:inline="text">
							<span class="glyphicon glyphicon-user" title="Username" />[[${accountInfo.getUsername()}]]
						</h4>
						<p>
							<h4 th:if="${accountInfo.getMobileNumber() != null}"
								th:inline="text">
								<span class="glyphicon glyphicon-earphone" title="Phone number" />[[${accountInfo.getMobileNumber()}]]
							</h4>
	
							<h4 th:inline="text">
								<span class="glyphicon glyphicon-time" title="Last login time" />[[${#dates.format(accountInfo.getLastLoginTime(),
								'dd MMM yyyy HH:mm')}]]
							</h4>
	
							<h4 th:inline="text">
								<span class="glyphicon glyphicon-globe"
									title="Login Host IP address" />[[${accountInfo.getClientIPAddress()}]]
							</h4>
							<h4 th:if="${accountInfo != null and accountInfo.isEmailAddressVerified()}">
								Email Address: <span class="glyphicon glyphicon-ok" title="Verified"/></h4>
							<h4 th:if="${accountInfo != null and !accountInfo.isEmailAddressVerified()}">
								Email Address: <span class="glyphicon glyphicon-remove" title="Not verified"/></h4>
	
							<h4 th:if="${accountInfo != null and accountInfo.isMobileNumberVerified()}">
								Mobile Number: <span class="glyphicon glyphicon-ok" title="Verified"/></h4>
							<h4
								th:if="${accountInfo != null and !accountInfo.isMobileNumberVerified()}">
								Mobile Number: <span class="glyphicon glyphicon-remove" title="Not verified"/></h4>
							<a class="btn btn-default" th:href="@{~/accounts/update-account-form}">Edit Account</a>
						</p>
					</div>

					<!-- <div sec:authorize="hasAuthority('ADMIN')" class="col-xs-6 col-md-4"></div> -->
					<div sec:authorize="hasAuthority('SUPER_ADMIN')"
						class="col-xs-6 col-md-4 pull-right">
						<!-- Split button -->
						<form th:if="${accountInfo.getRole() == 'ADMIN'}"
							th:action="@{'/admins/' + ${accountInfo.getId()} + '/approval'}"
							method="post" id="form" name="form">
							<input type="hidden" id="disabled" name="disabled" value="NO" />
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle"
									data-toggle="dropdown">
									Action <span class="caret"></span><span class="sr-only"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li th:if="${member.getUserAccount().getDisabled() == 'YES'}"><a
										class="confirmation" href="#"
										onclick="$('#disabled').val('NO');$('#form').submit()"><span
											class="glyphicon glyphicon-ok" />Enable</a></li>
									<li th:if="${member.getUserAccount().getDisabled() == 'NO'}"><a
										class="confirmation" href="#"
										onclick="$('#disabled').val('YES');$('#form').submit()"><span
											class="glyphicon glyphicon-remove" />Disable</a></li>
								</ul>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>