<div class="container" th:fragment="content">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">Admin Accounts</h4>
				</div>
				<div class="panel-body">

					<div class="page-header">
						<h2 th:inline="text">[[${listViewTitle}]]
							<button class="btn-add pull-right" title="Click to create new admin users"
						    	data-toggle="modal" data-target="#addAdminUserForm">Create</button>
						 </h2>
					</div>
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>
					<!-- createSuccess -->
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger top-buffer">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					
					<div th:if="${param.createSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Account created successfully.</div>
					</div>
					
					<div th:if="${param.deleteSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Account deleted successfully.</div>
					</div>
					<div th:if="${param.statusUpdateSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Account status updated successfully.</div>
					</div>
					
					
					<div
					th:if="${listResponse == null or #lists.isEmpty(listResponse.userAccountList)}">No
					Accounts to display.</div>

					<table th:if="${listResponse != null and not #lists.isEmpty(listResponse.getUserAccountList())}"
						id="accountsTable" 
						class="table table-hover responsive nowrap">
				        <thead class="thead-default">
				            <tr>
				                <th>Name</th>
				                <th>Username(email)</th>
				                <th>Mobile Number</th>
				                <th>Status</th>
				                <th>Action</th>
				                <th>Role</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr th:each="account,itrStat  : ${listResponse.getUserAccountList()}">
				                <td th:inline="text" th:attr="id=${'row-' + itrStat.index + '-accountName'}">[[${account.accountName}]]</td>
				                <td th:inline="text" th:attr="id=${'row-' + itrStat.index + '-accountName'}">[[${account.name}]]</td>
				                <td th:inline="text" th:attr="id=${'row-' + itrStat.index + '-accountName'}">[[${account.mobileNumber}]]</td>
				                <td th:if="${account.disabled}"><span title="Disabled" class="text-warning"><i class="fa fa-exclamation-triangle"></i></span></td>
				                <td th:if="${!account.disabled }"><span title="Enabled" class="text-success"><i class="fa fa-check-square"></i></span></td>
				                <td>
				                	<!-- <a  th:href="@{/admin-accounts/{accountId}/delete(accountId=${account.id})}">
				                		<button class="btn-delete" title="Click to delete Account"></button></a>  -->
				                	<div class="form-group">
										<a  class="btn-delete" title="Delete Account" data-toggle="modal"
											th:attr="data-target='#accountDeleteDialog' + ${itrStat.index}"></a>
									</div>
				                		
				                	<a  th:href="@{/admin-accounts/{accountId}/info(accountId=${account.id})}">
				                		<button class="btn-more-info" title="Click to view account details">View</button></a>
						    	</td>
						    	<td th:inline="text" th:attr="id=${'row-' + itrStat.index + '-accountrole'}">[[${account.role}]]</td>
						    	<div sec:authorize="hasAuthority('SUPER_ADMIN')" class="modal"
									 th:attr="id='accountDeleteDialog' + ${itrStat.index}" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel" th:inline="text">
													Delete [[${account.name}]]?
												</h4>
											</div>
											<div class="modal-body">
												<div class="alert alert-warning">
													<strong>Note:</strong>
													<ol>
														<li>Do you want to permanently delete the Account?.</li>
													</ol>
												</div>
												<div class="modal-footer">
													<div class="row">
														<form class="form-inline"
															th:action="@{/admin-accounts/{accountId}/delete(accountId=${account.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Confirm
																Delete</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
				            </tr>
				      </tbody>
				    </table>
				   <hr/>
					<div class="form-inline">
					  <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="${listEntityRequestURI}" method="get">
					    <div class="form-group pull-right">
						    <input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						   	<button class="btn-next btn-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
						</div>
					  </form>
					  <div th:if="${param.nextOffset}" class="form-group pull-right">
						<button class="btn-previous go-back" type="button">Previous</button>
					 </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="modal" id="addAdminUserForm" tabindex="-1" role="dialog" 
		     aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <button type="button" class="close" 
		                   data-dismiss="modal">
		                       <span aria-hidden="true">&times;</span>
		                       <span class="sr-only">Close</span>
		                </button>
		                <h4 class="modal-title" id="myModalLabel">
		                    Add Admin User
		                </h4>
		                
		            </div>
		            
		            <!-- Modal Body -->
		            <div class="modal-body">
		            
		            	<div id="note" class="alert alert-info">
		                	<strong>Note: </strong>Newly created users have ADMIN role. 
		                </div>
		                
		                <form class="form-horizontal" role="form" method="post" 
		                		th:object="${createAdminUserForm}" th:action="${createAccountRequestURI}">
							<div class="form-group label-floating">
								<label class="control-label" for="name">Full name</label>
								<input type="text" th:field="*{accountName}" class="form-control"
									required="required" />
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="username">Username
									(Email Address)</label>
								 <input type="email" th:field="*{username}"
									class="form-control" />
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="contactNumber">Contact
									Number</label> 
								<input type="text" th:field="*{mobileNumber}"
									class="form-control" />
							</div>
						 <div class = "modal-footer">
							<button type="submit" class="btn-submit btn-action">Submit</button>
							<button type="button" class="btn-close" data-dismiss="modal">Close</button>
						 </div>
		                </form>
		            </div>
		            
		        </div>
		    </div>
		</div>
		
		<script>
			
		$(document).ready(function() {
		    $('#accountsTable').DataTable();
		});
			
		</script>

		
		
</div>
