<div class="container" th:fragment="content">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">			
				<h1>Asset Search</h1>
			</div>
			<div class="col-lg-12">
				<form class="form-horizontal col-lg-12" action="" method="get">
					<div class="form-group label-floating col-lg-10">
						<label class="control-label" for="query">Query</label>
						<input id="query" name="query" class="form-control" type="text" />
					</div>
					<div class="form-group col-lg-2">
						<button class="btn btn-primary btn-block">Search</button>
					</div>
				</form>
			</div>
			<div class="page-header">
				<h3>Search Results</h3>
			</div>
			<div th:if="${assets == null || assets.isEmpty()}">
				No results found.
			</div>
			<div class="list-group">
				<div class="list-group-item" th:each="asset: ${assets}">
					<div class="row-content">
						<a th:href="|/vendors/${asset.getPurchasedFrom().getId()}/assets/${asset.getId()}|">
							<h4 th:text="${asset.getName()}"></h4>
						</a>
						<form class="action-secondary" sec:authorize="hasAuthority('ADMIN')" th:action="|/vendors/${asset.getPurchasedFrom().getId()}/assets/${asset.getId()}/delete|" method="POST">
							<button class="btn btn-danger pull-right" type="submit">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>