<div class="row">
	<div class="col-md-3">
		<h4>Average Rating <span class="badge" th:inline="text">[[${#numbers.formatDecimal(averageRating.averageRating,1,1)}]]</span></h4>
		<input class="display-rating rating-loading" data-size="sm" th:value="${averageRating.averageRating}"/>
	</div>
	<div class="hidden-xs col-md-6 small padding-left-0">
		<div class="row">
			<div class="col-md-3 padding-left-right-0">
				<div class="padding-right-3 pull-right"><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i></div>
			</div>
			<div class="col-md-4 padding-left-3 padding-right-6" th:inline="text">
				<div class="progress thin-progress-bar">
					<div class="progress-bar animate-progress-bar progress-bar-success"
						th:attr="aria-valuenow=${averageRating.fiveStarPercent}"></div>
				</div>
			</div>
			<div class="col-md-2 padding-left-right-0"><span class="up-counter" th:attr="data-count=${#numbers.formatDecimal(averageRating.fiveStarPercent,1,0)}"></span>%</div>
		</div>

		<div class="row">
			<div class="col-md-3 padding-left-right-0">
				<div class="padding-right-3  pull-right"><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i></div>
			</div>
			<div class="col-md-4 padding-left-3 padding-right-6" th:inline="text">
				<div class="progress thin-progress-bar ">
					<div class="progress-bar animate-progress-bar progress-bar-success"
						th:attr="aria-valuenow=${averageRating.fourStarPercent}"></div>
				</div>
			</div>
			<div class="col-md-2 padding-left-right-0"><span class="up-counter" th:attr="data-count=${#numbers.formatDecimal(averageRating.fourStarPercent,1,0)}"></span>%</div>
		</div>

		<div class="row">
			<div class="col-md-3 padding-left-right-0">
				<div class="padding-right-3 pull-right"><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i></div>
			</div>
			<div class="col-md-4 padding-left-3 padding-right-6" th:inline="text">
				<div class="progress thin-progress-bar">
					<div class="progress-bar animate-progress-bar progress-bar-success"
						th:attr="aria-valuenow=${averageRating.threeStarPercent}"></div>
				</div>
			</div>
			<div class="col-md-2 padding-left-right-0"><span class="up-counter" th:attr="data-count=${#numbers.formatDecimal(averageRating.threeStarPercent,1,0)}"></span>%</div>
		</div>

		<div class="row">
			<div class="col-md-3 padding-left-right-0">
				<div class="padding-right-3 pull-right"><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i></div>
			</div>
			<div class="col-md-4 padding-left-3 padding-right-6" th:inline="text">
				<div class="progress thin-progress-bar">
					<div class="progress-bar animate-progress-bar progress-bar-success"
						th:attr="aria-valuenow=${averageRating.twoStarPercent}"></div>
				</div>
			</div>
			<div class="col-md-2 padding-left-right-0"><span class="up-counter" th:attr="data-count=${#numbers.formatDecimal(averageRating.twoStarPercent,1,0)}"></span>%</div>
		</div>

		<div class="row">
			<div class="col-md-3 padding-left-right-0">
				<div class="padding-right-3 pull-right"><i class="fa fa-star fa-fw fa-1x rated-star-no-shadow"></i></div>
			</div>
			<div class="col-md-4 padding-left-3 padding-right-6" th:inline="text">
				<div class="progress thin-progress-bar">
					<div class="progress-bar animate-progress-bar progress-bar-success"
						th:attr="aria-valuenow=${averageRating.oneStarPercent}"></div>
				</div>
			</div>
			<div class="col-md-2 padding-left-right-0"><span class="up-counter" th:attr="data-count=${#numbers.formatDecimal(averageRating.oneStarPercent,1,0)}"></span>%</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function animateProgressBar() {
	    $('.progress .progress-bar').css("width", function() {
	    	return $(this).attr("aria-valuenow") + "%";
	    });
	}
	
	$('#reviewsTab a[href="#reviews"]').on('shown.bs.tab', function() {
		animateProgressBar();
		animateConter();
	});
	
	$('#reviewsTab a[href="#reviews"]').on('hidden.bs.tab', function() {
		$('.progress .progress-bar').css("width", "0%");
		$('.up-counter').each(function() {
			$(this).text(0);
		});
	});
	
	
	function animateConter() {
	
		$('.up-counter').each(function() {
		  var $this = $(this),
		      countTo = $this.data('count');
		  
		  $({ countNum: $this.text()}).animate({
		    countNum: countTo
		  }, {
		    duration: 2000,
		    easing:'linear',
		    step: function() {
		      $this.text(Math.floor(this.countNum));
		    },
		    complete: function() {
		      $this.text(this.countNum);
		    }
		  });  
		});
	}
</script>