<div class="container" th:fragment="content">
	<div class="col-lg-12">
	
		<div th:if="${errorMessage}" id="errorMessage"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:text="${errorMessage}"></div>
		</div>
		
		<div th:if="${biddingSubscriptionsInfo}" class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Buyer Bidding Subscription Information</h4>
			</div>
			<div class="panel-body">

				<div class="page-header">
					<h2 th:inline="text">[[${biddingSubscriptionsInfo.subscriptionPlan.name}]]</h2>
				</div>
				<div class="col-md-12">
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Plan</strong>
						</div>
						<a th:href="@{/buyers/bidding-subscription-plans/{planId}/details
							(planId=${biddingSubscriptionsInfo.subscriptionPlan.id})}">
							<div class="col-sm-8"
							th:text="${biddingSubscriptionsInfo.subscriptionPlan.name} ? ${biddingSubscriptionsInfo.subscriptionPlan.name} : 'N/A'"></div>
						</a>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Plan Type</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionsInfo.subscriptionType}]]</div>
					</div>
					<div class="row top-buffer" th:if="${biddingSubscriptionsInfo.subscriptionType == 'DURATION'}">
						<div class="col-sm-4">
							<strong>Expiry</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionsInfo.expiryTimestamp}]]  </div>
					</div>
					<div class="row top-buffer" th:if="${biddingSubscriptionsInfo.subscriptionType == 'QUOTA'}">
						<div class="col-sm-4">
							<strong>Number Of Allowed Tenders</strong>
						</div>
						<div class="col-sm-8" th:text="${biddingSubscriptionsInfo.quota.subscribed} ? ${biddingSubscriptionsInfo.quota.subscribed} : 'N/A'"></div>
						<div class="col-sm-4">
							<strong>Number Of Tenders Created</strong>
						</div>
						<div class="col-sm-8" th:text="${biddingSubscriptionsInfo.quota.used} ? ${biddingSubscriptionsInfo.quota.used} : 'N/A'"></div>
						<div class="col-sm-4">
							<strong>Remaining Quota</strong>
						</div>
						<div class="col-sm-8" th:text="${biddingSubscriptionsInfo.quota.remaining} ? ${biddingSubscriptionsInfo.quota.remaining} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Payment link</strong>
						</div>
						<div class="col-sm-8" th:text="${biddingSubscriptionsInfo.name} ? ${biddingSubscriptionsInfo.name} : 'N/A'"></div>
					</div>
				</div>
	</div>

			</div>
			</div>
</div>
