<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Buyer Bidding Subscriptions</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Subscriptions</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Subscriptions
						<a sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')"
							class="btn btn-primary btn-action pull-right"
							data-toggle="tooltip" data-placement="top"
							title="Click to search plans"
							th:href="@{/products/search}"><i class="fa fa-search" aria-hidden="true"></i> Advanced Search</a>
					</h2>
				</div>
				<div th:if="${listResponse == null or #lists.isEmpty(listResponse.getList())}" class="top-buffer-10">No
					Subscriptions to display.
				</div>
				<div th:if="${listResponse != null}">
					<table
						th:if="${listResponse != null and not #lists.isEmpty(listResponse.getList())}"
						id="subscriptionTable"
						class="table table-hover responsive nowrap">
						<thead class="thead-default">
							<tr>
								<th>subscriptionPlan</th>
								<th>subscriptionType</th>
								<th>subscriptionState</th>
								<th>Validity</th>
								<th>view</th>
							</tr>
						</thead>
						<tbody>
							<tr
								th:each="subscription : ${listResponse.getList()}">
								<td th:inline="text">[[${subscription.subscriptionPlan.name}]]</td>
								<td th:inline="text">[[${subscription.subscriptionType}]]</td>
								<td th:inline="text">[[${subscription.subscriptionState}]]</td>
								<td th:if="${subscription.subscriptionType == 'DURATION'}" th:inline="text">[[${subscription.expiryTimestamp}]]</td>
								<td th:if="${subscription.subscriptionType == 'QUOTA'}" th:inline="text">[[${subscription.quota.subscribed}]]  ([[${subscription.quota.used}]]) </td>
								<td><a
									th:href="@{/buyers/{buyerId}/bidding-subscriptions/{planId}/details(buyerId=${subscription.buyer.id},planId=${subscription.id})}">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/buyers/bidding-subscriptions/list}" method="get">
						    	<input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    	<button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#subscriptionTable').DataTable();
		});
	</script>
</div>