<div class="container" th:fragment="content">
	<div class="col-lg-12">
	
		<div th:if="${errorMessage}" id="errorMessage"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:text="${errorMessage}"></div>
		</div>
		
		<div th:if="${biddingSubscriptionPlansInfo}" class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Buyer Bidding Subscription Plan Information</h4>
			</div>
			<div class="panel-body">

				<div class="page-header">
					<h2 th:inline="text">[[${biddingSubscriptionPlansInfo.title}]] </h2>
				</div>
				<div class="col-md-12">
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Name</strong>
						</div>
						<div class="col-sm-8" th:utext="${biddingSubscriptionPlansInfo.name}"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Description</strong>
						</div>
						<div class="col-sm-8"
							th:text="${biddingSubscriptionPlansInfo.description} ? ${biddingSubscriptionPlansInfo.description} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Plan Type</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionPlansInfo.type}]]</div>
					</div>
					<div class="row top-buffer" th:if="${biddingSubscriptionPlansInfo.type == 'DURATION'}">
						<div class="col-sm-4">
							<strong>Duration</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionPlansInfo.durationValue} + ' ' + ${biddingSubscriptionPlansInfo.durationType}]]  </div>
					</div>
					<div class="row top-buffer" th:if="${biddingSubscriptionPlansInfo.type == 'QUOTA'}">
						<div class="col-sm-4">
							<strong>No Of Allowed Tenders</strong>
						</div>
						<div class="col-sm-8" th:text="${biddingSubscriptionPlansInfo.numberOfTendersAllowedToCreate} ? ${biddingSubscriptionPlansInfo.numberOfTendersAllowedToCreate} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Premium Amount</strong>
						</div>
						<div class="col-sm-8" th:text="${biddingSubscriptionPlansInfo.premiumAmount} ? ${biddingSubscriptionPlansInfo.premiumAmount} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Status</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionPlansInfo.entityStatus}]]</div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Availability Status</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionPlansInfo.getAvailablityStatus()}]]</div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Default Plan</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${biddingSubscriptionPlansInfo.defaultPlan}]]</div>
					</div>
				</div>

		<div  sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="form-inline col-md-8">
			<form th:object="${entityAdminApprovalFormBean}">
			<div class="form-group" th:if="${biddingSubscriptionPlansInfo.entityStatus == 'DISAPPROVED'}">
			<input type="hidden" name="approvalStatus" value="APPROVED"/>
				<button type="submit" class="btn-approve" formmethod="post" 
					th:formaction="@{/buyers/bidding-subscription-plans/{planId}/update-entity-status(planId=${biddingSubscriptionPlansInfo.id})}">Approve</button>
			</div>
			<div class="form-group" th:if="${biddingSubscriptionPlansInfo.entityStatus == 'APPROVED'}">
			<input type="hidden" name="approvalStatus" value="DISAPPROVED"/>
				<button type="submit" class="btn-disapprove confirmation" formmethod="post" 
					th:formaction="@{/buyers/bidding-subscription-plans/{planId}/update-entity-status(planId=${biddingSubscriptionPlansInfo.id})}">Disapprove</button>
			</div>
			<div class="form-group" th:if="${biddingSubscriptionPlansInfo.entityStatus == 'DISAPPROVED'}">
			<button type="submit" class="btn-update confirmation" formmethod="post" 
				th:formaction="@{/buyers/bidding-subscription-plans/{planId}/update-default-status(planId=${biddingSubscriptionPlansInfo.id})}">Set As Default Plan</button>
			</div>
			<div class="form-group">
				<a class="btn-update btn-action" th:href="@{/buyers/bidding-subscription-plans/{planId}/update-form(planId=${biddingSubscriptionPlansInfo.id})}">Update Information</a>
			</div>
			<div class="form-group">
				<a class="btn-delete" data-toggle="modal" data-target="#BiddingSubscriptionDeleteDialog">Delete</a>
			</div>
			</form>
			<form class="top-buffer-10" th:object="${subscriptionPlanUpdateAvailabilityStatusFormBean}">
				<div class="form-group" th:if="${biddingSubscriptionPlansInfo.getAvailablityStatus() == 'Available'}">
					<input type="hidden" name="availabilityStatus" value="NOT_AVAILABLE"/>
					<button type="submit" class="btn-update confirmation" formmethod="post" 
						th:formaction="@{/buyers/bidding-subscription-plans/{planId}/update-availability-status(planId=${biddingSubscriptionPlansInfo.id})}">Set As Not Available</button>
				</div>
				<div class="form-group" th:if="${biddingSubscriptionPlansInfo.getAvailablityStatus() != 'Available'}">
					<input type="hidden" name="availabilityStatus" value="AVAILABLE"/>
					<button type="submit" class="btn-disapprove confirmation" formmethod="post" 
						th:formaction="@{/buyers/bidding-subscription-plans/{planId}/update-availability-status(planId=${biddingSubscriptionPlansInfo.id})}">Set As Available</button>
				</div>
			</form>
		</div>
	</div>

			</div>
			</div>
	<div th:if="${biddingSubscriptionPlansInfo}" sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="modal" id="BiddingSubscriptionDeleteDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">Delete
						[[${biddingSubscriptionPlansInfo.name}]]?</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<ol>
							<li>You can only delete a subscription plan if there are no subscriptions associated with it</li>
						</ol>
					</div>

					<div class="modal-footer">
						<div class="row">
							<form class="form-inline" th:action="@{/buyers/bidding-subscription-plans/{planId}/delete(planId=${biddingSubscriptionPlansInfo.id})}"
								method="POST">
								<button type="submit"
									class="btn-delete btn-action confirmation">Confirm Delete</button>
								<button class="btn-close" type="button" data-dismiss="modal">Close</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${biddingSubscriptionPlansInfo}" sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="modal" id="BiddingSubscriptionBlacklistDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">Blacklist
						[[${biddingSubscriptionPlansInfo.name}]]?</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<ol>
							<li>Do you want to blacklist subscription plan?</li>
						</ol>
					</div>

					<div class="modal-footer">
						<div class="row">
							<form class="form-inline" th:action="@{/buyers/bidding-subscription-plans/{planId}/blacklist(planId=${biddingSubscriptionPlansInfo.id})}"
								method="POST">
								<button type="submit"
									class="btn-blacklist btn-action confirmation">Confirm Blacklist</button>
								<button class="btn-close" type="button" data-dismiss="modal">Close</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
