<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Buyer Bidding Subscription Plans</li>
		</ol>

		<div th:if="${param.createSuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Subscription Plan created successfully.</div>
		</div>
		
		<div th:if="${param.updateSuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Subscription Plan updated successfully.</div>
		</div>

		<div th:if="${param.deleteSuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Subscription Plan deleted successfully.</div>
		</div>
		
		<div th:if="${param.updateAvailabilitySuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Subscription Plan Availability changed successfully.</div>
		</div>
		
		<div th:if="${param.statusChangeSuccess}"
			class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">Subscription Plan Status changed successfully.</div>
		</div>
		
		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div th:inline="text">[[${message}]]</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Subscription Plans</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Subscription Plans
						<button class="btn-add pull-right" title="Click to add Subscription Plan"
						    	data-toggle="modal" data-target="#addSubscriptionPlanForm">Add</button>
					</h2>
				</div>
				<div th:if="${listResponse == null or #lists.isEmpty(listResponse.getList())}" class="top-buffer-10">No
					Subscription Plans to display.
				</div>
				<div th:if="${listResponse != null}">
					<table
						th:if="${listResponse != null and not #lists.isEmpty(listResponse.getList())}"
						id="subscriptionPlanTable"
						class="table table-hover responsive nowrap">
						<thead class="thead-default">
							<tr>
								<th>Title</th>
								<th>Description</th>
								<th>Type</th>
								<th>Premium Amount</th>
								<th>Availability Status</th>
								<th>Default (Free) Plan?</th>
								<th>Status</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr
								th:each="subscriptionPlan : ${listResponse.getList()}">
								<td th:inline="text">[[${subscriptionPlan.title}]]</td>
								<td th:inline="text">[[${subscriptionPlan.description}]]</td>
								<td th:inline="text">[[${subscriptionPlan.type}]]</td>
								<td th:inline="text">&#8377;[[${subscriptionPlan.premiumAmount}]]</td>
								<td>
									<span th:inline="text" th:switch="${subscriptionPlan.availablityStatus}">
										<span th:case="'AVAILABLE'" class="label label-success tool-tip" title="This subscription plan is available for buyers for subscription."><i class="fa fa-check fa-fw"></i> [[${subscriptionPlan.availablityStatus}]]</span>
										<span th:case="'NOT_AVAILABLE'" class="label label-danger tool-tip" title="This subscription plan is not available for buyers for subscription."><i class="fa fa-times fa-fw"></i> [[${subscriptionPlan.availablityStatus}]]</span>
									</span>
								</td>
								<td class="text-center">
									<span th:if="${subscriptionPlan.defaultPlan}" title="Default (Free) Plan">
										<i class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
									</span>
									<span th:if="${not subscriptionPlan.defaultPlan}" title="Paid Plan">
										<i class="fa fa-thumbs-o-down text-danger" aria-hidden="true"></i>
									</span>
								</td>
								<td>
									<span th:inline="text" th:switch="${subscriptionPlan.entityStatus}">
										<span th:case="'DISAPPROVED'" class="text-warning">
											<i title="Disapproved" class="fa fa-exclamation-triangle"></i>
										</span>
										<span th:case="'APPROVED'" class="text-success">
											<i title="Approved" class="fa fa-check-square"></i>
										</span>
									</span>
								</td>
								<td><a th:href="@{/buyers/bidding-subscription-plans/{planId}/details(planId=${subscriptionPlan.id})}">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="@{/buyers/bidding-subscription-plans/list}" method="get">
						    	<input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    	<button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="addSubscriptionPlanForm" tabindex="-1" role="dialog" 
		     aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <button type="button" class="close" 
		                   data-dismiss="modal">
		                       <span aria-hidden="true">&times;</span>
		                       <span class="sr-only">Close</span>
		                </button>
		                <h4 class="modal-title" id="myModalLabel">
		                    Add Subscription Plan
		                </h4>
		                
		            </div>
		            
		            <!-- Modal Body -->
		            <div class="modal-body">
		            
		            	<div id="note" class="alert alert-info">
		                	<strong>Note: </strong>Newly created Subscription plans are disapproved. 
		                </div>
		                
		               <form class="form-horizontal" id="addPlanForm" role="form" method="post" action="#"
					th:action="@{/buyers/bidding-subscription-plans/create}"
					th:object="${createSubscriptionPlanForm}">
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>

					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label class="control-label" for="name">Name</label> <input
							type="text" th:field="*{name}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{name}')}"
							th:errors="*{name}" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('title')}? 'has-error'">
						<label class="control-label" for="title">Title
							</label> <input type="text" th:field="*{title}"
							class="form-control" />
						<p th:if="${#fields.hasErrors('*{title}')}"
							th:errors="*{title}" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('description')}? 'has-error'">
						<label class="control-label" for="description">Description
							</label> <textarea rows="3" th:field="*{description}"
							class="form-control" placeholder="A short description of the plan." required="required"></textarea>
						<p th:if="${#fields.hasErrors('*{description}')}"
							th:errors="*{description}" />
					</div>
					
					<!-- 
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('type')}? 'has-error'">
						<label class="control-label" for="type">Plan Type</label> <input
							type="text" th:field="*{type}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{type}')}"
							th:errors="*{type}" />
					</div>
					 -->
					<div class="form-group row"
						th:classappend="${#fields.hasErrors('type')}? 'has-error'">
						<label class="control-label" for="type">Plan Type</label>
						<select th:field="*{type}" 
									title="Select the plan type"  class="form-control" required="required">
									<option th:each="type : ${T(com.bnbneeds.portal.admin.formbean.BiddingSubscriptionPlanBean.PlanType).values()}"
          								th:value="${type}" th:text="${type}"></option>
								</select>
					<p th:if="${#fields.hasErrors('*{type}')}"
							th:errors="*{type}" />
					</div>
					
					<div class="form-group" id="durationDiv">
								<label class="control-label" for="duration">Duration</label>
								<div class="input-group">
									<input type="number" th:field="*{durationValue}" class="form-control"
										placeholder="Example: 10" min="1"  />
									<span class="input-group-addon"></span>
									<select th:field="*{durationType}" class="form-control">
										<option value="days">days</option>
										<option value="months">months</option>
										<option value="years">years</option>
									</select>
								</div>
							</div>
					<div id="quotaDiv" class="form-group hide-me label-floating"
						th:classappend="${#fields.hasErrors('numberOfTendersAllowedToCreate')}? 'has-error'">
						<label class="control-label" for="numberOfTendersAllowedToCreate">Quota</label> <input
							type="number" min="1" th:field="*{numberOfTendersAllowedToCreate}" class="form-control"
							 />
						<p th:if="${#fields.hasErrors('*{numberOfTendersAllowedToCreate}')}"
							th:errors="*{numberOfTendersAllowedToCreate}" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('premiumAmount')}? 'has-error'">
						<label class="control-label" for="premiumAmount">Premium Amount</label> <input
							type="text" th:field="*{premiumAmount}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{premiumAmount}')}"
							th:errors="*{premiumAmount}" />
					</div>

					<div class="form-group">
						<div class="col-lg-6">
							<button class="col-lg-6 btn btn-primary btn-block confirmation"
								type="submit">Add Plan</button>
						</div>
						<div class="col-lg-6">
							<a class="btn btn-default btn-block"
								th:href="@{/buyers/bidding-subscription-plans/list}">Cancel</a>
						</div>
					</div>
				</form>
		            </div>
		            
		        </div>
		    </div>
		</div>
	<script>
		$(document).ready(function() {
			$('#subscriptionPlanTable').DataTable();
			
			var planType = $("#type");
			
			planType.change(function(){
				var value=this.value;	
				if(value == 'DURATION'){
					$("#durationDiv").show();
					$("#quotaDiv").hide();
				} else if (value == 'QUOTA'){
					$("#durationDiv").hide();
					$("#quotaDiv").show();
				}
				
			});	
		});
	</script>
</div>