<div class="container"  th:fragment="content">
	<div class="col-lg-10 col-offset-lg-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Submit Cancellation Request</h2>
				</div>
				<form class="col-lg-12 form-horizontal" th:action="@{~/members/submit-cancellation-request}" th:object="${cancelRequest}" method="POST">
					
					<div class="form-group label-floating" th:classappend="${#fields.hasErrors('reason')}? 'has-error'">
						<label class="control-label" for="address">Reason</label>
						<textarea th:field="*{reason}" class="form-control" rows="3"
								required="required"></textarea>
						<p th:if="${#fields.hasErrors('*{reason}')}" th:errors="*{reason}" />
					</div>
					<div class="form-group col-lg-12">
						<button class="btn btn-primary pull-right confirmation" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>