
<div class="container" th:fragment="content">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Change Password</h2>
				</div>
				<form class="col-lg-12 form-horizontal" method="post" action="#"
					th:action="@{/accounts/change-password}" th:object="${changePasswordParam}">
					
					<p><b>Note:</b> You will be logged out when you change your password successfully.</p>
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>
					
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger top-buffer">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
`					
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('currentPassword')}? 'has-error'">
						<label class="control-label" for="currentPassword">Current Password</label> <input
							type="password" th:field="*{currentPassword}" class="form-control"
							required="required" autofocus="autofocus"/>
						<p th:if="${#fields.hasErrors('*{currentPassword}')}"
							th:errors="*{currentPassword}" />
					</div>
					
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('newPassword')}? 'has-error'">
						<label class="control-label" for="newPassword">New Password 
							<span class="tool-tip" 
								title="Password must have at least 6 alphanumeric characters."><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i></span>
						</label> <input
							type="password" th:field="*{newPassword}" class="form-control"
							required="required" placeholder="New Password"/>
						<p th:if="${#fields.hasErrors('*{newPassword}')}"
							th:errors="*{newPassword}" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
						<label class="control-label" for="confirmPassword">Confirm
							Password</label> <input type="password" th:field="*{confirmPassword}"
							class="form-control" required="required" placeholder="Re-enter password"/>
						<p th:if="${#fields.hasErrors('*{confirmPassword}')}"
							th:errors="*{confirmPassword}" />
					</div>

					<div class="form-group">
						<div class="col-lg-6">
							<button class="col-lg-6 btn btn-primary btn-block" type="submit">Change Password</button>
						</div>
						<div class="col-lg-6">
							<a class="btn btn-default btn-block" th:href="@{/home-page}">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
