<div class="container" th:fragment="content">

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1>Contact</h1>
			</div>
			
			<h3>Bharat Electronics Officers' Club</h3>
			Near Nagaland Circle, Jalahalli<br />
			Bangalore - 560013<br /><br />
			Mail Id: - belclub002@gmail.com<br />
			secretaryclub@bel.co.in<br /><br />
				
			Contact No: 080-22195212<br />
			Internal No: 4110 / 3585<br /><br />

								
			Manager No: <br  />
			Srinivas K R - 9449658669<br />
			V Shivashankare Gowda - 9449116587<br /><br />
											
			Facebook Id: - bel club
		</div>
	</div>

</div>