<div class="container" th:fragment="content">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Dealer Accounts</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Account Info</h2>
				</div>
				
				<div th:if="${param.statusUpdateSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Account status updated successfully.</div>
					</div>
					
				<div class="row">
					<div class="col-sm-6 col-md-4 text-center"></div>
					<div class="col-sm-6 col-md-8">
						<h3 th:inline="text">[[${accountInfo.getAccountName()}]]</h3>
						<h4 th:if="${accountInfo != null and accountInfo.isDisabled()}"
							class="list-group-item-text" th:inline="text">Account
							status: Disabled</h4>
						<h4 th:if="${accountInfo != null and !accountInfo.isDisabled()}"
							class="list-group-item-text" th:inline="text">Account
							status: Enabled</h4>
							<h4 
							class="list-group-item-text" th:inline="text">Role: [[${accountInfo.getRole()}]]</h4>
						<h4 th:inline="text">
							<i class="fa fa-user" title="Username"></i> [[${accountInfo.getUsername()}]]
						</h4>
						<p>
							<h4 th:if="${accountInfo.getMobileNumber() != null}"
								th:inline="text">
								<i class="fa fa-mobile" title="Phone number"></i> [[${accountInfo.getMobileNumber()}]]
							</h4>
	
							<h4 th:inline="text" th:if="${accountInfo.getLastLoginTime() != null}">
								<i class="fa fa-clock-o" title="Last login time"></i> [[${#dates.format(accountInfo.getLastLoginTime(),
								'dd MMM yyyy HH:mm')}]]
							</h4>
	
							<h4 th:inline="text">
								<i class="fa fa-globe"
									title="Login Host IP address"></i> [[${accountInfo.getClientIPAddress()}]]
							</h4>
							<h4 th:if="${accountInfo != null and accountInfo.isEmailAddressVerified()}">
								Email Address: <span class="label label-success"><i class="fa fa-check"></i> Verified</span></h4>
							<h4 th:if="${accountInfo != null and !accountInfo.isEmailAddressVerified()}">
								Email Address: <span class="label label-warning"><i class="fa fa-exclamation-triangle"></i> Not Verified</span></h4>
	
							<h4 th:if="${accountInfo != null and accountInfo.isMobileNumberVerified()}">
								Mobile Number: <span class="label label-success"><i class="fa fa-check"></i> Verified</span></h4>
							<h4
								th:if="${accountInfo != null and !accountInfo.isMobileNumberVerified()}">
								Mobile Number: <span class="label label-warning"><i class="fa fa-exclamation-triangle"></i> Not Verified</span></h4>
							<a class="btn btn-default" th:href="@{~/dealer-accounts/{accountId}/update-account-form(accountId=${accountInfo.id})}">Edit Account</a>	
							<div sec:authorize="hasAuthority('SUPER_ADMIN')"
								class="col-xs-6 col-md-4 pull-right">
								<!-- Split button -->
								<form 
									th:action="@{/dealer-accounts/{accountId}/approvals(accountId=${accountInfo.id})}"
									method="post" id="form" name="form">
									<input type="hidden" id="status" name="status" value="ENABLED" />
										<div class="btn-group">
											<button type="button" class="btn btn-primary dropdown-toggle"
												data-toggle="dropdown">
												Action <span class="caret"></span><span class="sr-only"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li th:if="${accountInfo.isDisabled()}">
													<a href="#" onclick="$('#status').val('ENABLED');$('#form').submit()">
										 				<span class="glyphicon glyphicon-ok" />Enable</a></li>
												<li th:if="${!accountInfo.isDisabled()}">
													<a href="#" onclick="$('#status').val('DISABLED');$('#form').submit()">
														<span class="glyphicon glyphicon-remove" />Disable</a></li>
											</ul>
										</div>
								</form>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>