<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	
	<head>
		<meta charset="ISO-8859-1" />
		<title th:text="${title}"></title>
		
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="utf-8" http-equiv="encoding" />
		
		<link rel="shortcut icon" th:href="@{/external/images/favicon.png}"  sizes="32x32" type="image/png"/>
		<link rel="icon" th:href="@{/external/images/favicon.png}" sizes="32x32" type="image/x-icon"/>
		
		<!-- Bootstrap -->
		<!-- <link sec:authorize="isAnonymous()" 
			  th:href="@{/bower_components/bootswatch-dist/css/spacelab/bootstrap.min.css}" rel="stylesheet"></link>
			  
		<link sec:authorize="hasAuthority('BUYER')" 
			  th:href="@{/bower_components/bootswatch-dist/css/cerulean/bootstrap.min.css}" rel="stylesheet"></link>
			  
		<link sec:authorize="hasAuthority('VENDOR')" 
			  th:href="@{/bower_components/bootswatch-dist/css/simplex/bootstrap.min.css}" rel="stylesheet"></link> -->
		
		<link th:href="@{/bower_components/bootswatch-dist/css/bootstrap.min.css}" rel="stylesheet"></link>	  
		
		<!-- Date range picker -->
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}" />
		
		<!-- Bootstrap Star Rating -->
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap-star-rating/css/star-rating.min.css}" />
		
		<!-- bootstrap-select CSS -->
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css}"/>
		
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap-notifications/dist/stylesheets/bootstrap-notifications.min.css}"/>
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap-dropmenu/dist/stylesheets/bootstrap-dropmenu.min.css}"/>
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap-submenu-2.0.4/dist/css/bootstrap-submenu.min.css}" />

		<!-- Data table style settings -->
		<link th:href="@{/external/css/dataTables.bootstrap.min.css}" type="text/css" rel="stylesheet"/>
		<link th:href="@{/external/css/responsive.dataTables.min.css}" type="text/css" rel="stylesheet"/>
		
		<link th:href="@{/external/css/wizard.css}" type="text/css" rel="stylesheet"/>
		
		<link th:href="@{/external/css/jquery.urlive.css}" type="text/css" rel="stylesheet"/>
		
		<!-- Font Awesome -->
		<link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}"/>
		<link rel="stylesheet" th:href="@{/bower_components/font-awesome-animation/dist/font-awesome-animation.min.css}"/>
		
		<link rel="stylesheet" th:href="@{/external/css/animate.css}" />
		
		<!-- Hover effects CSS -->
		<link rel="stylesheet" th:href="@{/bower_components/hover/css/hover-min.css}"/>
		
		<!-- Custom style settings -->
		<!-- <link rel="stylesheet" th:href="@{/external/css/clock.css}" /> -->
		<link rel="stylesheet" th:href="@{/external/css/custom-style.css}" />
		
	</head>
	<body>
	
			<!-- jQuery -->
		<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
			<!-- jstree -->
		<script th:src="@{/external/js/jstree.js}"></script>
		
		<!-- Twitter Bootstrap -->
		<script th:src="@{/bower_components/bootswatch-dist/js/bootstrap.min.js}"></script>
		<!-- Bootstrap Confirmation -->
		<script th:src="@{/bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js}"></script>
		
		<!-- Bootstrap Datepicker -->
		<script th:src="@{/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
		<!-- Bootstrap Star Rating -->
		<script th:src="@{/bower_components/bootstrap-star-rating/js/star-rating.min.js}"></script>
		
		<!-- Bootstrap data table -->
    	<script th:src="@{/external/js/jquery.dataTables.min.js}" type="text/javascript"></script>
    	<script th:src="@{/external/js/dataTables.bootstrap.min.js}" type="text/javascript"></script>
    	<script th:src="@{/external/js/dataTables.responsive.min.js}" type="text/javascript"></script>
    	
    	<!-- jQuery time ago -->
    	<script th:src="@{/bower_components/moment/min/moment.min.js}"></script>
    	<script th:src="@{/external/js/livestamp.min.js}" type="text/javascript"></script>
    	<script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}" type="text/javascript" ></script>
    	
    	<!-- bootstrap-select JavaScript -->
		<script th:src="@{/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
		<!-- jQuery Validate -->
		<script th:src="@{/bower_components/jquery-validation/dist/jquery.validate.min.js}"></script>
		
		<!-- jQuery Lazy Load -->
		<!-- <script th:src="@{/bower_components/jquery_lazyload/jquery.lazyload.js}"></script> -->
		<script th:src="@{/bower_components/jquery-unveil/jquery.unveil.min.js}"></script>
			
		<!-- WOW.js required for animation -->
		<script th:src="@{/external/js/wow.js}"></script>
		
		<script type="text/javascript" th:src="@{/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js}"></script>
		
		<script type="text/javascript"	th:src="@{/bower_components/jquery-idletimer/dist/idle-timer.1.1.0.min.js}"></script>
		
		<script type="text/javascript" th:src="@{/external/js/title_notifier.js}"></script>
		
		<script th:src="@{/external/js/custom-script.js}"></script>
		
		<div th:replace="public-menu-view"></div>
		
		<div th:replace="${view} :: content">Content</div>
		
		<div th:replace="image-modal-view"></div>
		
		<div th:replace="footer-view"></div>
		
		<div th:replace="terms-and-conditions-modal-view"></div>
		
		<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
			//Initialize bootstrap confirmation
			$('.confirmation').confirmation({
				popout: true, 
				placement: 'top',
				singleton: true
			});
			
			function logout() {
				var url = window.location;
				var baseURL = url.protocol + "//" + url.host;
				window.location = baseURL + [[@{/logout}]];
			}
		//]]>
		</script>
		<div th:replace="idle-time-check"></div>
	</body>
</html>