<div class="container" th:fragment="content">
	
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Email Dealers</h2>
				</div>

				<form class="col-lg-12 form-horizontal" method="post" action="#"
					th:action="@{/messaging/email-dealers}"
					th:object="${emailDealersFormBean}"
					enctype="multipart/form-data">
					
					<!-- </p> -->
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					
					<div th:if="${param.sendSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Mail successfully sent.</div>
					</div>
					
					<div class="alert  alert-info">
						<b>Note:</b>
						<ol>
							<li>Please select a mailing list from the dropdown.</li>
							<li>The place holder for inline image is <code>{INLINE_IMAGE}</code>. Type it in the place where you want the image to appear within the message body.</li>
							<li>Total size of all attachments could be maximum of 3 MB.</li>
							<li>Please use <code>,</code> separated email ids in cc and bcc fields for sending mail to multiple recipients.</li>
						</ol>
					</div>
									
					<div class="form-group label-floating" th:if="${mailingListsResponse != null and not #lists.isEmpty(mailingListsResponse.mailingLists)}" >
						<select class="selectpicker"
							th:field="*{to}"
							title="Select an email" required="required">
								<option th:each="mList : ${mailingListsResponse.mailingLists}"
									th:value="${mList.address}" th:text="${mList.address}"></option>
						</select>
					</div>
					
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('cc')}? 'has-error'">
						<label class="control-label" for="cc">cc</label> <input
							type="text" th:field="*{cc}" class="form-control" 
							 />
						<p th:if="${#fields.hasErrors('*{cc}')}"
							th:errors="*{cc}" class="small text-danger"/>
					</div>
					
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('bcc')}? 'has-error'">
						<label class="control-label" for="bcc">bcc</label> <input
							type="text" th:field="*{bcc}" class="form-control"
							 />
						<p th:if="${#fields.hasErrors('*{bcc}')}"
							th:errors="*{bcc}" class="small text-danger"/>
					</div>
						
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('subject')}? 'has-error'">
						<label class="control-label" for="subject">Subject
							</label> <input type="text" th:field="*{subject}"
							class="form-control" required="required" />
						<p th:if="${#fields.hasErrors('*{subject}')}"
							th:errors="*{subject}" class="small text-danger"/>
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('message')}? 'has-error'">
						<label class="control-label" for="message">Message
							</label> 
							<textarea th:field="*{message}" class="form-control"
								 rows="8"></textarea>
						<p th:if="${#fields.hasErrors('*{message}')}"
							th:errors="*{message}" class="small text-danger"/>
					</div>
					<div class="form-group label-floating">
						<label class="control-label" for="inlineImage">Inline Image
							</label> 
							<input type="file" name="inlineImage" accept="image/*"
							class="form-control-file "  />
					</div>
					<div class="form-group label-floating">
						<label class="control-label" for="myFile">Attachment
							</label> 
							<input type="file" name="myFile"
							class="form-control-file" />
					</div>

					<div class="form-group">
						<div class="col-lg-6">
							<button class="col-lg-6 btn btn-primary btn-block btn-submit btn-action confirmation"
								type="submit">Send Email</button>
						</div>
						<div class="col-lg-6">
							<a class="btn btn-default btn-block"
								th:href="@{/home-page}">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
