<div class="container" th:fragment="content">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1 th:text="${formTitle}">Update Employee</h1>
			</div>
			<div class="alert alert-success alert-dismissible" th:if="${param.created}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Employee details has been registered successfully.
			</div>
			<form class="form-horizontal col-lg-12" th:action="${formAction}" th:object="${employee}" method="POST">
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
					<label class="control-label" for="name">Name</label>
					<input id="name" class="form-control" th:field="*{name}" type="text" required="required" />
					<p th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('permanentAddress')}? 'has-error'">
					<label class="control-label" for="permanentAddress">Permanent Address</label>
					<textarea id="permanentAddress" class="form-control" rows="3" th:field="*{permanentAddress}"></textarea>
					<p th:if="${#fields.hasErrors('*{permanentAddress}')}" th:errors="*{permanentAddress}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('presentAddress')}? 'has-error'">
					<label class="control-label" for="presentAddress">Present Address</label>
					<textarea id="presentAddress" class="form-control" rows="3" th:field="*{presentAddress}"></textarea>
					<p th:if="${#fields.hasErrors('*{presentAddress}')}" th:errors="*{presentAddress}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('contactNumber')}? 'has-error'">
					<label class="control-label" for="contactNumber">Contact Number</label>
					<input id="contactNumber" class="form-control" th:field="*{contactNumber}" type="text" required="required" />
					<p th:if="${#fields.hasErrors('*{contactNumber}')}" th:errors="*{contactNumber}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('employeeId')}? 'has-error'">
					<label class="control-label" for="employeeId">Employee ID</label>
					<input id="employeeId" class="form-control" th:field="*{employeeId}" type="text" />
					<p th:if="${#fields.hasErrors('*{employeeId}')}" th:errors="*{employeeId}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('workExperience')}? 'has-error'">
					<label class="control-label" for="workExperience">Work Experience</label>
					<input id="workExperience" class="form-control" th:field="*{workExperience}" type="number" />
					<p th:if="${#fields.hasErrors('*{workExperience}')}" th:errors="*{workExperience}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('dateOfJoining')}? 'has-error'">
					<label class="control-label" for="dateOfJoining">Date of Joining</label>
					<input id="dateOfJoining" class="form-control datepicker" 
						data-date-format="dd/mm/yyyy" data-date-autoclose="true"	
						th:value="${employee.dateOfJoining} ? ${#dates.format(employee.dateOfJoining, 'dd/MM/yyyy')}"
						th:field="*{dateOfJoining}" type="text" readonly="readonly" />
					<p th:if="${#fields.hasErrors('*{dateOfJoining}')}" th:errors="*{dateOfJoining}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('dateOfResignation')}? 'has-error'">
					<label class="control-label" for="dateOResignation">Date of Resignation</label>
					<input id="dateOResignation" class="form-control datepicker" 
						data-date-format="dd/mm/yyyy" data-date-autoclose="true"	
						th:value="${employee.dateOfResignation} ? ${#dates.format(employee.dateOfResignation, 'dd/MM/yyyy')}" 
						th:field="*{dateOfResignation}" type="text" readonly="readonly" />
					<p th:if="${#fields.hasErrors('*{dateOfResignation}')}" th:errors="*{dateOfResignation}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('dateOfRelieving')}? 'has-error'">
					<label class="control-label" for="dateOfRelieving">Date of Relieving</label>
					<input id="dateOfRelieving" class="form-control datepicker" 
						data-date-format="dd/mm/yyyy" data-date-autoclose="true"	
						th:value="${employee.dateOfRelieving} ? ${#dates.format(employee.dateOfRelieving, 'dd/MM/yyyy')}"
						th:field="*{dateOfRelieving}" type="text" readonly="readonly" />
					<p th:if="${#fields.hasErrors('*{dateOfRelieving}')}" th:errors="*{dateOfRelieving}" />
				</div>
				<div class="form-group label-floating" th:classappend="${#fields.hasErrors('familyDetails')}? 'has-error'">
					<label class="control-label" for="familyDetails">Family Details</label>
					<textarea id="familyDetails" class="form-control" rows="3" th:field="*{familyDetails}"></textarea>
					<p th:if="${#fields.hasErrors('*{familyDetails}')}" th:errors="*{familyDetails}" />
				</div>
				<div class="form-group">
					<button class="btn btn-primary pull-right" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		$('.datepicker').datepicker();
	</script>
</div>