<div class="container" th:fragment="content">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1>Employees<a class="btn btn-primary pull-right" href="/employees/registration-form">New</a></h1>
			</div>
			<div class="col-lg-12">
				<form class="form-horizontal col-lg-12" action="" method="get">
					<div class="form-group label-floating col-lg-10">
						<label class="control-label" for="query">Query</label>
						<input id="query" name="query" class="form-control" type="text" />
					</div>
					<div class="form-group col-lg-2">
						<button class="btn btn-primary btn-block">Search</button>
					</div>
				</form>
			</div>
			<div class="page-header">
				<h3>Search Results</h3>
			</div>
			<div class="alert alert-warning alert-dismissible" th:if="${param.deleted}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Employee record removed successfully.
			</div>
			<div th:if="${employees == null || employees.isEmpty()}">There are no results to display.</div>
			<div class="list-group">
				<div class="list-group-item" th:each="employee: ${employees}">
					<div class="row-content">
						<a th:href="|/employees/${employee.getId()}|">
							<h4 th:text="${employee.getName()}"></h4>
						</a>
						<form class="action-secondary" sec:authorize="hasAuthority('ADMIN')" th:action="|/employees/${employee.getId()}/delete|" method="POST">
							<button class="btn btn-danger pull-right" type="submit">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>