<div class="container" th:fragment="content">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1>Employee Details<a class="btn btn-primary pull-right" th:href="|/employees/${employee.getId()}/update-form|">Update</a></h1>
			</div>
			<div class="alert alert-success alert-dismissible" th:if="${param.updated}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Employee details updated successfully.
			</div>
			<div class="alert alert-success alert-dismissible" th:if="${param.salaryUpdated}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Employee salary updated.
			</div>
			<div class="col-lg-12">
				<div class="form-group">
					<div class="col-lg-3">Name</div>
					<div class="col-lg-9" th:text="${employee.getName()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Permanent Address</div>
					<div class="col-lg-9" th:text="${employee.getPermanentAddress()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Present Address</div>
					<div class="col-lg-9" th:text="${employee.getPresentAddress()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Contact Number</div>
					<div class="col-lg-9" th:text="${employee.getContactNumber()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Employee ID</div>
					<div class="col-lg-9" th:text="${employee.getEmployeeId()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Work Experience</div>
					<div class="col-lg-9" th:text="${employee.getWorkExperience()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Date of Joining</div>
					<div class="col-lg-9" th:text="${employee.getDateOfJoining()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Date of Resignation</div>
					<div class="col-lg-9" th:text="${employee.getDateOfResignation()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Date of Relieving</div>
					<div class="col-lg-9" th:text="${employee.getDateOfRelieving()}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">Family Details</div>
					<div class="col-lg-9" th:text="${employee.getFamilyDetails()}"></div>
				</div>
				<div class="page-header">
					<h3>
						Salary
						<a class="btn btn-primary pull-right" th:unless="${employee.getSalary()}" th:href="|/employees/${employee.getId()}/salary/salary-form|">Add Salary Details</a>
						<a class="btn btn-primary pull-right" th:if="${employee.getSalary()}" th:href="|/employees/${employee.getId()}/salary/${employee.getSalary().getId()}/salary-form|">Update Salary Details</a>
					</h3>
				</div>
				<div th:if="${salary == null}">There are no salary details recorded for this employee. Please use the "Add Salary Details" to add salary details.</div>
				<div th:if="${salary != null}">
					<div class="form-group">
						<div class="col-lg-3">Basic</div>
						<div class="col-lg-9" th:text="${salary.getBasic()}"></div>
					</div>
					<div class="form-group">
						<div class="col-lg-3">DA</div>
						<div class="col-lg-9" th:text="${salary.getDa()}"></div>
					</div>
					<div class="form-group">
						<div class="col-lg-3">HRA</div>
						<div class="col-lg-9" th:text="${salary.getHra()}"></div>
					</div>
					<div class="form-group">
						<div class="col-lg-3">FWI</div>
						<div class="col-lg-9" th:text="${salary.getFwi()}"></div>
					</div>
					<div class="form-group">
						<div class="col-lg-3">LWP</div>
						<div class="col-lg-9" th:text="${salary.getLwp()}"></div>
					</div>
					<div class="form-group">
						<div class="col-lg-3">Other Allowances</div>
						<div class="col-lg-9" th:text="${salary.getOtherAllowances()}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>