<div class="container" th:fragment="content">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">Master Entities</h4>
				</div>
				<div class="panel-body">

					<div class="page-header">
						<h2 th:inline="text">[[${listViewTitle}]]
							<button class="btn-add pull-right" title="Click to add entities"
						    	data-toggle="modal" data-target="#addEntityForm">Add</button>
						 </h2>
					</div>
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>
					<!-- createSuccess -->
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger top-buffer">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					
					<div th:if="${param.createSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Entities created successfully.</div>
					</div>
					
					<div th:if="${param.deleteSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Entity deleted successfully.</div>
					</div>
					
					<div th:if="${param.approveSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Entity approved successfully.</div>
					</div>
					
					<div th:if="${param.disapproveSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Entity disapproved successfully.</div>
					</div>
					
					<div th:if="${param.blacklistSuccess}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Entity blacklisted successfully.</div>
					</div>
					
					<div
					th:if="${listResponse == null or #lists.isEmpty(listResponse.entityInfoList)}">No
					entities to display.</div>

					<table th:if="${listResponse != null and not #lists.isEmpty(listResponse.getEntityInfoList())}"
						id="entityTable" 
						class="table table-hover responsive nowrap">
				        <thead class="thead-default">
				            <tr>
				                <th>Name</th>
				                <th>Description</th>
				                <th>Create Timestamp</th>
				                <th>Last Updated Timestamp</th>
				                <th>Status</th>
				                <th>Action</th>
				                <th>Remarks</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr th:each="entity,itrStat  : ${listResponse.getEntityInfoList()}">
				                <td th:inline="text" th:attr="id=${'row-' + itrStat.index + '-entityName'}">[[${entity.name}]]</td>
				                <td th:attr="id=${'row-' + itrStat.index + '-entityDesc'}" th:text="${entity.description} ? ${entity.description} : 'N/A'"></td>
				                <td th:inline="text">[[${entity.getCreateTimestamp()}]]</td>
				                <td th:text="${entity.getUpdateTimestamp()} ? ${entity.getUpdateTimestamp()} : 'N/A'"></td>
				                <td th:if="${entity.entityStatus == 'DISAPPROVED'}"><span title="Disapproved" class="text-warning"><i class="fa fa-exclamation-triangle"></i></span></td>
				                <td th:if="${entity.entityStatus == 'APPROVED'}"><span title="Approved" class="text-success"><i class="fa fa-check-square"></i></span></td>
				                <td th:if="${entity.entityStatus == 'BLACKLISTED'}"><span title="Blacklisted" class="text-danger"><i class="fa fa-times-circle"></i></span></td>
				                <td>
				                	<a  th:if="${entity.entityStatus == 'DISAPPROVED' and baseRequestURI == '/product-types'}"
										th:href="@{/product-types/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
						    			></button></a>
						    		<a th:if="${entity.entityStatus == 'APPROVED' and baseRequestURI == '/product-types'}"
										th:href="@{/product-types/{entityId}/disapprove(entityId=${entity.id})}"><button class="btn-disapprove" title="Click to disaprove entity"
						   				></button></a>
						   				<a  th:if="${entity.entityStatus == 'BLACKLISTED' and baseRequestURI == '/product-types'}"
										th:href="@{/product-types/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
						    			></button></a>

				               		<a  th:if="${entity.entityStatus == 'DISAPPROVED' and baseRequestURI == '/product-categories'}"
										th:href="@{/product-categories/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
					    				></button></a>
					    			<a th:if="${entity.entityStatus == 'APPROVED' and baseRequestURI == '/product-categories'}"
										th:href="@{/product-categories/{entityId}/disapprove(entityId=${entity.id})}"><button class="btn-disapprove" title="Click to disaprove entity"
					    				></button></a>
					    				<a  th:if="${entity.entityStatus == 'BLACKLISTED' and baseRequestURI == '/product-categories'}"
										th:href="@{/product-categories/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
					    				></button></a>
										
							    	<a  th:if="${entity.entityStatus == 'DISAPPROVED' and baseRequestURI == '/business-types'}"
										th:href="@{/business-types/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
					    				></button></a>
					    			<a th:if="${entity.entityStatus == 'APPROVED' and baseRequestURI == '/business-types'}"
										th:href="@{/business-types/{entityId}/disapprove(entityId=${entity.id})}"><button class="btn-disapprove" title="Click to disaprove entity"
					    				></button></a>
					    			<a  th:if="${entity.entityStatus == 'BLACKLISTED' and baseRequestURI == '/business-types'}"
										th:href="@{/business-types/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
					    				></button></a>
						    				
					    			<a  th:if="${entity.entityStatus == 'DISAPPROVED' and baseRequestURI == '/product-names'}"
										th:href="@{/product-names/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
					    				></button></a>
					    			<a th:if="${entity.entityStatus == 'APPROVED' and baseRequestURI == '/product-names'}"
										th:href="@{/product-names/{entityId}/disapprove(entityId=${entity.id})}"><button class="btn-disapprove" title="Click to disaprove entity"
					    				></button></a>
					    			<a  th:if="${entity.entityStatus == 'BLACKLISTED' and baseRequestURI == '/product-names'}"
										th:href="@{/product-names/{entityId}/approve(entityId=${entity.id})}"><button class="btn-approve" title="Click to approve entity"
					    				></button></a>
						    				
						    	<div class="form-group">
									<a th:if="${entity.entityStatus == 'DISAPPROVED'}" class="btn-delete" title="Delete Entity" data-toggle="modal"
										th:attr="data-target='#entityDeleteDialog' + ${itrStat.index}"></a>
										<a th:if="${entity.entityStatus == 'BLACKLISTED'}" class="btn-delete" title="Delete Entity" data-toggle="modal"
										th:attr="data-target='#entityDeleteDialog' + ${itrStat.index}"></a>
								</div>
						    	<div class="form-group">
									<a  th:if="${entity.entityStatus != 'BLACKLISTED'}" class="btn-blacklist" title="Blacklist Entity" data-toggle="modal"
										th:attr="data-target='#entityBlacklistDialog' + ${itrStat.index}"></a>
								</div>
								<div class="form-group">
									<button class="btn-update update-entity" type="button" data-th-attr="data-entity-id=${entity.id}, data-row-id=${'row-' + itrStat.index}"></button>
								</div>
								
						    	</td>
				                
				                <td th:inline="text">
				                	<ol th:if="${entity.getRemarks() != null}">
				                		<li th:each="remark : ${entity.getRemarks()}" th:inline="text">[[${remark}]]</li>
				                	</ol>
				                </td>
				                <div sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="modal"
									 th:attr="id='entityDeleteDialog' + ${itrStat.index}" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel" th:inline="text">
													Delete [[${entity.name}]]?
												</h4>
											</div>
											<div class="modal-body">
												<div class="alert alert-warning">
													<strong>Note:</strong>
													<ol>
														<li>Do you want to permanently delete the entity?.</li>
													</ol>
												</div>
												<div class="modal-footer">
													<div class="row">
														<form th:if="${baseRequestURI == '/product-types'}" class="form-inline"
															th:action="@{/product-types/{entityId}/delete(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Confirm
																Delete</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
														<form th:if="${baseRequestURI == '/product-categories'}" class="form-inline"
															th:action="@{/product-categories/{entityId}/delete(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Confirm
																Delete</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
														<form th:if="${baseRequestURI == '/product-names'}" class="form-inline"
															th:action="@{/product-names/{entityId}/delete(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Confirm
																Delete</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
														<form th:if="${baseRequestURI == '/business-types'}" class="form-inline"
															th:action="@{/business-types/{entityId}/delete(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Confirm
																Delete</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="modal"
									 th:attr="id='entityBlacklistDialog' + ${itrStat.index}" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel" th:inline="text">
													Blacklist [[${entity.name}]]?
												</h4>
											</div>
											<div class="modal-body">
											<div class="alert alert-warning">
													<strong>Note:</strong>
													<ol>
														<li>Do you want to Blacklist the entity?.</li>
													</ol>
												</div>
												<div class="modal-footer">
													<div class="row">
														<form th:if="${baseRequestURI == '/product-types'}" class="form-inline"
															th:action="@{/product-types/{entityId}/blacklist(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Blacklist</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
														<form th:if="${baseRequestURI == '/product-categories'}" class="form-inline"
															th:action="@{/product-categories/{entityId}/blacklist(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Blacklist</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
														<form th:if="${baseRequestURI == '/product-names'}" class="form-inline"
															th:action="@{/product-names/{entityId}/blacklist(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Blacklist</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
														<form th:if="${baseRequestURI == '/business-types'}" class="form-inline"
															th:action="@{/business-types/{entityId}/blacklist(entityId=${entity.id})}"
															method="POST">
															<button type="submit" class="btn-delete btn-action confirmation">Blacklist</button>
															<button type="button" class="btn-close" data-dismiss="modal">Close</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								
				            </tr>
				      </tbody>
				    </table>
				   <hr/>
					<div class="form-inline">
					  <form th:if="${listResponse != null and listResponse.nextOffset != null}" th:action="${listEntityRequestURI}" method="get">
					    <div class="form-group pull-right">
						    <input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						   	<button class="btn-next btn-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
						</div>
					  </form>
					  <div th:if="${param.nextOffset}" class="form-group pull-right">
						<button class="btn-previous go-back" type="button">Previous</button>
					 </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="modal" id="addEntityForm" tabindex="-1" role="dialog" 
		     aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <button type="button" class="close" 
		                   data-dismiss="modal">
		                       <span aria-hidden="true">&times;</span>
		                       <span class="sr-only">Close</span>
		                </button>
		                <h4 class="modal-title" id="myModalLabel">
		                    Add Entity
		                </h4>
		                
		            </div>
		            
		            <!-- Modal Body -->
		            <div class="modal-body">
		            
		            	<div id="note" class="alert alert-info">
		                	<strong>Note: </strong>Newly created entities are pre-approved. 
		                </div>
		                
		                <form class="form-inline" role="form" method="post" 
		                		th:object="${entityListForm}" th:action="${createEntityRequestURI}">
						  
						  <table class="table table-hover" id="entityListFormTable">
							<thead>
								<tr class="tr-header text-center">
									<th>Name</th>
									<th>Description	</th>
									<th><a href="javascript:void(0);" id="addRow" title="Add Row"><span class="glyphicon glyphicon-plus"></span></a></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="option, rowStat : *{entities}">
									
									<td><div class="form-group"><input type="text" th:field="*{entities[__${rowStat.index}__].name}"
											class="form-control" required="required" autofocus="autofocus"/></div></td>
									<td><div class="form-group"><input type="text" th:field="*{entities[__${rowStat.index}__].description}" 
											class="form-control"/></div></td>
									<td><div class="form-group"><span class='glyphicon glyphicon-minus'></span></div></td>
								</tr>
							</tbody>
						 </table>
						 	
						 <div class = "modal-footer">
							<button type="submit" class="btn-submit btn-action">Submit</button>
							<button type="button" class="btn-close" data-dismiss="modal">Close</button>
						 </div>
		                </form>
		            </div>
		            
		        </div>
		    </div>
		</div>
		
		<div sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="modal"
		id="updateEntityModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">
						 <i class="fa fa-question fa-lg text-info"></i> Update Entity: <span id="updateEntityModalTitleEntityName"></span> 
					</h4>

				</div>
				<form id="updateEntityForm" th:action="@{${updateEntityURI}}"
					method="post">
					<!-- Modal Body -->
					<div class="modal-body">
							
						<div id="updateEntityFailedDiv"
							class="hide-me alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<div id="updateEntityFailedReason"></div>
						</div>
						
						<div id="formContent">
							<input type="hidden" id="entityId" name="entityId"/>
							<div class="form-group required">
								<label class="control-label" for="name">Name</label> <input
									type="text" id="name" name="name" class="form-control"
									 required="required"
									autofocus="autofocus" />
							</div>
							
							<div class="form-group">
								<label class="control-label" for="description">Description</label>
								<input
									type="text" id="description" name="description" class="form-control"
									 required="required"
									autofocus="autofocus" />
							</div>
						</div>
						<div id="updateEntityModalFooter" class="modal-footer">
							<div class="row">
								<button type="submit" class="btn-submit confirmation">Submit Update</button>
								<button type="button" class="btn-close" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
		<script>
			
		$(document).ready(function() {
		    $('#entityTable').DataTable();
		});
			
		</script>
		<script type="text/javascript">
		// <![CDATA[
        
        $(function() {
	        $('#addRow').on('click', function() {
	        	var trIndex = $('#entityListFormTable tr').length - 1;
	        	$('#entityListFormTable tr:last td:last').html("<span class='glyphicon glyphicon-minus'></span>"); 
	        	$('#entityListFormTable > tbody:last-child').append("<tr><td><div class='form-group'><input type='text' class='form-control' autofocus='autofocus' id='entities" + trIndex + ".name' name='entities[" + trIndex + "].name' required='required'/></div></td><td><div class='form-group'><input type='text' class='form-control' id='entities" + trIndex + ".description' name='entities[" + trIndex + "].description' /></div></td> <td><div class='form-group'><a href='javascript:void(0);' id='removeRow' title='Remove this row'><span class='glyphicon glyphicon-minus'></span></a></div></td> </tr>");
	        	
	        });
	        
	        $(document).on('click', '#removeRow', function() {
	        	$('#entityListFormTable tr:last').prev().find('td:last').html("<div class='form-group'><a href='javascript:void(0);' id='removeRow' title='Remove this row'><span class='glyphicon glyphicon-minus'></span></a></div>");
   			    var trIndex = $(this).closest("tr").index();
   			    if (trIndex > 0) {
   			    	$("#entityListFormTable tr:last").remove();
   			    }
   			});
        });
		   
        $(document).on('click', 'button.update-entity',function(e) {
			e.preventDefault();
			var entityId = $(this).data("entity-id");
			var rowId = $(this).data('row-id');
			
			var nameElement = $('#' + rowId + '-entityName');
			var descriptionElement = $('#' + rowId + '-entityDesc');
			
			var formName = 'form#updateEntityForm';
			var formInput = formName + ' input';
			$('#updateEntityModalTitleEntityName').text(nameElement.text());
			$(formInput + '[id="entityId"]').val(entityId);
			$(formInput + '[id="name"]').val(nameElement.text());
			$(formInput + '[id="description"]').val(descriptionElement.text());
			$(formName).data('row-id', rowId);
			$('#updateEntityModal').modal('show');
		});
		
		$('#updateEntityForm').submit(function(e) {
			e.preventDefault();
			
			var options = {
		    	errorElement: 'div',
		    	errorClass: 'text-danger small',
		   		highlight: function(element) {
		    		$(element).parent("div").addClass('has-error');
		    	},
		    	unhighlight: function(element) {
			   		$(element).parent('div').removeClass('has-error');
		    	}
	    	}
				
			var validator = $(this).validate(options);
			$(this).find('input:text, textarea').each(function() {
				var inputVal = $(this).val();
				$(this).val($.trim(inputVal));
		    });
				
			if(validator.form()) {
				var formData = new FormData($(this)[0]);
				$.ajax({
			    	context: this,
			    	async: true,
			    	beforeSend: function(xhr) {
			    		$('#updateEntityModal').modal('hide');
			    		$('#loadingModal').modal('show');
			    	},
			    	type: "POST",
			    	data: formData,
			    	processData: false,
			    	contentType: false,
			    	cache: false,
			    	dataType: 'text',
			        url: $(this).attr('action'),
			        
			        success: function(data) {
			        	var rowId = $(this).data('row-id');
			        	
						var nameElement = $('#' + rowId + '-entityName');
						var descriptionElement = $('#' + rowId + '-entityDesc');
						
						var formName = 'form#updateEntityForm';
						var formInput = formName + ' input';
						
						nameElement.text($(formInput + '[id="name"]').val());
						descriptionElement.text($(formInput + '[id="description"]').val());
			        	// ----------------
			        	notifySuccess('Entity updated successfully.');
			        },
			        error: function (xhr, ajaxOptions, thrownError) {
			        	console.log(xhr);
			        	if(401 == xhr.status) {
			        		logout();
			        	}
			        	$('#entityOperationFailedModalTitle').text('Update Entity Failed');
			        	$('#entityOperationFailedModalReason').text(xhr.responseText);
			        	$('#entityOperationFailedModal').modal('show');
			        },
			        complete: function() {
			        	$('#loadingModal').modal('hide');
			        }
			    });
			}
		});
			
			// ]]>
		</script>
		
		
</div>
