<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

	<div class="container" th:fragment="content">
		<div class="panel panel-default col-lg-12">
			<div class="page-header text-center">
				<h3>Oops! Something's not right</h3>
			</div>
			<h4 class="text-center" th:text="${message}"></h4>
			<br />
			<p class="text-center" sec:authorize="isAuthenticated()">
				Take me back <a th:href="@{/home-page}">home.</a>
			</p>
			<p class="text-center" th:if="${#authentication == null}">
				Take me back to <a th:href="@{/login-page}">login page.</a>
			</p>
		</div>
	</div>
</body>
</html>