<div class="container" th:fragment="content">

	<div th:if="${message}" class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div th:inline="text">[[${message}]]</div>
	</div>

	<div th:if="${param.postNoticeSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div th:inline="text">Maintenance notice has been posted
			successfully.</div>
	</div>

	<div th:if="${param.clearNoticeSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div th:inline="text">Maintenance notice has been cleared
			successfully.</div>
	</div>

	<div th:if="${param.sendEmailSuccess}"
		class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div th:inline="text">Email has been sent successfully.</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="panel-group" id="entityCountModal" style="display: none;">

				<div class="col-sm-4 col-md-4 col-lg-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Buyers</strong>
						</div>
						<div class="panel-body">
							<span class="text-right"><i
								class="fa fa-handshake-o fa-3x fa-fw" aria-hidden="true"></i></span>
							<h2 class="text-center">
								<span id="buyerCount"></span>
							</h2>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Vendors</strong>
						</div>
						<div class="panel-body">
							<span class="text-right"><i
								class="fa fa-handshake-o fa-3x fa-fw" aria-hidden="true"></i></span>
							<h2 class="text-center">
								<span id="vendorCount"></span>
							</h2>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Products</strong>
						</div>
						<div class="panel-body">
							<span class="text-right"><i
								class="fa fa-shopping-cart fa-3x fa-fw" aria-hidden="true"></i></span>
							<h2 class="text-center">
								<span id="productCount"></span>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		$(document)
				.ready(
						function() {
							$
									.ajax({
										context : this,
										async : true,
										type : "GET",
										url : [[@{/entity-count?entityType=Vendor}]],
										success : function(data) {
											$('#vendorCount').text(data);
										},
										error : function(xhr, ajaxOptions,
												thrownError) {
											document
													.getElementById("entityCountModal").style.display = "none";
										},
										complete : function() {
											document
													.getElementById("entityCountModal").style.display = "block";
										}
									});

							$
									.ajax({
										context : this,
										async : true,
										type : "GET",
										url : [[@{/entity-count?entityType=Buyer}]],
										success : function(data) {
											$('#buyerCount').text(data);
										},
										error : function(xhr, ajaxOptions,
												thrownError) {
											document
													.getElementById("entityCountModal").style.display = "none";
										},
										complete : function() {
											document
													.getElementById("entityCountModal").style.display = "block";
										}
									});

							$
									.ajax({
										context : this,
													async : true,
										type : "GET",
										url : [[@{/entity-count?entityType=Product}]],
										success : function(data) {
											$('#productCount').text(data);
										},
										error : function(xhr, ajaxOptions,
												thrownError) {
											document
													.getElementById("entityCountModal").style.display = "none";
										},
										complete : function() {
											document
													.getElementById("entityCountModal").style.display = "block";
										}
									});
						});
	</script>
</div>