<div class="modal" id="imagemodal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Image preview</h4>
			</div>
			<div class="modal-body">
				<img src="" id="imagepreview" style="width: 100%; height: 100%;" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type='text/javascript'>
	
	$(window).load(function() {
		$(function() {
			$(".dropdown-menu").on("click", "li", function(event) {
				console.log("You clicked the drop downs", event)
			})
		});
		
		$(".pop").on("click", function() {
		   $('#imagepreview').attr('src', $(this).children('img').attr('src'));
		   $('#imagemodal').modal('show');
		   
		});
	});
</script>