<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li th:if="${selectedMailingList}"></li>
			<li th:if="${selectedMailingList}" th:inline="text">[[${#strings.arraySplit(selectedMailingList,
					'|')[0]}]]</li>
			<li class="active"><a th:href="@{/mailgun/list-mailinglist-form}">Manage Mailing List Members</a></li>
		</ol>
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Manage Mailing List Members</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Add Mailing List Members</h2>
				</div>

				<p th:inline="text"
					th:if="${(param.mailingList != null and not #strings.arrayIsEmpty(param.mailingList))}">
					Showing mailing list members for <span th:if="${param.mailingList != null and not #strings.arrayIsEmpty(param.mailingList)}">
						mailing list: <strong>[[${#strings.arraySplit(param.mailingList[0], '|')[0]}]]</strong> of type: <strong>[[${#strings.arraySplit(param.dealerType[0], '|')[0]}]]</strong>
					</span> 
				</p>

				<form  id="updateMailingListForm" method="post" th:object="${updateMailingListForm}"
					th:action="@{/mailgun/update-mailinglist}"
					class="col-lg-12 top-buffer-10">
					
					<div class="form-horizontal">
						<div
							th:if="${param.mailingList != null and not #strings.arrayIsEmpty(param.mailingList)}">
							<input th:id="mailingList" th:name="mailingList" type="hidden"
								th:value="${param.mailingList[0]}" />
							<input th:id="dealerType" th:name="dealerType" type="hidden"
								th:value="${param.dealerType[0]}" />
						</div>
						<table th:if="${updateMailingListForm.getAllDealerMailList() != null}"
								class="table table-striped table-responsive" id="memberTable">
							<thead>
						      <tr>
						        <th>Name</th>
						        <th>Email Address</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr  th:each="member : ${updateMailingListForm.getAllDealerMailList()}">
						        <td>
						        	<label class="checkbox-inline" th:inline="text"><input type="checkbox" th:field="*{dealerMailList}" th:value="${member.dealerName + '|' + member.dealerEmailId}" /> [[${member.dealerName}]]</label>
						        </td>
						        <td th:inline="text">[[${member.dealerEmailId}]]</td>
						      </tr>
						     </tbody>
						</table>
					</div>
					<div class="form-inline">
						<div th:if="${updateMailingListForm != null}"
							class="form-group">
							<input type="hidden" name="nextOffset"
								th:value="${updateMailingListForm.nextOffset}" />
						</div>
						<div th:if="${param.nextOffset}" class="form-group pull-right">
								<input type="hidden" name="currentOffset"
								th:value="${param.nextOffset[0]}" />
						</div>

						<div th:if="${updateMailingListForm != null}"
							class="form-group pull-right">
							<button class="btn-next form-control" type="submit" formmethod="get" formaction="/mailgun/update-mailinglist-form">Next</button>
						</div>
						<div th:if="${param.nextOffset}" class="form-group pull-right">
							<button class="btn-previous go-back form-control" type="button">Previous</button>
						</div>
					</div>
					
					<div class="form-group top-buffer-10">
						<button class="btn btn-primary btn-md"
							type="submit" name="action"><i title="Add Members" class="fa fa-user-plus" aria-hidden="true"></i> Add Members</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>

	
	<script>
			
		$(document).ready(function() {
		    $('#memberTable').DataTable();
		});
		
	</script>
</div>
