<div class="container" th:fragment="content">

	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li th:if="${selectedMailingList}"></li>
			<li th:if="${selectedMailingList}" th:inline="text">[[${#strings.arraySplit(selectedMailingList,
					'|')[0]}]]</li>
			<li class="active">Manage Mailing List Members</li>
		</ol>
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		
		<div th:if="${param.sendSuccess}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">Mailing list updated successfully.</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Manage Mailing List Members</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>Manage Mailing List Members</h2>
				</div>

				<p th:inline="text"
					th:if="${(param.mailingList != null and not #strings.arrayIsEmpty(param.mailingList))}">
					Showing mailing list members for <span
						th:if="${param.mailingList != null and not #strings.arrayIsEmpty(param.mailingList)}">
						mailing list : <strong>[[${#strings.arraySplit(param.mailingList[0],
							'|')[0]}]]</strong>
					</span> 
				</p>

				<form id="searchForm" class="form-inline top-buffer-5" role="form"
					th:object="${updateMailingListForm}" method="get"
					th:action="@{/mailgun/update-mailinglist-form}">

					<div th:if="${errorMessage}"
						class="alert alert-dismissible alert-danger top-buffer">
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>

					<div id="errorDiv"
						class="alert alert-dismissible alert-danger top-buffer hide-me">
						<div id="errorText"></div>
					</div>

					<div class="row top-buffer-10">
						<div class="col-md-5">
							<label class="control-label" for="mailingList">Mailing List</label>
							<div class="clearfix"></div>
							<div class="form-group label-floating">
								<select th:field="*{mailingList}" class="selectpicker"
									title="Select a mailing list" required="required">
								<option th:each="mList : ${mailingListsResponse.mailingLists}"
									th:value="${mList.address}" th:text="${mList.address}"></option>	
								</select>
							</div>
						</div>
						<div class="col-md-5">
							<label class="control-label" for="mailingList">Dealer Type</label>
							<div class="clearfix"></div>
							<div class="form-group label-floating">
								<select th:field="*{dealerType}" class="selectpicker"
									title="Select the dealer type" required="required">
									<option th:each="type : ${T(com.bnbneeds.portal.admin.formbean.UpdateMailingListBean.DealerType).values()}"
          								th:value="${type}" th:text="${type}" th:selected="${type} == 'ALL'"></option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group top-buffer-10">
						<button  class="btn btn-primary btn-md"
							type="submit">
							<i title="Add Members" class="fa fa-user-plus" aria-hidden="true"></i> Add Members</button>
					</div>
					<div class="form-group top-buffer-10">
						<button  class="btn btn-danger btn-md"
							type="submit" formmethod="get" formaction="/mailgun/remove-mailinglist-members-form">
							<i title="Remove Members" class="fa fa-user-times" aria-hidden="true"></i> Remove Members</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	
	<script
		th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
		<script  type="text/javascript" th:inline="javascript">
		//<![CDATA[
		$(document).ready(function() {
			$('select[name=dealerType]').val("ALL");
			$('.selectpicker').selectpicker('refresh')	
		});
		//]]>
		</script>
	
</div>
