<div class="container" th:fragment="content">

	<div class="col-lg-10">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Maintenance Notice To Dealer Portal</h2>
				</div>

				<div class="col-md-12 form-horizontal">
					<div th:if="${errorMessage}"
						class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>				
	
					<div th:if="${param.sendSuccess}"
						class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div>Maintenance notice posted.</div>
					</div>
					<div class="row">
						<div class="col-lg-9"></div>
						<div class="col-lg-3">
						<form class="form-inline pull-right"
							th:action="@{/messaging/maintenance-notice/clear}" method="post">
							<div class="form-group ">
								<button type="submit" class="btn-delete confirmation">Delete
									Sent Notice</button>
							</div>
						</form>
						</div>
					</div>
					<form method="post" th:action="@{/messaging/maintenance-notice}"
						th:object="${maintenanceNoticeFormBean}">
						
						<div class="row">
							<div class="col-lg-7 form-group"
								th:classappend="${#fields.hasErrors('timeRange')}? 'has-error'">
								<label class="control-label" for="timeRange">Maintenance Time Frame</label>
								<div class="input-group date col-lg-12">
									<input type="text" th:field="*{timeRange}" readonly="readonly"
										placeholder="Select the time range" class="form-control time-range"
										required="required" />
									<label class="input-group-addon btn" for="timeRange">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</label>
								</div>
								<p th:if="${#fields.hasErrors('*{timeRange}')}"
									th:errors="*{timeRange}" class="small text-danger" />
							</div>
						</div>

						<div class="form-group label-floating"
							th:classappend="${#fields.hasErrors('subject')}? 'has-error'">
							<label class="control-label" for="subject">Headline</label> <input
								type="text" th:field="*{subject}"
								placeholder="Example: System Upgrade" class="form-control"
								required="required" autofocus="autofocus" />
							<p th:if="${#fields.hasErrors('*{subject}')}"
								th:errors="*{subject}" class="small text-danger"/>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('message')}? 'has-error'">
							<label class="control-label" for="message">Message</label>
							<textarea th:field="*{message}" class="form-control"
								placeholder="Example: We are upgrading our services to a new version. Please refrain using BNBneeds during the maintenance window."
								rows="5"></textarea>
							<p th:if="${#fields.hasErrors('*{message}')}"
								th:errors="*{message}" class="small text-danger" />
						</div>
						
						<div class="form-group"
							th:classappend="${#fields.hasErrors('sendEmailToAllDealers')}? 'has-error'">
							<label class="form-check-label" th:inline="text">
								<input	class="form-check-input" th:field="*{sendEmailToAllDealers}" type="checkbox"
									value="false" /> Send this notice to all the registered dealers by e-mail to ([[${dealersMailingListAddress}]]). This operation cannot be undone.
							</label>
							<p th:if="${#fields.hasErrors('*{sendEmailToAllDealers}')}"
								th:errors="*{sendEmailToAllDealers}" class="small text-danger" />
						</div>

						<div class="form-group">
							<div class="col-lg-6">
								<button class="col-lg-6 btn btn-primary btn-block btn-submit btn-action confirmation"
									type="submit">Post Notice</button>
							</div>
							<div class="col-lg-6">
								<a class="btn btn-default btn-block"
									th:href="@{/home-page}">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
		$('input.time-range').daterangepicker({
		      "autoUpdateInput": false,
		      "showDropdowns": true,
			  "timePicker": true,
			  "timePicker24Hour": true,
			  "timePickerIncrement": 30,
			  "autoApply": true,
		      locale: {
		    	  format: 'DD MMMM YYYY HH:mm',
		          cancelLabel: 'Clear'
		      }
		});
	    
		$('input.time-range').on('apply.daterangepicker', function(ev, picker) {
		    $(this).val(picker.startDate.format('DD MMMM YYYY HH:mm') + ' To ' + picker.endDate.format('DD MMMM YYYY HH:mm'));
		    $(this).trigger('change');
		});

		$('input.time-range').on('cancel.daterangepicker', function(ev, picker) {
		    $(this).val('');
		    $(this).trigger('change');
		});
		
	</script>
</div>
