<!doctype html>
<html>
<head>
<title>BEL Club: Events</title>
</head>
<body>
	<div class="container" th:fragment="content">
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		<div class="panel panel-default col-lg-12">
			<div class="page-header">
				<h1>Members<a class="btn btn-default pull-right" th:href="@{/members/create-member-form}">Register</a></h1>
			</div>
			<h4>Query By Filters</h4>
			<form  method="get"
				th:action="@{~/members}">
				<div class="row">
	            	<div class="form-group col-xs-6">
						<label class="control-label" for="queryParam">Filter</label> <select
							id="queryParam" name="queryParam" class="form-control">
							<option value="STATUS">Member Status</option>
							<option value="MEMBERID">Member ID</option>
							<option value="NAME">Name</option>
							<option value="MEMBERTYPE">Member Type</option>
							<option value="SECTION">Section</option>
							<option value="DIVISION">Division</option>
							<option value="GENDER">Gender</option>
							<option value="DESIGNATION">Designation</option>
							<option value="CONTACTNO">Contact Number</option>
							<option value="EMAIL">Email Address</option>
						</select>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label" for="queryValue">Value</label>
							<input type="text" id="queryValue" name="queryValue" class="form-control" autofocus="autofocus" />
						</div>
					</div>
					<button class="col-lg-6 btn btn-primary btn-block" type="submit">Submit Query</button>
			</form>
			<h5 th:if="${queryFilter}" th:inline="text" class="text-info text-center">Results of query members by filter:
				[[${queryFilter}]]</h5>
			<div class="list-group">
				<div th:each="member: ${members}">
					<div class="list-group-item">
						<div class="row-content">
							<a th:if="${member.getUserAccount() != null}" th:href="|/members/${member.getId()}|"><h4
									class="list-group-item-heading" th:inline="text">[[${member.getName()}]]</h4></a>
							<p th:if="${member.getUserAccount() == null}"><h4
									class="list-group-item-heading" th:inline="text">[[${member.getName()}]]</h4></p>
							<div th:if="${member.getUserAccount() != null and member.getUserAccount().getDisabled() == 'YES'}"
								class="list-group-item-text" th:inline="text">Status:
								Disapproved</div>
							<div th:if="${member.getUserAccount() != null and member.getUserAccount().getDisabled() == 'NO'}"
								class="list-group-item-text" th:inline="text">Status:
								Approved</div>
							<div th:if="${member.getUserAccount() == null}"
								class="list-group-item-text" th:inline="text">Dependent of Member ID: [[${#strings.substring(member.getMemberId(), 0, #strings.length(member.getMemberId()) - 2)}]]</div>
							<div sec:authorize="hasAuthority('ADMIN')" class="list-group-item-text">
								<a th:href="|/committee-members/${member.getId()}/add-photo-form|">Upload
									photo for this committee member</a>
							</div>
							<div sec:authorize="hasAuthority('ADMIN')" class="list-group-item-text">
								<a th:if="${member.getCancelRequest() != null}"
									th:href="|/members/${member.getId()}/cancellation-request|">View Cancellation Request</a>
							</div>
						</div>
					</div>
					<hr />
				</div>
			</div>
		</div>
	</div>
</body>
</html>