<div class="container" th:fragment="content">
	
	<div class="col-lg-12">
		
		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
		<div th:inline="text">[[${message}]]</div>
	</div>
		<div class="panel panel-primary">
			
			<div class="panel-heading">
				<h4 class="panel-title">All Notifications <a class="top-buffer-4 small pull-right no-underline" title="Current time"><i class="fa fa-clock-o" ></i> <span id="clock">Loading current time...</span></a></h4>
			</div>
			<div class="panel-body">
				
				<div class="page-header">
					<h2>Notifications</h2>
					
				</div>
				
				<!-- <div class="hero-circle pull-right bottom-buffer-10">
					<div class="hero-face">
						<div id="hour" class="hero-hour"></div>
						<div id="minute" class="hero-minute"></div>
						<div id="second" class="hero-second"></div>
					</div>
				</div> -->
				
				<div th:if="${eventListResponse == null or #lists.isEmpty(eventListResponse.events)}">
				No notifications to display.
				</div>
				
				<form th:if="${eventListResponse != null and not #lists.isEmpty(eventListResponse.events)}"
					id="searchForm" role="form" method="get" th:action="@{/notifications/list}" >
					<div class="form-group">
						<div class="input-group">
							<input id="searchText" class="form-control" type="search" autofocus="autofocus"
									placeholder="Search..." />
							<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
						</div>
					</div>
					<div id="searchList" class="list-group">
						<div th:each="item,iter : ${eventListResponse.events}">
							<div class="list-group-item top-buffer-5 hvr-glow wow slideInLeft">
								<div class="row">
									<div class="col-lg-1 text-center top-buffer-5" th:switch="${item.eventType.name()}">
										<span th:case="'NEW_BUYER_REGISTERED'"><i class="fa fa-3x fa-fw fa-handshake-o text-success"></i></span>
										<span th:case="'NEW_VENDOR_REGISTERED'"><i class="fa fa-3x fa-fw fa-handshake-o text-success"></i></span>
										<span th:case="'NEW_PURCHASE_ITEM_ORDERED'"><i class="fa fa-fw fa-3x fa-th-list text-primary"></i></span>
										<span th:case="'PURCHASE_ITEM_UPDATED'"><i class="fa fa-fw fa-3x fa-th-list text-primary"></i></span>
										<span th:case="'NEW_PRODUCT_ENQUIRY_POSTED'"><i class="fa fa-fw fa-3x fa-question text-info"></i></span>
										<span th:case="'PRODUCT_ENQUIRY_UPDATED'"><i class="fa fa-fw fa-3x fa-question text-info"></i></span>
										<span th:case="'NEW_PRODUCT_ADDED'"><i class="fa fa-fw fa-3x fa-shopping-cart text-warning"></i></span>
										<span th:case="'PRODUCT_UPDATED'"><i class="fa fa-fw fa-3x fa-shopping-cart text-warning"></i></span>
										<span th:case="*"><i class="fa fa-fw fa-3x fa-info-circle text-info"></i></span>
									</div>
									<div class="col-lg-11">
										<p th:utext="${item.displayText}"></p>
										<small><i class="fa fa-history"></i> <span th:attr="data-livestamp=${item.timestamp}"></span></small>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div th:if="${eventListResponse.nextOffset != null}" >
						<div class="form-group">
							<input type="hidden" name="nextOffset" th:value="${eventListResponse.nextOffset}"/>
						</div>
						<div class="form-group pull-right">
							<button class="btn-next " type="submit">Next</button>
						</div>
					</div>
				</form>
				<div th:if="${param.nextOffset}" class="form-group pull-right">
					<button class="btn-previous go-back" type="button">Previous</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<!-- <script th:src="@{/external/js/clock.js}"></script> -->
	<script>
	$('#searchList').btsListFilter('#searchText', {
		delay : 100,
		initial : false
	});
	
	function update() {
	  $('#clock').html(moment().format('dddd, D MMM YYYY h:mm:ss A'));
	}

	setInterval(update, 1000);
	</script>
</div>
