<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Payment Transactions</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>
		

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Payment Transactions</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Payment Transactions
					</h2>
				</div>
				<div th:if="${listResponse == null or #lists.isEmpty(listResponse.getList())}" class="top-buffer-10">No
					payment transactions to display.
				</div>
				<div th:if="${listResponse != null}">
					<table
						th:if="${listResponse != null and not #lists.isEmpty(listResponse.getList())}"
						id="paymentTransactionTable"
						class="table table-hover responsive nowrap">
						<thead class="thead-default">
							<tr>
								<th>Timestamp</th>
								<th>Transaction ID</th>
								<th>Amount (&#8377;)</th>
								<th>Status</th>
								<th>Payment Method</th>
								<th>Payment Gateway</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr th:inline="text"
								th:each="transaction : ${listResponse.getList()}">
								<td>[[${#dates.format(new java.util.Date(transaction.timestamp), 'dd MMM yyyy HH:mm:ss')}]]</td>
								<td>[[${transaction.transactionId}]]</td>
								<td>[[${#numbers.formatDecimal(transaction.amount,0,0)}]]</td>
								<td>[[${transaction.transactionStatus}]]</td>
								<td>[[${transaction.paymentMethod}]]</td>
								<td>[[${transaction.paymentGateway}]]</td>
								<td>[[${transaction.transactionDescription}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
				<div class="form-inline">
					<div class="form-group pull-right">
					    <form th:if="${listResponse != null and listResponse.nextOffset != null and paymentTransactionOfDealerType == 'buyer'}" th:action="@{/buyers/payment-transactions/list}" method="get">
						    	<input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    	<button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					    <form th:if="${listResponse != null and listResponse.nextOffset != null and paymentTransactionOfDealerType == 'vendor'}" th:action="@{/vendors/payment-transactions/list}" method="get">
						    	<input type="hidden" name="nextOffset" th:value="${listResponse.nextOffset}"/>
						    	<button class="btn-next button-action" type="submit" title="Cannot find what you are looking for? Click Next">Next</button>
					    </form>
					</div>
					<div class="form-group pull-right">
						<button th:if="${param.nextOffset}" class="btn-previous go-back" type="button">Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#paymentTransactionTable').DataTable();
		});
	</script>
</div>