	<div id="loadingModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Please wait...</h4>
				</div>
				<div class="modal-body">
					<p class="text-info text-center">
						<i class="fa fa-refresh fa-spin"></i> We are processing your
						request.
					</p>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	
	function showLoadingModal() {
		$('#loadingModal').modal('show');
	}
	
	function hideLoadingModal() {
		$('#loadingModal').modal('hide');
	}
</script>