<div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="100">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target="#navbar-main">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/home-page}">Home</a></li>
				<!-- 
				<li sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')"><a th:href="@{~/entities}">Master Entities</a></li>
				 -->
				<li th:if="${loggedInUser != null}" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Master
						Entities<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					<li th:if="${loggedInUser != null}" sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/business-types/list}">Business
								Types</a></li>
						<li th:if="${loggedInUser != null}" sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/product-types/list}">Product
								Types</a></li>
						<li  th:if="${loggedInUser != null}" sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" role="presentation"><a
							role="menuitem" tabindex="-1"
							th:href="@{/product-categories/list}">Product Categories</a></li>
						<li th:if="${loggedInUser != null}" sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/product-names/list}">Product
								Names</a></li>
						<li role="separator" class="divider"></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" th:href="@{/buyers/bidding-subscription-plans/list}">Buyer Bidding Subscription Plans</a></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" th:href="@{/vendors/bidding-subscription-plans/list}">Vendor Bidding Subscription Plans</a></li>
					</ul>
				</li>
				<li th:if="${loggedInUser != null}"  sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-submenu="submenu">Manage Entities<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" th:href="@{/vendors/list}">Vendors</a></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" th:href="@{/buyers/list}">Buyers</a></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" th:href="@{/products/list}">Vendor Products</a></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" th:href="@{/buyers/product-enquiries}">Product Enquiries</a></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" th:href="@{/tenders/list}">Tenders</a></li>
						<li role="separator" class="divider"></li>
						<li  role="presentation"><a role="menuitem" tabindex="-1" 
							th:href="@{/abuse-reports/list}">Address Abuse Reports</a></li>
							
						<li role="separator" class="divider"></li>
						<li class="dropdown-submenu">
							<a tabindex="0" data-toggle="dropdown" href="#">Search</a>
							<ul class="dropdown-menu">
								<li role="presentation">
									<a tabindex="0" th:href="@{/search/search-dealer-by-bidding-subscription-id-form}">Search Buyer By Bidding Subscription Id</a>
								</li>
								<li role="presentation">
									<a tabindex="0" th:href="@{/search/search-dealer-by-bidding-subscription-id-form}">Search Vendor By Bidding Subscription Id</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Management<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li th:if="${loggedInUser != null}" sec:authorize="hasAuthority('SUPER_ADMIN')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/admin-accounts/list}">Admins</a></li>
						<li th:if="${loggedInUser != null}" sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" role="presentation"><a
							role="menuitem" tabindex="-1" th:href="@{/dealer-accounts/list}">Dealers</a></li>
					</ul>
				</li>
				
				<li th:if="${loggedInUser != null}" sec:authorize="hasAuthority('SUPER_ADMIN')">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Messaging<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/messaging/email-dealers-form}">Email Dealers</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/messaging/maintenance-notice-form}">Maintenance Notice To Dealer Portal</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/mailgun/list-mailinglist-form}">Manage Mailing Lists</a></li>
					</ul>
				</li>
				<li th:if="${loggedInUser}" class="dropdown open-dropdown dropdown-notifications" id="dropdownMenu3">
					<audio id="notificationSound" th:src="@{/notifications/bell}" class="hide-me" ></audio>
					<a id="showNotificationLink" href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i id="notificationIcon" class="fa fa-bell-o fa-lg faa-shake" aria-hidden="true"></i>
					</a>

					<div class="dropdown-menu dropdown-container"  aria-labelledby="dropdownMenu3">
						<a class="list-group-item active"><i class="fa fa-lg fa-fw fa-bullhorn" aria-hidden="true"></i> New Notifications 
						<span id="newNotificationCount" class="badge"></span></a>
						<!-- /dropdown-toolbar -->
						<ul id="notificationList" class="dropdown-menu scrollbar style-1">
							<li id="notificationLoading" class="notification hide-me">
								<div class="media">
									<div class="media-body">
										<p id="notificationLoadingText" class="notification-title text-center text-info bottom-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading notifications...</p>
									</div>
								</div>
							</li>
							<li id="notification" class="notification hide-me">
								 <div class="media">
								 	<div class="media-left">
								        <div class="media-object top-buffer-5">
								            <span id="notificationTypeIcon"></span>
								        </div>
								    </div>
									<div class="media-body">
										<p id="notificationText" class="small"></p>
										<div class="notification-meta">
											<small class="timestamp"><i class="fa fa-history fa-fw" aria-hidden="true"></i>
											 <span id="notificationTimestamp" class="notification-timestamp">Loading...</span></small>
										</div>
									</div>
								</div>
							</li>
						</ul>

						<div id="notificationFooter" class="dropdown-footer">
							<a id="markNotificationsAsRead" href="javascript:void(0);" class="active no-underline"><i class="fa fa-lg fa-fw fa-bell-slash-o" aria-hidden="true"></i> Mark all as read</a>
							<a th:href="@{/notifications/list}" class="active no-underline pull-right"><i class="fa fa-lg fa-fw fa-tasks" aria-hidden="true"></i> Show all</a>
						</div>
					</div>
				</li>
				<li sec:authorize="isAnonymous()"><a href="/about">About</a></li>
				<li sec:authorize="isAnonymous()"><a href="/contact">Contact</a></li>
			</ul>

			<ul th:if="${loggedInUser}" class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Click to display menu">
						<i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i> 
							<span th:inline="text">[[${loggedInUser.getAccountName()}]]
							</span><span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a
							th:href="@{~/accounts/profile}" role="button"
							data-toggle="modal">Your Account</a></li>
						<li><a th:href="@{~/accounts/change-password-form}">Change Password</a></li>
						<li><a th:href="@{~/logout}">Logout</a></li>
					</ul>
				</li>
				
			</ul>
			
		</div>
	</div>
	<script th:src="@{/bower_components/bootstrap-submenu-2.0.4/js/bootstrap-submenu.js}"></script>
	<script th:if="${loggedInUser != null}" type="text/javascript" th:inline="javascript">
	//<![CDATA[
	var notificationWait = false;
	
	$('#showNotificationLink').click(function(e) {
		e.preventDefault();
		
		$.ajax({
	    	context: this,
	    	async: true,
	    	type: "GET",
	        url: [[@{/notifications}]],
	        beforeSend: function() {
	        	$('#notificationLoading').show();
	        },
	        success: function(data) {
	        	
	        	var notificationElement = $('#notification').clone();
	        	$('#notificationList li:not(:first)').remove();
	        	$('#notificationLoading').hide();
	        	var notificationTypeIcon = null;
	        	var notificationList = $.parseJSON(data);
	        	if(notificationList.length == 0) {
	        		$('#notificationFooter').hide();
	        	} else {
	        		$('#notificationFooter').show();
	        	}
	        	$.each(notificationList, function(i, d) {
	        		if(d.read) {
	        			notificationElement.addClass('active');
	        		} else {
	        			notificationElement.removeClass('active');
	        		}
	        		notificationElement.find('#notificationText').html(d.displayText);
	        		notificationElement.find('#notificationTimestamp').attr("data-livestamp", d.timestamp);
	        		notificationTypeIcon = notificationElement.find('#notificationTypeIcon');
	        		if(d.eventType == 'NEW_BUYER_REGISTERED' || d.eventType == 'NEW_VENDOR_REGISTERED') {
	        			notificationTypeIcon.html('<i class="fa fa-handshake-o fa-3x fa-fw text-success fa-3x"></i>');
	        		} else if (d.eventType == 'NEW_PURCHASE_ITEM_ORDERED' || d.eventType == 'PURCHASE_ITEM_UPDATED') {
	        			notificationTypeIcon.html('<i class="fa fa-th-list fa-3x fa-fw text-primary"></i>');
	        		} else if (d.eventType == 'NEW_PRODUCT_ENQUIRY_POSTED' || d.eventType == 'PRODUCT_ENQUIRY_UPDATED') {
	        			notificationTypeIcon.html('<i class="fa fa-question fa-3x fa-fw text-info"></i>');
	        		} else if (d.eventType == 'NEW_PRODUCT_ADDED' || d.eventType == 'PRODUCT_UPDATED') {
	        			notificationTypeIcon.html('<i class="fa fa-shopping-cart fa-3x fa-fw text-warning"></i>');
	        		} else {
	        			notificationTypeIcon.html('<i class="fa fa-info-circle fa-3x fa-fw text-info"></i>');
	        		}
	        		$('#notificationList').append(notificationElement);
	        		notificationElement.show();
	        		if(i < notificationList.length) {
	        			notificationElement = $('#notification').clone();
	        		}
	            });
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	$('#notificationList li:not(:first)').remove();
	        	if($('#notificationIcon').hasClass('animated') == true) {
	       			$('#notificationIcon').removeClass('animated');
	       		}
	        	$('#newNotificationCount').html('<span class="text-danger">!</span>');
	        	$('#notificationLoadingText').addClass('text-danger').html('<span><i class="fa fa-exclamation-triangle"></i> Failed to load notificaitons. Please try again later.</span><div class="clearfix"/><button class="btn btn-sm btn-danger btn-action" onClick="window.location.reload(true);"><i class="fa fa-repeat"></i> Reload Page</button>');
	        	$('#notificationLoading').show();
	        	console.log(xhr.responseText);
	        },
	        complete: function() {
	        	//$('#notificationLoading').hide();
	        }
	    });
		
	});
	
	$('#markNotificationsAsRead').click(function(e) {
		e.preventDefault();
		
		var notificationIcon = $('#notificationIcon');
		
		$.ajax({
	    	context: this,
	    	async: true,
	    	type: "POST",
	        url: [[@{/notifications/mark-as-read}]],
	        breforeSend: function() {
	        	notificationWait = true;
	        },
	        success: function(data) {
	        	var notificationListeElement = $('#notificationList');
	        	
	        	notificationListeElement.children('.notification').each(function(i) {
	        	    if($(this).hasClass('active') == false) {
	        	    	$(this).addClass('active')
	        	    }
	        	});
	        	
	        	$('#newNotificationCount').text(0);
	        	titlenotifier.reset();
	        	if(notificationIcon.hasClass('animated') == true) {
	        		notificationIcon.removeClass('animated');
	       		}
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	console.log(xhr.responseText);
	        },
	        complete: function() {
	        	notificationWait = false;
	        }
	    });
		
	});
	
	$(document).ready(function() {
		
		/*
	     * jQuery Plugin To Create Multi-level Bootstrap Dropdowns - Bootstrap Submenu
	     */ 
	    $('[data-submenu]').submenupicker();
		
		setTimeout(poll, 5000);
		$('#notificationFooter').on("click", function(e) {
			$(this).removeClass('open')
		});
	});
	
	function poll() {
		
		if(notificationWait) {
			setTimeout(poll, 60000);
		}
		
		$.ajax({
		   	context: this,
		   	async: true,
		   	type: "GET",
		    url: [[@{/notifications/anything-new}]],
		    
		    success: function(data) {
		    	
		       	var node = $.parseJSON(data);
		       	$('#newNotificationCount').text(node.newNotifications);
		       	var notificationIcon = $('#notificationIcon');
		       	if(node.newNotifications > 0) {
		       		titlenotifier.set(node.newNotifications);
		       		$('#notificationSound').trigger('play');
		       		$('#showNotificationLink').attr("title", "The bell's ringing. You have new notifications!");
		       		if(notificationIcon.hasClass('animated') == false) {
		       			notificationIcon.addClass('animated');
		       		}
		       	} else {
		       		$('#showNotificationLink').attr("title", "Notifications");
		       		if(notificationIcon.hasClass('animated') == true) {
		       			notificationIcon.removeClass('animated');
		       		}
		       	}
		       	setTimeout(poll, 50000);
		      },
		    error: function (xhr, ajaxOptions, thrownError) {
		       	if(401 == xhr.status) {
		       		logout();
		       	}
		       	$('#newNotificationIcon').remove();
		       	$('#showNotificationLink').attr("title", "Notifications");
		       	if(notificationIcon.hasClass('animated') == true) {
		       		notificationIcon.removeClass('animated');
	       		}
		       	titlenotifier.reset();
		       	console.log(xhr.responseText);
		       	setTimeout(poll, 15000);
		     },
		     timeout: 60000
		});
	}
	
	//]]>
	</script>
</div>