<div class="container" th:fragment="content">

	<div class="panel panel-default col-lg-12">
		<div class="page-header text-center">
			<h3>Oops! BNBNeeds Unavailable</h3>
		</div>
		<div class="panel-body">
			<h4 class="text-center">BNBNeeds Service is not reachable at the moment.</h4>
			<div class="clearfix"></div>
			<h4 class="text-center" id="connectMessage">
				<span class="glyphicon glyphicon-refresh gly-spin"></span>
				Please wait while we try to reconnect in <span id="seconds">30</span> seconds.
			</h4>
			<div class="clearfix"></div>
			<h4 class="text-center">Contact support if problem persists.</h4>
			<div class="clearfix"></div>
		</div>
		<script th:inline="javascript">
	 //<![CDATA[
		var url = window.location;
		var baseURL = url.protocol + "//" + url.host;
		var homeURL = baseURL + [[${pingURL}]];
		var seconds = 30;
		var countdown = setInterval(
				function() {
					if (seconds <= 1) {
						clearInterval(countdown);
						document.getElementById('connectMessage').innerHTML = "Connecting..."
						window.location = homeURL;
					} else {
						document.getElementById('seconds').innerHTML = --seconds;
					}
				}, 1000);
	  //]]>
	</script>
	</div>
</div>