
<div class="container" th:fragment="content">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Reset Password</h2>
				</div>

				<form class="col-lg-12 form-horizontal" method="post" action="#" 
						th:action="@{/reset-password}" th:object="${resetPasswordBean}">
					<p><b>Note:</b> New password will be sent to your registered e-mail address.</p>
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>
					
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger top-buffer">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('username')}? 'has-error'">
						<label class="control-label" for="username">Username</label> <input
							type="text" th:field="*{username}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{username}')}"
							th:errors="*{username}" />
					</div>
					
					<div class="form-group">
						<div class="col-lg-6">
							<button class="col-lg-6 btn btn-primary btn-block" type="submit">Reset Password</button>
						</div>
						<div class="col-lg-6">
							<a class="btn btn-default btn-block" th:href="@{/login-page}">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
