<div class="modal fade" id="postReviewModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-pencil-square-o fa-fw text-info"></i> Post Review 
					<!-- <a href="javascript:void(0);"  data-toggle="collapse" data-target="#reviewHelpDiv" title="Click to display help"><i class="fa fa-question-circle"></i></a> -->
				</h4>
			</div>
			<form id="postReviewForm" method="post" th:action="@{/post-review}">
				<div class="modal-body">
					<!-- <div id="reviewHelpDiv" class="alert alert-info collapse"> -->
					<div id="reviewHelpDiv" class="alert alert-info">
						<p class="text-justify" th:inline="text">
							Here you can write your review or provide a constructive feedback about the experience you had with this dealer. 
							If you had a good experience, describe what was good about the service. 
							If your experience was bad, please write about how the dealer can service better. Please do not be abusive. 
							Help us keep [[${brandName}]] clean.
						</p>
						
					</div>
					
					<div id="reviewLoadingDiv" class="top-buffer-10 invisible">
						<i class="fa fa-refresh fa-spin"></i> <span id="reviewLoadingText"></span>
					</div>
					
					<div id="submitReviewFailedDiv"
						class="hide-me alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div id="submitReviewFailedReason"></div>
					</div>

					<div id="reviewFormContent">
						
						<div id="reviewDateDiv" class="form-group hide-me">
							<label class="control-label" for="reviewDate">You have posted this review on: <span id="reviewDate"></span> 
								<a id="deleteReview" class="btn btn confirmation pull right" title="Delete this review"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i> </a>
							</label>
						</div>
						
						<input type="hidden" id="reviewId" name="reviewId" class="form-control"/>
						
						<div class="form-group">
							<label class="control-label" for="rating">Your Rating</label>
							<input type="text" class="input-rating rating-loading" id="rating" name="rating" required="required" value="1"/>
						</div>
						<div class="form-group">
							<label class="control-label" for="headline">Headline</label>
							<input type="text" id="headline" name="headline" class="form-control" placeholder="One line about it" autofocus="autofocus"/>
						</div>
						<div class="form-group">
							<label class="control-label" for="reviewDescription">Review</label>
							<textarea class="form-control" id="reviewDescription" name="reviewDescription" rows="4"
							          placeholder="Write your review in detail here"></textarea>
						</div>
					</div>
				</div>
				<div id="postReviewModalFooter" class="modal-footer">
					<button id="btnSubmitReview" type="submit" class="btn-submit" >Submit Review</button>
					<button type="button" class="btn-close" data-dismiss="modal">Close</button>
				</div>
			</form>
			<form id="deleteReviewForm" th:action="@{/delete-review-url}" method="post"></form>
		</div>
	</div>
</div>

<div th:replace="processing-request-modal-view"></div>

<script type='text/javascript'>
	//<![CDATA[
           
	var reviewLoadingDiv = $('#reviewLoadingDiv');
	var reviewLoadingText = $('#reviewLoadingText');
	
	function initRating() {
		$('.input-rating').rating({
			step: 1,
			size:'xs',
			showCaption: true,
			showClear: false,
			emptyStar: '<i class="fa fa-star-o" aria-hidden="true"></i>',
			filledStar: '<i class="fa fa-star" aria-hidden="true"></i>'
		});
	}
	
	$(document).ready(function() {
		$('a.post-review').addClass('pull-right btn btn-primary').prepend('<i class="fa fa-pencil-square-o fa-fw "></i> Post Review');
		initRating();
		
	});
	
	$('a.post-review').click(function(e) {
		e.preventDefault();
		
		var postReviewURL = $(this).data('post-review-url');
		$('#postReviewForm').attr('action', postReviewURL);
		
		$("#submitReviewFailedDiv").hide();
		disablePostReviewForm();
		$('#postReviewModal').modal('show');
		
		
		var getReviewByReveiwerURL = $(this).data('get-reviews-by-reviewer-url');
		
		$.ajax({
	    	context: this,
	        url: getReviewByReveiwerURL,
	        type: 'GET',
	        async: true,
	        cache: false,
	        contentType: false,
	        processData: false,
	        beforeSend: function() {
	        	reviewLoadingText.text('Checking for existing review...');
	        	reviewLoadingDiv.removeClass('invisible');
	        },
	        success: function(data) {
	        	$("#submitReviewFailedDiv").hide();
	        	
	        	var reviewListResponse = $.parseJSON(data);
	        	
	        	if(reviewListResponse. review != null && reviewListResponse.review.length > 0) {
	        		reviewLoadingText.text('Loading existing review...');
	        		var review = reviewListResponse.review[0];
	        		
	        		$("#deleteReviewForm").attr("action", postReviewURL + '/' + review.id + '/delete');
	        		
	        		$('#reviewId').val(review.id);
	        		$('#rating').rating('update', review.rating);
	        		$('#headline').val(review.headline);
	        		$('#reviewDescription').val(review.description);
	        		$('#reviewDate').text(review.timestamp);
	        		$('#reviewDateDiv').show();
	        	} else {
	        		$('#reviewId').val('');
	        		$('#reviewDateDiv').hide();
	        	}
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	        	if(401 == xhr.status) {
	        		logout();
	        	}
	        	$("#submitReviewFailedReason").text('Oops! Cannot load existing review.\nReason: ' + xhr.responseText);
	        	$("#submitReviewFailedDiv").show();
	        	
	        },
	        complete: function() {
	        	reviewLoadingDiv.addClass('invisible');
	        	enablePostReviewForm();
	        }
	    });
	    return false;
	});
	
	$("#postReviewForm").submit(function(e) {
		e.preventDefault();
		var options = {
    		errorElement: 'div',
    		errorClass: 'text-danger small',
    		highlight: function(element) {
	    		$(element).parent("div").addClass('has-error');
	    	},
	    	unhighlight: function(element) {
	    		$(element).parent('div').removeClass('has-error');
	    	}
    	}
		
		var validator = $(this).validate(options);
		$(this).find('input:text, textarea').each(function() {
			var inputVal = $(this).val();
			$(this).val($.trim(inputVal));
	    });
		if(validator.form()) {
		    var formData = new FormData($(this)[0]);
		    $.ajax({
		    	context: this,
		    	url: $(this).attr('action'),
		        type: 'POST',
		        data: formData,
		        async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	
		        	$('#loadingModal').modal('show');
		        	$('#postReviewModal').modal('hide');
		        },
		        success: function (data) {
		        	reloadPage("postReviewSuccess");
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        	if(401 == xhr.status) {
		        		logout();
		        	}
		        	$('#loadingModal').modal('hide');
		        	$("#submitReviewFailedReason").text('Oops! Failed to submit review.\nReason: ' + xhr.responseText);
		        	$("#submitReviewFailedDiv").show();
		        	$('#postReviewModal').modal('show');
		        }
		    });
		}
	    return false;
	});
	
	$("#deleteReview").on("confirmed.bs.confirmation", function(e) {
		$("#deleteReviewForm").submit();
	});
	
	$("#deleteReviewForm").submit(function(e) {
		e.preventDefault();
		
		var formData = new FormData($(this)[0]);
		
		$.ajax({
		 	context: this,
		   	url: $(this).attr('action'),
		    type: 'POST',
		    data: formData,
		    async: true,
		    cache: false,
	        contentType: false,
	        processData: false,
		    beforeSend: function() {
		    	console.log($(this).attr('action'));
		      	$('#loadingModal').modal('show');
		       	$('#postReviewModal').modal('hide');
		    },
		    success: function (data) {
		    	reloadPage("deleteReviewSuccess");
		    },
		    error: function (xhr, ajaxOptions, thrownError) {
		       	if(401 == xhr.status) {
		       		logout();
		       	}
		       	$('#loadingModal').modal('hide');
		       	$("#submitReviewFailedReason").text('Oops! Failed to delete review.\nReason: ' + xhr.responseText);
		       	$("#submitReviewFailedDiv").show();
		       	$('#postReviewModal').modal('show');
		    }
		});
	    return false;
	});
	
	function enablePostReviewForm() {
		$("#postReviewModalFooter").show();
		$("#reviewFormContent").show();
		$('#btnSubmitReview').prop('disabled', false);
	}
	
	function disablePostReviewForm() {
		$("#postReviewModalFooter").hide();
		$("#reviewFormContent").hide();
		$('#btnSubmitReview').prop('disabled', true);
	}
	//]]>
</script>