<div class="container" th:fragment="content">
	
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Lookup Dealer</h2>
				</div>

				<form class="col-lg-12 form-horizontal" method="post" action="#"
					th:action="@{/search/search-dealer-by-bidding-subscription-id-form}"
					th:object="${searchByIDFormBean}">
					
					<!-- </p> -->
					<div th:if="${errorMessage}" class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${errorMessage}]]</div>
					</div>
					
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('subscriptionId')}? 'has-error'">
						<label class="control-label" for="cc">Subscription Id</label> <input
							type="text" th:field="*{subscriptionId}" class="form-control" required="required"
							 />
						<p th:if="${#fields.hasErrors('*{subscriptionId}')}"
							th:errors="*{subscriptionId}" class="small text-danger"/>
					</div>
					

					<div class="form-group">
						<div class="col-lg-6">
							<button class="col-lg-6 btn btn-primary btn-block btn-action"
								type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
						</div>
						<div class="col-lg-6">
							<a class="btn btn-default btn-block"
								th:href="@{/home-page}">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
