<div class="modal" id="termsNConditionsModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Terms And Conditions
				</h4>
			</div>
			<div class="modal-body text-justify modal-body-scroll" th:inline="text">
				<h3 class="text-center">[[${brandName}]]</h3>

				<p>[[${brandName}]] is an e-Marketplace for the use of Hoteleurs and
					Restaureurs to cater to their demands of commonly required Goods &amp;
					Services. [[${brandName}]] intends to bridge the Seller(s) with the
					Buyer(s) through a common platform. However [[${brandName}]] intends to
					restrict this platform to Seller(s) and Buyer(s) related to the
					hotel, restaurant or related food industry.</p>
				<p>This document will address the various terminologies used and
					the terms &amp; conditions applicable to the people or businesses who
					want to get registered or are registered on [[${brandName}]].</p>
				<p>
					<strong>"Buyer(s)"</strong> is/are the Contract placing authority,
					which includes Hotels and Restaurants in their various forms
					including canteens and caterers, as the case may be, for purchase
					of Goods/Services offered by "Seller(s)".
				</p>
				<p>
					<strong>"Seller(s)"</strong> is/are the firm(s) a
					proprietorship/partnership firm/Limited Liability
					Partnership/Private Limited/Limited company/Society registered
					under Society's Act that offers its Good(s)/Service(s) on [[${brandName}]]
					and who agree to accept the contract placed by "Buyer(s)" for
					supply of the Good(s)/Service(s) as per the terms and conditions of
					[[${brandName}]].
				</p>
				<p>The "Seller(s)" on [[${brandName}]] will be the OEMs (Original
					Equipment Manufacturers) and/or their authorized channel
					partner(s)/ resellers and e-Marketplaces, agriculturists, farmers,
					poultry farmers and various other people or professionals who would
					be interested to offer their good(s)/ service(s) on [[${brandName}]].</p>


				<h4>Offer of Goods/Services on [[${brandName}]] by Seller(s):</h4>
				<p>The Seller shall offer their Goods/Services by registering on
					the [[${brandName}]] portal free of cost, indicating specifications, prices
					in Indian Rupees, uploading product images and videos, etc by
					selecting the appropriate product name under the appropriate
					product type and category, as per the template prescribed in
					[[${brandName}]]. Seller would ensure that the Goods/Services offered can
					be supplied/serviced by them. The same can be modified at any point
					of time until it has been accepted by the Buyer by awarding the
					Contract. Seller can offer any number of products.</p>

				<p>By registering any product on [[${brandName}]], Seller guarantees
					that the offered product / model is compliant with the
					specifications mentioned by the Seller and any deviation in the
					specification of the supplied product shall make them liable for
					removal of their registration with [[${brandName}]] as deemed fit.</p>

				<p>It is the Seller's responsibility to keep all their
					information updated and complete at the time of their registration
					on [[${brandName}]]. Any change regarding the specifications of the offered
					products must be updated by Seller on [[${brandName}]] immediately i.e. not
					later than 24 Hours of such change. Any non compliance of the
					aforesaid time line for updating information on [[${brandName}]] shall be
					treated as concealment of facts and such act shall initiate action
					in the form of removal/debarment/suspension of the Seller's
					registration with [[${brandName}]], as considered appropriate.</p>

				<h4>Contract(s):</h4>
				<p>Buyer can enter into contract(s) with the seller in the
					following two ways:</p>
				<ol>
					<li>The Buyer can place product enquiry with the Seller after
						satisfying themselves that the price of the selected offer is
						reasonable. However [[${brandName}]] will not be involved nor liable for
						SLA (Service Level Agreement) and contract management between the
						Buyer and Seller. This can be done outside the BNBneed portal at
						the sole discretion of the Buyer and Seller.</li>
					<li>The Buyer can place his/her regular requirements of
						products using the Purchase List option provided by [[${brandName}]] to
						the Seller. However [[${brandName}]] will not be responsible for the
						prices agreed between the Buyer and Seller nor for the quantity
						supplied by the Seller against the purchase list placed by the
						Buyer.</li>
				</ol>

				<h4>Prices:</h4>
				<p>The prices of the offered Goods/Services shall be at the sole
					discretion of the Seller(s) and [[${brandName}]] will have no say in the
					pricing policies of the Seller(s) . The Seller(s) can chose to
					offer Goods/Services on all India basis or for specified locations
					across India.</p>

				<h4>Duties &amp; Taxes:</h4>
				<p>The various Duties &amp; Taxes or any statutory obligations
					resulting out of sales of the offered Goods/Services shall be the
					sole responsibility of the Seller(s) and Buyer(s) involved in the
					financial transactions. [[${brandName}]] will not be liable to any Duties,
					Taxes &amp; any other Statutory requirements that may arise because of
					any transaction (financial or not) between the Buyer(s) and
					Seller(s) who may use the [[${brandName}]] portal to carry on such
					transactions.</p>

				<h4>Registration Fee from Seller(s) and Buyer(s) for
					utilization of [[${brandName}]]:</h4>
				<p>No Registration fee shall be charged from the Seller(s) or
					Buyer(s) for Registration and usage of [[${brandName}]]. However fees may
					be charged for any financial transactions or any other facilities
					on a case to case basis which the Seller(s) or Buyer(s) want to
					use. However such financial transactions or usage of facilities
					will not be imposed by [[${brandName}]] but at the sole discretion of the
					Seller(s) and Buyer(s)to use such facilities and features. Such
					charges will be notified to the Seller(s) and Buyer(s) as and when
					they intend to use these facilities and features.</p>

				<h4>Integrity Pact:</h4>
				<p>All the Buyer(s) and Seller(s) registered on [[${brandName}]] will
					have to ensure that they will carry out their business in a fair
					and just manner. They will have to ensure that they will not use
					[[${brandName}]] for any illegal product(s) or activities. The Seller(s)
					will have to ensure that they will provide products that meet the
					industry standards. Any Buyer(s) or Seller(s) seen violating the
					above issues, their registration with [[${brandName}]] may be liable to be
					removed/debarred/suspended.</p>

				<h4>Guarantee/Warranty:</h4>
				<p>Guarantee /Warranty on the goods/products/services of the
					Seller(s) will be as agreed between Buyer(s) and Seller(s) and
					[[${brandName}]] will not be responsible for the same.</p>

				<h4>Payment Terms:</h4>
				<p>Payment terms will be as agreed between Buyer(s) and
					Seller(s) and [[${brandName}]] will not be responsible for the same.</p>

				<h4>Resolution of disputes:</h4>
				<p>Any disputes arising between the Seller(s) and Buyer(s) will
					be resolved by the Seller(s) and Buyer(s) themselves. [[${brandName}]] will
					not be responsible for the same.</p>

				<h4>Terms of Delivery and Delivery Period:</h4>
				<p>Terms of delivery and delivery period will be as agreed
					between Buyer(s) and Seller(s) and [[${brandName}]] will not be responsible
					for the same.</p>

				<h4>Force Majeure:</h4>
				<p>Terms &amp; Conditions for Force Majeure will be as agreed
					between Buyer(s) and Seller(s) and [[${brandName}]] will not be responsible
					for the same.</p>

				<h4>Liquidated Damages:</h4>
				<p>Terms of liquidated damages will be as agreed between
					Buyer(s) and Seller(s) and [[${brandName}]] will not be responsible for the
					same.</p>

				<h4>Termination for default:</h4>
				<p>Termination for default will be as agreed between Buyer(s)
					and Seller(s) and [[${brandName}]] will not be responsible for the same.</p>

				<h4>Closure of Transaction:</h4>
				<p>Closure of Transactions will be as agreed between Buyer(s)
					and Seller(s) and [[${brandName}]] will not be responsible for the same.</p>

				<h4>Grounds for administrative actions against Seller's
					misconduct in [[${brandName}]]:</h4>
				<p>The Seller would be liable for administrative actions such as
					suspension/debarment/removal from [[${brandName}]], if they fail to abide
					by any of the terms &amp; conditions stipulated in this document and/or
					on the following grounds:-</p>
				<ol>
					<li>If the Buyer(s) raises an abuse report against supplied
						goods/services</li>
					<li>If the Seller is dealing in illegal
						products/goods/services on [[${brandName}]].</li>
					<li>Fails to update [[${brandName}]] about any change in information
						furnished within the prescribed time limits.</li>
					<li>Fails to produce the requisite documents/ information
						during the course of inspection / assessment at any stage; and</li>
					<li>On any other ground for which, in the opinion of [[${brandName}]],
						the retention of the seller or any of its offered product in
						[[${brandName}]] is not in Public or Business Interest.</li>

				</ol>

				<h4>Grounds for administrative actions against Buyer's
					misconduct in [[${brandName}]]:</h4>
				<p>The Buyer would be liable for administrative actions such as
					suspension/debarment/removal from [[${brandName}]], if they fail to abide
					by any of the terms &amp; conditions stipulated in this document and/or
					on the following grounds:</p>
				<ol>
					<li>If the Seller(s) raises an abuse report against the Buyer.</li>
					<li>If the Buyer is dealing in illegal products/goods/services
						on [[${brandName}]].</li>
					<li>Fails to update [[${brandName}]] about any change in information
						furnished within the prescribed time limits</li>
					<li>Fails to produce the requisite documents/ information
						during the course of inspection/assessment at any stage; and</li>
					<li>On any other ground for which, in the opinion of [[${brandName}]],
						the retention of the seller or any of its offered product in
						[[${brandName}]] is not in Public or Business Interest.</li>
				</ol>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

