
<div class="container" th:fragment="content">
	
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2>Edit Account</h2>
				</div>

				<form class="col-lg-12 form-horizontal" method="post" action="#"
					th:action="@{/admin-accounts/${updateAccountId}/update-account}"
					th:object="${updateAdminUserForm}">
					<!-- <p> -->
					<b>Note: </b>
					<ol>
						<li>If you change your username (e-mail address) or mobile
							number, verification codes will sent confirmation.</li>
						<li>If you change your username, you will be logged out
							immediately.</li>
					</ol>
					<!-- </p> -->
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>

					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('accountName')}? 'has-error'">
						<label class="control-label" for="name">Full name</label> <input
							type="text" th:field="*{accountName}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{accountName}')}"
							th:errors="*{accountName}" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('username')}? 'has-error'">
						<label class="control-label" for="username">Username
							(Email Address)</label> <input type="text" th:field="*{username}"
							class="form-control" />
						<p th:if="${#fields.hasErrors('*{username}')}"
							th:errors="*{username}" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('mobileNumber')}? 'has-error'">
						<label class="control-label" for="contactNumber">Contact
							Number</label> <input type="text" th:field="*{mobileNumber}"
							class="form-control" />
						<p th:if="${#fields.hasErrors('*{mobileNumber}')}"
							th:errors="*{mobileNumber}" />
					</div>

					<div class="form-group">
						<div class="col-lg-6">
							<button class="col-lg-6 btn btn-primary btn-block confirmation"
								type="submit">Submit Update</button>
						</div>
						<div class="col-lg-6">
							<a class="btn btn-default btn-block"
								th:href="@{/accounts/profile}">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		$('.datepicker').datepicker();
	</script>
</div>
