<div class="container" th:fragment="content">
	<div class="col-lg-10 col-offset-lg-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="page-header">
					<h2 th:text="${formTitle}"></h2>
				</div>

				<div th:if="${message}"
					class="alert alert-dismissible alert-info">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<div th:text="${message}"></div>
				</div>

				<form class="col-lg-12 form-horizontal" th:action="|${formAction}|"
					enctype="multipart/form-data" method="POST">

					<div  class="form-group label-floating col-lg-12">
						<label class="control-label" for="file">Select photo</label>
						<input id="file" name="file" type="file" 
							accept=".jpg, .png" required="required"/>
						<p id="message"></p>
					</div>
					<div class="form-group col-lg-12">
						<button class="btn btn-primary pull-right" type="submit">Upload</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/external/js/file-validator.js"></script>
	<script>
		$('input[type=file]').fileValidator({
		  onInvalid:    function(type, file){ 
			  $(this).val(null);
			  $('.form-group').addClass('has-error');
			  $('#message').text('Cannot upload image. The size of the file cannot be more than 1 MB.');
		  },
		  type: 'image',
		  maxSize: '1m'
		});
	</script>
</div>