<div class="container" th:fragment="content">
	<div class="col-lg-12">
	
		<div th:if="${errorMessage}" id="errorMessage"
			class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:text="${errorMessage}"></div>
		</div>
		
		<div th:if="${vendorInfo}" class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Vendor Information</h4>
			</div>
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li id="profileTab" class="nav-item"><a
						class="nav-link active hvr-overline-from-center" data-toggle="tab"
						href="#profile" role="tab"><i class="fa fa-address-card"
							aria-hidden="true"></i> Profile</a></li>

					<li class="nav-item" id="reviewsTab"><a
						class="nav-link hvr-overline-from-center" data-toggle="tab"
						href="#reviews" role="tab"><i class="fa fa-star"
							aria-hidden="true"></i> Reviews</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade" id="profile" role="tabpanel">
				<div class="page-header">
					<h2 th:inline="text">[[${vendorInfo.name}]] </h2>
				</div>

				<div class="col-md-12">
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Description</strong>
						</div>
						<div class="col-sm-8"
							th:text="${vendorInfo.description} ? ${vendorInfo.description} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Address</strong>
						</div>
						<div class="col-sm-8" th:utext="${vendorInfo.address}"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Name of the Contact Person</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${vendorInfo.contactName}]]</div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>PAN</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${vendorInfo.pan}]]</div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>VAT Number</strong>
						</div>
						<div class="col-sm-8" th:text="${vendorInfo.vatNumber} ? ${vendorInfo.vatNumber} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Service Tax Number</strong>
						</div>
						<div class="col-sm-8" th:text="${vendorInfo.serviceTaxNumber} ? ${vendorInfo.serviceTaxNumber} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Operating Cities</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${vendorInfo.cities}]]</div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Email Address (for public communication)</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${vendorInfo.emailAddress}]]</div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Mobile Number (for public communication)</strong>
						</div>
						<div class="col-sm-8" th:inline="text">[[${vendorInfo.mobileNumber}]]</div>
					</div>

					<div class="row top-buffer">
						<div class="col-sm-4">
							<strong>Website</strong>
						</div>
						<div class="col-sm-8"
							th:text="${vendorInfo.website} ? ${vendorInfo.website} : 'N/A'"></div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-8">
							<a th:href="@{/vendors/{vendorId}/bidding-subscriptions/list
								(vendorId=${vendorInfo.id})}">
								<div class="col-sm-4">view subscription history</div>
							</a>
						</div>
					</div>
					<div class="row top-buffer">
						<div class="col-sm-8">
							<a th:href="@{/vendors/{vendorId}/payment-transactions/list
								(vendorId=${vendorInfo.id})}">
								<div class="col-sm-4">view payment history</div>
							</a>
						</div>
					</div>
					
				</div>

		<div  sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="form-inline col-md-6 top-buffer-10">
 			<div class="form-group">
				<a class="btn-update btn-action" th:href="@{/vendors/{vendorId}/update-form(vendorId=${vendorInfo.id})}">Update Information</a>
			</div>
			<div class="form-group" th:if="${vendorInfo.entityStatus == 'DISAPPROVED'  || vendorInfo.entityStatus == 'BLACKLISTED'}">
				<a class="btn-approve" th:href="@{/vendors/{vendorId}/approve(vendorId=${vendorInfo.id})}">Approve</a>
			</div>
			<div class="form-group" th:if="${vendorInfo.entityStatus == 'APPROVED'}">
				<a class="btn-disapprove confirmation" th:href="@{/vendors/{vendorId}/disapprove(vendorId=${vendorInfo.id})}">Disapprove</a>
			</div>
			<div class="form-group">
				<a class="btn-delete" data-toggle="modal" data-target="#vendorDeleteDialog">Delete</a>
			</div>
			<div class="form-group" th:if="${vendorInfo.entityStatus != 'BLACKLISTED'}">
				<a class="btn-blacklist" data-toggle="modal" data-target="#vendorBlacklistDialog">Blacklist</a>
			</div>
		</div>
	</div>

					<div class="tab-pane fade" id="reviews" role="tabpanel">
						<span id="reviewListNextOffset" th:attr="data-next-offset=${reviewListResponse.nextOffset}"></span>
						<div class="page-header">
							<h3 th:inline="text">What do buyers think? 
								<a sec:authorize="hasAuthority('BUYER')" class="post-review" 
									th:attr="data-post-review-url=@{/vendors/{vendorId}/reviews(vendorId=${vendorInfo.id})}, data-get-reviews-by-reviewer-url=@{/vendors/{vendorId}/reviews/list-as-text-by-reviewer(vendorId=${vendorInfo.id})}">
								</a>
							</h3>
						</div>
						<div th:if="${param.postReviewSuccess}" class="alert alert-dismissible alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							Review has been posted successfully.
						</div>
						
						<div th:if="${param.deleteReviewSuccess}" class="alert alert-dismissible alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							Review has been deleted successfully.
						</div>
							
						<div th:if="${reviewListResponse == null or #lists.isEmpty(reviewListResponse.reviews)}" class="col-md-12">
							No reviews posted about this vendor.
						</div>
						<div th:if="${reviewListResponse!= null and not #lists.isEmpty(reviewListResponse.reviews)}" class="col-md-12">
						
							<div th:replace="average-rating-fragment-view"></div>
						
							<div class="input-group top-buffer-10">
								<input id="searchText" class="form-control" type="search" autofocus="autofocus"
									placeholder="Search..." />
								<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
							</div>
							<ul class="list-group" id="reviewList">
								<li id="reviewItem" class="list-group-item top-buffer-5 hvr-glow wow slideInLeft"
									th:each="review : ${reviewListResponse.reviews}">
									<a id="reviewIdForReportingAbuse" sec:authorize="hasAuthority('VENDOR')" data-th-attr="data-entity-id=${review.id}" class="report-abuse"></a>
									<input id="itemRating" th:value="${review.rating}" class="display-rating rating-loading" />
									<p th:if="${not #strings.isEmpty(review.headline)}" th:inline="text">
										<strong id="itemHeadline">[[${review.headline}]]</strong>
										 <td th:if="${review.entityStatus == 'DISAPPROVED'}"><span title="Disapproved" class="text-warning"><i class="fa fa-exclamation-triangle"></i></span></td>
				                		<td th:if="${review.entityStatus == 'APPROVED'}"><span title="Approved" class="text-success"><i class="fa fa-check-square"></i></span></td>
				                		<td th:if="${review.entityStatus == 'BLACKLISTED'}"><span title="Blacklisted" class="text-danger"><i class="fa fa-times-circle"></i></span></td>
									</p>
									<p>
									<a class="btn-delete confirmation pull-right" th:href="@{/vendors/{vendorId}/reviews/{reviewId}/delete(reviewId=${review.id},vendorId=${vendorInfo.id})}">Delete</a>
									<a th:if="${review.entityStatus != 'APPROVED'}" class="btn-approve pull-right" th:href="@{/vendors/{vendorId}/reviews/{reviewId}/approve(reviewId=${review.id},vendorId=${vendorInfo.id})}">Approve</a>
									<a th:if="${review.entityStatus != 'DISAPPROVED'}" class="btn-disapprove pull-right" th:href="@{/vendors/{vendorId}/reviews/{reviewId}/disapprove(reviewId=${review.id},vendorId=${vendorInfo.id})}">Disapprove</a>
									<a th:if="${review.entityStatus != 'BLACKLISTED'}" class="btn-blacklist pull-right" th:href="@{/vendors/{vendorId}/reviews/{reviewId}/blacklist(reviewId=${review.id},vendorId=${vendorInfo.id})}">Blacklist</a>
									</p>
									
									<div class="text-justify" th:inline="text">
										<blockquote class="blockquote">
											<p id="itemDescription" class="h5 text-muted" th:if="${not #strings.isEmpty(review.description)}" th:inline="text">[[${review.description}]]</p>
												<footer class="blockquote-footer pull-right">
												by	<a id="reviewerDetailsLink" class="no-underline" th:href="@{/buyers/{buyerId}/details(buyerId=${review.reviewedBy.id})}"><span id="itemReviewerName">[[${review.reviewedBy.name}]]</span></a>
												on <span id="itemTimestamp">[[${review.timestamp}]]</span>
												</footer>
										</blockquote>
									</div>
								</li>
							</ul>
							<div id="reviewLoading" class="invisible">
								<div class="media">
									<div class="media-body">
										<p id="notificationLoadingText" class="text-center text-info top-buffer-10"><i class="fa fa-refresh fa-spin"></i> Loading reviews...</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					</div>
			</div>
			</div>
			</div>
	<div th:if="${vendorInfo}" sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="modal" id="vendorDeleteDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">Delete
						[[${vendorInfo.name}]]?</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<ol>
							<li>If you delete your organization, all your products,
								product offers, purchase items and buyer enquires will be
								deleted.</li>
						</ol>
					</div>

					<div class="modal-footer">
						<div class="row">
							<form class="form-inline" th:action="@{/vendors/{vendorId}/delete(vendorId=${vendorInfo.id})}"
								method="POST">
								<button type="submit"
									class="btn-delete btn-action confirmation">Confirm Delete</button>
								<button class="btn-close" type="button" data-dismiss="modal">Close</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${vendorInfo}" sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="modal" id="vendorBlacklistDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:inline="text">Blacklist
						[[${vendorInfo.name}]]?</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<div class="alert alert-warning">
						<strong>Note:</strong>
						<ol>
							<li>Do you want to blacklist organization?</li>
						</ol>
					</div>

					<div class="modal-footer">
						<div class="row">
							<form class="form-inline" th:action="@{/vendors/{vendorId}/blacklist(vendorId=${vendorInfo.id})}"
								method="POST">
								<button type="submit"
									class="btn-blacklist btn-action confirmation">Confirm Blacklist</button>
								<button class="btn-close" type="button" data-dismiss="modal">Close</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div sec:authorize="hasAuthority('BUYER')" th:replace="review-modal-view"></div>
	<script th:src="@{/bower_components/bootstrap-list-filter/bootstrap-list-filter.min.js}"></script>
	<script th:if="${vendorInfo}" type="text/javascript" th:inline="javascript">
	//<![CDATA[

	    $('#reviewList').btsListFilter('#searchText', {
			delay : 100,
			initial : false,
			resetOnBlur: false
		});
	
	     
		$(document).ready(function() {
			
			if(urlContainsQueryParam("postReviewSuccess") || urlContainsQueryParam("deleteReviewSuccess") || urlContainsQueryParam("reviews")) {
				$('#reviewsTab a[href="#reviews"]').tab('show');
			} else {
				$('#profileTab a[href="#profile"]').tab('show');	
			}
		});
		
		var vendorId = [[${vendorInfo.id}]];
		var reviewLoading = $('#reviewLoading');
		var lastScrollTopPosition = 0;
		
		var reviewListEmpty = false;
		var processing = false;
		$(window).scroll(function() {
			if(processing || reviewListEmpty) {
				return;
			}
			
			var currentScrollPosition = $(this).scrollTop();
			if (currentScrollPosition > lastScrollTopPosition) {
			       // downscroll code
				if($(this).scrollTop() >= ($(document).height() - $(this).height()) * 0.9) {
					if($("#reviewsTab").hasClass('active')) {
						makeAjaxCallToGetReviews();
					}
				}
			}
			lastScrollTopPosition = currentScrollPosition;
		});
		
		function makeAjaxCallToGetReviews() {
			
			var nextOffsetElement = $("#reviewListNextOffset");
			var nextOffset = nextOffsetElement.data('next-offset');
		
			$.ajax({
				context: this,
				url :  [[@{/vendors/{vendorId}/reviews/list-as-text?nextOffset=(vendorId=${vendorInfo.id})}]] + nextOffset,
				method: 'GET',
				async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		        beforeSend: function() {
		        	
		        	reviewLoading.removeClass('invisible');
		        	processing = true;
		        },
				success: function(data) {
					
					var reviewListResponse = $.parseJSON(data);
					nextOffsetElement.data('next-offset', reviewListResponse.next_offset);
					
					if(reviewListResponse.review != null && reviewListResponse.review.length > 0) {
						reviewListEmpty = false;
													
						$.each(reviewListResponse.review, function(i, d) {
							var reviewItem = $('#reviewItem').clone();
							reviewItem.find('.rating-container').remove();
							
							var reviewRating = $('<input/>', {'id': 'itemRating','class': 'display-rating'});
							reviewRating.val(parseInt(d.rating));
							reviewItem.prepend(reviewRating);
							reviewRating.rating('refresh', ratingOptions);
							
							var reviewIdForReportingAbuse = reviewItem.find("#reviewIdForReportingAbuse");
							if(reviewIdForReportingAbuse.length) {
								reviewIdForReportingAbuse.remove();
								var reportAbuseElement = createAbuseReportAnchorElement(d.id);
								reviewItem.prepend(reportAbuseElement);
								console.log(reportAbuseElement.data('entity-id'));
							}

							if(d.headline != null) {
								reviewItem.find("#itemHeadline").text(d.headline);
							}
							if(d.description != null) {
								reviewItem.find("#itemDescription").text(d.description);
							}
							reviewItem.find("#itemTimestamp").text(d.timestamp);
							reviewItem.find("#itemReviewerName").text(d.reviewed_by.name);
							
							var reviewerDetailsLink = reviewItem.find("#reviewerDetailsLink");
							if(reviewerDetailsLink.length) {
								reviewerDetailsLink.attr('href', "/buyers/" + d.reviewed_by.id + "/details");
							}
							
							$('#reviewList').append(reviewItem);
						});
						
					} else {
						reviewListEmpty = true;
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					if(401 == xhr.status) {
		        		logout();
		        	}
					console.log(xhr.responseText);
				},
				complete: function() {
					processing = false;
					reviewLoading.addClass('invisible');
				}
			});
			
		}
		
		//]]>
	</script>
</div>
