<div class="container" th:fragment="content">

	<div class="col-lg-12">

		<ol class="breadcrumb">
			<li class="active">Update Vendor Bidding Subscription Plan</li>
		</ol>

		<div th:if="${errorMessage}"
			class="alert alert-dismissible alert-danger top-buffer">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${errorMessage}]]</div>
		</div>

		<div th:if="${message}" class="alert alert-dismissible alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div th:inline="text">[[${message}]]</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Update Subscription Plan</h4>
			</div>
			<div class="panel-body">
				<div class="page-header">
					<h2>
						Update Subscription Plan
					</h2>
				</div>
				
				<form class="form-horizontal" role="form" method="post"
					th:action="@{/vendors/bidding-subscription-plans/{planId}/update(planId=${id})}"
					th:object="${updateSubscriptionPlanForm}">
					
					<div th:if="${message}" class="alert alert-dismissible alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<div th:inline="text">[[${message}]]</div>
					</div>

					<div class="form-group label-floating required"
						th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label class="control-label" for="name">Name</label> <input
							type="text" th:field="*{name}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{name}')}"
							th:errors="*{name}" />
					</div>
					<div class="form-group label-floating required" 
						th:classappend="${#fields.hasErrors('title')}? 'has-error'">
						<label class="control-label" for="title">Title
							</label> <input type="text" th:field="*{title}"
							class="form-control" />
						<p th:if="${#fields.hasErrors('*{title}')}"
							th:errors="*{title}" />
					</div>
					<div class="form-group label-floating"
						th:classappend="${#fields.hasErrors('description')}? 'has-error'">
						<label class="control-label" for="description">Description
							</label> <textarea rows="3" th:field="*{description}"
							class="form-control" placeholder="(Optional) A short description of the plan."></textarea>
						<p th:if="${#fields.hasErrors('*{description}')}"
							th:errors="*{description}" />
					</div>
					
						<div class="form-group row required"
						th:classappend="${#fields.hasErrors('type')}? 'has-error'">
						<label class="control-label" for="type">Plan Type</label>
						<select th:field="*{type}" 
									title="Select the plan type"  class="form-control" required="required">
									<option th:each="type : ${T(com.bnbneeds.portal.admin.formbean.BiddingSubscriptionPlanBean.PlanType).values()}"
          								th:value="${type}" th:text="${type}"></option>
								</select>
					<p th:if="${#fields.hasErrors('*{type}')}"
							th:errors="*{type}" />
					</div>
					
					
					<div class="form-group" id="durationDiv">
								<label class="control-label" for="duration">Duration</label>
								<div class="input-group">
									<input type="number" th:field="*{durationValue}" class="form-control"
										placeholder="Example: 10"   />
									<span class="input-group-addon"></span>
									<select th:field="*{durationType}" class="form-control">
										<option value="days">days</option>
										<option value="months">months</option>
										<option value="years">years</option>
									</select>
								</div>
							</div>
							
					<div class="form-group hide-me label-floating" id="quotaDiv"
						th:classappend="${#fields.hasErrors('numberOfTendersAllowedToAccess')}? 'has-error'">
						<label class="control-label" for="numberOfTendersAllowedToAccess">QUOTA</label> <input
							type="number" th:field="*{numberOfTendersAllowedToAccess}" class="form-control"
							 />
						<p th:if="${#fields.hasErrors('*{numberOfTendersAllowedToAccess}')}"
							th:errors="*{numberOfTendersAllowedToAccess}" />
					</div>
					<div class="form-group label-floating required"
						th:classappend="${#fields.hasErrors('premiumAmount')}? 'has-error'">
						<label class="control-label" for="premiumAmount">Premium Amount</label> <input
							type="text" th:field="*{premiumAmount}" class="form-control"
							required="required" />
						<p th:if="${#fields.hasErrors('*{premiumAmount}')}"
							th:errors="*{premiumAmount}" />
					</div>

					<div class="form-group">
						<div class="col-lg-6">
							<button class="col-lg-6 btn btn-primary btn-block confirmation"
								type="submit">Update Plan</button>
						</div>
						<div class="col-lg-6">
							<a class="btn btn-default btn-block"
								th:href="@{/vendors/bidding-subscription-plans/list}">Cancel</a>
						</div>
					</div>
				</form>
				
				<hr/>
			</div>
		</div>
	</div>
		
	<script>
		$(document).ready(function() {

			toggleFields(); 
		    $("#type").change(function () {
		        toggleFields();
		    });
		});
		
		function toggleFields() {
		    if ($("#type").val() === "DURATION"){
		        $("#durationDiv").show();
		        $("#durationValue").prop('min','1');
		    	$("#quotaDiv").hide();
		    	$("#numberOfTendersAllowedToAccess").removeProp('min');
		    }else {
		    	$("#durationDiv").hide();
		    	 $("#durationValue").removeProp('min');
				$("#quotaDiv").show();
				$("#numberOfTendersAllowedToAccess").prop('min','1');
		    }
		}
	</script>
</div>