

	<div class="container" th:fragment="content">

		<!-- Login Panel -->
		<div class="col-lg-4 col-md-12 col-sm-12 col-lg-push-8">
			<div class="panel panel-primary">
				<!-- <div class="page-heading">
					
				</div> -->
				
				<div class="panel-body">
				
					<h3>Login</h3>
					
					<div th:if="${param.error}">Invalid username or password.</div>
					<div th:if="${param.logout}">You have been logged out.</div>
					<div th:if="${param.newMember}">You have been registered as a
						new member. Kindly wait for administrator approval before you
						login.</div>


					<form class="col-lg-12 form-horizontal" method="POST"
						th:action="@{/authenticate}">
						<div class="form-group label-floating">
							<label class="control-label" for="username">Username</label> <input
								id="username" name="username" class="form-control" type="text" required="required" autofocus="autofocus"/>
						</div>
						<div class="form-group label-floating">
							<label class="control-label" for="password">Password</label> <input
								id="password" name="password" class="form-control"
								type="password"  required="required"/>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<button class="btn btn-primary btn-block" type="submit">Sign
									in</button>
							</div>
							<div class="clearfix"></div>
							<div class="col-lg-12">
								<a class="pull-right"
									th:href="@{/reset-password-form}">Forgot Password?</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- Page Header -->
		<div class="col-lg-8 col-md-12 col-sm-12 col-lg-pull-4">
			<div class="panel panel-default col-lg-12">
				<div class="panel-header text-center">
					<h2 th:inline="text">[[${brandName}]] Administrator Portal</h2>
				</div>
				<div class="panel-body">
					<img class="img-responsive" src="/external/images/bnbneeds-logo.png"/>
				</div>
			</div>
		</div>


	</div>
