<style>
  body {
    margin-top: 100px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1>Step 1: Product Basic Info</h1>
    </div>
    <div class="col-lg-12">
      <form name="productForm" class="form-horizontal" ng-submit="productRegCtrl.saveVendorProduct(productForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error': productForm.productName.$invalid && productForm.productName.$dirty }">
          <label for="productNameSelect" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input id="productNameSelect" name="productName" autocomplete="off" type="text" ng-model="productName" typeahead-on-select="productRegCtrl.setProductName($item)" typeahead-editable="false" uib-typeahead="productName as productName.name for productName in productNames | filter:$viewValue | limitTo:8" class="form-control" required>
          </div>
          <div class="col-lg-10 col-lg-offset-2">
            <label class="text-muted">Cannot find the right product name? <a ng-click="productRegCtrl.newProductName()" class="text-primary">Click here</a></label> 
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': productForm.productType.$invalid && productForm.productType.$dirty }">
          <label for="productType" class="col-lg-2 control-label">Type</label>
          <div class="col-lg-10">
            <input id="productType" name="productType" autocomplete="off" type="text" ng-model="productType" typeahead-on-select="productRegCtrl.setProductType($item)" typeahead-editable="false" uib-typeahead="productType as productType.name for productType in productTypes | filter:$viewValue | limitTo:8" class="form-control" required>
          </div>
          <div class="col-lg-10 col-lg-offset-2">
            <label class="text-muted">Cannot find the right product type? <a ng-click="productRegCtrl.newProductType()" class="text-primary">Click here</a></label> 
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': productForm.productCategory.$invalid && productForm.productCategory.$dirty }">
          <label for="productCategory" class="col-lg-2 control-label">Category</label>
          <div class="col-lg-10">
            <input id="productCategory" name="productCategory" autocomplete="off" type="text" ng-model="productCategory" typeahead-on-select="productRegCtrl.setProductCategory($item)" typeahead-editable="false" uib-typeahead="productCategory as productCategory.name for productCategory in productCategories | filter:$viewValue | limitTo:8" class="form-control" required>
          </div>
          <div class="col-lg-10 col-lg-offset-2">
            <label class="text-muted">Cannot find the right product category? <a ng-click="productRegCtrl.newProductCategory()" class="text-primary">Click here</a></label> 
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': productForm.costPrice.$invalid && productForm.costPrice.$dirty }">
          <label for="costPrice" class="col-lg-2 control-label">Cost Price</label>
          <div class="col-lg-10">
            <input name="costPrice" id="costPrice" ng-model="vendorProductData.cost_price" type="number" class="form-control" placeholder="Cost Price" required>
          </div>
        </div>
        <div class="form-group">
          <label for="productModel" class="col-lg-2 control-label">Model</label>
          <div class="col-lg-10">
            <input id="productModel" ng-model="vendorProductData.model_id" type="text" class="form-control" placeholder="Model">
          </div>
          <div class="col-lg-10 col-lg-offset-2">
            <label class="text-muted">Leave this blank if not applicable</label>
          </div>
        </div>
        <div class="form-group">
          <label for="productDesc" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <input id="productDesc" ng-model="vendorProductData.description" type="text" class="form-control" placeholder="Description">
          </div>
        </div>
        <div class="form-group col-lg-10 col-lg-offset-2">
          <label class="text-danger">{{message}}</label>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button ng-disabled="productForm.$invalid" type="submit" class="btn btn-primary">Proceed</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>