<div ng-include="'common/headers/public-header.tmpl.html'"></div>

<!-- Register Sheet -->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="page-header">
        <h2>Registration Form</h2>
      </div>
      <form name="userForm" class="form-horizontal" ng-submit="registerCtrl.registerVendor(userForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.organizationName.$invalid && userForm.organizationName.$dirty }">
            <div class="col-lg-12">
              <label for="organizationName" class="control-label">Organization Name*</label>
              <input name="organizationName" ng-model="vendor.organization_name" class="form-control" id="organizationName" type="text" required>
            </div>
          </div>
          <div class="form-group label-floating">
            <div class="col-lg-12">
              <label for="address" class="control-label">Address</label>
              <textarea ng-model="vendor.address" class="form-control" rows="3" id="address" type="text"></textarea>
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.contactPerson.$invalid && userForm.contactPerson.$dirty }">
            <div class="col-lg-12">
              <label for="contactPerson" class="control-label">Contact Person*</label>
              <input name="contactPerson" ng-model="vendor.contact_name" class="form-control" id="contactPerson" type="text" required>
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.secondaryMobile.$invalid && userForm.secondaryMobile.$dirty }">
            <div class="col-lg-12">
              <label for="secondaryMobileNumber" class="control-label">Contact Mobile Number*</label>
              <input name="secondaryMoblie" ng-model="vendor.mobile_number" class="form-control" id="secondaryMobileNumber" type="tel" required>
                <p class="help-block">This number will be public and will be displayed as contact phone number.</p>
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.secondaryEmail.$invalid && userForm.secondaryEmail.$dirty }">
            <div class="col-lg-12">
              <label for="secondary-email" class="control-label">Contact Email*</label>
              <input name="secondaryEmail" ng-model="vendor.email_address" class="form-control" id="secondary-email" type="email" required>
              <p class="text-info">This email will be public and will be displayed as the contact email.</p>
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.pan.$invalid && userForm.pan.$dirty }">
            <div class="col-lg-12">
              <label for="pan" class="control-label">PAN Number*</label>
              <input name="pan" ng-model="vendor.pan" class="form-control" id="pan" type="text" required>
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.vat.$invalid && userForm.vat.$dirty}">
            <div class="col-lg-12">
              <label for="vat" class="control-label">VAT Number</label>
              <input name="vat" ng-model="vendor.vat_number" class="form-control" id="vat" type="text">
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.serviceTaxNum.$invalid && userForm.serviceTaxNum.$dirty }">
            <div class="col-lg-12">
              <label for="serviceTaxNum" class="control-label">Service Tax Number</label>
              <input name="serviceTaxNum" ng-model="vendor.service_tax_number" class="form-control" id="serviceTaxNum" type="text">
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.cities.$invalid && userForm.cities.$dirty }">
            <div class="col-lg-12">
              <label for="cities" class="control-label">Cities*</label>
              <input name="cities" ng-model="vendor.cities" class="form-control" id="cities" type="text" required>
            </div>
          </div>
          <div class="form-group label-floating" ng-class="{ 'has-error': userForm.website.$invalid && userForm.website.$dirty }">
            <div class="col-lg-12">
              <label for="website" class="control-label">Website</label>
              <input name="website" ng-model="vendor.website" class="form-control" id="website" type="text" required>
            </div>
          </div>
          <div class="form-group">
              <label class="text-info">{{message}}</label>  
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="checkbox">
                <label><input type="checkbox"> I accept the <a href="">Terms &amp; Conditions</a></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3 col-lg-offset-6">
              <a class="btn btn-default btn-raised btn-block" ui-sref="{{STATE_LOGIN}}">Cancel</a>
            </div>
            <div class="col-lg-3">
              <button ng-disabled="userForm.$invalid" type="submit" class="btn btn-primary btn-raised btn-block">Register</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>