<style>
  body {
    margin-top: 100px;
  }
  .fab {
    position: fixed;
    bottom: 40px;
    right:120px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="panel panel-default">
  <div class="container">
    <div class="panel-body">
      <div class="col-sm-2">
        <img class="img-responsive img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIlmGvjzpiLyYhPnOB0khepALQFfpy4evvWD4s2cEeqMMIokRhJw">
      </div>
      <div class="col-sm-10">
        <h1>{{product.product_name.name}} <a class="btn btn-danger pull-right" ng-click="productDetailsCtrl.deleteProduct()"><i class="material-icons">delete</i></a></h1>
        <h3>&#x20b9;{{product.cost_price}}</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default" ng-show="productImageUrls">
    <div class="panel-body">
      <div class="page-header">
        <h3>Product Images <a class="btn btn-default btn-xs pull-right" ui-sref="{{STATE_PRODUCT_EDIT_IMAGES}}"><i class="material-icons">edit</i></a></h3>
      </div>
      <div class="row-fluid form-group">
        <div class="col-lg-12">
          <div class="cover-container" ng-repeat="imgUrl in productImageUrls">
            <img class="img-responsive img-circle" ng-src="{{imgUrl.href}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h3>Basic Info</h3>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Category</label>
        </div>
        <div class="col-lg-10">
          <label class="text-default">{{productCategory}}</label>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Type</label>
        </div>
        <div class="col-lg-10">
          <label class="text-default">{{productType}}</label>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Description</label>
        </div>
        <div class="col-lg-10">
          <label class="text-default">{{product.description}}</label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h3>Physical Specifications <a class="btn btn-default btn-xs pull-right" ng-click="productDetailsCtrl.editProductPhysical()"><i class="material-icons">edit</i></a></h3>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Length</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.length}}</label>
        </div>
        <div class="col-lg-2">
          <label class="text-muted">Breadth</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.breadth}}</label>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Height</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.height}}</label>
        </div>
        <div class="col-lg-2">
          <label class="text-muted">Weight</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.weight}}</label>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Volume</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.volume}}</label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h3>Electrical &amp; Mechanical Properties <a class="btn btn-default btn-xs pull-right" ng-click="productDetailsCtrl.editProductElectrical()"><i class="material-icons">edit</i></a></h3>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Electric Rating</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.electricRating}}</label>
        </div>
        <div class="col-lg-2">
          <label class="text-muted">Power Rating</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.powerRating}}</label>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-2">
          <label class="text-muted">Min Temp</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.minTemp}}</label>
        </div>
        <div class="col-lg-2">
          <label class="text-muted">Max Temp</label>
        </div>
        <div class="col-lg-4">
          <label class="text-default">{{product.attributes.maxTemp}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fab">
  <a class="btn btn-primary btn-fab" ng-click="productDetailsCtrl.updatePrice()"><i class="material-icons">trending_up</i></a>
</div>