<style>
  body {
    margin-top: 100px;
  }
</style>

<div ng-include="'common/headers/restricted-header.tmpl.html'"></div>

<div class="container panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1>Product Edit: Physical Details</h1>
    </div>
    <div class="col-lg-12">
      <form name="productForm" class="form-horizontal" ng-submit="productEditPhysicalCtrl.submitForm(productForm.$valid)" novalidate>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="length" class="control-label">Length</label>
            <input id="length" name="length" ng-model="length" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="lengthUnit" name="lengthUnit" ng-model="lengthUnit" class="form-control">
              <option value="m" selected>Metres (m)</option>
              <option value="cm">Centimetres (cm)</option>
              <option value="mm">Millimetres (mm)</option>
              <option value="ft">Feet (ft)</option>
              <option value="in">Inches (in)</option>
            </select>
          </div>
        </div>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="breadth" class="control-label">Breadth</label>
            <input id="breadth" name="breadth" ng-model="breadth" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="breadthUnit" name="breadthUnit" ng-model="breadthUnit" class="form-control">
              <option value="m" selected>Metres (m)</option>
              <option value="cm">Centimetres (cm)</option>
              <option value="mm">Millimetres (mm)</option>
              <option value="ft">Feet (ft)</option>
              <option value="in">Inches (in)</option>
            </select>
          </div>
        </div>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="height" class="control-label">Height</label>
            <input id="height" name="height" ng-model="height" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="heightUnit" name="heightUnit" ng-model="heightUnit" class="form-control">
              <option value="m" selected>Metres (m)</option>
              <option value="cm">Centimetres (cm)</option>
              <option value="mm">Millimetres (mm)</option>
              <option value="ft">Feet (ft)</option>
              <option value="in">Inches (in)</option>
            </select>
          </div>
        </div>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="weight" class="control-label">Weight</label>
            <input id="weight" name="weight" ng-model="weight" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="weightUnit" name="weightUnit" ng-model="weightUnit" class="form-control">
              <option value="kg" selected>Kilograms (kg)</option>
              <option value="g">Grams (g)</option>
              <option value="mg">Milligrams (mg)</option>
              <option value="lb">Pounds (lb)</option>
            </select>
          </div>
        </div>
        <div class="form-group label-floating">
          <div class="col-lg-10">
            <label for="volume" class="control-label">Volume</label>
            <input id="volume" name="volume" ng-model="volume" type="number" class="form-control">
          </div>
          <div class="col-lg-2">
            <select id="volumeUnit" name="volumeUnit" ng-model="volumeUnit" class="form-control">
              <option value="l" selected>Litres (l)</option>
              <option value="ml">Millilitres (ml)</option>
              <option value="G">Gallons (G)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-2 col-lg-offset-8">
            <a class="btn btn-default btn-block" ng-click="productEditPhysicalCtrl.goBack()">Cancel</a>
          </div>
          <div class="col-lg-2">
            <button ng-disabled="productForm.$invalid" type="submit" class="btn btn-primary btn-block">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>